[2020-11-18 16:50] carlj11 commented on #3053
Closing.  Was also able to successfully submit to a collection.

Maybe more documentation on the need not only to enable SWORD but also to uncomment and explicitly define swordv2-servicedocument.url in swordv2-server.cfg as the default setting doesn't seem to be sufficient. Ditto, I think, for swordv2-server.collection.url.

[2020-11-18 17:15] tdonohue commented on #3053
Reopening.  @carlj11 : I'd like to keep this open a bit longer as it is *unexpected* to me that you **must** configure `swordv2-server.servicedocument.url` in order for SWORDv2 to work.  The expected behavior is that there is a "sane default" value for that configuration (if unspecified).  So, that makes me expect the code which determines the "sane default" might be flawed here.

Nonetheless, it'

[2020-11-18 17:35] tdonohue opened #3055 "Refactor & Improve separation between Unit vs Integration Tests"
(Originally noted by @abollini in a DSpace 7 Working Group meeting, but delayed for post-7.0.)

The separation between our Java API *Unit Tests* and *Integration Tests* is confusing and not well documented (e.g. in https://wiki.lyrasis.org/display/DSPACE/Code+Testing+Guide)

* The [AbstractUnitTest](https://github.com/DSpace/DSpace/blob/main/dspace-api/src/test/java/org/dspace/AbstractUnitTest.jav

[2020-11-18 17:56] mwoodiupui commented on #3055
+1
We should also discuss when to write a Unit Test, when to write an Integration Test, and when to write both.  For example, a simple function method needs no integration testing (though it may participate in the integration testing of other code).

[2020-11-18 20:32] #3007 closed

[2020-11-18 20:35] #2900 closed

[2020-11-19 07:00] jonas-atmire opened #3056 "Re-instation HttpServletResponse reset in HttpHeadersInitializer upon Spring upgrade"
The following is a placeholder issue ticket to make sure we do not lose track of the following todo:

The method call in comments needs to be re-instated/investigated once spring has been upgraded to (at least) [v5.2.9](https://github.com/spring-projects/spring-framework/releases/tag/v5.2.9.RELEASE)

For more information on this, please read through:
https://github.com/DSpace/DSpace/pull/3009

[2020-11-19 08:55] Raf-atmire commented on #2786
@tdonohue I've had a look at this issue and it seems to me that we're running into a conceptual problem here. There are currently two different "step" tags present within this item-submission.xml:
- https://github.com/DSpace/DSpace/blob/main/dspace/config/item-submission.xml#L49
- https://github.com/DSpace/DSpace/blob/main/dspace/config/item-submission.xml#L195

One of these step tags contains a h

[2020-11-19 10:14] artlowel opened #3057 "Search links in facet values don't contain the configuration"
**Describe the bug**
If you retrieve facet values for a discovery search with a particular configuration, the search links for those values don't contain that configuration. As a consequence if the UI uses that link to update the search results, the results will no longer match the configuration, or REST may throw an exception if that facet doesn't work for the default configuration

**To Reproduc

[2020-11-19 14:23] mwoodiupui commented on #2786
I heartily agree with the objection concerning validation, but I note that at the moment we are using a non-validating parser so none of our definitions are enforced during syntactic analysis anyway.  SubmissionConfigReader is peppered with tests to ensure that required elements are present.

A third option:  translate the DTD to XML Schema, renaming one of the two "step" elements.  Scrap all of o

[2020-11-19 14:50] #3006 closed

[2020-11-19 17:17] #3049 closed

[2020-11-19 21:13] tdonohue commented on #2786
@Raf-atmire :  Good point.  I agree with your analysis. Could you provide a rough estimate of how much more time it would take to implement the second option (rename one step tag)?  Are we talking a few extra hours?

Looking more closely here, I suspect the `<step>` under `<step-definitions>` could be **renamed** to be either `<step-definition>` or `<step-def>`.  It's role is to define the step.

[2020-11-19 21:32] mwoodiupui commented on #2786
If we enable validation, then I think that `submission-definitions` | `submission-process` | `step` | `@id` *must* be renamed, else it is required to be unique within the document, and I don't think we mean that.  The point of separating out `step-definitions` is that a `step-definition` should be reusable in multiple `submission-definition`s, no?

However `step-definition`s *should* have unique n

[2020-11-20 14:53] artlowel commented on #3057
The same issue exists for the self links of the results on the `/discover/facets` endpoint:
If you [retrieve the facets for configuration=person](https://dspace7.4science.cloud/server/api/discover/facets?configuration=person), the self links of the results won't contain the configuration, and therefore won't work.

[2020-11-20 16:00] tdonohue commented on #3052
@abollini & @Micheleboychuk : This sounds similar to the work done in #3050   Would one of you be able to provide an estimate for this?  It seems like something we should resolve in Beta 5.

[2020-11-20 16:03] tdonohue commented on #3057
@abollini & @Micheleboychuk : This is also loosely similar to #3050 (though it's a different param than pagination). Again, would one of you be able to provide an estimate for this?  It seems like something we should resolve in Beta 5.

[2020-11-20 16:10] tdonohue commented on #3056
Tentatively scheduling for 7.2, just because a Spring upgrade is not high priority right now.  If priority changes, we may move this up.

[2020-11-20 18:34] tdonohue commented on #3025
Closing, fixed by https://github.com/DSpace/DSpace/pull/3050

[2020-11-20 18:34] #3025 closed

[2020-11-20 18:34] tdonohue commented on #3032
Closing, fixed by https://github.com/DSpace/DSpace/pull/3050

[2020-11-20 18:34] #3032 closed

[2020-11-20 18:35] tdonohue commented on #3033
Closing, fixed by https://github.com/DSpace/DSpace/pull/3050

[2020-11-20 18:35] #3033 closed

[2020-11-20 20:31] #2988 closed

[2020-11-20 21:10] #2983 closed

[2020-11-23 13:16] artlowel commented on #3052
Closing, as this is fixed on the demo server now. Due to https://github.com/DSpace/DSpace/pull/3030 I expect.

[2020-11-23 13:16] #3052 closed

[2020-11-23 13:23] artlowel commented on #3057
I tested this again today, because the similar issue #3052 was fixed by deploying #3030 on the demo server. But the issues reported here still remain.

[2020-11-23 17:44] abollini opened #3059 "OAI-PMH contexts index page doesn't look good when accessed without /"
**Describe the bug**
If you access the base url of the OAI-PMH server without specifying any context and omitting the last / you will get an unstylised html page

**To Reproduce**
Steps to reproduce the behavior:
https://dspace7.4science.cloud/server/oai

**Expected behavior**
The page should looks good with or without the ending /, compare with
https://dspace7.4science.cloud/server/oai/

**Reason

[2020-11-23 17:50] #2982 closed

[2020-11-24 15:53] mwoodiupui opened #3061 "Many warnings from errorprone"
Clearing away a long list of deprecation warnings exposes a number of warnings and suggestions from `errorprone`.  Addressing these would not only improve code quality, but make it easier to see the remaining compiler warnings.

[2020-11-24 15:57] mwoodiupui commented on #3061
See also #2956.

[2020-11-25 11:14] artlowel opened #3062 "Self links contain embed params"
**Describe the bug**
https://github.com/DSpace/DSpace/pull/3030 has fixed most of the issues with self links that didn't contain all relevant parameters, but it seems to have introduced a new bug: embed parameters are now included in the self link. Since they don't affect the resource itself, only which _other_ resources are also included in the response, they should not be included.

**To Reprodu

[2020-11-28 00:03] J4bbi opened #3070 "Database configuration could be improved and better documented"
I am far from being an expert in databases or their configuration. The following observations should be taken as being meant to be constructive. I also appreciate that database pooling is almost exclusively a consideration for maintainers of DSpaces receiving high traffic.

DSpace supports two different database types, Postgres and Oracle.

Postgres is implicitly the recommended choice, it's [conf

[2020-11-30 14:52] mwoodiupui commented on #3070
I may have more to say later, but one thing caught my attention:

On Fri, Nov 27, 2020 at 04:04:12PM -0800, Hrafn Malmquist wrote:
[snip]

Tomcat 8+ makes the "overlay" method of local modification unreliable.
It may not work initially, or it may work initially and then stop
working after 'ant update' -- possibly after an unpredictable number
of 'ant update's.  It may start working again, seemingl

[2020-11-30 17:01] tdonohue commented on #3070
@mwoodiupui : The overlay issues with Tomcat 8+ and the "additions" module were already solved in https://jira.lyrasis.org/browse/DS-2437

@J4bbi : I'm not sure how to "resolve" this ticket as it seems more like a discussion.  I will note though that we tend to note the *minimal* requirements in our installation documentation.  That said, I'm perfectly OK with us saying something like "Postgres 9.

[2020-12-01 19:11] J4bbi commented on #3070
To be clear, I am part of the 6.4 release team (this is Hrafn Malmquist ;), and I have been updating the DSpace 6 docs.

To give some context, we run DSpaces with Atmire's IRUS patch applied, about a week ago a couple of production servers became unreachable because of the maximum number of idle connections had been reached. In this case it we think the cause was a combination of network issues, v

[2020-12-01 19:38] tdonohue commented on #3070
@J4bbi : Thanks for clarifying the questions.  I still would flag this a `needs discussion`, simply because I don't think any of your (very good, well thought out) questions _have clear answers._  I'd also look to you & others who maintain DSpace sites on a daily basis for your expertise/recommendations here, as it sounds like our docs have become "dated" in this area.

That said, here's my immedi

[2020-12-01 20:30] uofmsean opened #3074 "openaire4.xsl has wrong ISO 639-3 code for Japanese"
**Describe the bug**
openaire4.xsl has wrong ISO 639-3 code for Japan ([link to source code](https://github.com/DSpace/DSpace/blob/0c5e68c5e3db788cd0e88a9bd5461469500f3952/dspace/config/crosswalks/oai/transformers/openaire4.xsl#L57)). dc.language.iso conversion from 'ja' should be to 'jpn', not 'jap'.

**Expected behavior**
dc.language.iso value of 'ja' should be converted to 'jpn'

[2020-12-01 22:26] #3019 closed

[2020-12-03 08:15] Raf-atmire commented on #2786
@tdonohue I estimate the rewriting of the step tag under the `step-definitions` like you've mentioned to be about 4 hours of implementation work and testing work combined.

[2020-12-03 16:13] #2994 closed

[2020-12-04 18:36] tdonohue commented on #2786
@Raf-atmire : Sounds fine. I've updated the estimate on this ticket to be **6 hrs** (originally 2 hours + your 4 hour estimate)

[2020-12-04 18:40] tdonohue commented on #3062
This does sound like a bug to me. Thanks @artlowel .  I've flagged this as needing an estimate and added to beta 5.

[2020-12-04 18:42] tdonohue commented on #3059
Agreed, this is a bug.  But, it seems low priority, so I'm adding this to 7.2.  If we get to it earlier, that's fine.

[2020-12-04 18:45] tdonohue commented on #3074
@paulo-graca : Have you seen this new ticket?  Is this something you'd be willing to just claim quickly and fix?  It seems like an accidental typo from the original PR you created.

[2020-12-07 14:54] #2956 closed

[2020-12-07 18:38] kanasznagyzoltan opened #3077 "DSpace 7 OAI persistent delete handling"
The DSpace 7 OAI at the moment is not handling the record deletation status. If I delete a record permanently from a collection these deletation is not displayed in the corresponding OAI Set.
This information should be displayed in the header information of the record.

[2020-12-07 21:16] AndrewZWood opened #3078 "EntityTypeLabelRestController get by `Label` should return as REST Resource"
(Related PR https://github.com/DSpace/dspace-angular/issues/964 )

**Describe the bug**
Currently requesting `/label/{entity-type-label}` from `EntityTypeLabelRestController` returns of `EntityTypeRest` type which will not include the `self` or `relationshiptypes` links that are commonly made use of on the Angular side.
Submitting PR shortly.

[2020-12-07 21:30] AndrewZWood commented on #3078
PR: https://github.com/DSpace/DSpace/pull/3079

[2020-12-08 09:45] dspace-bot opened #7895 "[DS-4562] Database Connection Pooling: change maxWait default value"
<i>Imported from JIRA <a href="https://jira.lyrasis.org/browse/DS-4562">[DS-4562]</a> created by hrafn.malmquist</i>
<p>The default DBCP2 configuration has remained unchanged since 2015.</p>

<p>It is unclear what reasoning is behind the currently default values.</p>

<p>db.maxwait (maxWaitMillis) is passed on to the DBCP2 bean which has a default value of -1 or indefinate.</p>

<p>Tomcat 8 docume

[2020-12-10 16:05] paulo-graca commented on #3074
I've just created a PR to address this fix. Thank you @uofmsean for spotting this out!

[2020-12-10 22:39] #3074 closed

[2020-12-11 08:54] artlowel opened #3089 "When you retrieve an entity type by label it doesn't have a _links section"
**Describe the bug**
When you retrieve an EntityType [by label](https://github.com/DSpace/Rest7Contract/blob/main/entitytypes.md#get-entity-type-from-label) it's missing the `_links` section

**To Reproduce**
Steps to reproduce the behavior:
1. Retrieve the list of entity types: e.g. https://dspace7.4science.cloud/server/api/core/entitytypes
2. Verify that all of them have a _links section with a

[2020-12-11 11:28] KevinVdV opened #3090 "Bitstream format cannot be retrieved if you don't have read rights on the file"
**Describe the bug**
When you make a file private (or add an embargo to it) and you aren't logged in (or if you are logged in but without read rights to the file)  the format of the file isn't displayed on the full item view page.

This is because the format endpoint doesn't allow you to retrieve the format if you don't have read rights to the file.

The url that is being used for that request is:

[2020-12-11 13:53] AndrewZWood commented on #3089
Updated the related controller to return a REST resource which will include the required _links: https://github.com/DSpace/DSpace/pull/3079

[2020-12-11 13:54] artlowel commented on #3089
Closing, duplicate of https://github.com/DSpace/DSpace/issues/3078

[2020-12-11 13:54] #3089 closed

[2020-12-11 18:48] #2981 closed

[2020-12-11 19:56] #3078 closed

[2020-12-14 16:37] benbosman opened #3092 "Incorrect default Discovery config"
**Describe the bug**
In the search, the `default` config is not used, but the `site` config is used by default

**To Reproduce**
Steps to reproduce the behavior:
1. Create a different discovery config in `default` and `site`.
2. Verify that the search (for the entire repository or for a collection which doesn't have a specific config), uses the site config

**Expected behavior**
https://github.com

[2020-12-14 18:39] abollini opened #3093 "Some search methods return 404 instead than 204 when the single object looked for is not found"
**Describe the bug**
This was noted in https://github.com/DSpace/DSpace/pull/3054#discussion_r542264617

Search methods that return a single resource should return 204 when the search is valid but no result are found but the following endpoints return instead a 404

https://github.com/DSpace/DSpace/blob/main/dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkflowDefinitionRestRepositoryIT.

[2020-12-15 10:04] abollini commented on #3093
@benbosman @tdonohue I'm still struggling with that...please add your feedback on this issue as I think there is still some ambiguity.

More specifically I'm not 100% convinced about the return code to use when a proper UUID is supplied but it doesn't resolve to an item (or collection or whatever we expect).
According to the discussion in #3054 we say that if we expect to get a valid item (or coll

[2020-12-15 14:59] tdonohue commented on #3093
@abollini : Your proposal sounds fine.  Generally speaking, for search endpoints...

* 400 means something went wrong (e.g. param missing entirely)
* 422 means the params are somehow invalid (e.g. param passed in is not valid or correct format, or it matches the wrong type of object)
* 204 means the search is good, but you got no results back.  So, for example, the param is valid, but it simply do

[2020-12-15 18:45] mwoodiupui opened #3094 "Poor support for IPv6"
**Describe the bug**
`org.dspace.statistics.util.DnsLookup` explicitly does not handle IPv6 addresses.  This was filling up the log with error messages and throwing `NullPointerException`s when recording access events.

`org.dspace.statistics.util.IPTable` also explicitly does not handle IPv6 addresses.  It was throwing `IPFormatException`s when an IPv6 address was added or checked.

All of this w

[2020-12-16 14:05] artlowel opened #3096 "500 when trying to embed vocabulary entries"
**Describe the bug**
If you retrieve a vocabulary, and ask to embed the entries link the server returns a 500

**To Reproduce**
Steps to reproduce the behavior:
1. Authenticate as an admin
2. Retrieve a vocabulary and verify that it works, e.g. [common_types](https://dspace7.4science.cloud/server/#https://dspace7.4science.cloud/server/api/submission/vocabularies/common_types)
4. Retrieve its entri

[2020-12-16 17:34] uofmsean opened #3097 "OpenAIRE 4 crosswalk for datacite:rights only using first dc:rights value found"
**Describe the bug**
If there are multiple dc:rights metadata values, only the first one is used for conversion to a valid OpenAIRE 4 Access Rights (datacite:rights) element.

**To Reproduce**
Add two dc:rights metadata values to an item, with the first one having a value of something like "Test rights" and the second one having a valid OpenAIRE 4 value (e.g., "open access"). Accessing the openair

[2020-12-16 21:12] uofmsean commented on #3097
The three key lines in oai_openaire.xsl that need to be addressed are: [531](https://github.com/DSpace/DSpace/blob/c1e97188f99b7e98f295feeb2a501e65fd581668/dspace/config/crosswalks/oai/metadataFormats/oai_openaire.xsl#L531), [540](https://github.com/DSpace/DSpace/blob/c1e97188f99b7e98f295feeb2a501e65fd581668/dspace/config/crosswalks/oai/metadataFormats/oai_openaire.xsl#L540), and [1011](https://gi

[2020-12-17 14:52] #2786 closed

[2020-12-17 16:39] #2989 closed

[2020-12-17 22:18] uofmsean opened #3099 "OpenAIRE 4 relatedIdentifier being used for all dc:identifier:* metadata other than dc:identifier:uri"
**Describe the bug**
datacite:relatedIdentifier element being used for all dc:identifier:* metadata other than dc:identifier:uri. Not all dc:identifier:* values can be assumed to be relatedIdentifier and may be alternateIdentifier instead.

**To Reproduce**
Access an openaire4 OAI record for an item that has many different dc:identifier:* values. Every one other than dc:identifier:uri will show up

[2020-12-18 14:40] tdonohue commented on #3099
@paulo-graca : pinging you on this to get your feedback since you created the initial implementation here.  This seems reasonable to me, but I don't know if you foresee problems with this approach.

[2020-12-18 14:41] tdonohue commented on #3097
@paulo-graca : also interested in your feedback on this ticket.

[2020-12-18 14:45] tdonohue commented on #3096
@artlowel : I agree this is a bug that needs resolving.  However, for scheduling/prioritization purposes, do you have an immediate use case for this?  Just trying to determine if this is a must fix in beta 5 / 7.0, or if this is something that could be slotted for 7.1.  (I'm also a little worried the implementation here might be more complex than it seems, since these vocabularies are driven by XM

[2020-12-18 14:51] artlowel commented on #3096
No it's not urgent, it just means that some extra requests will need to happen. I've disabled the embeds in https://github.com/DSpace/dspace-angular/pull/975 and [added TODO's](https://github.com/DSpace/dspace-angular/pull/975/files#diff-2436a28755bcfea336a37144fc846fe91b76ce9adbda03a3e3fb579ea364e89dR251) to turn them back on with a link back to this ticket.

[2020-12-18 16:34] paulo-graca commented on #3097
Thank you @uofmsean!
I will give a closer look as soon as possible (It will be my season holidays).

But I just want to leave a note that OpenAIRE Access Rights can only have one single occurrence:
https://openaire-guidelines-for-literature-repository-managers.readthedocs.io/en/v4.0.0/field_accessrights.html

but I will take a closer look to what you propose.

[2020-12-18 16:41] paulo-graca commented on #3099
Thank you so much @uofmsean for testing this out. I will take a closer look as soon as possible.

You are right, we decided what's in this post:
https://github.com/DSpace/DSpace/pull/2576#issuecomment-559110676

If the result is different, to me it can only be one of two things: there is a bug, or the schema used it's poor and it's not the OpenAIRE 4 (please check: https://wiki.lyrasis.org/display

[2020-12-18 16:56] uofmsean commented on #3097
That's right, there can be only one occurrence of datacite:rights for OpenAIRE, but there might be multiple dc:rights values for one item in DSpace. The XSL is only picking up the first one found, and if it's not the OpenAIRE 4 one, it will produce an incorrect datacite:rights element.

[2020-12-18 22:09] uofmsean opened #3100 "OpenAIRE 4 crosswalk only outputs first dc:publisher"
**Describe the bug**
The OpenAIRE 4 crosswalk only outputs a single dc:publisher (first one in list) although the [Publisher spec](https://openaire-guidelines-for-literature-repository-managers.readthedocs.io/en/v4.0.0/field_publisher.html) allows for 0-n occurrences. This one is a simple fix if an xsl:for-each is used to iterate over all dc:publisher values.

**To Reproduce**
Add a bunch of dc:pu

[2020-12-21 08:45] benbosman opened #3101 "Exception messages from a failed REST request are not properly displayed in the response"
**Describe the bug**
The response of a failed REST request with status 422 won't include the description of the actual problem in the response. It only displays the generic status 422, and if you have the stacktrace enabled, the full stacktrace.
This doesn't allow the UI to inform the user what's conceptually wrong with their request

**To Reproduce**
Steps to reproduce the behavior:
1. Create an

[2020-12-21 13:48] tdonohue commented on #3101
Keep in mind the feedback listed in [this comment](https://github.com/DSpace/DSpace/issues/3045#issuecomment-726193696).  This should likely be fixed via custom Exception class(es) which return *translatable* messages.

[2020-12-21 20:50] uofmsean opened #3102 "OpenAIRE 4 crosswalk only outputs first dc:language:iso as dc:language element"
**Describe the bug**
The OpenAIRE 4 crosswalk only outputs the first dc:language:iso value found as dc:language. The [Language spec](https://openaire-guidelines-for-literature-repository-managers.readthedocs.io/en/v4.0.0/field_language.html) allows for 0-n occurrences. A xsl:for-each is needed to iterate over all values.

**To Reproduce**
Add multiple dc.language.iso values (e.g., "eng" and "fra")

[2020-12-22 16:09] abollini commented on #3093
@tdonohue I have checked and it looks to me that both the REST PR than the REST Contract PR are already aligned with the above decision.
The 204  return code is mentioned here https://github.com/DSpace/Rest7Contract/pull/151/files#diff-28ad01965f6340d5beea10ca508688579d893063fbbbaa56ccb415465fdb780dR86 and here https://github.com/DSpace/Rest7Contract/pull/151/files#diff-14cc16478682b96ac677f308495

[2020-12-23 21:45] uofmsean opened #3104 "An item missing dc.title is not selectable in the user interface in certain contexts"
**Describe the bug**
An item missing a dc.title cannot be selected in the user interface in certain contexts (e.g., collection item list and search results). If a direct link isn't known for the item (e.g., using the handle or UUID), a workaround is to use the Admin Search to get to an Edit link for the item.

Cases where dc.title can be missing are when a submission form does not make it required

[2021-01-04 15:41] paulo-graca commented on #3097
@uofmsean I've just created #3106 to address this. I would also appreciate your feedback in it!

Despite it's a simple solution and I'm ok with it, I just think it will be a workaround for repositories that aren't using openaire setup (like openaire specific forms) and will always encounter issues like this one. In my humble opinion, a better approach is using specific and proper validation mechan

[2021-01-05 19:11] uofmsean commented on #3097
@paulo-graca A similar change is needed for the [getRightsURI template](https://github.com/DSpace/DSpace/blob/c1e97188f99b7e98f295feeb2a501e65fd581668/dspace/config/crosswalks/oai/metadataFormats/oai_openaire.xsl#L1007-L1013) since it also uses the dc:rights to assign the oaire:file accessRightsURI attribute for each bitstream. One thing to note is that the (now rejected) [PR 2709](https://github.

[2021-01-06 17:07] paulo-graca commented on #3099
@uofmsean I've just created PR #3107 to address this issue. Some of the approaches referred might need further discussion. For instance, `dc.identifier.doi` will be a custom change. So, any support for it should be also custom. Also the relation type might require a proper field type (complex field), so we are assuming that all supported related identifiers have the relation type `isPartOf`. And a

[2021-01-07 11:07] paulo-graca commented on #3097
Thank you @uofmsean ! I've just updated the PR with getRightsURI change.

I think further XOAI support, like the permissions you refer, should be considered always accounting for performance aspects. I think that might be the case on the referred PR (please mind that at XSL level you already need to have objects available to render the full XML and you might not need all of them) and I agree that

[2021-01-07 12:16] jonas-atmire opened #3108 "Add support for templated HAL links"
**Describe the bug**
https://docs.spring.io/spring-hateoas/docs/current/reference/html/#fundamentals.uri-templates
The REST should return an URL containing a templated parameter, like `{?query} `and an additional `templated: true` attribute in the link so that the client can understand that an additional parameter is expected and can be used to build the final link.

For example, at the time of wr

[2021-01-07 15:31] dsipos-dev opened #3140 "Search page result number bug"
**Describe the bug**
When Paginating on search results there is a bug with the number of result i get.
The result page sad "Now showing 111 - 120 of 890" so 10 item, but there are only 8 result item
![image](https://user-images.githubusercontent.com/71388767/103910404-12618780-5105-11eb-9dbc-a1f68a35a028.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Open : https://dspace7-demo.atmire.

[2021-01-07 20:43] tdonohue commented on #3108
Thanks for creating this @jonas-atmire !

I've realized we had an older ticket in JIRA for this same task: https://jira.lyrasis.org/browse/DS-4196   I hadn't had the chance to migrate it over into GitHub, so I'll now close the JIRA ticket & link it to this ticket as the replacement.

[2021-01-08 20:32] mwoodiupui opened #3110 "Poor URL matching causes improper failure with confusing message"
**400 Bad Request** while rendering the initial page server-side.  The underlying error made no sense:  `java.lang.IllegalArgumentException: the supplied uri is not valid: http://ds7.wood.net/server/api/core/sites/2510e895-db7e-46b2-9a9e-b4fd92026156`.  The string *is* a valid HTTP URI, and fetching it with `curl` succeeds.  I traced the problem to the way that URIs are validated in `org.dspace.ap

[2021-01-12 10:58] YanaDePauw opened #3113 "Handle redirect for items not working"
**Describe the bug**
The "pid" endpoint which is used to retrieve DSpace Objects based on a handle does not work for items.
The endpoint does however work to retrieve a collection/community when used with a handle.

TThis used to work when it was tested in angular PR [#934](https://github.com/DSpace/dspace-angular/pull/934).
There [do not seem to be any integration tests](https://github.com/DSpace

[2021-01-12 22:25] tdonohue commented on #3113
@YanaDePauw : I am able to reproduce this on the 4Science demo site (as you noted).  However, I'm *not* able to reproduce this locally -- when running the REST API locally, the `/api/pid/find?id=` endpoint seems to work fine for Items.

This makes me wonder if we are hitting a configuration issue on the 4Science demo server...or maybe a more obscure bug that only affects some Items.  @abollini : D

[2021-01-13 16:35] benbosman opened #3116 "Security issue in discovery"
**Describe the bug**
Items under embargo (not the bitstreams) are exposed via Discovery.
There's even an IT proving it's broken.

The [item](https://github.com/DSpace/DSpace/blob/main/dspace-server-webapp/src/test/java/org/dspace/app/rest/DiscoveryRestControllerIT.java#L1927) has an [embargo period of 12 months](https://github.com/DSpace/DSpace/blob/main/dspace-server-webapp/src/test/java/org/dspa

[2021-01-13 16:42] benbosman commented on #3116
@tdonohue We've already investigated this work, and would expect to be able to fix this with 3 hours of work

[2021-01-13 18:12] tdonohue commented on #3116
Thanks @benbosman .  Scheduled this for beta5.  If your team is interested, let me know and we can assign it.

[2021-01-14 14:43] #2954 closed

[2021-01-14 19:33] tdonohue opened #3118 "Update Configuration Reference Documentation for 7.0"
DSpace Configuration Reference needs to be fully updated for 7.0:
https://wiki.lyrasis.org/display/DSDOC7x/Configuration+Reference

Primarily concentrating on the details drafted at https://wiki.lyrasis.org/display/DSPACE/Anticipated+Configuration+Changes+in+the+DSpace+7+Upgrade

This ticket does NOT include updates to the Submission/Workflow configuration as those are in a separate ticket, see #3

[2021-01-14 19:35] tdonohue opened #3119 "Update Submission/Workflow Documentation for 7.0"
The following sections need updating for 7.0:

* https://wiki.lyrasis.org/display/DSDOC7x/Submission+User+Interface
* https://wiki.lyrasis.org/display/DSDOC7x/Authority+Control+of+Metadata+Values
* https://wiki.lyrasis.org/display/DSDOC7x/Embargo
* https://wiki.lyrasis.org/display/DSDOC7x/Configurable+Workflow (Has been mostly updated already)

Some early notes on Submission Configuration changes

[2021-01-14 19:38] tdonohue opened #3120 "Update Installation Documentation for 7.0"
This ticket is about updating this page:
https://wiki.lyrasis.org/display/DSDOC7x/Installing+DSpace

The documentation is currently "mostly accurate", but needs more details on a **production quality** installation of the Frontend / User Interface (e.g. how one would setup the DSpace UI to run in [PM2](https://pm2.keymetrics.io/) or [Passenger](https://www.phusionpassenger.com/), or similar.)

[2021-01-14 19:40] tdonohue opened #3121 "Update DSpace Upgrade Documentation for 7.0"
This ticket is about updating this page:
https://wiki.lyrasis.org/display/DSDOC7x/Upgrading+DSpace

This page should concentrate more heavily on upgrade of the *backend* and link to the "Installing DSpace" page for instructions on how to install the UI.  See also #3120

[2021-01-14 19:43] tdonohue opened #3122 "Enhance Configurable Entities Documentation for 7.0"
This ticket is regarding updates to this page/section:
https://wiki.lyrasis.org/display/DSDOC7x/Configurable+Entities

Currently, the documentation is minimal for Entities, primarily describing how the feature works at a high level.  More detailed documentation exists in https://docs.google.com/document/d/1wEmHirFzrY3qgGtRr2YBQwGOvH1IuTVGmxDIdnqvwxM/edit which should be migrated into the Wiki.

Ad

[2021-01-14 19:46] tdonohue opened #3123 "Update / Add new REST API Documentation to Wiki"
We should add a new "REST API" page in the official Documentation which links back to the REST Contract at https://github.com/DSpace/Rest7Contract/

This new page should  site alongside https://wiki.lyrasis.org/pages/viewpage.action?pageId=104566810 (and be linked from that page), the page which describes the deprecated REST API v6.

[2021-01-14 19:49] tdonohue opened #3124 "Replace old User Interface Documentation in 7.0"
The old User Interface documentation section must be replaced in 7.0:
https://wiki.lyrasis.org/display/DSDOC7x/User+Interfaces

We should add more detailed documentation in that area around configuring/customizing the new Angular UI.  Technical topics include:
* Overview of UI-specific configs
* Theming guide/tips
* Overview of UI design / technologies & perhaps overview of code folder structure.

[2021-01-15 14:39] benbosman commented on #3116
@tdonohue Yes we're interested to work on this

[2021-01-15 14:50] tdonohue commented on #3116
@benbosman : I've assigned it to your & moved to "in progress".  Feel free to reassign as needed to one of your team members.

[2021-01-18 12:32] benbosman opened #3125 "Performance when using hundreds of relationships"
**Describe the bug**
We've performed a performance test creating a Person entity with hundreds of relationships to various Publications. This is a realistic use-case, e.g. if the Person is a high-profile researcher who's co-author of many publications in their department.

We noticed the duration for adding e.g. the one-hundred or three-hundred relationship is much higher compared to the first rel

[2021-01-21 17:50] #3092 closed

[2021-01-21 20:28] tdonohue commented on #3077
This is known "current behavior" (as it also exists in DSpace 6).  Currently, the only way for deletions to be displayed via OAI-PMH is to first withdraw the item (which should give an OAI-PMH deletion record), then permanently delete it.  See also the docs at https://wiki.lyrasis.org/pages/viewpage.action?pageId=68064778

[2021-01-21 20:35] tdonohue commented on #3125
@benbosman : Thanks for the ticket here. This sounds like it would need more analysis/discussion (which may need to wait for 7.1), unless you are suggesting someone (quickly) update #2895 (as a quick fix) in time for Beta 5?

[2021-01-21 21:09] tdonohue commented on #3090
Thanks for this @KevinVdV .  I agree this sounds like a bug we need to fix.  Would you be able to provide an estimate for what this might take/require?  My assumption is this might be a small change to the endpoint permissions, unless I'm misunderstanding.

[2021-01-25 17:22] tdonohue opened #3127 "Restore (or remove) SWORD v1 Client"
In DSpace 6.x and below, the XMLUI supported a SWORD v1 Client, allowing DSpace to push content to an external SWORD server (even another DSpace) via the SWORD v1 protocol.

https://wiki.lyrasis.org/display/DSDOC7x/SWORDv1+Client

It is unclear if this feature received much usage.  Either this feature should be restored into 7.x, or the code behind it should be completely removed.  (Most of it see

[2021-01-25 19:52] tdonohue opened #3128 "Update Live Import / External Sources documentation"
Depends on #2817, as the BTE system has not been entirely removed.

Once BTE has been removed, the DSpace 7 "Importing Items via basic bibliographic formats" documentation should be updated to remove mentions of BTE & replace the BTE docs with examples from Live Import / External Sources (where plausible):

Documentation to be updated:
* https://wiki.lyrasis.org/pages/viewpage.action?pageId=104566

[2021-01-25 20:23] tdonohue opened #3129 "Export Metadata (CSV) from Search Results"
In DSpace 6.x, it was possible to export metadata (to CSV) based on search results.  See: https://wiki.lyrasis.org/display/DSDOC6x/Batch+Metadata+Editing#BatchMetadataEditing-WebInterfaceExport

This feature should be ported to 7.x.  This ticket is just a placeholder & it may need to be split into both a UI & REST API task.

[2021-01-26 11:42] dspace-bot opened #7899 "[DS-4566] Export search results feature incorrectly escapes query parameters in search filters"
<i>Imported from JIRA <a href="https://jira.lyrasis.org/browse/DS-4566">[DS-4566]</a> created by aorth</i>

The "export search metadata" feature added to the XMLUI in DSpace 6.0 incorrectly escapes query parameters in <b>search filters</b> (text in the main query is unaffected). For example, if you use the filters to search for author containing "Alan Orth", DSpace will add a "\" before the space

[2021-01-26 12:50] abollini opened #3130 "Group2group cache is not updated by the REST endpoint"
**Describe the bug**
The `org.dspace.app.rest.GroupRestController` doesn't call the update method of the group service that is responsible from the other things to rethink the group cache.
This imply that if an user is member of the childGroup that is added as children to the parentGroup the subsequent calls to `GroupService.allMemberGroups(Context, EPerson)` would fail to get the parentGroup

**T

[2021-01-26 12:55] abollini commented on #3130
The fix should be trivial but it is needed to put in place appropriate test to avoid the risk that the same problem is reintroduced later. The estimation is 4 hours as we have already analyzed in depth the issue we will be happy to work on it.

Should we add the test to the `org.dspace.app.rest.GroupRestRepositoryIT` or should we create a separate class? if we should extends the `org.dspace.app.re

[2021-01-26 13:52] benbosman commented on #3125
@tdonohue there's WIP on this ticket, @cwilper is planning to create a new PR for this work
We're also identifying other improvements which can easily be completed in time for beta 5

[2021-01-26 15:04] tdonohue commented on #3125
@benbosman : OK, I'll tentatively add this to Beta 5.  However, I'd like a clearer estimate / scope for this ticket.  I'm (obviously) not wanting to delay Beta 5 just for this work -- that said, as you know Beta 5 still is waiting on theming work.

[2021-01-26 15:31] benbosman commented on #3125
I will work with @cwilper to add some further detail on this ticket.
I understand there's no plan to delay beta 5 for this work, but it can be worked on in the meanwhile (we'll be talking different people who're involved anyway)

[2021-01-26 18:07] tdonohue commented on #2877
NOTE that this feature also included some "extensible" options, configured in `dspace/config/modules/controlpanel.cfg` and documented at https://wiki.lyrasis.org/display/DSDOC6x/Extensible+control+panel

We'll need to discuss which of these extensible features should be retained, etc.

[2021-01-28 14:42] benbosman commented on #3090
I would expect a small change as well, but it should also have sufficient ITs
Including tests, I would expect 3 hours of work

[2021-01-28 14:50] tdonohue commented on #3090
Thanks @benbosman .  Added that estimate to the ticket

[2021-01-28 20:02] #3027 closed

[2021-01-28 20:47] tdonohue commented on #3113
After more analysis, I've figured out what appears to be wrong here.

* Handle redirects for Items **work fine** if the Item's Handle starts with `handle.prefix` (configured in your local.cfg).  So, if I create a new Item, it's assigned Handle with start with that prefix & the redirect works.
* Handle redirects for Items **don't work** if the Item's Handle starts with anything else.  So, if I chan

[2021-01-28 20:48] tdonohue commented on #3113
@benbosman : would you (or someone on your team) be willing to look into this & provide an estimate?

[2021-01-29 17:14] dspace-bot opened #7901 "[DS-4568] Possible to create multiple epersons with the same email address"
<i>Imported from JIRA <a href="https://jira.lyrasis.org/browse/DS-4568">[DS-4568]</a> created by alaw</i>
<p>In DSpace 6.3 it is possible for a user to create multiple accounts with the same email address. This was not possible in earlier versions of DSpace, probably because  the email address then was the primary key. The current situation  causes confusion for the user, for example, "Patron can'

[2021-01-29 21:18] #3101 closed

[2021-01-29 21:34] tdonohue commented on #3104
I've been able to reproduce this recently.  Somehow, I have an Item without a title, and the response from the REST API looks like:
[code]

While technically a `dc.title` should be required, we should handle this problem more gracefully.  I think the correct approach here would be to catch this in the Angular UI (if `name=null` for any object, not just an Item), and simply replace it with "Untitle

[2021-01-29 21:47] #3110 closed

[2021-01-29 23:00] tdonohue opened #3138 "REST API self link mismatch errors reported by Angular UI"
**Describe the bug**
While testing Angular UI PRs, I've stumbled on messages like these reported to stdout (i.e. commandline where I ran `yarn start`):
[code]

The commonality in these warnings is that in all situations, the Self link appears to have an extra `&embed=` parameter on the end of the URL.  This causes no bugs in the UI layer.

**To Reproduce**
Steps to reproduce the behavior:
1. Ensur

[2021-02-01 11:42] Raf-atmire opened #3139 "Exceptions in DSpace 7 REST API do not produce log entries in the DSpace log files"
**Describe the bug**
When an exception is thrown in the DSpace 7 REST API and it traverses to the `DSpaceApiExceptionControllerAdvice`, it will not produce a log entry in the DSpace logs by default. For example, when an UnprocessableEntityException is thrown due to a POST request on an Item, there will be no trace of this in the logs.

**To Reproduce**
1. Perform a request that's sure to throw an

[2021-02-01 15:01] tdonohue commented on #3139
@Raf-atmire : I'd recommend we *not* log all exceptions that occur in the REST API, as doing so could quickly fill up your logs with invalid requests. It also would allow for a strange sort of "attack" where someone could simply make the same invalid request over and over again against your REST API until the logs filled up all your available storage and the site crashes or becomes unresponsive.

[2021-02-01 15:23] mwoodiupui commented on #3139
Log at different levels, perhaps?  5xx = ERROR, 4xx = WARN, with possible exceptions like 422 = ERROR.  Then you can control whether you monitor lesser issues, and turn them on and off as needed.

[2021-02-01 15:38] tdonohue commented on #3139
@mwoodiupui : Good point. That seems like an approach to consider.  I think we'd want to ensure any 4xx which are deemed `WARN` do not log the full stacktrace by default (as it's useless for many 4xx exceptions, as they are often a syntax error from the client). But, I'm fine with a single line WARN for most 4xx requests.

[2021-02-01 15:59] dspace-bot opened #7902 "[DS-4569] Date Display in Browse Indices"
<i>Imported from JIRA <a href="https://jira.lyrasis.org/browse/DS-4569">[DS-4569]</a> created by cjuergen</i>
<p>The date display in the browse indices has lost i18n and shortening. Items which have a date in the long form: <font color="#333333">dc.date.issued</font> = <font color="#333333">2008-08-13T12:17:28Z</font></p>

<p>like <a href="http://demo.dspace.org/jspui/handle/10673/55?mode=full" cl

[2021-02-01 16:02] tdonohue commented on #3139
I'm going to move this into Beta 5, since we likely need some improvements here for 7.0 final.  I'd recommend we go with the approach laid out by @mwoodiupui with some minor tweaks:
* 5xx should be logged as `ERROR` with full stack trace (I think this is [already implemented](https://github.com/DSpace/DSpace/blob/main/dspace-server-webapp/src/main/java/org/dspace/app/rest/exception/DSpaceApiExcept

[2021-02-01 16:14] tdonohue commented on #3140
I've transferred this to DSpace/DSpace as it appears to be a backend bug (Discovery or REST API is returning the wrong number of items on a given page).  I'm able to see this behavior in the REST API directly in these two pages:

* Page size is 10, but only 9 items are returned. There is a [next page though](https://api7.dspace.org/server/#https://api7.dspace.org/server/api/discover/search/objects

[2021-02-01 17:28] tdonohue opened #3141 "Mapped Items not visible in Collection browse"
**Describe the bug**
Discovered while testing https://github.com/DSpace/dspace-angular/pull/983.  While Items can be mapped successfully to different Collections, they **never** seem to appear in the Collection browse listing.  They are, however, visible in the Collection's "Item Mapper" tab (on the Edit Collection screen) when using https://github.com/DSpace/dspace-angular/pull/983.

**To Reprodu

[2021-02-02 18:30] tdonohue commented on #3140
I've been able to reproduce this problem by **deleting** Items.  So, it might be that the pagination count is somehow including deleted items.  For example, if I delete two items off the first page (of 10), then if I hard refresh and revisit that page, it now just has 8 items listed.

[2021-02-04 10:22] colin-ife-snyk commented on #3116
Hi, any updates on the fix for this?

[2021-02-04 15:16] benbosman commented on #3139
It can be implemented as a simple set of rules, e.g. the 5xx=ERROR etc as Tim suggested. I'd expect that to require 2 hours of work since no ITs are necessary

A more advanced solution would be to make it configurable which error codes are logged, at what level, with or without stack trace. I'd expect that to require 4 hours of work.

We can implement either solution, whatever the preference is

[2021-02-04 15:20] benbosman commented on #3141
I'd expect this change to require 4 hours of work, including ITs which verify browse and search correctly work when mapping/unmapping items

We can implement this solution

[2021-02-04 16:17] tdonohue commented on #3141
@benbosman : Thanks! I've added the estimate & reassigned back to you for you or your team to work on this.

[2021-02-04 16:21] tdonohue commented on #3139
@benbosman : Sounds good. I'd recommend we go with the simple (2hr) approach for now.  If we find that is somehow limiting, we can enhance it later. So, for now, I think it's fine to mostly just make 5xx=ERROR (with stacktrace) and 4xx=WARN (no stacktrace).  If there are other specific responses where we feel a stacktrace is necessary (maybe 422), then those should be returned as ERROR as well.

A

[2021-02-04 21:19] #3116 closed

[2021-02-04 21:21] tdonohue commented on #3116
@colin-ife-snyk : This was just fixed today on `main`.  Keep in mind, this issue only impacted an unreleased issue of DSpace (v7.0), and it does not impact any production installations (as this area of codebase is brand new in v7).

[2021-02-10 17:19] #2818 closed

[2021-02-11 12:43] benbosman opened #3152 "Statistics migration"
**Describe the bug**
When using an existing DSpace installation, the statistics are lost in the migration to DSpace 7. This is due to the migration to solr 7

**Expected behavior**
Similar to the migration from DSpace 5 to 6, a migration should be included.
This migration should be tested on both DSpace 5 (old item IDs) and DSpace 6 (UUIDs)

**Related work**
https://github.com/DSpace/DSpace/pull/2

[2021-02-11 13:32] mwoodiupui commented on #3152
Upgrading to DSpace 7 requires re-creating all cores:  `search` and `oai` by re-indexing, `authority` and `statistics` by dumping and reloading (since they cache data which are not recoverable from the database).  See https://wiki.lyrasis.org/display/DSDOC7x/Upgrading+DSpace#UpgradingDSpace-reload_solr steps 6 and 14.  The automatic in-place upgrade is no longer possible and has been removed.

[2021-02-11 14:44] #3094 closed

[2021-02-11 16:51] tdonohue commented on #3113
@benbosman : I'm assigning this to you (or someone on your team) to add an estimate.  Let me know if I need to reassign.

[2021-02-11 16:53] tdonohue commented on #3138
@abollini : would you be willing to estimate this?  I'm assigning you, but let me know if you need me to reassign.

[2021-02-11 16:58] tdonohue commented on #3140
@benbosman : Could you or someone on your team look into this odd issue & provide an estimate?  As noted above, it seems to me almost like pagination is including deleted items and the numbers sometimes get off on specific pages.

[2021-02-11 17:00] tdonohue commented on #3152
@benbosman : This has been answered by @mwoodiupui above.  It's no longer possible to do this automatically in the latest versions of Solr, as Solr is no longer embedded.

So, I think this should be closed as "won't fix" as it's answered in the Upgrade docs, unless I'm misunderstanding the issue here?

[2021-02-12 08:33] benbosman commented on #3152
Yes, I hadn't seen this before
I haven't tested the procedure, but assuming it was tested on a DSpace 5 and 6, it should indeed solve the problem

[2021-02-12 15:17] tdonohue commented on #3152
Closing this as "won't fix".  At this time, I believe the upgrade instructions to be correct, as they were tested when the upgrade to Solr 7 happened (see PRs #2058 , #2393 and #2495 for that effort).

[2021-02-12 15:17] #3152 closed

[2021-02-12 15:48] #3062 closed

[2021-02-12 15:52] #3130 closed

[2021-02-12 22:26] blancoj opened #3155 "Primary bitstream status update does not work in 6.3"
**Describe the bug**
When a user selects edit item, and then from the tab "Item Files", he/she tries to change a bitstream from primary to not primary, the change does not take place.  The user is able to make a bitstream primary from the Edit Bitstream page, but not to take away that setting.  This was discovered in version 6.3 of Dspace.

The issues is because of this line:  https://github.com/D

[2021-02-12 22:51] paulo-graca commented on #3097
@tdonohue I've added your comment (it was better than the one I've first added). And @uofmsean, I've fixed the issue with multiple dc:rights. Thank you so much for testing it!

[2021-02-16 15:39] MarisArins opened #3156 "Cannot upload file"
While in Submission form drag&drop a file on form and "Upload Failed" appears on screen.

In developer tools network tab you can see an error response to workspace save request :
`{timestamp: "2021-02-15T22:09:04.642+0000", status: 403, error: "Forbidden",…}
error: "Forbidden"
message: "Access is denied. Invalid CSRF token."
path: "/server/api/submission/workspaceitems/3508"
status: 403
timestamp:

[2021-02-17 21:38] tdonohue commented on #3156
My mistake...after further investigation, it seems this is a bug in `dspace-angular`.  Moving this ticket back.

[2021-02-18 08:49] abollini commented on #3138
@tdonohue I have verified that on the official demo and it is NOT a REST issue, maybe an angular one.
If you check in the HAL browser the URL that angular says to call respond with a consistent self link without the extra embed parameters

[code]

[2021-02-18 09:44] abollini commented on #3057
It is hard to estimate this task without going really deeper up to his resolution. Unfortunately the Discovery endpoints have followed a very custom approach outside the normal approach of REST resource/repository.
Looking to the sample provided here I see that the configuration is also missing in the json properties of the response and this seems to be common to all the discovery endpoints.

My b

[2021-02-18 14:23] dspace-bot opened #7904 "[DS-4571] Registration allows to register more than once with the same email"
<i>Imported from JIRA <a href="https://jira.lyrasis.org/browse/DS-4571">[DS-4571]</a> created by santit96</i>
<p>Steps to reproduce the bug:</p>
<ol>
	<li>Go to /register</li>
	<li>Register a user with a certain email</li>
	<li>Follow the register instructions with that email</li>
	<li>Logout</li>
	<li>Go to /register again</li>
	<li>Register a user with the same email used in step 2 but with a sp

[2021-02-18 14:46] tdonohue commented on #3138
Thanks @abollini .  That does make it sound like something may be happening on the Angular side to cause these messages to appear.

@artlowel : Assigning this to you for investigation / estimate.  It seems low priority (to me) for now, but obviously it'd be nice to get these messages cleaned up

[2021-02-19 08:53] abollini opened #3159 "Support the creation of an old database version from zero (development tool only)"
This ticket comes from the discussion in https://github.com/DSpace/DSpace/pull/3153

We have a tool to migrate an existing database to any upper version, this is useful **only in development** to verify how the migration from different starting version work.
Nevertheless, the script requires an initial working database as it skips some operations such as the creation of the basic groups (administr

[2021-02-19 15:37] #3097 closed

[2021-02-19 20:43] #3090 closed

[2021-02-23 15:07] dspace-bot opened #7905 "[DS-4572] Deleted Bitstream corresponding extracted files not deleted"
<i>Imported from JIRA <a href="https://jira.lyrasis.org/browse/DS-4572">[DS-4572]</a> created by cjuergen</i>
<p>Deleting a bitstream leaves the extracted text behind and thus enables searching for the content of the deleted bitstream.</p>

[2021-02-23 15:14] dspace-bot opened #7906 "[DS-4573] Filter Media relies on Bitstream Name rather than UUID, skipping files with identical names"
<i>Imported from JIRA <a href="https://jira.lyrasis.org/browse/DS-4573">[DS-4573]</a> created by cjuergen</i>
<p>May be a rare case, but having more than one file with the same name, leads to only one file being processed, filter media just skips the next one(s) as an extracted file of the name already exists.</p>

<p>So having</p>

<p>document.pdf</p>

<p>document.pdf</p>

<p>will lead to only th

[2021-02-23 16:43] tdonohue commented on #3057
@abollini : Apologies for not getting back on this.  Yes, that sounds fine to provide an updated estimate after the first 4 hours of work.  For now, I'll add a **8hr** estimate (median), and assign this to you for your team to work on.  Thanks!

[2021-02-23 17:14] tdonohue commented on #3138
Closing, as these appear to have been solved.  I can no longer reproduce this on current `main` branch of Angular UI & REST API.

[2021-02-23 17:14] #3138 closed

[2021-02-23 18:09] tdonohue commented on #2815
**TICKET SIMPLIFICATION / RESCOPING**

For 7.0, this ticket has been simplified to the following:

1. The `relationship` schema (which only includes one field) should be **deleted**
2. The `relationship.type` field (which stores the type of entity) should be moved to `dspace.item.type` (this schema already exists).
3. Update code to use `dspace.item.type` field, where necessary

I'll increase the

[2021-02-23 20:51] tdonohue commented on #3100
Moving to 7.1 for now.  However if a volunteer is found earlier this might be implemented prior to that.

[2021-02-23 20:53] tdonohue commented on #3102
Similar to #3100 & might be done at the same time.  Similar to that ticket, moving to 7.1 for now.  However if a volunteer is found earlier this might be implemented prior to that.  @paulo-graca , this might be of interest to you (though it's low priority in my opinion)

[2021-02-24 22:20] #2995 closed

[2021-02-24 22:33] mspalti opened #3163 "CLI item import error (SAF)"
**Describe the bug**
The DSPace CLI item import is throwing a Spring exception when I import SAF directories.  However I am able to run other tasks, like item exporting.

The CLI `ItemImportServiceFactory.getInstance().getItemImportService()` method returns a NullPointerException.

Exception: null
java.lang.NullPointerException
	at org.dspace.app.itemimport.ItemImportCLITool.main(ItemImportCLITool

[2021-02-24 22:36] tdonohue commented on #3163
I've been able to reproduce this myself.  Export works fine, but Import does not.  Looking around to see if I can figure out an obvious problem with the import script

[2021-02-25 13:32] benbosman commented on #3113
I've verified this in more detail, and the whole principle should be changed (not just a backend fix)

What happens now is:
* Angular creates a call to /server/api/pid/find?id=123456789/523
* This is caught by REST, and sent to the IdentifierProviders
* If an IdentifierProvider states it can resolve it, it will return the DSO

But this is used for handle, DOI, EZID, … without any knowledge of the

[2021-02-25 17:55] #3099 closed

[2021-02-25 21:31] dspace-bot opened #7909 "[DS-4576] Export/import of Solr authority core with SolrImportExport not handling ORCID "label" multi-value fields properly"
<i>Imported from JIRA <a href="https://jira.lyrasis.org/browse/DS-4576">[DS-4576]</a> created by sean.kalynuk</i>
<p>The issues described here are specifically with ORCID all_labels and label_* fields in the authority core, but the second issue below might also apply with other Solr cores.</p>

<p>The first issue is that SolrImportExport will import the all_labels field (that will be present in th

[2021-02-25 22:27] tdonohue commented on #3113
@benbosman : I see your point here. I think I lean ever so slightly towards your **alternative** option just because it seems like a quicker, simple solution.  Correct me if I'm wrong, but it also seems like it'd take very little effort -- maybe 2 hours on the Angular side and 2-4 on REST -- as the changes seem minor to me.  Do you feel those estimates are reasonable, or do you feel it'd take more

[2021-02-26 14:34] snoopysecurity commented on #3116
Hey @tdonohue isn't `7.0-beta1` to releases `7.0-beta4.1` affected by this security issue? 9https://mvnrepository.com/artifact/org.dspace/dspace-api)

[2021-02-26 14:52] tdonohue commented on #3116
@snoopysecurity : Yes, they are...but "beta" releases are not meant for Production.  So, this security issue just affects developers/testers of the upcoming 7.0 release.  We use "beta"  as a tag for pre-releases which are definitive "checkpoints" which can be tested by others. But, they are documented as **not** production-ready or even guaranteed stable/secure.  See, for example our Beta 4.1 rele

[2021-02-26 17:36] vahem2lu commented on #2984
This is definitely a thing for me (as an user), because even running them on same host with local IP (not 127.0.0.1/localhost) this proxies.trusted.ipranges breaks login entirely.

[2021-03-02 18:50] tdonohue opened #3169 "Add Support for Solr Authentication"
Currently, we assume that Solr is accessible to the REST API / backend without any authentication. We should consider minimally supporting Solr's Basic Authentication for anyone who wishes to require authentication into Solr.

https://lucene.apache.org/solr/guide/8_7/basic-authentication-plugin.html

Solr also supports a number of other Authentication Plugins, but it appears most plugins are not y

[2021-03-02 18:54] hardyoyo commented on #3169
some Solr installations utilize a solr.in.sh script to set options as environment variables. A possible location for such a script on an RHEL/CentOS/AmazonLinux machine will be at /etc/default/solr.in.sh

[2021-03-03 20:24] mwoodiupui opened #3172 "Discovery assumes that we got a Solr connection, leading to possible NPE"
**Describe the bug**
`SolrSearchCore.getSolr()` assumes that `initSolr()` has placed a non-null reference in field `solr` and unconditionally dereferences it.  If `discovery.search.server` is a syntactically correct URL but points to a down Solr instance, or no Solr instance at all, this yields NPE, which is not very helpful.  Stack trace from @hardyoyo attached:  [npe.txt](https://github.com/DSpa

[2021-03-03 21:37] mwoodiupui commented on #3172
Maybe this should be expanded to examine all four Solr connections (search, authority, OAI PMH, statistics) for similar issues.

[2021-03-04 09:15] benbosman opened #3173 "Workflow items don't index item metadata"
**Describe the bug**
When searching in MyDSpace for a Workflow item, it's impossible to search based on item metadata.
This is due to the fact that the item metadata is not indexed

**To Reproduce**
Steps to reproduce the behavior:
1. https://www.dropbox.com/s/4vjh4waiixaud68/Schermopname%202021-03-04%20om%2010.12.00.mov?dl=0

**Expected behavior**
The item metadata should be indexed

[2021-03-04 10:50] benbosman commented on #3113
@tdonohue That sounds good to me. With tests included, I'd assume REST will require the 4 hours

So 2 hours Angular and 4 hours REST should be sufficient for the solution:
* Angular makes the call to /server/api/pid/find?id=hdl:123456789/523
* org.dspace.identifier.HandleIdentifierProvider#resolve is adjusted to support this syntax (since it claims it's supported in org.dspace.identifier.HandleIde

[2021-03-04 11:20] benbosman commented on #3125
This ticket is split in 3 PRs:
* https://github.com/DSpace/DSpace/pull/3131 is a bugfix which required 3 hours of analysis and 1 hour of implementation
* https://github.com/DSpace/DSpace/pull/3134 drastically improves performance for relationships which don't need to be bi-directional. It required 15 hours of work (there's been many iterations of the implementation), and is estimated to require 4

[2021-03-04 15:15] tdonohue commented on #3125
Fixed by #3134 and #3170

[2021-03-04 16:33] abollini commented on #3113
I like this solution. It is my understanding that only the HandleIdentifierProvider will be modified (maybe we should check also the Versioned one) to properly resolve **also** the handles prefixed with hdl:

[2021-03-04 17:12] hardyoyo commented on #3169
In reading more about the Basic Auth plugin for Solr, it seems you can

https://solr.apache.org/guide/8_1/basic-authentication-plugin.html#global-jvm-basic-auth-credentials

I.e. it may be possible to hard wire the credentials for all requests... Now, if you're wondering what the point of that exercise would be, I join you in wondering. But, it's definitely worth checking out.

[2021-03-05 12:03] abollini commented on #3140
hi @tdonohue I have investigated and I was still able to reproduce this issue on the demo repository. I have got a lot of errors initially related to a missing journal scheme (maybe it was deleted or never loaded) anyway after adding it back the log are clean and nothing wrong is reported when an item is deleted.
I have noted two different scenarios
- when I delete an item of Camerons so with a re

[2021-03-05 14:48] tdonohue commented on #3140
Thanks @abollini . I'll add an estimate of 16 hours here (middle point of your range).  I'll assign this back to you for your team to work on & let me know if it goes over that number of hours. However, if you have concerns about getting this done for Beta 5 let me know so that we can get more help or reassign as needed.

[2021-03-05 14:53] tdonohue commented on #3172
@mwoodiupui : I agree with you on this.  If you plan to work on this, let me know as I can always assign it back to you.  Otherwise, I'm going to leave this in the backlog while I determine where best to place this (possibly 7.0, but also could be 7.1)

[2021-03-05 16:42] artlowel opened #3174 "Embedded lists don't have pagination options in their self link"
**Describe the bug**
With https://github.com/DSpace/DSpace/pull/3114 you can now specify the page size of an embedded list. However the self links of those embedded lists don't contain that page size at the moment. While regular (not embedded) lists do have it in their self link

**To Reproduce**
Steps to reproduce the behavior:
1. Perform a request with an embed.size parameter e.g. [https://api7.

[2021-03-08 14:57] #2996 closed

[2021-03-08 14:57] #2997 closed

[2021-03-08 20:03] tdonohue opened #3175 "Cannot claim PoolTasks created before you were added to a workflow approval group"
**Describe the bug**
It's currently not possible to claim a PoolTask if that PoolTask was created prior to your being added to the workflow group with access to that PoolTask.

**To Reproduce**
Steps to reproduce the behavior:  (It's easiest to reproduce via the UI)
1. Login as an Admin & Create a Collection with Workflow enabled
2. Submit several Items into that Collection (creating 2+ PoolTasks)

[2021-03-08 20:04] tdonohue commented on #3175
@abollini : Could you, or someone on your team, look at this quickly to see if it's easily resolvable?  Ideally, I'd like this solved in Beta 5 or 7.0 final, unless you feel this is too complex to fix quickly.

[2021-03-08 20:46] tdonohue commented on #3174
@artlowel : Thanks for logging this.  Just to clarify, do you feel this is a bug that needs resolution immediately (for example is it needed to solve https://github.com/DSpace/dspace-angular/issues/918)?   I agree this is a bug in the initial implementation in #3114, but just trying to determine whether we need to rush this into Beta 5, or if it really has no impact on the work currently happening

[2021-03-09 10:50] Raf-atmire opened #3177 "Item not indexed due to authority value not being in a controlled vocabulary"
**Describe the bug**
DSpace 7 backend has had an alteration that would allow us to specify a certain controlled vocabulary file for an input-field in the submission, the authority values added to the metadata values for this field would have to be present as IDs within this controlled vocabulary file.
However, if they're not present or if those authority values would ever be removed from that file

[2021-03-09 13:11] artlowel commented on #3174
For #918 we're only using embed sizes for the community and collection list page. And while the self links are wrong, the concept still works for that page. The urls with sizes in them are being considered to be alternative links to the same list.

An example of an alternative link is `/collections/collection-uuid/logo`. This is an alternative to the self link for the logo bitstream: `/bitstream/l

[2021-03-11 22:49] tdonohue opened #3182 "Consider building SiteMaps from Discovery/Solr index for better performance"
Initially mentioned in the review of https://github.com/DSpace/DSpace/pull/3150#discussion_r592435411

Currently [`GenerateSitemaps`](https://github.com/DSpace/DSpace/blob/main/dspace-api/src/main/java/org/dspace/app/sitemap/GenerateSitemaps.java) primarily uses direct database calls (`.findAll()`) to build our sitemaps.

However, as noted in #3150, we found that (in some scenarios) Discovery/Solr

[2021-03-12 13:11] mwoodiupui commented on #3182
Would it not be simpler and safer to find out why the current code is slow, and fix that?  Because `findAll` should not be slow:  it has nothing to do but walk pages and return whatever it finds, exactly the same as `q="*:*"`.  But there are a number of ways to use either Solr or an RDBMS improperly and make it *very* slow.

[2021-03-12 14:17] corrad82-4s opened #3184 "workflow discovery configuration query with query parameter set with free text returns no results"
**Describe the bug**
If a discovery search with configuration param set as "workflow" and a query param does not return any result.

**To Reproduce**
Steps to reproduce the behavior:
1. login on dspace 7 demo
2. go to "MyDSpace"
3. select "all tasks"
4. enter a query string in search input box (i.e. title of an item that appears among "all tasks")
5. Search won't return results

The same search ca

[2021-03-12 15:25] tdonohue commented on #3182
@mwoodiupui : Just a clarification on this ticket.  I don't have any proof at this point that `findAll` is too slow for generating Sitemaps.  I logged this ticket more as a reminder that  @abollini mentioned we may want to consider refactor Sitemaps to use Discovery in this discussion: https://github.com/DSpace/DSpace/pull/3150#discussion_r592435411

I think the main thing to note here is that Sit

[2021-03-12 22:03] tdonohue commented on #3174
@artlowel : I've verified that this issue doesn't seem to affect the UI, including in https://github.com/DSpace/dspace-angular/pull/1049.  So, I've labeled this low priority.

@abollini : Would you or your team be interested in looking at this issue / providing an estimate?  It's currently *low priority* (does _not_ have to be in Beta 5, but might be nice to fix if we find time prior to 7.0 final)

[2021-03-12 22:04] #3044 closed

[2021-03-12 23:05] #3140 closed

[2021-03-15 12:16] Raf-atmire opened #3185 "Facet entries in the discover/facets/{facet} endpoint does not return the authority key"
**Describe the bug**
When calling the {dspace.url}/api/discover/facets/{facet} endpoint, the results won't include the authority key, even though it should be there.

**To Reproduce**
1. Set up a discovery core that has authority values for facets in the config
2. Try to retrieve the values through the call above
3. The resulting facet entries won't include the authority key

**Expected behavior**

[2021-03-16 13:40] tdonohue commented on #3185
Thanks @Raf-atmire and @benbosman .  This does seem like something that needs fixing.  I suspect it **also** will require minor changes to the REST Contract (as I don't see any examples where an authority key would be returned as part of a facet): https://github.com/DSpace/RestContract/blob/main/search-endpoint.md

I'll move this over to Beta 5 as it seems small.  Is this something your team would

[2021-03-16 14:01] benbosman commented on #3185
@tdonohue Raf can work on this as part of https://github.com/DSpace/DSpace/pull/3176
Is it ok if this implies that PR is not fixed by Thu morning (it is already an open PR)
We will of course try to get it ready in time

[2021-03-16 16:46] tdonohue commented on #3185
@benbosman : That's fine. I'll update #3176 to note that it will fix this issue.

[2021-03-16 18:30] tdonohue commented on #3184
Thanks @corrad82-4s .  I've assigned this back to you for your team to work on when you find time.  Ideally, if you could get this done this week it'd be best, but if not, we can see if we can fit it into Beta 5 prior to Testathon.

[2021-03-17 02:03] mwoodiupui opened #3190 "New uses of Log4J v1 are appearing"
Since we converted from Log4J v1 to v2, some new code has been importing v1 packages again.  This leaves us with confusing dependencies, and if it works, it does so in a roundabout and wasteful fashion.

**To Reproduce**
1. Build DSpace
2. See v1 JARs in various `**target/**/lib/` directories.

**Expected behavior**
Only Log4J v2 artifacts should be included in the build.

[2021-03-17 12:41] Raf-atmire opened #3193 "Solr Search core indexing Authority MetadataValue fails"
**Describe the bug**
Currently it's not possible in DSpace 7 to index an authority value into Solr for a Metadata Field which doesn't have either a vocabulary or a pairs type (excluding qualdrop). The indexing of an Item containing such a MetadataValue will produce a NullPointerException and cause the entire Item to not be indexed into Solr.
The code responsible for the NullPointerException can be

[2021-03-17 13:03] tdonohue commented on #3193
@Raf-atmire : As it sounds like you've done a lot of digging on the problem here, is this ticket of interest to you or your team?

[2021-03-17 14:01] Raf-atmire commented on #3193
@tdonohue This is definitely of interest to us, we'd like to work on this

[2021-03-17 16:26] tdonohue commented on #3193
@Raf-atmire : Sounds good, please provide an estimate & we'll get this scheduled.  Assuming it's a small fix, we may still be able to fit it into Beta 5....but if not, we can definitely include it in time for 7.0 final.

[2021-03-18 12:18] vahem2lu opened #3197 "Using proxied request causes some responses mixed HTTP/HTTPS"
When DSpace backend is configured on localhost/local IP and default port (http) and Apache proxy is being used to proxy requests to tomcat

**To Reproduce**
1. Install DSPace and dspace-angular with default settings
2. Configure Apache to HTTPS and proxy requests to HTTP
[code]

**Expected behavior**
Response should include request URL and therefore not reply via http.

When using "view source" th

[2021-03-18 16:03] tdonohue commented on #3141
As discussed today, the upcoming PR for this ticket can be assigned to @abollini and @tdonohue

[2021-03-18 16:03] tdonohue commented on #3139
As discussed today, the upcoming PR for this ticket can be assigned to @abollini and @tdonohue

[2021-03-18 16:03] tdonohue commented on #3184
As discussed today, the upcoming PR for this ticket can be assigned to @benbosman and @tdonohue

[2021-03-18 20:48] #2890 closed

[2021-03-19 16:04] dspace-bot opened #7910 "[DS-4577] Side bar facets doesn't use HTML escaping"
<i>Imported from JIRA <a href="https://jira.lyrasis.org/browse/DS-4577">[DS-4577]</a> created by cschmilj</i>
<p>If a metadata value for a side bar facet has special HTML characters, it is possible that the sidebar facet has invalid HTML.</p>

<p> </p>

<p>For example: </p>

<p>We have an author with the name "August <III., Polen, König><b>".</b></p>

<p>The generated code is</p>
<div class="code

[2021-03-22 17:36] #3104 closed

[2021-03-23 13:34] jonas-atmire commented on #3141
@tdonohue

To test that, I've setup the repo as described in your initial description, and triggered a discovery index through a metadata update in the UI.
This already fixed the problem, confirming your theory.

I've created following PR and assigned @abollini and yourself for reviewal (Explanation of changes in PR itself)

[2021-03-23 14:26] artlowel opened #3201 "Features endpoint - features for the edit item page"
**Is your feature request related to a problem? Please describe.**
There are a number of features that would be useful to decide whether to enable/disable the various parts of the edit item page. Some of them are mentioned in [the spreadsheet we had](https://docs.google.com/spreadsheets/d/1182LcD_WqIZRbUGWpLtBw0aOMR9jhbOVB7GZqtTpR9A/edit#gid=0) others aren't.

**Describe the solution you'd like**

[2021-03-24 11:41] jonas-atmire opened #3202 "Collection location is not indexed for in submission items"
**Describe the bug**
When [searching for an in submission item](https://github.com/DSpace/RestContract/blob/main/search-endpoint.md#workflow), the attached collection of the item is not indexed, and not attached as a location of the record in solr
This has the side effect that, when searching using the workflow configuration of discovery, that:
* The item CAN searchable when using a general search

[2021-03-24 13:46] olli-gold opened #3204 "DSpace 7 REST API is not usable with LDAP authentication"
On our DSpace 7 test environment we are using LDAP authentication and for all LDAP authorized epersons we assign a special group with the configuration option authentication-ldap.login.specialgroup = Login\ Member. The group exists.
When I try to GET the DSpace 7 REST API, I get this error in dspace.log:
[code]
I have prepared a PR, which should fix this behaviour: https://github.com/DSpace/DSpace

[2021-03-24 14:46] tdonohue commented on #3202
@jonas-atmire : Would you or someone on your team be willing to provide an estimate for this?  Is it work of interest to you or your team?  This seems like something that would be worth fixing in Beta 5 or 7.0, but that likely assumes it's a small amount of effort to correct this bug.  Thanks for logging this.

[2021-03-25 10:14] #2798 closed

[2021-03-25 10:14] #3185 closed

[2021-03-25 11:08] olli-gold opened #3207 "LDAP Authentication does not work properly without the authentication-ldap.login.groupmap option"
When I try to login via LDAP, this keeps failing with this error:

[code]

I have not configured any authentication-ldap.login.groupmap option (as I thought I won't need them). But apparently LDAPAuthentication does not work properly without this option.

[2021-03-25 11:57] jonas-atmire commented on #3202
@tdonohue I think this should be doable in the ballpark of 1 hour (most of which would be the creation of the tests)

It basically comes down to making sure that, in the [InprogressSubmissionIndexFactoryImpl](https://github.com/DSpace/DSpace/blob/main/dspace-api/src/main/java/org/dspace/discovery/indexobject/InprogressSubmissionIndexFactoryImpl.java#L49) we need to retrieve the collection id to ad

[2021-03-25 14:26] #3139 closed

[2021-03-25 14:33] #3184 closed

[2021-03-25 14:33] #3173 closed

[2021-03-25 17:05] tdonohue commented on #3202
Thanks @jonas-atmire !  In that case, I'll add this to the Beta 5 board and assign it back to you to work on.  I think it'd obviously be nice to get this into Beta 5 if possible.

[2021-03-25 19:42] #3204 closed

[2021-03-26 15:37] tdonohue commented on #2846
This can already be done in 7.0 via "Edit Item" -> "Authorizations" by adding a new policy restricting the Item to a group (e.g. Administrator) until a specific _end date_ passes.

So, this ticket is really just about making that process *easier* (perhaps via an Embargo button, or via a new submission-style edit option like described in #2876)

[2021-03-29 08:31] abollini commented on #3201
I agree. We can start with the single feature as we don't have yet an use case where some version can be deleted or updated and other no.

In this case I would prefer to have a canManageBitstreams feature at the level of bundle, so that it is possible to give permission on the original bundle but not to the license or to a preservation bundle (for instance). As it is at the bundle level just a sin

[2021-03-29 15:26] tdonohue commented on #3201
@abollini : Overall, this sounds fine...but I disagree on your analysis of `canManageBitstreams`. I don't **currently** see any real life use cases where we only allow management of some bundles/bitstreams and not others.  Technically, as you point out, it's possible to customize Bundles or Bitstreams to access restrict them further (so that you can only edit/delete specific Bundles or Bitstreams)

[2021-03-29 16:29] #3207 closed

[2021-03-30 14:49] #3113 closed

[2021-03-31 02:40] cwilper opened #3211 "Full-text indexing fails due to missing Tika library"
**Describe the bug**
When adding or updating an item in the search core (via the discovery consumer, e.g. after a metadata edit occurs in the UI), full-text indexing fails, with an error in dspace.log containing the following snippet:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create an item with a PDF
2. Run filter-media on it so that a fulltext bitstream is created in the TEXT

[2021-03-31 17:45] #3057 closed

[2021-03-31 19:24] #3177 closed

[2021-04-01 12:08] #3141 closed

[2021-04-01 15:03] alemarte opened #3214 "Patch Add entire array with virtual values does not work"
**Describe the bug**
When we try to execute a patch add request of a metadata with multi values in presence of _at least one virtual value_, an exception is thrown and 500 error returned.

**To Reproduce**
The easiest way to reproduce is testing by running the work of the https://github.com/DSpace/dspace-angular/pull/1025.

1. Start a submission in [this collection ](http://localhost:4000/submit?c

[2021-04-01 15:14] abollini commented on #3214
As the virtual:: authority prefix is used to mask relations as metadata the patch operation should deal with them as well. It should be at least possible to reorder or remove some of them.

[2021-04-01 15:49] tdonohue commented on #3214
@abollini : As promised in today's meeting, I've moved this into Beta 5 and assigned to you for your team to work on.  As discussed today, ideally a PR is ready by next week's meeting (at the latest) so we can try to get this into Beta 5.

[2021-04-01 16:27] ubks-mp opened #3215 "Packager AIP Backup / Restore CLI options createMetadataFields does not exist"
**Describe the bug**
The documentation for DSpace 6 and DSpace 7 states the existence of the option **createMetadataField**=true|false in
[https://wiki.lyrasis.org/display/DSDOC7x/AIP+Backup+and+Restore](url) (Additional Packager Options).
This option is not existing anymore after DSpace 5 and is commented out in the code [https://github.com/DSpace/DSpace/blob/main/dspace-api/src/main/java/org/dsp

[2021-04-01 18:44] tdonohue opened #3216 "Re-enable AuthorizeService Unit Tests for isCollectionAdmin() and isCommunityAdmin() after changing to use Solr"
In #3148  we reimplemented `isCollectionAdmin()` and `isCommunityAdmin()` to use Solr instead of direct database queries, as the former provided much better scalability/performance.

However, doing so broke the existing Unit Tests for these methods in `AuthorizeServiceTest`, as our Unit Tests do not run against a live Solr index (so the check against Solr always failed).  As a replacement, we impl

[2021-04-01 19:24] mwoodiupui opened #3217 "NPE in SherpaService constructor when running any IT"
**Describe the bug**
`SherpaService#configurationService` is both injected and explicitly initialized.  Apparently Spring is calling the constructor before `DSpaceServicesFactory.getInstance()` is ready, leading to an NPE.  The explicit initialization should be removed.

This showed up after I merged today's `main` into a patch that I'm developing.

**To Reproduce**
Steps to reproduce the behavior

[2021-04-01 19:46] tdonohue commented on #3217
@mwoodiupui : This is odd, as the ITs are succeeding in GitHub CI. You can see recent builds of our `main` branch have all been successful: https://github.com/DSpace/DSpace/actions/workflows/build.yml?query=branch%3Amain

I'll see if I can try to run them locally...I wonder if there's an environment specific thing going on.

[2021-04-01 19:54] mwoodiupui commented on #3217
Yes, I wondered why we aren't seeing this all the time.  OTOH clearly the code is wrong.  At best it is redundant.

This actually needs more than just removing the premature initialization.  Also the initialization of `endpoint` and `apikey` must move to a `@PostConstruct` method, since they depend on `configurationService`.  Doing this cures the bug here.  And it's the Right Thing to Do.

[2021-04-01 19:59] tdonohue commented on #3217
@mwoodiupui : I'm not against the change you suggest, the code does indeed look odd [here](https://github.com/DSpace/DSpace/blob/main/dspace-api/src/main/java/org/dspace/app/sherpa/SHERPAService.java#L56-L57) and [here](https://github.com/DSpace/DSpace/blob/main/dspace-api/src/main/java/org/dspace/app/sherpa/SHERPAService.java#L64).  You are correct, we shouldn't need to initialize twice.

So, ple

[2021-04-01 20:04] mwoodiupui commented on #3217
It must be to do with the order of bean *construction*.  If, on my system, Spring thinks it can/should construct a SherpaService before the DSpace kernel is initialized, then here the problem would be seen.  I have no idea whether Spring's order of construction has any definite relationship to the order of *instantiation*, which includes post-construction activities like injection.  But that's jus

[2021-04-02 14:22] #2815 closed

[2021-04-02 19:14] #3217 closed

[2021-04-06 14:08] #2891 closed

[2021-04-06 14:10] #2938 closed

[2021-04-06 14:10] #2984 closed

[2021-04-06 16:38] #2973 closed

[2021-04-07 13:37] #2817 closed

[2021-04-07 13:37] #3012 closed

[2021-04-07 21:43] #3125 closed

[2021-04-07 22:05] #3202 closed

[2021-04-08 07:50] abollini opened #3227 "Sort options are not reported in the proper order"
**Describe the bug**
The `discovery.xml` file allows to configure which sortOptions are available for each configuration and set also a default sorting
see
https://github.com/DSpace/DSpace/blob/main/dspace/config/spring/api/discovery.xml#L160
https://github.com/DSpace/DSpace/blob/main/dspace/config/spring/api/discovery.xml#L157-L159

The structure is not efficient as having the default sort set in

[2021-04-08 07:54] abollini commented on #3227
Test should be revisited / enforced to verify that sort options are returned in the proper order. Moreover, the REST API should validate the requested sort options against the configuration to forbid (422) invalid sort request (that could eventually result in heavy load / error on the solr side if run over not optimized field). A refactoring of the discovery sort option configuration is also requi

[2021-04-08 17:25] #3211 closed

[2021-04-08 19:49] #3190 closed

[2021-04-08 20:13] tdonohue commented on #3227
@abollini : This sounds found to me.  Just to make sure I'm understanding the proposal here...there's a few main changes:
1. You are suggesting to slightly modify the structure of the sort file configuration in `discovery.xml` so that the `defaultSortOrder` is configured on each sort option (instead of once globally).
2. You are also implying that the order returned by the REST API *matters*. That

[2021-04-08 22:27] tdonohue opened #3229 "REST API running in Docker container does not automatically "trust" requests from host machine"
**Describe the bug**
Discovered while testing https://github.com/DSpace/dspace-angular/pull/1004 (with #3223).

When running the DSpace REST API in a Docker container, the host machine will not be automatically "trusted".  This is because requests from the host machine will not be seen as localhost requests (127.0.0.1), and instead will appear from the Docker network's gateway/bridge IP.

Docker s

[2021-04-08 22:32] tdonohue commented on #3229
@artlowel : Just wanted to let you know that this is the issue we ran into today.  It's definitely a Docker configuration issue, and I'll work on getting a quick fix PR made (see description above for details of PR).

[2021-04-09 07:34] samuelcambien opened #3230 "Browse by author broken if author name has special character"
**Describe the bug**
If an author name has a special character (e.g. '&'), the browse for it doesn't work properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://demo7.dspace.org/browse/author
2. Click on 'ANZNN, Women's & Children's Health'

**Expected behavior**
You would expect to see one publication, however no publication is shown.

**Related work**
Not sure if this shou

[2021-04-09 09:55] alemarte opened #3231 "@benbosman thanks for your review!"
@benbosman thanks for your review!

This is an old behaviour, as I remember it was present even before merging https://github.com/DSpace/dspace-angular/pull/960
Unfortunately those selected items are completely detached from the form state and they are not kept in sync (until as you noticed a full page refresh occurs).

This should not happen since every time the lookup modal is opened there is an

[2021-04-09 09:56] #3231 closed

[2021-04-12 17:06] tdonohue opened #3233 "Entities Submission tests should use separate configuration of submission-forms.xml from Traditional Submission tests"
Currently, both the Configurable Entities submission tests & the Traditional (normal Item) submission tests share the same `submission-forms.xml` configuration. See https://github.com/DSpace/DSpace/blob/main/dspace-api/src/test/data/dspaceFolder/config/submission-forms.xml#L52-L53

Ideally, to make these tests more similar to a real installation, we should have separate `<form>` definitions for te

[2021-04-12 20:34] #3214 closed

[2021-04-14 13:01] atarix83 opened #3234 "searching from pubmed or arxiv doesn't work"
**Describe the bug**
searching from external providers like pubmed or arxiv doesn't work. The issue seems to be related to a dependencies issue with `jersey-core` library, and is similar to what reported in [this comment of the remove BTE PR](https://github.com/DSpace/DSpace/pull/3189#pullrequestreview-628720183). Here the error stacktrace

[code]

**To Reproduce**
Go to the following hal browser

[2021-04-14 16:47] #3229 closed

[2021-04-15 18:21] #3234 closed

[2021-04-15 21:52] tdonohue commented on #3230
@benbosman : Assigning this one to you (or someone on your team to review).  My guess is it may more likely be a backend issue (perhaps even with indexing) which is why I'm passing it your way.  This sounds like a `medium priority` task to fix for 7.0 (it's not broken entirely, but likely to be annoying to many users)

[2021-04-15 22:06] tdonohue commented on #3197
@vahem2lu : I'm closing this as "won't fix" as this looks (to me) like an incorrect ProxyPass setting.  When proxying requests from Apache (HTTPS) to Tomcat (HTTP), we'd **highly recommend** using AJP (https://httpd.apache.org/docs/2.4/mod/mod_proxy_ajp.html) instead of a simple HTTP proxy.

Here's an example from some of our Docker development setups: https://github.com/DSpace/DSpace/blob/main/ds

[2021-04-15 22:06] #3197 closed

[2021-04-16 16:15] tdonohue commented on #3053
Moving this to 7.0, but flagging as `low priority` as it can be worked around via configuration. Nonetheless, I'd like to fix this in 7.0 if we have time.  Assigned to myself to analyze as this is an area of the code I've worked in more than others.

[2021-04-16 16:26] tdonohue commented on #3193
I'm moving this ticket into the 7.0 board, and flagging as `medium priority`.  @Raf-atmire assigning to you to analyze and provide feedback on the best fix.   As noted, assuming this is small (hoping it will be), I'd like to get this into the 7.0 release.

[2021-04-16 16:34] tdonohue commented on #3172
Moving this to the 7.1 board for now, as it seems low priority for now.  However, @mwoodiupui if you find time to fix this in 7.0, we can move it up.

[2021-04-16 16:35] tdonohue commented on #3169
Moving this to the 7.2 board, as this is very low priority (until we have users requesting this as a feature).

[2021-04-16 17:01] tdonohue commented on #3174
Assigning to @abollini to investigate. Note however that this is `low priority` as it doesn't appear to affect the UI at this time. It's just an inconsistency in the REST API

[2021-04-16 17:09] tdonohue commented on #3163
This issue still exists in Beta 5 (just verified).  @abollini , assigning to your team to investigate / estimate further.  Also labeling as `high priority` since this must be fixed in 7.0

[2021-04-17 22:15] mspalti commented on #3163
@tdonohue , @abollini, this is a simple fix.  I was just preparing a PR when I saw the triage flag on the issue. I'll go ahead with the commit and you can evaluate.

[2021-04-19 14:50] tdonohue commented on #3163
Thanks @mspalti !  We'll move along your PR & I'll reassign this ticket to you (since you created the PR).

[2021-04-19 20:48] abollini commented on #3174
3 hours should be sufficient to track down the bug and write tests to proof the solution

[2021-04-19 20:49] abollini commented on #3174
feel free to assign to us if you want us to work on that on low priority

[2021-04-20 14:03] tdonohue commented on #3174
@abollini : Sounds good. I'll add the estimate and assign to you to work on.  Yes, as this is `low priority` obviously work on other tasks first (if there are any), but you are welcome to work on this when you have time.

[2021-04-22 10:49] abollini commented on #3193
is this different than https://github.com/DSpace/DSpace/issues/3177  / https://github.com/DSpace/DSpace/pull/3196 ?

[2021-04-22 13:27] tdonohue commented on #3193
Good catch @abollini : This might be a duplicate & already be solved by #3196.

@Raf-atmire : Could you retest this? If it's solved, let's close it out.  If there's still an issue remaining, then we'll need an estimate, etc.

[2021-04-22 13:33] abollini opened #3243 "Concurrent deletion of large communities/collections can cause trouble"
**Describe the bug**
During the testhaton the solr search index was out of sync with the database. This result in empty search results when indeed there were still some contents.
The main reason for that is because the first page of results contains references only to objects that were deleted.

**To Reproduce**
Looking to the apache/dspace log files we where able to spot the possible cause
Apache

[2021-04-22 13:56] abollini opened #3244 "Backend logs almost useless"
**Describe the bug**
The rest logs are almost useless there are tons of page of
[code]
sometimes there are error stack trace but most of time there is no reference to which endpoint have generated the stack trace. In previous versions it was possible to identify/guess at the least the Servlet that was invoked as an INFO entry was prosent somewhere before. It was not ideal because with high load co

[2021-04-22 15:07] tdonohue commented on #3244
@abollini : Assigning this back to your team to investigate / estimate further.  Your suggestions sound reasonable to me.

Here's a possibly resource I found in logging every incoming request in a Spring / Spring Boot app: https://www.baeldung.com/spring-http-logging

I like the idea of a unique request ID, though we'd have to figure out how to "store" that (or accurately regenerate it) to ensure

[2021-04-22 15:23] tdonohue commented on #3243
@abollini : Having now read this completely, your idea to "auto-detect stale objects and remove them" is interesting.  As you noted in the meeting, it wouldn't be the best performance (and we may want to *log* when stale objects were found in Solr & therefore removed, including the type/uuid of each stale obj found).  But, it should fix the issue, assuming it doesn't occur frequently.

We'd also t

[2021-04-22 15:50] tdonohue commented on #3193
Reassigning to @benbosman (per today's meeting).  @benbosman : this needs analysis on whether it's already been fixed (possibly by #3196) or if additional issues still exist (see above)

[2021-04-22 16:13] tdonohue opened #3245 "Need a way to identify withdrawn items via REST API (e.g. for tombstone page)"
Required by https://github.com/DSpace/dspace-angular/issues/346

## Description
Copied from old ticket https://jira.lyrasis.org/browse/DS-4456 :

## Possible Implementation Ideas
Copied from @abollini 's comment to DS-4456:

[2021-04-22 16:14] tdonohue commented on #3245
Assigning this to you @abollini as discussed in today's meeting

[2021-04-22 16:28] tdonohue opened #3246 "REST API should support concurrent requests better"
Related to discussions around #3243 from today's meeting (April 22, 2021).

The REST API should provide better support for concurrent requests, perhaps either via:
* Widespread support for ETags, as described in our Contract at https://github.com/DSpace/RestContract#etags--conditional-headers (this has not yet been fully implemented)
* Or. possibly via JSON PATCH `test` operations, which can be us

[2021-04-22 16:33] tdonohue commented on #3243
Moving this into 7.0 with "high priority"...but, I've also flagged as `needs discussion` as it sounds like an exact solution is not yet obvious.

[2021-04-22 16:58] cwilper opened #3247 "DSpace 6 build fails using latest Maven version due to blocking of restlet m2 repository"
**Describe the bug**

Using the latest version of maven (3.8.1), building DSpace 6 (or DSpace 5), the build fails with a message like the following (formatted for readability):

[code]

This is failing due to a security measure added to maven 3.8.1 ([see release notes](https://maven.apache.org/docs/3.8.1/release-notes.html)). This measure prevents the use of plain old http maven repositories in or

[2021-04-22 17:02] cwilper commented on #3247
I'm not aware of a way to fix this in code, but I've been able to get around the issue (and successfully build with maven 3.8.1) by putting the following in my `~/.m2/settings.xml`:

[code]

This permits the use of http for this one repository, for the current user.

[2021-04-22 17:26] abollini commented on #3243
the stale objects created by this incident were not only communities or collections but also a lot of items. Indeed there where more the 430 stale objects in the index before the re-index. Due to an small issue in the restoring instruction (it was used the index-discovery with the -b flag instead than -f) now fixed on the Entities Release Data I cannot be 100% sure to have reindexed the demo websi

[2021-04-22 17:30] tdonohue commented on #3247
This sounds related to this StackOverflow question as well. https://stackoverflow.com/questions/66962265/dspace-6-3-solr-webapp-build-error-org-restlet-jee-blocked-mirror

The only solution mentioned there was downgrading to < Maven 3.8.1

[2021-04-22 17:44] mwoodiupui commented on #3247
According to https://mvnrepository.com/artifact/org.restlet.jee/org.restlet/2.1.1 this artifact should be available at https://repo.spring.io/plugins-release/ so maybe adding that repo. would resolve this?

[2021-04-22 19:59] cwilper commented on #3247
@tdonohue I came across that also, and that's what I did at first. But then I came across this, which led me to the workaround above: https://stackoverflow.com/questions/67001968/how-to-disable-maven-blocking-external-http-repositores

@mwoodiupui Good thought, and preferable to loading over the old http repo. I tried setting the mirror url to that, but I get "authentication failed". For example:

[2021-04-22 20:58] aprilherron opened #3248 "Class overrides no longer working after change to classpath"
**Describe the bug**
Traditionally, the `additions` module has been used to override base DSpace classes. However, due to a recent change, overrides within `additions` (and likely other modules) are no longer functioning correctly.

The PR in question is [PR 2544](https://github.com/DSpace/DSpace/pull/2544), and specifically the change which moved away from
[code]

Note: The reason this probably b

[2021-04-23 13:39] abollini opened #3249 "Multiple user sessions create interference"
**Describe the bug**
When the same user logged-in multiple times in parallel there are side effects on the other login after the first logout.
The first logout indeed disconnect all the session as they are verified against a single sessionSalt stored at the EPerson level.

**To Reproduce**
Steps to reproduce the behavior:
1. login in chrome as dspacedemo+admin
2. start a new submission
2. login in

[2021-04-23 13:43] abollini commented on #3249
Activity 1 should require 2 hours on the REST side with the simple fix (return 401)

Activity 2 is much more complex and involve also a db changes, I estimate 3 days of work on the REST side

[2021-04-23 14:41] tdonohue commented on #3249
@abollini : I have a feeling we should split these activities apart into two tickets.  I agree that Activity 1 might be good to fix for 7.0...it gives a more appropriate 401 response code.

However, Activity 2 seems like a scenario that is **unlikely to occur frequently in Production** (correct me if I'm wrong).   So, we could think to document it as a known issue in 7.0, giving us more time to pl

[2021-04-23 14:46] tdonohue commented on #3243
@abollini : I'm fine with moving this forward based on your summary & estimate.  However, I would caution you to make sure to let us know if your solution turns out to need more complexity. It sounds like it should work, but if you start going over 8 hours, then we may need to take a step back and see if there's a flaw in the approach that we overlooked.

In any case, I'll take off the `needs disc

[2021-04-23 15:15] mwoodiupui commented on #3248
We really should stop depending on classpath magic altogether.  May I suggest that we look into revising our assembly configuration so that any overlay artifacts (such as additions-VERSION.jar) are actually absorbed into their "main" counterparts (e.g. dspace-api-VERSION.jar), replacing the overlaid classes there, instead of being installed separately.  We have had to repair the current approach m

[2021-04-25 21:32] dspace-bot opened #7913 "[DS-4580] Authority control doesn't update when editing item"
<i>Imported from JIRA <a href="https://jira.lyrasis.org/browse/DS-4580">[DS-4580]</a> created by hrafn.malmquist</i>
<p>This is a bug when using the Authority Control mechanism in the XMLUI UI.</p>

<p>When updating a metadatafield when <ins>editing</ins> a record (as opposed to submitting a new record), the associated confidence value field which is a hidden input isn't updated.</p>

<p>The confi

[2021-04-27 17:18] santit96 opened #3262 "Error when permanently deleting an Item as a collection administrator"
**Describe the bug**
(Copied from [Test Plan, Item T030](https://docs.google.com/spreadsheets/d/1BdK8SzytA7HoxOZgldCIHabMxeR4mYTXt_ynVT_-KR8/edit#gid=1865680815)):

".  The API returns a 403 status response

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as a collection administrator
2. Go to an item page in the collection that you are administrator of
3. Click the pencil icon on the

[2021-04-27 20:05] #3163 closed

[2021-04-27 20:49] parphis commented on #3120
I can not edit/add comments on the Wiki pages so let me inform you here about a [typo](https://wiki.lyrasis.org/display/DSDOC7x/Installing+DSpace#InstallingDSpace-InstallingtheFrontend(UserInterface))
The example code of the 4. point of the _Frontend Installation_ section is missing a comma `,` after the `ui` JSON key.

[2021-04-29 08:35] benbosman commented on #3230
This is a UI issue
`/server/api/discover/browses/author/items?sort=default,ASC&page=0&size=20&filterValue=ANZNN,%20Women%27s%20%26%20Children%27s%20Health` works but Angular uses `https://api7.dspace.org/server/api/discover/browses/author/items?sort=default,ASC&page=0&size=20&filterValue=ANZNN,%20Women%27s%20&%20Children%27s%20Health` splitting the parameter in half

[2021-04-29 16:11] abollini commented on #3245
Since the original discussion things have changed a bit so I want to suggest now an easier solution that should fit better with our current codebase.
The general idea is to allow everyone to retrieve a Withdrawn DSpace Item but include details about the Item only to administrators. To do that we should
1. relax the check in the org.dspace.app.rest.security.AuthorizeServicePermissionEvaluatorPlugin

[2021-04-29 16:17] abollini commented on #3245
please note that the itemrest already has a flag to inform angular that the item is or is not withdrawn. So the problem was only about providing a tiny response instead than a 401/403

[2021-04-29 16:33] tdonohue commented on #3245
@abollini : Sounds good to me (both the suggested solution & the estimate).  Leaving assigned to you so that your team can begin work on this. Thanks!

[2021-04-29 21:05] tdonohue opened #3256 "If logged in through multiple devices, a logout results in a 403 response in other devices."
**Describe the bug**
Part of #3249.  If you login using the same account in multiple browsers or devices, and then logout through one device, all others will throw a `403 Forbidden` exception on your next action.  This error code should instead be a `401 Unauthorized` exception, as your session was invalidated (by the logout)

**To Reproduce**
Steps to reproduce the behavior:
1. login in chrome as

[2021-04-29 21:06] tdonohue commented on #3256
@abollini : I'm assigning this to you for your team to work on (and it's flagged as high priority).  If any Angular fixes are also necessary, please feel free to assign to @atarix83 or his team.

[2021-04-29 21:17] tdonohue opened #3257 "REST API should support multiple active sessions per user"
**Describe the bug**
Discovered as part of #3249 (original discussion ticket).  Currently, the REST API doesn't support multiple active sessions per user.  For example, while you can login as the same account from multiple browsers / devices, they share the same active session.  Therefore, as soon as a logout occurs, all logged in devices have their session invalidated (logging out the user from a

[2021-04-29 21:19] tdonohue commented on #3249
As promised in today's meeting, I've split this into two tickets:
* https://github.com/DSpace/DSpace/issues/3256 - The high priority task to return a 401 when logout occurs.
* https://github.com/DSpace/DSpace/issues/3257 - The low priority task to support multiple active sessions per user.

Therefore, I'm closing this ticket as all further discussion should occur on one of the tickets above.

[2021-04-29 21:19] #3249 closed

[2021-04-30 14:24] paulo-graca opened #3258 "Index-Discovery commands not listed"
**Describe the bug**
It seams `index-discovery` is missing or omitted from the CLI list.

**To Reproduce**
Steps to reproduce the behavior:
1. When executing `[/dspace]/bin/dspace ` a list is displayed

**Expected behavior**
In the displayed list, it's missing `index-discovery`, but regardless, if you try to execute it the process script will be executed.
[code]

[2021-04-30 14:45] tdonohue commented on #3258
@paulo-graca : Are you looking into this (as I see you assigned it to yourself)?  It looks like it's related to moving these scripts into processes (which can be triggered from the UI or commandline) and this work #2596

If you are not working on this, let me know & I'll reassign it.

[2021-05-03 17:13] PabloDeAlbu opened #3261 "Cannot map new items with Collection Admin"
A Collection Admin should be able to add (map) existing items from other collections

**Describe the bug**
The Collection Admin can edit item metadata, assign roles but cannot map existing items from other collections.

**To Reproduce**
Steps to reproduce the behavior:
1. Log as a "Collection Administrator" (not as an Admin)
2. Edit the collection for which you have permissions
3. Go to "Item Mapp

[2021-05-03 17:17] tdonohue commented on #3261
@benbosman : Assigning this to you for your team to investigate, as it appears your team originally built this feature in #2282 .  It might be that we simply need to ignore auth around the Item.update() call.  But, it also appears this endpoint may need better securing with an `@PreAuthorize` -- was surprised to not see one there.  I've tentatively flagged this as `high priority` as this worked in

[2021-05-04 14:24] #3201 closed

[2021-05-04 20:03] tdonohue opened #3263 "PDFBox runs on more than PDF Bitstreams"
**Describe the bug**
Copied from https://jira.lyrasis.org/browse/DS-3873 , originally reported by @KingKrimmson. I've rediscovered this issue during Testathon.

PDFBoxThumbnail media filter is currently configured to run on more than just PDFs. This consistently results in an error in the logs:

[code]
This can be fixed by modifying .getInputMIMETypes() to only return "Adobe PDF" instead of all Im

[2021-05-04 20:04] tdonohue commented on #3263
@benbosman : Assigning this to your team for review/work.  Please note that @KingKrimmson created a PR a few years back that *should* fix this, but it just needs updating.  #2123

[2021-05-04 21:03] #3174 closed

[2021-05-05 08:49] benbosman commented on #3261
The first step here would be to determine the permissions requires to perform this action
I'm surprised to see it marked as a bug if you don't have `WRITE on ITEM` because I would assume this is indeed required.

I'd expect the following permissions to be required:
* ADD on the new collection
* READ/WRITE on the item

Do you agree?

[2021-05-05 08:53] benbosman commented on #3263
I'd expect this to require 2 hours to upgrade the code, and test the functionality still works while no longer spawning the errors
This is under the assumption no tests have to be implemented (only manual tests)

[2021-05-05 13:51] paulo-graca commented on #3258
Sorry @tdonohue , no, I'm swamped.

[2021-05-05 13:59] tdonohue commented on #3258
@benbosman : assigning this to you for your team to analyze & estimate. It looks to be related to #2596

[2021-05-05 15:13] tdonohue commented on #3261
@benbosman : To answer your question I took a look at DSpace 6.x behavior.

In comparing this to DSpace 6.x, it appears (to me) that Collection Admins were able to map new items.  This means that in DSpace 6.x, only "ADD on the collection" was required.

I definitely understand that the Item requires an update to be mapped.  I'm just concerned slightly about the implication of requiring "READ/WRIT

[2021-05-05 15:15] tdonohue commented on #3263
@benbosman : That sounds fine to me.  As MediaFilters currently don't have ITs, and this is a very tiny bug fix, it can just be manually tested.  I'll add the estimate & assign back to you for your team to update/recreate the PR.

[2021-05-05 15:46] #3227 closed

[2021-05-06 15:59] tdonohue commented on #3261
Discussed in today's DevMtg.  The main points mentioned include:

* Reproducing DSpace 6.x behavior would be a **security issue** in DSpace 7.x (because of how the new REST API works).
    * If a Collection Admin can map _any item_ (which they can READ) into their Collection, that would give them (via permission inheritance) the ability to also WRITE that Item.  This gives Collection Admins too mu

[2021-05-07 16:02] mgrothe-gu opened #3272 "Configuration option for disabling self-registration"
**Is your feature request related to a problem? Please describe.**
Self registration of users can not be disabled in DSpace 7 Beta 5.0. Most institutions mange user accounts via services like LDAP, but also require password-authentication to be enabled for local admin accounts. With local accounts enabled, registration with an email address is enabled too. The prominent sign-up field might convinc

[2021-05-10 23:52] cwilper opened #3269 "Improve ServiceManager BeanException Logging"
**Describe the bug**
When the DSpace Service Manager fails to find a bean for any reason, details are not logged by default, making problems difficult to track down. A good example is that reported in https://github.com/DSpace/DSpace/issues/3163 , where @mspalti was able to see the cause of a problem only by temporarily adding a `System.out.println` line in the `DSpaceServiceManager` code.

Instea

[2021-05-12 20:28] mwoodiupui commented on #3163
The NPE was caused by trying to dereference an @Autowired field in the initialization block, where the reference has not yet been set.  I recall several of these recently.  How can we get the word out among DSpace developers that injected references *cannot* be used in class initializers, instance initializers or constructors?

[2021-05-12 21:23] #3269 closed

[2021-05-13 15:28] #3256 closed

[2021-05-14 20:14] tdonohue commented on #3261
**Update based on DCAT feedback**  I asked [the above question on the DCAT mailing list](https://groups.google.com/g/dspacecommunityadvisoryteam/c/gBCwDCi4RPg/m/wFiMp8haAQAJ) and the overwhelming feedback was that the DSpace 7.x current behavior is fine.  They see no major need for Collection Admins to be able to map _any item_ into their Collection, instead they should only be allowed to map item

[2021-05-17 10:05] benbosman commented on #3230
I'm picking this up again, although REST correctly responds to a valid query, it's REST which sends the incorrect search link to Angular in the first place

https://api7.dspace.org/server/api/discover/search/objects?sort=score,DESC&page=0&size=10 contains
[code]

https://api7.dspace.org/server/api/discover/browses/author/entries?sort=default,ASC&page=0&size=20 contains
[code]

And with the ampersa

[2021-05-17 10:49] Raf-atmire commented on #3193
It wasn't fixed yet in the current main branch, I've tested this by removing the methods we've used to circumvent this problem in the initial PR for the `discoverFacetsAuthorWithAuthorityWithSizeParameter` in `DiscoveryRestControllerIT`

We'll be working around this problem by providing a try-catch around the classes that use the [getLabel](https://github.com/DSpace/DSpace/blob/2b4f22be65d9997194d

[2021-05-17 14:04] tdonohue commented on #3230
@benbosman : That sounds reasonable. Adding the 4hour estimate to the ticket & assigning back to you for your team to work on.

[2021-05-17 14:09] tdonohue commented on #3193
@Raf-atmire : Thanks for verifying & providing an estimate.  I've added the 4 hour estimate to this ticket & I'm keeping this assigned to @benbosman so that you two can figure out who to assign it to within Atmire.  Thanks!

[2021-05-17 14:13] tdonohue commented on #3247
@cwilper : It looks like we've got two PRs now to fix this?  #3275 and #3274.  If you, or someone on your team, would be willing to help us test these to verify the fix, we can get them merged quickly.

[2021-05-20 11:00] atarix83 opened #3279 "Can't save more than one bitstream's access conditions during submission"
**Describe the bug**
While working on fixing https://github.com/DSpace/dspace-angular/issues/1119 I noticed that even if I add more than one access conditions to a bitstream added to a submission, the server save only one. Patch operation is sent properly by the client but the server response contains only the first access condition
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. star

[2021-05-20 14:07] abollini commented on #3261
we have verified the option 1 and it could be implemented with a limited effort on the REST side but at the end it doesn't look to be the ideal solution.
To implement option 1 we should add a new "write" field to the solr document similar to the "read" field that is managed by `SolrServiceResourceRestrictionPlugin` to do that 4 hours should be enough including test. Once that the field is in place

[2021-05-20 15:56] tdonohue commented on #3261
@abollini : I'm not sure if I understand your recommendation in the previous comment.

I understand why you said that option 1 "doesn't look to be the ideal solution" because you worry it will confuse users who expect all Items to be searchable.

However, I'm unclear how you'd propose fixing this differently (and what the estimate would be).  It sounds like (in the last two paragraphs) you are sug

[2021-05-20 15:57] tdonohue commented on #3244
@abollini : Just a reminder that this high priority ticket is waiting on an estimate / recommended solution.

[2021-05-20 16:34] mwoodiupui commented on #3244
I think that we need to be very clear on what we mean by "request ID".  Is the unit of work here an HTTP request, or something larger?

If the scope is HTTP request, then the obvious place to store it is in the `HttpServletRequest` object's attributes.  Perhaps we could use a time-based UUID.  But that doesn't square with the idea of using the same ID for each request from the same person.  The la

[2021-05-20 18:58] tdonohue commented on #3279
@atarix83 : thanks for the details. I agree that this seems like something we should fix immediately. @LucaGiamminonni : thanks for estimating this already.  The estimate looks reasonable to me.  Since this is a backend issue, I'll assign to @abollini  (as previously promised), but feel free to delegate to whomever is most appropriate at 4Science.

[2021-05-20 22:02] tdonohue commented on #3120
Closing this, as I believe https://wiki.lyrasis.org/display/DSDOC7x/Installing+DSpace is now "good enough".  Any further issues or questions can be resolved via comments on that page (or additional tickets)

[2021-05-20 22:02] #3120 closed

[2021-05-21 07:24] benbosman commented on #3230
I'm picking this up another time. While fixing REST, we noticed that Angular ALSO has a bug.
If REST responds with a correct link, Angular still builds an incorrect link:
[code]
results in http://localhost:8080/server/api/discover/browses/author/items?sort=default,ASC&page=0&size=100&filterValue=Biomolecular%20&%20Analytical%20Mass%20Spectrometry%20(BAMS)

I would estimate the Angular fix to requi

[2021-05-21 08:04] atarix83 commented on #3261
@tdonohue the solution to fix it on angular side, by calling the `canManageMappings` feature to disable the items that can't be mapped, could take at most 2 hours

[2021-05-21 14:09] tdonohue commented on #3230
@benbosman : Ok, I'll add 2 more hours to this ticket then, bringing the total to 6hours.  Your team can tackle the small Angular fix then too as part of this ticket.

[2021-05-24 21:42] tdonohue commented on #3258
Closing, as this was fixed by #3278 (but accidentally not linked up properly before merging)

[2021-05-24 21:42] #3258 closed

[2021-05-26 11:44] mgrothe-gu opened #3281 "Restriction of email domains for self-registration has no effect"
**Describe the bug**
Setting "authentication-password.domain.valid = example.com" in the local.cfg file has no effect. Self-registration is still possible with other email domains.

**Expected behavior**
When "authentication-password.domain.valid" is specified in local.cfg, self-registration should only be possible with the respective domains.

Related to #3272

[2021-05-26 13:31] mwoodiupui commented on #3281
Noted in passing:  the cause of the reported behavior is not immediately obvious to me, but it *is* immediately obvious that the test will match *too many* addresses.  In o.d.authenticate.PasswordAuthentication, each value of authentication-password.domain.valid is compared to the user's address using `String.endsWith`, so "example.com" will match "darth.vader@evil-example.com".

[2021-05-26 14:17] mwoodiupui opened #3282 "Auto-Remove / avoid trailing slashes in `dspace.server.url` (possibly by treating as URL instead of String)"
Trivial details of e.g. `dspace.server.url` have vexing consequences.  For example:  ending the value with a slash results in a mysterious "Invalid CSRF Token" log message and failure of login.  This seems to have happened because REST was returning URLs like `https://hostname/path/to//somewhere` and token validation was unable to cope with the doubled slash.

The code contains a number of instanc

[2021-05-26 14:26] tdonohue commented on #3281
Thanks for the analysis @mwoodiupui .  I agree, that looking at the code it seems there is a likely bug in `canSelfRegister()`: https://github.com/DSpace/DSpace/blob/main/dspace-api/src/main/java/org/dspace/authenticate/PasswordAuthentication.java#L68

All that said, I'm moving this to 7.1 for now, as it seems like this code is unchanged in 7.x, so this same issue likely exists in 6.x as well.  I

[2021-05-26 14:30] tdonohue commented on #3282
Agreed with all this.  That said, I think the larger task (code cleanup) will likely need to wait for 7.1 or 7.2, as it looks to affect many areas of the codebase (and it may also affect where `dspace.ui.url` is used alongside `dspace.server.url`)

In the meantime, I've updated the docs to warn about trailing slashes & we can simply update the configs to do the same.  Thanks for finding & logging

[2021-05-26 14:56] tdonohue commented on #3248
Moving this to 7.2 Board for now, as this seems low priority at this time.

[2021-05-26 15:27] tdonohue commented on #3282
Note: Step 1 (adding comments to configs) was added in #3283.  This ticket will be left open though until we improve the overall code to avoid sensitivity to trailing slashes.

[2021-05-26 22:06] abollini opened #3284 "OAI response contains wrong URL for bitstream"
**Describe the bug**
The xoai document contains the old style bitstream URL with unreplaced place holder instead that the new one

**To Reproduce**
Steps to reproduce the behavior:
1. check the xoai response of any record that contains files
2. https://api7.dspace.org/server/oai/request?verb=GetRecord&metadataPrefix=xoai&identifier=oai:demo7.dspace.org:10673/248
3. the url looks like  `<field name

[2021-05-27 14:53] abollini commented on #3244
My idea is to have the rest client to randomly generate an uuid to include for all the request in a specific "session". For our angular application this would mean an uuid generated when the app state is created. In addition angular should send a referrer header with the url of the page that has generated the REST request.
This information are mainly to help debugging, in the rare case the same id

[2021-05-27 15:50] artlowel opened #3286 "Thumbnail resolution should happen on the rest side"
**Is your feature request related to a problem? Please describe.**

Finding the correct thumbnail for an item or a bitstream is every slow at the moment, because it is done client side. The UI has to download the entire thumbnail bundle, ignoring pagination, to compare filenames with bitstreams in the ORIGINAL bundle and find a match.

We've never had much issues with this because we've never used

[2021-05-27 16:11] tdonohue commented on #3244
A few notes after the discussion in today's meeting:
* The need for the `Referrer` header coming from Angular makes perfect sense. We should add that, as we definitely want to know which Angular page generated the REST API request.
* The randomly generated UUID to represent the "session" also does make some sense...though, it sounds like we'd be dependent on the client generating this identifier,

[2021-05-27 20:57] mwoodiupui opened #3287 "URLs to external services should always be configuration, not code."
There are several URLs for "foreign" services which are hard-coded in DSpace.  For example:  the stem of URLs for the DOI resolver is a `public static final String` at `org.dspace.identifier.DOI#RESOLVER`.  Even though these are supposed to be stable, experience shows that they do change:  `https://doi.org/` is now recommended in place of `http://dx.doi.org/`.  Having these wired into the code mak

[2021-05-28 09:59] abollini commented on #3244
the session client side generated uuid is also required by https://github.com/DSpace/DSpace/issues/3257
I would prefer to lack information in the dspace.log instead than adding extra complexity to deal with anonymization. Anonymize Web server logs is a common need for hosting providers that usually (or at least this is the case in 4Science) is managed in a general not dspace specific way.
In the c

[2021-05-31 09:53] abollini opened #3289 "Annoying warning during ant build"
**Describe the bug**
I noted that running an ant build raise the following warn, not sure from when this is started. It seems to have no real impact

**To Reproduce**
Steps to reproduce the behavior:
1. update your local installation with the latest main
2. mvn clean package
3. cd dspace/target/dspace-installer
4. ant update

[code]

**Expected behavior**
The update process should have a nice/clea

[2021-05-31 12:47] KevinVdV opened #3290 "Angular recent submissions not using discovery configuration"
**Describe the bug**

The recent submissions displayed on the collection aren't using the discovery configuration but have a [hardcoded](https://github.com/DSpace/dspace-angular/blob/main/src/app/+collection-page/collection-page.component.ts#L77) sort on the "dc.date.accessioned" field and a [hardcoded](https://github.com/DSpace/dspace-angular/blob/main/src/app/+collection-page/collection-page.com

[2021-06-01 15:53] tdonohue commented on #3289
Oh, I think this may have been an accidental side effect to #3270 from @cwilper .  It looks like we don't want a Stacktrace in this scenario, as it's not very useful.  In other words, we may want to rethink this suggestion from @mwoodiupui and I: https://github.com/DSpace/DSpace/pull/3270#discussion_r630126673

@cwilper : Can I assign this to you to look into?

[2021-06-01 17:30] mwoodiupui commented on #3289
Should we not find out why there is no definition for CacheProvider?

The trace shows that it was reading the workflow configuration but was unable to instantiate a ClaimAction because one of its dependencies uses the caching service and could not be wired.  This particular trace is awfully long because Spring is so busy at this point, but without the trace we would have no idea of where to look.

[2021-06-02 08:08] benbosman opened #3291 "Scripts & processes error handling"
**Describe the bug**
The command line script contains [System.exit(1)](https://github.com/DSpace/DSpace/blob/main/dspace-api/src/main/java/org/dspace/scripts/handler/impl/CommandLineDSpaceRunnableHandler.java#L61), this ensures the script stops immediately
The REST script in the [same method](https://github.com/DSpace/DSpace/blob/main/dspace-server-webapp/src/main/java/org/dspace/app/rest/scripts/

[2021-06-03 07:46] benbosman commented on #3286
I would suggest to work with something like https://github.com/DSpace/RestContract/pull/163

In REST, this would add links which can be embedded. It works quite similar to the `templateItemOf` link (but returns a bitstream instead).

The REST implementation would imply:
* For items, the first bitstream in the THUMBNAIL bundle is returned (if any)
* For bitstreams, the first bitstream in the THUMBN

[2021-06-11 16:21] #3230 closed

[2021-06-11 17:20] tdonohue commented on #3286
Thanks @benbosman for the estimate.  I've added it and assigned back to you for your team to work on.  I also reviewed the REST Contract design...overall it's fine but I've asked for a minor clarification/update: https://github.com/DSpace/RestContract/pull/163#pullrequestreview-682062367

[2021-06-11 19:30] #3284 closed

[2021-06-11 20:40] #3262 closed

[2021-06-15 19:28] #3279 closed

[2021-06-16 12:57] enrique opened #3299 "Add oaiSource, itemOaiId, metadataPrefix to exception message"
Please add oaiSource, itemOaiId, metadataPrefix to exception message for easier troubleshooting
https://github.com/DSpace/DSpace/blob/a250efd99cb41b430d6637f39a698dc615f78601/dspace-api/src/main/java/org/dspace/harvest/OAIHarvester.java#L885

We get this message only:
[code]

[2021-06-16 13:59] tdonohue commented on #3287
Agreed this is a minor issue. I'd welcome work in this area, but for now moving this to unscheduled backlog (until someone has time to fix one or more of these).

[2021-06-16 14:23] tdonohue commented on #3290
Related to https://github.com/DSpace/dspace-angular/issues/667 (adding Recent Submissions to homepage), so I'm linking those two up as we may want to resolve them together.  At this time, I don't have a strong preference on the approach here, but the idea to allow Angular to decide which field to use is _interesting_, as it may allow more control over the default Collection view. In other words, y

[2021-06-16 14:28] tdonohue commented on #3291
@benbosman : I'm struggling with where to put this as it's unclear (to me) whether this truly is a small ticket or not.

It seems, to me, like we need to verify the "expected behavior" you listed above, as the thrown exception in that situation will occur on a task that is being run in the background (as these scripts run in the background when triggered from REST).  However, perhaps we could prov

[2021-06-16 14:30] tdonohue commented on #3289
@mwoodiupui or @abollini : Either of you interested in investigating this for possible inclusion into 7.0 (or 7.1)?  After looking more closely, I do agree with @mwoodiupui that we may want to see if we can determine why this error is thrown in the first place.  It doesn't seem to cause any additional issues, but the warning message is definitely an annoyance.

[2021-06-16 14:31] tdonohue commented on #3299
Moving this to "unscheduled backlog" for now.  I agree this could be improved, but it's low priority for main development at this time (cause of DSpace 7 work).  That said, if someone can get to this sooner, PRs are always welcome!

[2021-06-17 15:08] mwoodiupui commented on #3244
I don't understand why we allow Spring Boot to suppress the JSESSIONID.  (TBH I don't understand why Boot does this, except that the Boot developers seem determined to reinvent every wheel in sight.)

[2021-06-17 15:46] tdonohue commented on #3244
@mwoodiupui : The simple answer is that we are attempting to make the backend completely "stateless".  So, ideally, we never use a `HttpSession` object and never generate a JSESSIONID (and that's why Spring Boot supports disabling JSESSIONID, for stateless apps).  (That said, as a sidenote, I think there are still a few instances of `HttpSession` hanging around that need cleanup.) The reason for "

[2021-06-17 16:14] mwoodiupui commented on #3244
Oh, clustering?  That has been around in Tomcat since forever.  https://tomcat.apache.org/tomcat-8.5-doc/cluster-howto.html

[2021-06-17 17:40] tdonohue commented on #3244
@mwoodiupui : We're trying to align with core REST principles, and a key part of REST is statelessness as a requirement...where the "session" is on the client side, not on the server side (see this similar [SO question/answer](https://stackoverflow.com/a/3105337/3750035)).  Statelessness also means that you can more easily spin up an extra backend if one gets overwhelmed. So, yes it's somewhat sim

[2021-06-17 20:02] mwoodiupui commented on #3244
OK, I give up.

[2021-06-21 13:21] abollini commented on #3245
@tdonohue here the PR for the rest contract https://github.com/DSpace/RestContract/pull/164

[2021-06-21 19:43] #3245 closed

[2021-06-22 16:46] AndrewZachWood opened #3305 "DS-2904 Asynchronous & Batch Google Analytics Reporting for DSpace 5.x"
See: https://github.com/DSpace/DSpace/pull/2248 as a reference.

This feature request is a place holder for the following PR:
https://github.com/DSpace/DSpace/pull/3306

This is a back port of https://github.com/DSpace/DSpace/pull/2248 for DSpace 5.x.

[2021-06-22 19:12] tdonohue commented on #3289
According to my IDE, it appears we do not have any implementation for `CacheProvider` in DSpace 7.  It appears this didn't exist in v6 either... I'm now wondering if this is an old, obsolete artifact that simply needs to be deleted from `dspace-services`.  I'm not sure when we last had a `CacheProvider`.

[2021-06-23 15:39] Akshay-Hegde opened #3310 "Dspace image running as root not safe"
https://github.com/DSpace/DSpace/blob/0cfe4d068657a88cb47d35ec364ccd853ac8d56c/Dockerfile

Recently I tested dspace 6x and 7 images, however noticed below directory permissions are `root:root` which is really not safe, probably in future builds may be improved.

This is already known issue: https://forums.docker.com/t/user-only-affects-permission-of-immediately-following-copy/2065

[code]
Probably

[2021-06-23 15:57] tdonohue commented on #3310
@Akshay-Hegde : Please keep in mind, **these Docker Images are NOT meant for Production**. We only use them for development/testing purposes, which is why we have not paid any attention to creating secure images at this time.  See this newly added warning here: https://github.com/DSpace/DSpace/blob/main/dspace/src/main/docker-compose/README.md

That said, it sounds like you've already done some wo

[2021-06-23 16:38] Akshay-Hegde commented on #3310
Sure, thanks for the info since there were know issue with `USER` I thought may not have noticed, so I just posted. Soon I will modify Dockerfile and share for review.

[2021-06-23 21:39] #3289 closed

[2021-06-24 21:59] #3263 closed

[2021-06-30 18:56] #3286 closed

[2021-07-02 10:38] alemarte opened #3315 "CanManageMappingsFeature sometimes does not respond as expected"
**Describe the bug**
The `CanManageMappingsFeature` sometimes does not respond correctly both affirmatively or negatively.

**To Reproduce**
To reproduce the issue run the related angular PR code https://github.com/4Science/dspace-angular/tree/CST-4319 and follow detailed steps described by @tdonohue in his review [comment](https://github.com/DSpace/dspace-angular/pull/1250#pullrequestreview-69435

[2021-07-02 10:40] alemarte commented on #3315
@tdonohue we've spent 2 hours to fix it and we can open the PR

[2021-07-02 14:09] tdonohue commented on #3315
@alemarte : Is there a PR ready for this? I'd love to be able to test it today alongside the frontend PR (I'm out of the office all of next week, so if it's not ready today this will need a different volunteer).

In the meantime, I'll pull this ticket into the 7.0 board, since it's necessary to get DSpace/dspace-angular#1250 working.

[2021-07-02 19:56] tdonohue commented on #2835
Closing as "obsolete" this has been split into many tickets with the [`documentation` label](https://github.com/DSpace/DSpace/labels/documentation)

[2021-07-02 19:56] #2835 closed

[2021-07-02 19:59] tdonohue commented on #2837
Closing as "fixed".  This was tested in 7.0 testathon, and bugs discovered there are either in process or resolved.

[2021-07-02 19:59] #2837 closed

[2021-07-02 19:59] tdonohue commented on #2838
Closing as "fixed". This was tested in 7.0 testathon, and bugs discovered there are either in process or resolved.

[2021-07-02 19:59] #2838 closed

[2021-07-02 20:04] tdonohue commented on #2840
Basic SHERPA/RoMEO integration already exists in 7.0.  Needs discussion as to what additional features are needed. May be overestimated.

[2021-07-02 20:18] tdonohue commented on #2853
Needs discussion about priority & possible implementation post-7.0.  May be pushed back if priority deemed low.

[2021-07-05 15:47] abollini commented on #3315
The issue is mostly due to a discrepancy between how the feature "check" is implemented and how action is really performed.

More specifically, the "check" is currently close to what was the implementation in version 6: the user needs to have ADD & WRITE permission on the collection and READ on the ITEM

[2021-07-08 02:22] tysonlt opened #3317 "REST api /api/core/item returns duplicates for small page sizes"
**Describe the bug**
When calling /api/core/item and paging over results, duplicate items will be returned unless size>=100. I am looping over the results to build a map of items keyed by handle. For page sizes <100, some items will be duplicated and others will be missing. For larger page sizes, results are as expected.

On main:latest.

**To Reproduce**
Steps to reproduce the behavior:
1. Call /

[2021-07-09 09:38] paulo-graca opened #3319 "OpenAIRE4: Project form unable to display related entity"
**Describe the bug**
Lookup for submission not updating the form with the chosen value.

**To Reproduce**
Steps to reproduce the behavior:
1. First your relationship model should have a relation between the entity Project and OrgUnit:
[code]

and the virtual metadata:
[code]

2. Then you need to create two different collections and assign each one a template with fields:
`dspace.​entity.​type = Pr

[2021-07-09 09:42] paulo-graca commented on #3319
This issue is related with an incorrect `virtualmetadata `configuration.

I have
`<entry key="isProjectOfFundingAgency" value-ref="isProjectOfFundingAgencyMap"/>`

but I'm using isFundingAgencyOfProject relationship.
The proper configuration should be:
`<entry key="isFundingAgencyOfProject" value-ref="isProjectOfFundingAgencyMap"/>`

Existing openaire virual metadata template should be also fixed.

[2021-07-12 13:46] #3243 closed

[2021-07-12 19:45] tdonohue commented on #3317
@tysonlt : That's very odd, especially considering the `/api/core/items` endpoint is going *directly against the database*.  Unless you have duplicate entries in your `item` database table (or somehow have multiple items mapped to the same `handle` table entry), it shouldn't be returning duplicates.  So, at a very quick glance, this sounds more likely to be an issue with the data in your database.

[2021-07-12 21:15] tdonohue commented on #3317
@tysonlt : I *believe* this new PR may fix the issue you are seeing....as long as my description above is the root cause: #3321.  That's my suspicion, but it's hard to be certain as it sounds like you've discovered this bug via custom code on your end.

[2021-07-12 23:49] tysonlt commented on #3317
Thanks so much Tim. I don't think it's a data issue, as my workaround was to bypass REST and load the data directly from the DB. I've made a quick demo here: https://github.com/tysonlt/DSpace-issue-3317. This is a stripped-down version of the actual code I am using. You can see I ignored the page size, and just kept sending requests until I got an empty result.

The only reason I am pulling all it

[2021-07-13 18:21] cwilper commented on #2882
Note: We have a candidate solution to this in the works, and expect to submit a PR within the next two weeks.

[2021-07-13 19:56] #3319 closed

[2021-07-13 22:26] tdonohue commented on #3011
Retested this today and it appears resolved.  At least it's no longer reproducible on the demo site https://demo7.dspace.org/ as described in the description. Closing as fixed.  If someone is able to later reproduce we can always reopen

[2021-07-13 22:26] #3011 closed

[2021-07-14 15:12] tdonohue opened #3323 "`AuthorizeServiceImpl#isAdmin(Context c, EPerson e, DSpaceObject o)` sometimes allows Comm/Coll Admins to manage `Anonymous` group"
**Describe the bug**
Discovered in review of https://github.com/DSpace/DSpace/pull/3293#discussion_r655285699

The `org.dspace.authorize.AuthorizeServiceImpl#isAdmin(Context c, EPerson e, DSpaceObject o)` method may return "true" when a Community or Collection Admin is checked against the `Anonymous` DSpace group. (e.g.`isAdmin(context, commAdmin, anonGroup)` may return `true`.

This behavior is n

[2021-07-14 19:44] tdonohue commented on #3040
As Processes are currently limited to Site Admins in 7.0, this is lower priority for now. Pushing back to 7.3, or until it becomes higher priority.

[2021-07-14 19:47] tdonohue commented on #3040
On second thought, we may need to make Processes open to more users in order to implement various import/export tools needed for Community/Collection Admins.  Pulling this back into 7.1, flagging as `medium` for now.

[2021-07-15 13:19] paulo-graca opened #3324 "Thrown exception for every page request (with apache basic auth active)"
**Describe the bug**
For every page request I do (even with an anonymous session) it's thrown an exception « Error parsing EPerson from token
java.text.ParseException: Invalid serialized unsecured/JWS/JWE object: Missing part delimiters »

**To Reproduce**
1. I've migrated my content from a DS5.x version.
2. I've Apache mod_auth_basic.c active with:
`AuthType Basic`
3. But with an exception for `L

[2021-07-15 15:02] abollini commented on #3128
We have documented the live import framework as used in DSpace-CRIS 7 here https://github.com/4Science/DSpace/releases/download/dspace-cris-2021.01.00/dspace-cris7-2021_01_00-technical-documentation.pdf (look to page 87 and forward). There is a chance to reuse content, it would be necessary for sure to
- remove mention of Providers not yet part of DSpace 7
- remove mention of the Provider - Entity

[2021-07-15 15:18] tdonohue commented on #3324
@paulo-graca : That's a very odd error. Essentially [this call to `SignedJWT.parse()`](https://github.com/DSpace/DSpace/blob/main/dspace-server-webapp/src/main/java/org/dspace/app/rest/security/jwt/JWTTokenHandler.java#L309) is saying that it's parsing something that is obviously *not* a JWT. The error is saying the string it is parsing doesn't include the usual "part delimiters" which a JWT inclu

[2021-07-15 16:02] tdonohue opened #3325 "`/api/core/items` endpoint only returns "archived" Items when it should return all Items"
**Describe the bug**
Currently (as of 7.0), the `/api/core/items` endpoint only returns Items which are "in archive" and not withdrawn.  This means it excludes Workspace/Workflow items and withdrawn items.  This behavior is odd, because those item types **are available** via `/api/core/items/<:uuid>`, but they are currently only discoverable/findable via other related endpoints.

As this endpoint

[2021-07-15 16:50] abollini opened #3326 "Update collection metadata or removing the administrator group will not produce a solr reindex"
**Describe the bug**
If you change the name of a collection the collection cannot be found under the new name until a full reindex is forced.
If you remove the admin group of the collection you will note that its uuid is still present in the SOLR document related to the collection (this not imply any visible bug at the moment but it is still inaccurate)

**To Reproduce**
Steps to reproduce the beh

[2021-07-15 16:53] abollini commented on #3326
No modify event is generated by the service and this imply that the index consumer is not invoked. We should investigate to verify that other dspace objects don't suffer of the same issue Community but also  EPerson, Group, Site that are not currently indexed but could have other consumer listening for modify event.
Test should be added to cover the identified scenarios, it should took more or les

[2021-07-15 19:03] paulo-graca commented on #3324
This is what token has:
![image](https://user-images.githubusercontent.com/877488/125843031-e9f26313-ba26-4f30-bf48-b4c906f21d83.png)

is related with basic http authentication

[2021-07-15 19:29] tdonohue commented on #3324
@paulo-graca : Oh, I think I understand what might be happening.  DSpace stores the JWT in the `Authorization` HTTP Header.. the format is like `Authorization: Bearer [jwt-token]`

It sounds like your HTTP Basic Auth is also using that `Authorization` HTTP Header....and DSpace is trying to parse it as if it was a JWT.

It sounds like this is a possible bug in the DSpace backend.  It should only be

[2021-07-15 20:14] #3315 closed

[2021-07-15 21:00] paulo-graca commented on #3324
Yes, I agree that it should be ignored. This issue will only occur for setups like mine which are probably particular and few cases.

[2021-07-16 08:37] thanapoj opened #3327 "How the way best custom template dspace 7?"
Hi,  today I have problem.
I don't have not idea, how to custom template dspace7?

becuease I read some source recommend "Don't custom in the core template".

I want to clone original template to custom theme but
the some HTML file much use original TS file,
If I copy TS original file to custom, I find configurate is difficult and so many.

Whold you have idea how to custom template dspace 7?

 Th

[2021-07-16 12:40] abollini commented on #3325
it should took 2-4 hours including fixing/improve the IT to cover the right specification.
It would be appropriate to include at least one search method that will reproduce the behavior of the 7.0 so that admins can scroll all the archived items in the repository and/or the withdrawn items (so keep excluded workspace,workflow and template) without using the discovery configuration. This additional

[2021-07-16 17:13] tdonohue commented on #3325
Thanks for the estimate @abollini .  I've added `4 hrs` to this ticket as the official estimate, as I think your second point may require more discussion.  I'm not yet sure if we need a new "out of the box" discovery configuration for only archived items, or if we simply should document that they should use the [existing `administrativeView` configuration](https://github.com/DSpace/DSpace/blob/mai

[2021-07-19 17:41] cwilper opened #3330 "Packager does not retain UUIDs on restore"
**Describe the bug**
As has historically been the case with handles, the `-r` packager option should also re-used the UUID of the original item.  Item UUIDs are intended to be immutable references to items that exist in DSpace. For example, people's bookmarks and spiders will have those old UUIDs in their URLs.  Therefore, when an item is being restored into DSpace (e.g. due to disaster recovery),

[2021-07-19 17:52] cwilper commented on #2882
PR: https://github.com/DSpace/DSpace/pull/3328

[2021-07-19 18:29] mwoodiupui commented on #3330
My understanding is that the reason we went to UUIDs was to have object identifiers purely internal to DSpace, unlike the old integer sequence numbers which were shared with the DBMS.  The point is to have an internal identifier that cannot be pinned down by any other process, whether DBMS or some far-flung browser.  People who want to bookmark objects should be using the Handle or DOI or some oth

[2021-07-19 19:13] mwoodiupui opened #3331 "We should remove the --optimize feature of 'dspace stats-util'"
**Describe the bug**
The so-called "optimization" of Solr cores is contrary to current advice from Solr's maintainers.  We shouldn't make it easy to do the wrong thing.  This option should be removed.

[2021-07-19 20:04] tdonohue commented on #3121
Updated / cleaned this up today.  So, I'm closing this as "fixed" until we find any issues with the docs

[2021-07-19 20:04] #3121 closed

[2021-07-19 20:20] tdonohue commented on #3118
Closing this, as backend Configuration updates were primarily made back in May.  This looks to be "done" unless specific issues come up.

[2021-07-19 20:20] #3118 closed

[2021-07-19 20:29] tdonohue commented on #3123
This was completed back in May/June. See https://wiki.lyrasis.org/display/DSDOC7x/REST+API

Old, deprecated REST API docs were moved to https://wiki.lyrasis.org/pages/viewpage.action?pageId=104566810

[2021-07-19 20:29] #3123 closed

[2021-07-20 13:24] dspace-bot opened #7918 "[DS-4585] Incorrect escaping of citation_ meta tags when metadata contains quote characters"
<i>Imported from JIRA <a href="https://jira.lyrasis.org/browse/DS-4585">[DS-4585]</a> created by aorth</i>
<p>While troubleshooting the incorrect escaping of non-ASCII text in <a href="https://jira.lyrasis.org/browse/DS-4135" title="Citation_* tags should contain plain UTF-8, without escaping" class="issue-link" data-issue-key="DS-4135"><del>DS-4135</del></a> <a href="https://github.com/DSpace/DSp

[2021-07-20 14:48] #3244 closed

[2021-07-20 15:05] cwilper commented on #3330
With the move in DSpace 7 to use UUIDs in the REST api and Angular urls, DSpace has become less tightly coupled with the handle system, in the same way it has historically been with DOIs in general -- you can still use these longer-term digital identifiers with DSpace, and you can still educate users, just as before, to use the reference you think will be around longer (DOI or hdl.handle.net urls)

[2021-07-20 20:34] tdonohue commented on #3124
I've started some UI configuration documentation at : https://wiki.lyrasis.org/display/DSDOC7x/User+Interface+Configuration  Currently, this just documents the `environment.*.ts` files, but it's a start. This should be reviewed by @artlowel and @atarix83 for correctness (or someone on your teams).

I did come across a few questions though as I wrote this page of docs.  This might be best answered

[2021-07-20 21:15] mwoodiupui commented on #3124
I came to the same conclusion regarding `logDirectory`.  I could find no use or even meaning for it.

[2021-07-22 16:06] dspace-bot opened #7920 "[DS-4587] DSpace's built-in list of spider/robot user agents is old"
<i>Imported from JIRA <a href="https://jira.lyrasis.org/browse/DS-4587">[DS-4587]</a> created by aorth</i>
<p>DSpace's built-in spider user agents file has not been updated since 2015. This file contains regular expressions matching user agents of common spider (non-human) clients. When a usage event (item view, download, search, etc) is received from one of these clients Solr does not log a stati

[2021-07-22 17:48] AndrewZWood opened #3334 "Swordv1 and Swordv2 URL configuration bug"
For Swordv1 and Swordv2, the servlet’s concept of what its URL should be is incorrect. There is a legacy bit of code left over from pre-DSpace-7 times, when sword was mounted as it own top-level webapps. The URLs should respect the "dspace.server.url" property and take the respective SWORD version's path configuration into account. Hardcoding of the SWORD path can be seen here:
SWORD: https://gith

[2021-07-22 19:49] tdonohue commented on #3053
Might be fixed by #3335

[2021-07-22 19:58] tdonohue commented on #3124
My questions above were both fixed in https://github.com/DSpace/dspace-angular/pull/1276

[2021-07-23 12:11] bruno-atmire opened #3337 "test case in InstallItemTest expects wrong Exception to be thrown"
**Describe the bug**
[InstallItemTest#testInstallItem_invalidHandle](https://github.com/DSpace/DSpace/blob/e1478f6fddb6c919548602ce1200b169e5bf637d/dspace-api/src/test/java/org/dspace/content/InstallItemTest.java#L158) intends to verify that items cannot be installed when the handle already exists. It currently expects an AuthorizeException to be thrown.

This is the stack trace of where the excep

[2021-07-23 18:56] tdonohue commented on #3124
Closing this as "complete". An early version of these docs now exist:
* Configuration Docs: https://wiki.lyrasis.org/display/DSDOC7x/User+Interface+Configuration
* Customization Docs (including theme changes): https://wiki.lyrasis.org/display/DSDOC7x/User+Interface+Customization

Updates/reviews from others are welcome, but these are likely "good enough" for 7.0

[2021-07-23 18:56] #3124 closed

[2021-07-27 14:52] benbosman commented on #2834
I've reviewed this ticket based on the functionality from https://github.com/DSpace/Rest7Contract/pull/83 . The requirements mentioned here:
* (UI) From within the submission form, the same/similar searchbox (from DS-4515) should appear, likely at the top of the page.
  * (REST) The endpoint https://github.com/DSpace/RestContract/blob/main/metadata-suggestions.md#live-import-entries using the `que

[2021-07-28 11:31] deunitato-d4l opened #3348 "Unable to start up DSpace 7 using docker-compose"
Hello, Im trying to run a local setup for Dspace 7 using docker-compose..
I followed the steps in the following [link](https://wiki.lyrasis.org/display/DSPACE/Running+DSpace+7+with+Docker) and was able to see back-end properly
However, when I tried to load the front end, I am unable to see the details in the page.. Inspecting the console shows the following error. Any ideas regarding this?

![imag

[2021-07-28 14:10] tdonohue commented on #3348
@deunitato-d4l : It looks like you have an outdated link (I'll update that wiki page to point to the correct place).

Latest DSpace 7 + Docker instructions are at https://wiki.lyrasis.org/display/DSPACE/Try+out+DSpace+7

Also, see the Docker readmes in the frontend & backend:
* https://github.com/DSpace/DSpace/blob/main/dspace/src/main/docker-compose/README.md
* https://github.com/DSpace/dspace-an

[2021-07-28 14:10] #3348 closed

[2021-07-28 15:20] hardyoyo opened #3349 "Restore Primary Bitstream as a capability of DSpace 7"
**Is your feature request related to a problem? Please describe.**
Prior versions of DSpace had a field in the Bundle table [1] which provided a link to a bitstream, called 'primary_bitstream_id'[1] This was used to determine what thumbnail to show for a specific item that had multiple bitstreams attached. This would also help for instances of scholarly publications, where you would have the "prim

[2021-07-28 15:36] mwoodiupui commented on #3349
This would be an opportunity to re-think the concept.  For one thing, if we consider "primary Bitstream" to be a property of an Item, then what is it doing in Bundle?  Right now each Bundle has a primary Bitstream.  Why?

While we're at it, we should consider the effort involved in matching derivative Bitstreams to their sources.  Does a Bitstream have metadata:  has-{thumbnail | text | etc.} [der

[2021-07-28 15:59] tdonohue commented on #3119
I've done an initial update of https://wiki.lyrasis.org/display/DSDOC7x/Submission+User+Interface

Still working on other pages listed above.

[2021-07-28 19:21] tdonohue commented on #3119
Closing this.  I've done initial updates to all Submission & Workflow pages (Workflow one was already mostly updated by @mwoodiupui -- thanks!).  This includes minor updates to Embargo & Authority Control docs as well.

[2021-07-28 19:21] #3119 closed

[2021-07-29 13:40] benbosman commented on #2834
I did find this old mockup we've once created to visualize the concept.
![Mockup](https://user-images.githubusercontent.com/1528033/127501994-38f9d372-8f01-405f-8a8e-ce034d3012d3.png)

This is of course just a very rough draft, just to help explain it

[2021-07-30 19:41] tdonohue commented on #3122
Closing this, as I've updated the Docs to likely be "good enough".  They still are not perfect though, and some technical aspects are still only in the Google Doc.  That said, the basics of configuring & adding Entities is now in the Wiki at https://wiki.lyrasis.org/display/DSDOC7x/Configurable+Entities

I'd still recommend @benbosman or @artlowel or someone at Atmire consider reviewing what I've

[2021-07-30 19:41] #3122 closed

[2021-08-02 06:58] dspace-bot opened #7922 "[DS-4589] Node.js version used in "easy" Mirage 2 build is ancient"
<i>Imported from JIRA <a href="https://jira.lyrasis.org/browse/DS-4589">[DS-4589]</a> created by aorth</i>
<p>DSpace 6.3 currently uses Node.js v8 to build Mirage 2, which the Node.js project stopped supporting as of 2019-12-31. We should use a current long-term support version to build Mirage 2. As of this moment the only currently supported LTS version that can build Mirage 2 without issue is v1

[2021-08-02 14:31] mtpatterson opened #3351 "Menu toggle from right to left"
Would like to request a feature where it's possible to toggle the side menu where the search bar is from the right side to the left. This is in regards to users making that change on their own browser or account. I've attached a screenshot so hopefully help explain what menu I mean. The one where it has the search bar, and Browse, My Account, Discover, etc.

![Dspace menu](https://user-images.gith

[2021-08-02 17:41] MarieVerdonck opened #3353 "Missing metadata fields for virtual metadata in registries"
**Describe the bug**
A few of the metadata fields used in the virtual-metadata.xml, `journal.title` ([here](https://github.com/DSpace/DSpace/blob/main/dspace/config/spring/api/virtual-metadata.xml#L133)) and `journalvolume.identifier.name` ([here](https://github.com/DSpace/DSpace/blob/main/dspace/config/spring/api/virtual-metadata.xml#L207)) are not present in the metadata registries files. Causin

[2021-08-02 19:38] mwoodiupui commented on #3287
See another list of hard-coded identifier URLs at https://jira.lyrasis.org/browse/DS-4552

[2021-08-03 17:40] tdonohue commented on #3128
Closing this as "good enough".  Thanks to @abollini , I've copied over some of the docs from 4Science into https://wiki.lyrasis.org/display/DSDOC7x/Live+Import+from+external+sources

I've also simplified this page so that it's more about user experience / UI (and it links to the Live Import docs for more technical details): https://wiki.lyrasis.org/pages/viewpage.action?pageId=104566672

Overall,

[2021-08-03 17:40] #3128 closed

[2021-08-03 21:55] tdonohue commented on #2872
Closing, as this appears to duplicate #2834   No additional information is provided in this ticket, and they sound like the same feature.

[2021-08-03 21:55] #2872 closed

[2021-08-03 22:07] tdonohue commented on #2885
Closing, as this Documentation was created already for 7.0.  See https://wiki.lyrasis.org/display/DSDOC7x/Configurable+Entities

[2021-08-03 22:07] #2885 closed

[2021-08-03 22:46] ivicadimitrovski opened #3356 "Upload button in bitstreams not working"
The Upload button in bitstreams is not working:

![image](https://user-images.githubusercontent.com/44358971/128095886-d686afd9-075b-4fc5-91b3-d26aa9b92345.png)

[2021-08-04 14:11] tdonohue commented on #3356
Verified on demo7.dspace.org.  Steps to reproduce appear to be:
1. Login as an Admin
2. Edit an Item
3. Go to the Bitstreams tab
4. Click the "Upload" button (either at the top of the page, or on an individual Bundle).

Above error occurs.  I think this is a UI level error, so I'll move that ticket over there.

[2021-08-04 16:44] tdonohue opened #3358 "Implement ResourceSync for DSpace"
This ticket replaces https://jira.lyrasis.org/browse/DS-3590  The below info was copied over from that JIRA ticket

Some early code was moved to these areas by 4Science _(not sure if these repositories are now outdated or not)_:
* https://github.com/DSpace/ResourceSyncJava
* https://github.com/DSpace/DSpaceResourceSync

Early ResourceSync PR also at https://github.com/DSpace/DSpace/pull/2318

[2021-08-04 22:02] hardyoyo commented on #3349
According to the [REST Contract](https://github.com/DSpace/RestContract/blob/main/items.md#linked-entities) the bundle endpoint still has a notion of "primary bitstream". If this is correct, I'd like to see DSpace-Angular provide a UI for it (say a checkbox for an item's bitstreams). FYI, we're working on drafting at least one use formal use case for this feature request.

[2021-08-05 11:09] atarix83 commented on #2834
@benbosman @tdonohue

We have additional feedback/suggestions to achieve this new functionality in order to avoid problems similar to [this issue](https://github.com/DSpace/DSpace/issues/2953) :

- the suggestion functionality should be associated to a new submission step. This means a new `suggestion` step class should be implemented on rest side
- on angular side the presence or not of the searc

[2021-08-05 15:34] tdonohue commented on #3327
Please see the user interface customization documentation at https://wiki.lyrasis.org/display/DSDOC7x/User+Interface+Customization

If you have more specific questions, feel free to ask them via one of our official support channels: https://wiki.lyrasis.org/display/DSPACE/Support  GitHub issues is only for suspected bugs and new features.

[2021-08-05 15:34] #3327 closed

[2021-08-05 15:35] tdonohue commented on #3331
This seems reasonable to me. It's low priority, but adding to 7.1.  If we don't get to it then, we'll move to a later release.

[2021-08-05 15:36] tdonohue commented on #3337
@bruno-atmire : Thanks for all the investigation work.  Would you be willing to submit a small PR with these fixes?  It looks like you've already figured out the necessary changes, so it may be a quick PR to create.

[2021-08-05 16:00] tdonohue commented on #3353
@MarieVerdonck or @benbosman

Silly question perhaps, but why do we need `journal.title`?  Shouldn't a Journal's title just be the `dc.title` field on a Journal Entity? If we need to display a Journal's title as virtual metadata on an Issue or Volume, shouldn't we use a field like `dc.relation.ispartof` or `dc.relation.ispartofseries`?

I'd ask a similar question about `journalvolume.identifier.na

[2021-08-05 16:14] tdonohue opened #3359 "Migrate extra DSpace-CRIS "Live Import" sources to DSpace core"
DSpace-CRIS (built/maintained by 4Science) has a number of [Live Import sources](https://wiki.lyrasis.org/display/DSDOC7x/Live+Import+from+external+sources) which are not yet available in DSpace core.
These may include:
* Scopus
* CrossRef
* CiNii
* NASA/ADS
* Web of Science
* VuFind
* OpenAIRE (by Author and Title)

If possible, we should work with the 4Science team to contribute these back to co

[2021-08-05 16:24] tdonohue commented on #3351
@mtpatterson : this is possible to achieve via CSS already, but you are correct there's no "toggle" which allows you to change the location per user account.

With the [release of 7.0](https://duraspace.org/dspace-7-press-release/), the 6.x codebase will move primarily into bug/security fix mode.  So, unfortunately, this sort of feature will not be coming to 6.x.

However, I can report that in 7.0

[2021-08-05 16:24] #3351 closed

[2021-08-05 16:42] mwoodiupui commented on #3353
Not a metadata expert, but I tend to agree with @tdonohue .  `journal.title` is in a DSpace-proprietary namespace.  Nobody else knows what it means.  'dc.title' is well-known.

I usually figure that, if a DC field is a good fit, use it; otherwise, look around for a published namespace that is a better fit; last, invent a proprietary field.

I think we should try to design metadata sets by layering

[2021-08-05 16:53] mwoodiupui commented on #3351
At some point we should consider whether this is an I18N issue.  Do UIs developed first for right-to-left languages tend to have a different layout than those for LTR languages?

[2021-08-06 09:26] atarix83 commented on #3326
@tdonohue estimation is about 2/4 hours, he can take it

[2021-08-06 14:47] atarix83 commented on #2839
@tdonohue we are interested on this task

[2021-08-06 14:47] atarix83 commented on #2844
@tdonohue we are interested on this task

[2021-08-06 14:47] atarix83 commented on #2847
@tdonohue we are interested on this task

[2021-08-06 15:08] tdonohue commented on #3326
Thanks @atarix83 .  I've added the estimate and assigned back to @abollini & his team to start work on.

[2021-08-06 15:11] tdonohue commented on #2839
Thanks @atarix83 .  As this is backend related, assigning to @abollini for your team to start work on.  Please also be aware that the initial estimate was listed as "uncertain".  So, let me know if the estimate needs to change *before* you start work.

[2021-08-06 15:12] tdonohue commented on #2844
Thanks @atarix83 .  As this is backend related, assigning to @abollini for your team to start work on.

[2021-08-06 15:12] tdonohue commented on #2847
Thanks @atarix83 .  As this is backend related, assigning to @abollini for your team to start work on.

[2021-08-06 15:19] tdonohue commented on #3359
All, I talked with @abollini and @atarix83 today about this task.

@abollini noted that **anyone is welcome to port code from DSpace-CRIS to DSpace at any time**.   DSpace-CRIS is open source and follows the same license as DSpace.  4Science only asks that they be credited with the initial development of any  feature ported from DSpace-CRIS.

At this time, the 4Science team noted this task is unfo

[2021-08-06 15:42] benbosman commented on #3353
If I'm not mistaken, this is used to populate the article (the Publication entity) with the journal's dc.title and similar for the other fields
Using `dc.relation.ispartofseries` sounds reasonable, and the goal should indeed be to identify the relevant fields for that configuration

[2021-08-11 12:30] abdbuzurg opened #3361 "Error with setting up Dspace backend"
I am trying to set up Dspace in my local environment. There was no problem setting up the frontend part of the app. However, when I am trying to set up the backend part there is an issue that I am currently facing with the **ant fresh_install**.

![1](https://user-images.githubusercontent.com/45818668/129028792-2d5648b9-53ab-489d-be16-8f5e750d3b8f.PNG)

Let me know if you know how to solve this is

[2021-08-11 13:19] tdonohue commented on #3361
@abdbuzurg : That appears to be a bug from *Apache Ant* and not DSpace.  The key error is this one...:
`CreateProcess error=206, The filename or extension is too long`

If you google that, it sounds like that error means that your CLASSPATH is too long for Windows to handle.  So, it might be fixed by simply shortening your really long directory path starting with `C:\Users...`  In other words, mov

[2021-08-11 13:19] #3361 closed

[2021-08-11 17:47] #3070 closed

[2021-08-12 15:25] dspace-bot opened #7923 "[DS-4590] Support for rightsstatement.org rights statements"
<i>Imported from JIRA <a href="https://jira.lyrasis.org/browse/DS-4590">[DS-4590]</a> created by gss1</i>
<p>DCAT discussed (<a href="http://example.com" class="external-link" target="_blank" rel="nofollow noopener">August 2021 meeting</a>https://wiki.lyrasis.org/x/sxBrD) the desirability (highly desirable!) of native support for rightsstatements.org rights statements out of the box.</p>

<p>This

[2021-08-13 14:41] abollini opened #3363 "Allow to change the eperson password via CLI"
The EPersonCLI script should provide a way to set a new password for an existing user. There is no security implication in allowing that as a linux user able to run such script can already
- temporary change the eperson email
- use the forget password feature to reset the password
- restore the previous eperson email

moreover, user that can run the script and access the backend shell can retrieve

[2021-08-17 12:19] parphis opened #3366 "Not able to create new versions without collection admin rights"
**Describe the bug**
The bug I found relates to the versioning feature. I tested it under the DS version 6.3 (XMLUI).

If the user who submitted an item is not member of the **collection's ADMIN** group then the menu item _Create version of this item_ never shows. It is not enough for the user to be the submitter of the item. It must be the member of the collection's admin role group.

Look at the

[2021-08-17 15:25] paulo-graca commented on #3359
I don't know if it will help, but I've made a contribution to OpenAIRE model library (PR: https://github.com/openaire/openaire-funders-jaxb-model/pull/2):
https://search.maven.org/artifact/eu.openaire/funders-model

I only test it for funding, but this library supports full OpenAIRE model (even results, organizations). I don't know what 4Science it's using as a library to support OpenAIRE model on

[2021-08-18 05:43] CoolKangaroo2022 opened #3367 "Misssing Javadoc"
Hello! I find in your [Code Style Guide](https://wiki.lyrasis.org/display/DSPACE/Code+Style+Guide) that

However, I still witness some likely missing Javadoc for public methods and classes in the following files:
* dspace-rest/src/main/java/org/dspace/rest/RestIndex.java
* dspace-swordv2/src/main/java/org/dspace/sword2/VerboseDescription.java
* dspace-server-webapp/src/main/java/org/dspace/app/res

[2021-08-18 11:24] mwoodiupui commented on #3367
Good documentation is always welcome.  And much is missing, and much else could be greatly improved.  The style guide was written long after some of the code in DSpace.  And bits like the old REST API and SWORD have not received much attention since then.

Often, when I have to puzzle out what some supporting code is doing while writing a patch, I'll take a moment to put what I've learned into the

[2021-08-18 13:47] tdonohue commented on #3367
@CoolKangaroo2022 : as @mwoodiupui correctly notes, some older methods are missing JavaDocs as they were created prior to the style guide.  If you'd like to help us add missing JavaDocs, we'd welcome the contributions (just create a Pull Request for us to review).  Otherwise, we do our best to update/correct JavaDocs little by little in new PRs -- but there's no one specifically working on adding

[2021-08-20 18:56] mwoodiupui opened #3369 "o.d.core.AbstractHibernateDAO#uniqueResult has useless pagination arguments"
**Describe the bug**
The method always returns a single object or null, or throws an exception if more than one one row matches the query.  There is no need for pagination, and it's confusing and wasteful to have to fill these in wherever the method is used.  Every reference to the method is passing -1, -1 here.

[2021-08-24 11:02] benbosman commented on #3291
Hi @tdonohue , I would estimate this can be solved with 4 hours of work (ensuring the script stops when an exception occurs, is left in a clear "FAILED" state, and has tests to prove this works

[2021-08-24 13:52] tdonohue commented on #3291
@benbosman : Sounds reasonable. I've added the estimate & assigned back to you for your team to work on. Thanks!

[2021-08-24 16:49] #3053 closed

[2021-08-24 16:49] #3334 closed

[2021-08-25 20:46] ipcraiurosario opened #3372 "LDAP 401 error"
Hi!

I'm trying to set my LDAP authentication, I've already followed what the documentation says here: https://wiki.lyrasis.org/display/DSDOC7x/Authentication+Plugins#AuthenticationPlugins-LDAPAuthentication
But, now when I try to log in with my institutional user, Dspace throws this error:

`2021-08-24 09:29:15,622 INFO  org.dspace.authenticate.LDAPAuthentication @ anonymous::auth:attempting triv

[2021-08-27 11:22] parphis opened #3373 "Role inheritance during item move"
**Describe the bug**
v6.3, XMLUI & v7.4 REST API
Moving an item from a collection to another with _Inherit policies_ checked does not apply the policies of the new collection for the item.

**To Reproduce**
 1. Create a collection where the items are open to read for Anonymous.
 2. Add another collection where the _Default read access_ has a group which contains the Administrators group.
 3. Move

[2021-08-29 09:29] abollini opened #3377 "Appending a value to a not yet initialized metadata lead to a 500 error"
**Describe the bug**
This error is only reproducible by direct interaction with the REST API not using the current UI.
If you try to append a new value to a metadata that is not yet in use (i.e. append an author when there is not yet any author) the server return a 500 error.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new workspace item in a standard collection
2. Try to add an

[2021-08-29 15:00] MarisArins opened #3378 "Cannot initialize Configurable Entities DB values"
1. Install latest Dockerized DSpace7 version from angular project :
    docker-compose -p d7 -f docker/docker-compose.yml -f docker/docker-compose-rest.yml up -d
2. copy "relationship-types.xml" file from DSpace REST git project to angular project's /docker subfolder (in order to have the file in folder from which CLI command will be run)
3. Run dockerized CLI command from dspace-angular/docker :

[2021-08-30 11:05] MarisArins commented on #3378
This is not fully correct issue !
There is problem in CLI process not showing any error messages about missing file, but the process itself works.
A mistake in above scenario is to try passing configuration file from the CLI command line relative path. That does not work, as this CLI command gets executed on docker container, the config file has to be on the container itself at execution time.
Thi

[2021-08-30 11:05] #3378 closed

[2021-08-30 17:04] tdonohue commented on #3377
@abollini : I agree that it makes sense to not throw an error here, and accept an `add` PATCH request to `/-` or `/0` for a field that doesn't yet have values.  That said, this doesn't seem high priority to me (unless it is necessary for an Angular feature or similar).  So, while I've moved it to 7.1, it's flagged as `low priority` for now.  This means, if you wanted to implement as a **volunteer*

[2021-08-30 22:12] tdonohue commented on #3614
Closing as outdated. This is >5 years old & last version mentioned is 3.0

[2021-08-30 22:12] #3614 closed

[2021-08-30 22:14] tdonohue commented on #4256
Closing as outdated/obsolete.

[2021-08-30 22:14] #4256 closed

[2021-08-30 22:14] #5940 closed

[2021-08-31 14:09] tdonohue commented on #7721
Closing as "Won't fix" as BTE was removed in 7.0 & the associated PR was rejected.

[2021-08-31 14:09] #7721 closed

[2021-08-31 14:12] tdonohue commented on #7381
Closing, fixed by #2276

[2021-08-31 14:12] #7381 closed

[2021-08-31 14:15] tdonohue commented on #7902
Closing as this appears to be specific to the data on the demo site. More recent submissions don't show this behavior.

[2021-08-31 14:15] #7902 closed

[2021-08-31 17:46] #5353 closed

[2021-08-31 17:49] tdonohue commented on #3944
Closing, as this is fixed in 7.0.  Just verified on demo7.dspace.org.  Activities on JSPUI or XMLUI have stalled since 2017...but if someone wants to implement it could be done in a separate ticket.

[2021-08-31 17:49] #3944 closed

[2021-08-31 17:59] tdonohue commented on #7691
Closing as won't fix. This older REST API is deprecated in 7.x. The new REST API v7 is recommended instead

[2021-08-31 17:59] #7691 closed

[2021-08-31 19:51] tdonohue commented on #7624
Closing as this is outdated/obsolete

[2021-08-31 19:51] #7624 closed

[2021-08-31 19:53] tdonohue commented on #7832
Closing as this appears (to me) to be outdated. If it's still accurate we should update the description in a new `dspace-angular` ticket

[2021-08-31 19:53] #7832 closed

[2021-08-31 20:00] tdonohue commented on #7512
This seems outdated.  Closing, as I think most of these issues have been fixed with pagination, session timeouts, and better authorization handling.

[2021-08-31 20:00] #7512 closed

[2021-08-31 20:07] #4957 closed

[2021-08-31 20:08] tdonohue commented on #5072
Closing as obsolete. Would need recreating for 7.x

[2021-08-31 20:08] #5072 closed

[2021-08-31 20:09] tdonohue commented on #5267
@mwoodiupui : This looks to be an old ticket from you (carried over from JIRA).  Should this be closed or is it still valid?

[2021-08-31 20:12] tdonohue commented on #6075
Closing, fixed by #2710

[2021-08-31 20:12] #6075 closed

[2021-08-31 20:18] tdonohue commented on #6806
Fixed in 6.x (see #2112), but has not yet been applied to 7.x or above

[2021-08-31 20:20] tdonohue commented on #6855
Note: This is at least partially implemented in DSpace 7.0 as "scripts & processes".  Those can be kicked off in the background...but not every CLI tool is migrated to "scripts & processes"

[2021-08-31 21:16] tdonohue commented on #3372
Answered on dspace-tech: https://groups.google.com/g/dspace-tech/c/lBt-h4ZyZCQ

Closing this, as it appears to be a configuration issue. That said, if you find it's a bug in DSpace, we can reopen once more info is provided.

[2021-08-31 21:16] #3372 closed

[2021-08-31 21:36] tdonohue commented on #7920
Fixed in 6.x by #3333
Not yet ported to 7.x

[2021-08-31 21:46] tdonohue commented on #7913
Fixed by #3250

[2021-08-31 21:49] tdonohue commented on #7891
Closing, fixed by https://github.com/DSpace/dspace-replicate/pull/58

[2021-08-31 21:49] #7891 closed

[2021-08-31 21:55] tdonohue commented on #7906
Closing in favor of #6398 (converting to curation tasks).

[2021-08-31 21:55] #7906 closed

[2021-08-31 21:59] tdonohue commented on #7901
May be a duplicate of #7904?

[2021-08-31 22:15] tdonohue commented on #7851
Closing, as this was fixed in 7.0

[2021-08-31 22:15] #7851 closed

[2021-08-31 22:19] tdonohue commented on #7835
Closing as this appears to duplicate #6260 and therefore likely is fixed by #2248

[2021-08-31 22:19] #7835 closed

[2021-09-01 15:47] tdonohue commented on #4367
Closing as "won't fix".  6.x is in bug fix mode now, and this is a significant change.  That said, if anyone really wants this, see the early work in #2609

[2021-09-01 15:47] #4367 closed

[2021-09-01 17:36] tdonohue commented on #7810
Closing, this was fixed/implemented in https://github.com/DSpace/RestContract/pull/128 and https://github.com/DSpace/DSpace/pull/2792   Already exists in 7.0

[2021-09-01 17:36] #7810 closed

[2021-09-01 17:37] mwoodiupui commented on #5267
I think I submitted two Jira tickets on this idea:  [DS-1900](https://jira.lyrasis.org/browse/DS-1900) and [DS-3749](https://jira.lyrasis.org/browse/DS-3749).  It's still valid.

[2021-09-01 17:44] tdonohue commented on #7807
Closing as this ticket duplicates #6873, which was already fixed in 6.x and main.

[2021-09-01 17:44] #7807 closed

[2021-09-01 17:57] tdonohue commented on #7776
Closing, this was fixed in 6.x via #2710.  It doesn't apply to 7.x as we're now on ORCID v3

[2021-09-01 17:57] #7776 closed

[2021-09-01 18:01] tdonohue commented on #7773
Closing, as this has had no recent activity and appears to be more of a support question.  It this is a bug that still exists we can reopen at a later date.

[2021-09-01 18:01] #7773 closed

[2021-09-01 18:11] tdonohue commented on #7754
Closing, as this was noted as a temporary issue above.  We can reopen if it ever appears again

[2021-09-01 18:11] #7754 closed

[2021-09-01 18:25] tdonohue commented on #7713
This appears to be the same as #7899, so I'm closing in favor of that other issue (as it has more details on possibly why this occurs)

[2021-09-01 18:25] #7713 closed

[2021-09-01 19:40] tdonohue commented on #7636
Closing, fixed by https://github.com/DSpace/dspace-xmlui-lang/pull/40

[2021-09-01 19:40] #7636 closed

[2021-09-01 19:44] tdonohue commented on #7632
PR #2464 was closed as `won't fix` as the error was found to already be fixed.  Closing this as well

[2021-09-01 19:44] #7632 closed

[2021-09-01 19:48] tdonohue commented on #7631
Fixed in 6.x in #2463
Has a PR for 7.x in #2696
Ticket can be closed once applied to main for 7.x

[2021-09-01 19:50] tdonohue commented on #7628
Closing as this is a duplicate of #7870 (DS-4537)

[2021-09-01 19:50] #7628 closed

[2021-09-01 19:52] tdonohue commented on #7626
Closing, just checked and this is fixed in both 7.x (`main`) and 6.x (`dspace-6_x`)

[2021-09-01 19:52] #7626 closed

[2021-09-01 20:05] tdonohue commented on #7608
Haven't verified whether this bug exists in 6.x, but based on the description 7.x is not impacted as this bug has to do with the older Workflow system removed in 7.x

[2021-09-01 20:08] tdonohue commented on #7600
Closing, fixed in #2438 and #2439

[2021-09-01 20:08] #7600 closed

[2021-09-01 20:15] tdonohue commented on #7573
Closing, this appears to exist in `Utils.tokenize()` and `Utils.standardize()`.

[2021-09-01 20:15] #7573 closed

[2021-09-01 21:32] tdonohue commented on #7547
Closing, as this is outdated.  The Submission & MyDSpace pages are much easier to use in 7.0

[2021-09-01 21:32] #7547 closed

[2021-09-01 21:34] tdonohue commented on #7539
@abollini : This ticket came over from the JIRA to GitHub Issues migration.  Has this been resolved? I'm trying to understand what it's talking about as it's a bit vague.

[2021-09-01 21:40] #7523 closed

[2021-09-01 21:49] tdonohue commented on #7510
This appears to be fixed. Closing

[2021-09-01 21:49] #7510 closed

[2021-09-01 21:51] tdonohue commented on #7502
Closing as this (now deprecated) REST API works in v7 on Java 11.  However, DSpace 6 doesn't support Java 11.

[2021-09-01 21:51] #7502 closed

[2021-09-01 21:56] tdonohue commented on #7491
Closing. Setting password by CLI is coming in #3363.  In DSpace 7.0 you can also change a users password by using the "Login As" or Impersonate feature.  So, this ticket is covered by others.

[2021-09-01 21:56] #7491 closed

[2021-09-01 22:11] tdonohue commented on #7436
Closing, as this seems like an outdated discussion. However, it can be reopened/restarted at a later date as needed.

[2021-09-01 22:11] #7436 closed

[2021-09-01 22:16] tdonohue commented on #7419
Closing, replaced by #3363 and #3364 which allow for password reset from CLI

[2021-09-01 22:16] #7419 closed

[2021-09-02 12:30] mwoodiupui commented on #7523
Well, it's a DTD, not a Schema, but better than nothing.

[2021-09-02 12:50] abollini opened #7927 "Qualdrop values not play well with mandatory flag"
**Describe the bug**
If you configure a qualdrop_value input type in the submission form setting it as mandatory the REST server will comply about missing metadata preventing the possibility to deposit the item. This happen also if a value is entered for each option of the qualdrop value

**To Reproduce**
Steps to reproduce the behavior:
1. modify the submission-forms.xml setting the dc.identifier

[2021-09-02 12:52] abollini commented on #7927
It is not yet known if once solved on the REST side any changes would be required on the angular side to show the error message when really applicable.
For the REST part we estimate 8 hours

[2021-09-02 13:44] tdonohue commented on #7523
@mwoodiupui : Good point. If you want to replace with a Schema at some point, I'm OK with that. I just am trying to "cull down" the huge list of open tickets...so, in this case, a DTD serves the validation need defined in this ticket.

[2021-09-02 14:01] davidenegretti-4science opened #7928 "REST service returns wrong object for the "Anonymous" group"
**Describe the bug**
The "Anonymous" group has the "Articles" collection as linked object:
[https://api7.dspace.org/server/api/eperson/groups/f2c7eb75-aec0-4604-ab7f-6676723818ad/object](https://api7.dspace.org/server/api/eperson/groups/f2c7eb75-aec0-4604-ab7f-6676723818ad/object)
This is not true, as it's not a `COLLECTION_[uuid]_*` group.

![bug](https://user-images.githubusercontent.com/8763892

[2021-09-02 15:21] tdonohue commented on #7928
@abollini : I'm going to need your help (or someone at 4Science) in debugging this issue.  It's very odd, as obviously "Anonymous" shouldn't be associated with a Collection.  I'm not yet sure whether it is a bug in the code though, or whether it's *bad data* in the database.

Moving this over to 7.1 with `high priority` though as, if it's a bug, it's something that needs fixing quickly.

[2021-09-02 20:02] #3363 closed

[2021-09-02 21:32] tdonohue commented on #7349
Closing, per previous comment... this is "fixed" in 7.0 for now in that the behavior won't occur.

Further work in this space will be done in #2833 and #2834... so, this ticket has no purpose anymore.

[2021-09-02 21:32] #7349 closed

[2021-09-02 21:40] tdonohue commented on #7343
Closing as this was fixed by https://github.com/DSpace/DSpace/pull/2113 and duplicated DS-3945 (#7292) which is already closed

[2021-09-02 21:40] #7343 closed

[2021-09-02 21:49] tdonohue commented on #7331
Closing, as this looks to have been implemented in #2179

[2021-09-02 21:49] #7331 closed

[2021-09-02 21:59] tdonohue commented on #7321
Closing as associated PR #2165 was closed as won't fix

[2021-09-02 21:59] #7321 closed

[2021-09-02 22:05] tdonohue commented on #7316
Closing, this was fixed in #2213 and this ticket was a duplicate of DS-4019 (#7366)

[2021-09-02 22:05] #7316 closed

[2021-09-02 22:09] tdonohue commented on #7267
Closing, this was fixed in #2080, and is a duplicate of DS-3930 (#7277)

[2021-09-02 22:09] #7267 closed

[2021-09-02 22:18] tdonohue commented on #7123
Closing, fixed in https://github.com/DSpace/RestContract/pull/89

[2021-09-02 22:18] #7123 closed

[2021-09-03 14:27] tdonohue commented on #6992
First fixed in 6.4

[2021-09-03 15:11] tdonohue commented on #6915
Closing based on comments above as it was unreproducible.  Also noted that it's possible this issue was specific to old WordFilter, which is no longer the default in 7.x. The newer `PoiWordFilter` is the default.

[2021-09-03 15:11] #6915 closed

[2021-09-03 15:12] tdonohue commented on #6909
Closing, as this was noted as fixed in #1694 (which is already merged)

[2021-09-03 15:12] #6909 closed

[2021-09-03 15:19] #6992 closed

[2021-09-03 15:20] tdonohue commented on #6806
@mwoodiupui : Would you be willing to port your #2112 PR to `main` & assign to me for quick review?  That way we can close out this ticket.

[2021-09-03 15:40] tdonohue commented on #6483
This seems like a duplicate of #7020 ... and that one has a little more movement.  So, closing this in favor of #7020. That said, if other approaches come up, we can reopen this as needed.

[2021-09-03 15:40] #6483 closed

[2021-09-03 15:54] tdonohue commented on #5343
Abandoned PR #2584 for 6.x exists (it was tested & worked but submitter deleted their branch & cannot be merged).  It needs updating/resubmitting & also porting to `main`.

[2021-09-03 15:57] tdonohue commented on #5267
@mwoodiupui : In that case, closing this one in favor of #7096 (DS-3749) as that one has a PR already

[2021-09-03 15:57] #5267 closed

[2021-09-03 15:59] tdonohue commented on #3679
Will be fixed by #2364 as that's the same issue

[2021-09-03 16:03] tdonohue commented on #3367
Closing as an 'answered' question.  JavaDocs changes always recommended/accepted.  However, I don't see a need to create tickets for every place where JavaDocs is lacking (as that'll just be a ton of tickets).  No ticket necessary, just create a PR if you want to help improve JavaDocs!

[2021-09-03 16:03] #3367 closed

[2021-09-03 16:13] tdonohue commented on #3247
Closing, fixed by #3275 and #3274.

[2021-09-03 16:13] #3247 closed

[2021-09-03 16:34] alejandratenorio commented on #5343
Hi @tdonohue,

Sorry, if we restructured our repositories and our branch was deleted.
Today I am doing the PR again.

[2021-09-03 16:39] tdonohue commented on #3077
Small clarification to this ticket.  DSpace's current behavior is to only support `transient` deletions, per the OAI spec: https://www.openarchives.org/OAI/openarchivesprotocol.html#DeletedRecords

So, this ticket is proposing a change to `persistent` deletions. That'd require a new feature, as that status would imply some sort of deletion "tombstone" would need to exist in the OAI-PMH response fo

[2021-09-03 16:40] tdonohue commented on #3035
Loosely related to #3055 as well

[2021-09-03 16:45] tdonohue commented on #2852
Related to #6807

[2021-09-03 16:48] tdonohue commented on #5343
Thanks @alejandratenorio !  Please link it up to this ticket as we'd like to see if we can get this fixed *both* in 6.x (`dspace-6_x` branch) and in 7.x (`main` branch).

[2021-09-03 19:03] tdonohue commented on #7238
Closing, fixed by #2558

[2021-09-03 19:03] #7238 closed

[2021-09-03 19:12] tdonohue commented on #7548
Closing, fixed by #2490

[2021-09-03 19:12] #7548 closed

[2021-09-03 19:46] tdonohue commented on #7268
This issue is already fixed in 7.0.  Administrators can delete workflow items.

So, this ticket only refers to 6.x and below

[2021-09-03 20:12] tdonohue commented on #7323
Closing, fixed by #2161

[2021-09-03 20:12] #7323 closed

[2021-09-03 20:17] tdonohue commented on #3263
Backported to 6.x in #2124

[2021-09-03 21:00] tdonohue commented on #7072
Closing, fixed in 6.x by #2662.  Was NOT ported to 7.x as it doesn't work there and isn't necessary.

[2021-09-03 21:00] #7072 closed

[2021-09-03 21:51] tdonohue commented on #7701
Fixed in #2250 in 6.4

[2021-09-03 21:51] #7701 closed

[2021-09-03 21:54] tdonohue commented on #7668
Closing, fixed in 6.4 by #2493

[2021-09-03 21:54] #7668 closed

[2021-09-04 06:35] #7855 closed

[2021-09-07 10:30] dinshi17 opened #7932 "Batch update returned unexpected row count from update"
How to fix the "batch update returned unexpected row count from update" error at Dspace.

[2021-09-07 13:55] tdonohue commented on #7932
@dinshi17 :  We'd need more information on how to reproduce this error, along with any errors that may appear in the logs.  See https://wiki.lyrasis.org/display/DSPACE/Troubleshoot+an+error  You also have not provided the version of DSpace you are using, etc.

Without more information about how you encountered this error & the version of DSpace you are using, this is not possible to solve.

[2021-09-07 14:51] mwoodiupui commented on #6806
Is there some reason why we don't just ask the submitter to fix the conflicts in #2121?

[2021-09-07 15:50] tdonohue commented on #6806
@mwoodiupui : I didn't notice that existing port! I'll ask on that first....and see if we can get an update

[2021-09-07 16:39] #3369 closed

[2021-09-07 16:44] tdonohue commented on #7920
Closing. Fixed on main in #7931

[2021-09-07 16:44] #7920 closed

[2021-09-07 17:56] #3326 closed

[2021-09-07 21:49] tdonohue commented on #7913
Fixed by #3250

[2021-09-07 21:49] #7913 closed

[2021-09-08 06:29] dinshi17 commented on #7932
Hi, Thanks for the quick response, We use Dspace 6, and this happened while we were uploading papers in to a folder.
It will display "Batch update returned unexpected row count from update"
It is not possible to erase some folders. Actually we are revamping the structure of the dspace these days.

[2021-09-08 13:49] tdonohue commented on #7932
Hi @dinshi17 : When reporting a bug, we need you to provide more information about how to reproduce the bug. If we cannot reproduce the bug, we won't be able to easily fix it.  Unfortunately, the information you've provided is still too vague for us to reproduce this bug.  A few questions include:

* What version of DSpace 6 are you using?  6.1? 6.2? 6.3?
* What exact command were you running when

[2021-09-08 16:21] mwoodiupui opened #7935 "Test log4j.properties should be log4j2-test.xml"
**Describe the bug**
We have a logging configuration for testing, but it is for Log4J v1 and we now use v2, which looks for different files.

**Expected behavior**
Log4J2 configured as we wish.

We need to convert this file to Log4J v2 format and rename it so that it is picked up and causes logging to `target/{surefire,failsafe}-reports/*-output.txt`

[2021-09-08 17:35] tdonohue commented on #7594
Closing, fixed by #2918.  See also comments in #2434

[2021-09-08 17:35] #7594 closed

[2021-09-08 20:47] tdonohue commented on #7345
Closing as "won't fix".  Unable to reproduce the issue...see comments on #2194

[2021-09-08 20:47] #7345 closed

[2021-09-09 15:06] mwoodiupui commented on #7671
I found a few more references and removed them.
It appears that I missed the OAI indexer's `-o` option when removing the feature.  I left that mention intact but added "no longer recommended."

[2021-09-09 15:09] mwoodiupui opened #7936 "Remove -o ("optimize") option from 'dspace oai'"
**Describe the bug**
The Solr maintainers now recommend against "optimizing" cores.  We should remove this option from `dspace oai`.  I missed this one when removing other instances of core optimization.

**Expected behavior**
Do not offer deprecated operations on Solr cores.

[2021-09-09 16:05] tdonohue commented on #2844
Updated this ticket to note that this feature is for *basic Items only*.  As discussed in today's meeting, Item Versioning for Entities needs more discussion/work to fully support...this will be implemented as a separate feature _(tickets coming soon)_

[2021-09-09 16:14] tdonohue opened #7937 "Create a new Version of Entities"
In #2844, we supported basic Item Versioning (similar to 6.x) in 7.x.

However, this feature does not fully support Configurable Entities (which are special types of Items). Ideally, this feature should allow for Versioning to work more seamlessly for Configurable Entities.  The Item versioning in #2844 would work at a basic level for Entities (as they are Items), but it ignores existing Relations

[2021-09-09 20:04] tdonohue commented on #3679
Closing, fixed by #2364

[2021-09-09 20:04] #3679 closed

[2021-09-09 21:01] tdonohue commented on #7345
Disregard previous comment. This turned out to be reproducible after all. Keeping closed though, as it was just fixed by #7940

[2021-09-09 21:04] #7895 closed

[2021-09-09 21:05] tdonohue commented on #7895
Also merged to 6.x in #3080

[2021-09-09 21:17] tdonohue commented on #7671
@mwoodiupui : To clarify, should this ticket be closed now?  Based on your description, it sounds like all the work is complete *except* for what you've documented in #7936

[2021-09-09 21:18] tdonohue commented on #7936
Agreed, this needs removal.  I'm pulling this into our board, but it's `low priority` for now.  That said, if anyone has time to do this sooner, I'd welcome a PR earlier.

[2021-09-13 19:25] #7881 closed

[2021-09-14 13:53] tdonohue commented on #7922
Fixed by #3350

[2021-09-14 13:53] #7922 closed

[2021-09-14 23:35] kshepherd opened #7943 "DefaultVersionProvider does not handle FilteredIdentifierProvider exceptions properly"
**Describe the bug**
In the logical item filtering feature introduced and implemented for `DOIIdentifierProvider` (and abstract `FilteredIdentifierProvider`), an exception `IdentifierNotApplicableException` is thrown when the filter determines that an identifier can not be minted, reserved or registered.

The `DefaultVersionProvider` re-throws all `IdentifierException` exceptions as `RuntimeExcept

[2021-09-15 12:24] paulo-graca opened #7944 "External Source Entry ID should be more flexible?"
**Describe the bug**
 to obtain an entry value ([single entry](https://github.com/DSpace/RestContract/blob/main/external-authority-sources.md#single-entry)), you should provide an **entry id**, like:

[code]

to me that `entry id` could be any alphanumeric string, but can also be an URL, URN or URI (something that univocally differentiates that entry within the source context). The issue it's that

[2021-09-15 14:10] paulo-graca commented on #7944
I think a possible solution for it could be base64 encoding and decoding when setting and getting IDs

[code]

[2021-09-15 15:04] tdonohue commented on #7943
@kshepherd : Is this something we can fix in 7.1 (since we've already included #2789 there)?  It sounds like you have a good idea of where the problem is and how to solve it, so are you planning to create a PR?   7.1 also will include Item Versioning (see backend work in #3371), so it seems like this bug may be encountered in 7.1 if we don't fix it beforehand.

[2021-09-15 15:21] tdonohue commented on #7944
@paulo-graca : I definitely understand how this might be an improvement conceptually.  However, do you have any examples of where an entry ID _would often not be an alphanumeric string_?

The reason I ask is that, in each External Source Provider instance, we get to essentially "choose" what to return as the Entry ID (as long as we know it's a unique way to lookup that Entry later with the same pr

[2021-09-16 13:33] alanorth opened #7946 "DSpace 6.x REST API /registries/schema endpoint incorrectly handles fields without qualifiers"
**Describe the bug**
The [DSpace 6.x REST API](https://wiki.lyrasis.org/display/DSDOC6x/REST+API) has an endpoint that allows you to get information about metadata fields in the registry. DSpace does not handle metadata fields without qualifiers properly, for example `dc.title` or `dc.contributor`, and returns HTTP 500 to the user. It logs the following to `dspace.log`:

[code]

These fields obvio

[2021-09-17 15:54] paulo-graca commented on #7944
I choose to use the ORCID example to better explain the error. A real occurrence of this issue it's with OpenAIRE project identifier using OpenAIRE 3.0 Guidelines - https://guidelines.openaire.eu/en/latest/literature/field_projectid.html or with any other identifier that needs to be escaped from the URL.
I found this issue when developing OpenAIRE tests and didn't understand why didn't fail earlie

[2021-09-17 21:51] tdonohue commented on #7499
Closing, fixed by #2339

[2021-09-17 21:51] #7499 closed

[2021-09-22 09:08] f-rapp opened #7953 "Hint not visible in the UI for fields with input-type qualdrop_value"
**DSpace 7**
The hint for a field with input-type qualdrop_value is not visibile in the UI, even though there is a hint for that field in submission-forms.xml.

**To Reproduce**
Steps to reproduce the behavior:
1. Log into DSpace 7 Demo and start a new submission. Look for a field which has input-type qualdrop_value, e.g. the field below.
![grafik](https://user-images.githubusercontent.com/6726699

[2021-09-22 14:18] tdonohue commented on #7953
Thanks @f-rapp for reporting. Moving this to the UI project (dspace-angular), as this sounds like a UI bug to me.

[2021-09-22 15:29] tdonohue commented on #7660
Closing, as this appears to be fixed by #2522 (and related work)

[2021-09-22 15:29] #7660 closed

[2021-09-22 19:26] #3061 closed

[2021-09-22 21:13] bbranan opened #7956 "Curation tasks in 7.0 are limited to objects currently in the repository"
**Describe the bug**

When executing a curation task in DSpace 7.0 (either via the command line or the UI) the Handle parameter (-i on the command line) expects the Handle provided to point to a resource that can be found in the repository. This makes it impossible to run a curation task like restorefromaip ("Restore Missing Object(s) from AIP(s)") in the Replication Task Suite, as by definition t

[2021-09-23 07:39] S-Eiberger opened #7957 "Scope element for steps in item-submission.xml does not work as described in the documentation"
**Describe the bug**
**Dspace7**
The scope element for steps in item-submission.xml does not work as described / expected:
https://wiki.lyrasis.org/display/DSDOC7x/Submission+User+Interface#SubmissionUserInterface-Structureofthe%3Cstep-definition%3Etag

**To Reproduce**
Modify the step traditionalpageone as follows:
`<step-definition id="traditionalpageone">
<heading>submit.progressbar.describe.st

[2021-09-23 09:51] jvribell opened #7958 "oracle migration errors"
### **Environment:**
	DSpace5.8
	Centos 7
	Apache Tomcat/8.0.36
	Oracle Database 11g Enterprise Edition Release 11.2.0.4.0

I tried to migrate our DSpace to version 7 from version 5 But it ended with a fatal error ,so I tried to run the scripts that fail by hand until the migration was finished

This is the list of scripts that fail me with the adopted solution:

**File:**
V6.0_2016.04.04__DS-3086

[2021-09-23 13:52] tdonohue commented on #7958
@jvribell : Thanks for the ticket here describing some possible fixes.  Would you be interested/able to possibly create a Pull Request for us with the fixes you are recommending?  If not, I'll see if I can find someone to create it on your behalf.

[2021-09-23 23:16] TanyaHolm opened #7959 "Azure Active Directory (Shibboleth) user can change their password and login as local DSpace user using their new password"
**Description of bug**
Issue is in DSpace7 (unknown if present in previous versions). The issue is on our UAT test instance (we are going live with DSpace7 in Dec 2021 and have not used DSpace before).
We successfully configured authentication with Azure Active Directory (AD) but one requirement of the university is not met, i.e. that AD users must not be able to change their password on DSpace. A

[2021-09-24 07:24] corrad82-4s opened #7960 "RelationshipType embedding not working"
**Describe the bug**
When we try to query rest services for an item relations, with embedding of their relationshipTypes, types are not embedded.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as an administrator to the HAL browser
2. Call an item relations endpoint, requesting embedding of relationshipType, for example https://api7.dspace.org/server/api/core/items/c1162101-aae3-4de2-

[2021-09-24 08:00] f-rapp opened #7961 "Search function in sidebar menu "Edit" => "Metadata" does not consider user rights"
**Describe the bug**
**DSpace 7**
When a user clicks  "Edit" => "Metadata" in the sidebar menu they get a list of items to search. However, the search function also lists items which the user is not allowed to edit.
When the user clicks on such an item he receives the following message:
![grafik](https://user-images.githubusercontent.com/67266996/134637972-12ea5621-f623-407b-9f1f-83153df20a3b.png)

[2021-09-24 08:04] jvribell commented on #7958
I will try to create a pull request for the easy ones.

The first bug is already being discussed in #7873

Regarding the last one I propose to change the type of the copy_to_left column to NUMBER(1) like other existing boolean columns (in_archive column in the ITEM table for example). I think hibernate is able to do the appropriate conversions, but a DSpace source code review would be necessary.

[2021-09-24 14:44] tdonohue commented on #7960
@corrad82-4s : Thanks for continuing to report & offering to fix small errors/bugs in v7.  This sounds good as well. Assigning back to your team to work on.

[2021-09-24 15:23] tdonohue commented on #7932
Closing as this is missing step-by-step information on how to reproduce in 6.x.  I've not been able to figure out where this might occur & it's possible it might have been a configuration issue or similar.  If further info is provided this can always be reopened at a later date.

[2021-09-24 15:23] #7932 closed

[2021-09-24 16:42] tdonohue commented on #3317
I've tried reproducing this today, and I *can* reproduce it locally using a data set of ~400 items.  It seems to NOT be related to pagination, as the duplicate items are never at the top or bottom of a page.  But, using @tysonlt 's sample PHP script, I found the **same item** (identical UUID & metadata) in my repository is listed as the 18th item on page 2 and the 4th item on page 3 of the `/api/c

[2021-09-24 20:20] tdonohue commented on #3317
@tysonlt : I was able to fix this issue in #7963 & verified the fix using your sample PHP code.  Would you have any availability to help test #7963?  As that'd help us ensure we can get this fix applied in 7.1

[2021-09-27 07:39] pongtawat opened #7964 "DSpace 6.x: Cannot send email to TLSv1.2+ only servers"
**Describe the bug**
DSpace 6.x and lower cannot send email to mail server that only support TLSv1.2 and higher.

This is due to DSpace 6.x using JavaMail 1.4 which do not support TLSv1.2. Google search say that upgrade to JavaMail 1.6 will fix this problem.

**To Reproduce**
Steps to reproduce the behavior:
1. Set mail.server to SMTP server that only support TLSv1.2 and up.
2. Try dspace test-ema

[2021-09-27 10:42] f-rapp opened #7965 "Switching submission collection during workflow does not work"
**Describe the bug**
Switching the submission collection during workflow does not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as administrator.
2. Take a task from the task pool and try to change the collection.
3. ![grafik](https://user-images.githubusercontent.com/67266996/134893529-4ee3c7b8-df10-463f-a954-78c5335a158c.png)

**Expected behavior**
The workflow item should ch

[2021-09-27 16:19] tdonohue commented on #7964
Verified that currently we are running JavaMail (javax.mail) version 1.4.7 on both 6.x and 7.x. See parent POM in both which has this:
[code]

Upgrading may be as simple as just changing this dependency to the latest version...haven't tried it yet myself though

[2021-09-28 11:29] MarieVerdonck opened #7966 "Duplicate resource policies on bitstreams (embargo) during submission if more than one UploadConfiguration defined"
**Describe the bug**
When you define an additional bean of type `UploadConfiguration` and add it to the list of optional upload configs in the `UploadConfigurationService`  [here](https://github.com/DSpace/DSpace/blob/main/dspace/config/spring/api/access-conditions.xml#L59) (for example a new uploadConfig where  the required is set to false so you can have required upload for some submission forms