[2022-07-11 11:08] corrad82-4s opened #8397 "Current cover page generation logic loads whole bitstream"
**Describe the bug**
Non properly a bug, but a scenario we think could be worth some further comments.
During pdf cover page generation, original bitstream is loaded in memory and then cover pdf page is attached.
In case of large-sized files or peak of requests of files with cover pages, the usage of the in memory load could lead to performance issues.
It could be worth seek a solution avoiding fu

[2022-07-11 13:43] tdonohue commented on #8397
Agreed this is a bug. Flagging as low priority for now though, as I'm not sure how many people even use this feature (it's recommended to leave it disabled for SEO purposes)

[2022-07-13 13:09] vins01-4science opened #8401 "Support handle identifier attribute in StructBuilder"
**Problem**
As of now is impossible to import items with identifier tag (it will be ignored) inside the StructBuilder, this attribute is indicates the handle identifier of the item.

**Solution**
Add a new arg param that will be used inside the StructBuilder to ignore / or do not ignore target attributes.
An xpath selector restricted to attributes will be nice, as it will be extensible and quite s

[2022-07-13 21:13] #8360 closed

[2022-07-13 21:37] #8365 closed

[2022-07-14 07:28] philipprumpf opened #8403 "Old jbibtex library breaks for identifiers starting with dot"
**Describe the bug**
When performing a BibTeX import, identifiers starting with a dot are not recognized. This was seen on DSpace CRIS 7.2 but should be a problem generally as jbibtex is in the old version (1.0.10 instead of the current 1.0.20) in both systems.

**To Reproduce**
Import a BibTeX file using an identifier starting with a period "." as generated by Citavi.

**Expected behavior**
Impor

[2022-07-14 07:41] philipprumpf commented on #8403
[Lit_test.bib.txt](https://github.com/DSpace/DSpace/files/9109630/Lit_test.bib.txt)

Example file that produces the error.

[2022-07-14 18:19] mwoodiupui opened #8405 "Different implementations of "special group" mapping should be factored (and redesigned?)"
**Describe the bug**
Most of DSpace's authentication providers implement a mapping from some property of a session to DSpace groups.  Each is configured differently, and each configuration is cumbersome.  We may be able to consolidate the code for handling these mappings.  We should be able to make the mappings easier to understand and configure.

**Expected behavior**
- If possible, session-speci

[2022-07-14 19:27] mwoodiupui opened #8406 "Implement role mapping for OIDC login"
**Is your feature request related to a problem? Please describe.**
The OIDC authentication provider does not offer mapping from user roles into DSpace groups as other providers do.

**Describe the solution you'd like**
The OIDC provider should implement role mapping so that DSpace can take advantage of centrally-managed authorization when using OIDC.

**Additional context**
Related to #8405.  This

[2022-07-15 21:45] alawvt opened #8408 "In Advanced Search, list collections alphabetically"
**Describe the bug**

In DSpace 6.3 XMLUI, in Advanced Search, e.g. https://demo.dspace.org/xmlui/discover, the top level communities are listed alphabetically.
<img width="1068" alt="DSpace6 3_advanced_search_collection_dropdown" src="https://user-images.githubusercontent.com/13037168/179315141-09852c66-6706-4d69-9f9d-0d916899df6f.png">

In DSpace 7.3, in Advanced Search, e.g.https://demo7.dspace

[2022-07-18 21:13] alawvt opened #8412 "In Submission Form, list collections alphabetically"
**Describe the bug**
In DSpace 6.3 XMLUI, in the submission form, e.g. https://demo.dspace.org/xmlui/submit, the collections are listed alphabetically starting with the top-level community.
<img width="1172" alt="DSpace6_submission_collection_list" src="https://user-images.githubusercontent.com/13037168/179617903-1d6d7563-d900-4370-aa8c-d7e9cfec879a.png">
In DSpace 7.3, in  the submission form, e.

[2022-07-19 11:24] abollini opened #8413 "Update Google Analytics to version 4"
**Describe the bug**
Google Universal (GA 3) is deprecated and will be dropped by Google by July 2023. Moreover GA3 has been reported as to be NOT GDPR compliant, complains and discussions around GA4 are also ongoing in several country but it looks clear that at least usage of the latest version is required. DSpace still use GA3 both on the angular side, via the analytics.js than on the backend to

[2022-07-19 11:28] abollini opened #8414 "Support for other Analytics service is required to be GDPR compliant"
Due to the controversial use of GA also in version 4 many institution in Europe are looking for different alternative including self hosted analytics service. The most common used alternative both in case of self-hosting than in case of managed European services is Matomo an open source platform. We should add support for it in a similar way to what is currently provided for google analytics.

We

[2022-07-19 14:33] tdonohue commented on #8413
@abollini : This looks good & seems reasonable for 7.4.  This was already mentioned in https://github.com/DSpace/dspace-angular/issues/1672... but, I'll just link these two tickets together (as one is a frontend ticket & one is a backend one).

[2022-07-20 09:05] corrad82-4s opened #8416 "Multiple objects and authorization features endpoint does not support pagination"
**Describe the bug**
Endpoint `/authorizations/objects` is not correctly handling pagination

**To Reproduce**
Steps to reproduce the behavior:
1. Call `/authorizations/objects` with page=1 and size = 1 parameters
2. Response will contain pagination information with page=0 and size = 20

**Expected behavior**
Response paginated as required, when pagination information is sent in rest request

We (

[2022-07-20 14:53] tdonohue commented on #8416
I agree this is worth addressing... however it's unclear to me if this has impact on the UI, or if it's REST API only.  If it's REST API only, then I'd rank this as `medium priority`.  If it impacts UI behavior in some manner, then it likely would be bumped to `high priority`.  In any case, I'll add the estimate & pull it over to the 7.4 board.  But, I'm flagged as `medium priority` for now, as I

[2022-07-20 15:09] tdonohue commented on #8405
I support this idea of refactoring "special group" logic in authentication plugins to be more "shared code".  But, I'm not sure how to make this actionable yet... so, I've flagged as "needs discussion" for now.

[2022-07-21 11:58] mwoodiupui commented on #8405
[tangent] If the eventual changes in configuration are significant enough, it would be an opportunity to replace the IMHO misleading term "special groups."  There's nothing special about these groups; what's unusual is how membership is reckoned.  I confess that I haven't thought of a compelling replacement.  But people do get confused about the ephemeral nature of "special group" membership.

I'm

[2022-07-21 13:55] tdonohue commented on #8405
@mwoodiupui : Per your tangent, I've often wondered myself if "special groups" should be renamed something like "session-based groups" or something similar.  That'd at least be more accurate, as your membership to that group is only for your current "session". (I do agree that the term "special groups" has no purposeful meaning)

[2022-07-21 21:08] kshepherd commented on #8405
Thoughts on names:  The important aspects are that these Group memberships are assigned based on data inspected at login, and are ephemeral / session-based - I've seen people get confused in the past about why they can't see those memberships for a user that is logged out.
"Session-based" could help with that latter aspect, and maybe the first? "Dynamic" was my thought for the first but doesn't ma

[2022-07-21 21:36] alawvt opened #8418 "In Date facet, start date option should adjust with slider"
**Describe the bug**
In the date facet, as one adjusts the date slider or enters the start and end dates, the options below adjust for the end date but not the start date.
Example
1. Start at https://demo7.dspace.org/search,
<img width="262" alt="DateFacet_start" src="https://user-images.githubusercontent.com/13037168/180316595-efd8baa4-56d0-42b8-9527-6ef1dccef6bf.png">

2. Pick Start=1997; End=20

[2022-07-22 10:30] vins01-4science opened #8419 "Workflow's steps doesn't preserve order"
**Description**
Inside the file `workflow.xml` we can configure a workflow and its steps.
When the steps are configured properly we expect them to be ordered in the same way as they are defined.
However, if you list all the collections `https://{dspace-server}:{dspace-server-port}/server/api/core/collections/`, you'll notice that some, or possibly all of them, doesn't respect the configuration fil

[2022-07-22 13:44] abollini commented on #2842
@tdonohue should this go in 7.4? we confirm the estimation and we would like to claim the task.
This is similar but not the same than https://github.com/DSpace/dspace-angular/issues/774 and can be done together maybe saving some time

[2022-07-22 13:51] abollini commented on #2881
just a note for the 7.5, the estimation should be corrected and set to 48 hours. Since 2 years ago the signposting protocol has released new recommendation that requires the creation of additional endpoints (and test) to deal with scenarios with a large number of header links

[2022-07-22 14:07] abollini commented on #8150
@tdonohue  according to my comment https://github.com/DSpace/DSpace/issues/8150#issuecomment-1111469840 and the decision to focus the 7.4 mainly on bug fixing / stabilization I suggest to move this to 7.5. The estimation for this task need to be provided but it will be higher

[2022-07-22 14:09] abollini commented on #2870
just a note for 7.5, our estimation for this task on the backend is 48 hours

[2022-07-22 14:35] tdonohue commented on #8418
@alawvt : I think this might be a duplicate of https://github.com/DSpace/dspace-angular/issues/1723   We recently discovered these date facets don't work properly for any date *prior to 1950*.

I'll link this ticket up to that one, as I *suspect* the same bug is behind both tickets so they might be solvable together.

[2022-07-22 14:48] tdonohue commented on #8150
@abollini : Sounds fine, I'll move this to 7.5 and change the estimate to TBD (to be decided).  You can re-estimate when we start 7.5

[2022-07-22 14:53] tdonohue commented on #2842
Yes, this can go into 7.4 alongside, as my assumption is it's mostly implemented in https://github.com/DSpace/DSpace/pull/8318 already (it might even be entirely implemented in that PR, assuming that PR can export from a Community UUID)

[2022-07-22 14:53] abollini commented on #8255
hi @tdonohue we are working on that, can you assign it to @corrad82-4s  estimation was already provided (previous comment)

[2022-07-22 14:56] tdonohue commented on #8255
@abollini : Sounds good, I'll update the estimate and assignment.

[2022-07-22 15:45] vins01-4science commented on #8419
We at @4science are interested to work on this issue.
The extimated resolution time is in 4-8h.

[2022-07-22 15:49] abollini commented on #8121
It is not the same issue, here the issue is on the REST side it is not related to authorisation permission. Our estimation is 4 hours

[2022-07-22 15:52] abollini commented on #8256
@tdonohue please assign to us it should take 2 hours

[2022-07-22 16:36] tdonohue commented on #8419
@vins01-4science : Sounds good, I'll assign this back to you for 7.4 and add the estimate.

[2022-07-25 09:10] vins01-4science commented on #8419
Here is the [linked PR](https://github.com/DSpace/DSpace/pull/8422)

[2022-07-26 17:46] alawvt opened #8425 "Process page: Separate output file links"
**Describe the bug**
In DSpace 7, metadata export leads to a process page, e.g. https://demo7.dspace.org/processes/190, with links to the Output csv and log files. The links are run together as shown in this screenshot with Firefox.

<img width="1320" alt="DSpace7_process_metadata-export-search" src="https://user-images.githubusercontent.com/13037168/181075286-acc8e683-4b1d-4b3e-b178-bae546cb9ac7.

[2022-07-26 19:01] alawvt opened #8426 "Display Search Facets on all Home, Community, and Collection pages"
**Is your feature request related to a problem? Please describe.**
In DSpace 6 XMLUI, search facets are displayed on all Home, Community, and Collection pages. Please enable this in DSpace 7. This will allow users to immediately browse and search the repository and collections. This will maintain the experience and functionality our users have come to expect.

**Describe the solution you'd like**

[2022-07-26 19:47] alawvt opened #8427 "Make Browse results searches and/or add "All" to Search Facet options"
**Is your feature request related to a problem? Please describe.**

In DSpace 6 XMLUI, in the Facets, "View More" takes one to an alphabetical list of all the values for that facet. Since they are searches, clicking on one leads to a list of items that can be exported as a CSV. Administering a large repository, we use CSV exports all the time to download, correct, and upload metadata. We also use

[2022-07-26 20:48] alawvt opened #8428 "Support Search Facet customizations per Community or Collection"
**Is your feature request related to a problem? Please describe.**
In DSpace 5 and 6 XMLUI one can specify facet and search filters per community or collection. This is especially useful for collections with unique metadata such as patents (inventor, patent classifications, etc.) and theses (e.g. Advisor, degree, etc.). Examples of these in VTechWorks are https://vtechworks.lib.vt.edu/handle/10919

[2022-07-26 21:03] alawvt opened #8429 "Search Facet: Increase the number of options displayed with each "Show more" click"
**Is your feature request related to a problem? Please describe.**
In DSpace 7 Search Facets, each click of "Show more"  adds 5 more options to the list. In comparison, WorldCat.org facets start with 5 options and each click increases from 5 to 25 to 50 to 75 to 100 options, e.g. https://www.worldcat.org/search?q=dspace&qt=owc_search. Both DSpace 7 and WorldCat facet options are sorted in descendi

[2022-07-26 21:43] tdonohue commented on #3305
Closing, fixed in 7.1 See #2248

[2022-07-26 21:43] #3305 closed

[2022-07-26 21:45] tdonohue commented on #7391
Closing, fixed in 6.0

[2022-07-26 21:45] #7391 closed

[2022-07-26 22:11] #7631 closed

[2022-07-27 19:37] #8376 closed

[2022-07-27 19:41] alawvt opened #8431 "Provide an Advanced Search page with Boolean options"
**Is your feature request related to a problem? Please describe.**
Getting the Search Facets working well, etc. is higher priority but after that, an Advanced Search interface is necessary to provide thorough search functionality. I would compare it to the functionality of Advanced Search in DSpace 6 XMLUI and WorldCat.org.

DSpace 6 XMLUI Advanced Search, https://vtechworks.lib.vt.edu/discover
<i

[2022-07-27 19:53] tdonohue commented on #8431
@alawvt : Just a quick note regarding this feature.

Advanced boolean options are already supported in the DSpace 7 search function.  Boolean keywords can be used, and you can also specify to search within specific fields by name.  Some examples:

* Searching: `test AND power` will return results with both these words in them. E.g. https://demo7.dspace.org/search?query=test%20AND%20power
* Searchi

[2022-07-27 20:30] alawvt commented on #8431
@tdonohue, thank you for the information about the current Boolean search capabilities in DSpace 7 which I have added to the stub page, "Search" in the Learning DSpace section, https://wiki.lyrasis.org/display/DSDOC7x/Search. A dedicated advance search interface would avoid the user having to know and (mis)type field names. It would also allow us to configure fields so "author" includes dc.creator

[2022-07-27 20:30] kshepherd opened #8432 "Bring dspace-oai Spring configuration / service handling in line with other modules"
While trying to find a good way to use a mock OAI Solr core for integration testing, I realised how differently the dspace-oai module uses spring compared to other modules. Something that seemed like it should be relatively simple (define a mock OAI solr core/service in solr-services.xml which will be autowired in place of the usual http service) ended up getting quite tricky to pull apart and pla

[2022-07-28 07:42] toniprieto opened #8434 "Browse by title filter doesn't work with diacritics"
**Describe the bug**
In DSpace 7.3 the behavior of startsWith param of the browse by title index has been change to work as a filter instead of "Jump to value". This change makes more evident a problem when filtering accented titles, when an user searches for titles that contains diacritics some titles are not returned.

**To Reproduce**
Steps to reproduce the behavior:
1. Publish an item with an

[2022-07-28 14:02] mwoodiupui commented on #8431
Actually, building UI for the general case could be challenging.  It really wants a cut-down *visual programming language* implementing only expressions.  Unless we want users to transform their Boolean queries into Łukasiewicz notation, which could be represented by a simple list of operators and operands.  The DSpace 6 "advanced" search form shown above is actually *less* expressive than what DS

[2022-07-28 14:15] alawvt commented on #8431
Thanks, @mwoodiupui, for the comment. The Boolean search functionality is already there. A search interface would make that capability apparent and much more convenient. We have used the customizations in XMLUI to add advanced search filters and have been satisfied with that approach.

[2022-07-28 15:02] #7640 closed

[2022-07-28 15:43] tdonohue commented on #8428
@kshepherd : I honestly don't know whether this works in DSpace 7 yet (or not).  So, it's possible it works but isn't fully documented yet.

So, the first task in this ticket is to determine if there's a way to already do this in DSpace 7 (and if so, to document it). I haven't had a chance to test that out yet, but you've found a clue that *implies* it might work: https://github.com/DSpace/DSpace/

[2022-07-29 13:56] tdonohue commented on #8143
Closing as this was fixed in 6.4

[2022-07-29 13:56] #8143 closed

[2022-07-29 15:09] Ma-Tador opened #8436 "ORCID Authority - Unable to locate bean by name or id=AuthoritySource"
**Describe the bug**
After following the steps described in the documentatin ([https://wiki.lyrasis.org/display/DSDOC7x/orcid+authority]), and test the ORCID Authority in the Form, I get the following WARN (though seems like an exception):

[code]

PS: after uncommented in config/spring/api/orcid-authority-services.xml
[code]
I get the following error:
[code]

Is something missing in the documenta

[2022-07-29 20:54] mwoodiupui opened #8437 "Solr search core initialization is fragile"
**Describe the bug**
If `discovery.search.server` is incorrect, `org.dspace.discovery.SolrSearchCore#initSolr` just logs an error but leaves the class uninitialized, causing obscure errors later.  At time of writing, it causes the server Context to fail to start.  This is because the SolrClient reference held by the class is still null.

**To Reproduce**
Steps to reproduce the behavior:
1. Set `di

[2022-08-01 18:43] #7629 closed

[2022-08-01 22:39] kshepherd commented on #8143
@Braxvang Apologies for the late reply to you here. The way to avoid the 'old' log4j or slf4j dependencies from creeping in via 3rd party maven artifacts is to configure exclusions for them, similar to the exclusions already in place in pom.xml:

In the `<dependency>` node for the particular artifact that is bringing in log4j (if you don't know, there's no harm just excluding from all of your 3rd

[2022-08-02 15:21] Braxvang commented on #8143
@kshepherd Thanks for the reply!  I did end up just going back and cleaning all those up by hand (after trying to exclude them) with no adverse effects, so I could definitely see a 'clean' step working here.

Thank you for the suggestions!

[2022-08-02 15:23] tdonohue commented on #8437
@mwoodiupui : I agree that maybe we just need a better exception here... perhaps simply logging that `discovery.search.server` seems to be invalid? (or something similar).

I'll pull this over to the 7.4 board, as it seems like a small, quick fix is all we may need.

[2022-08-02 16:29] tdonohue commented on #8320
Initial PR #8321 was merged into 7.4

[2022-08-02 16:31] #8419 closed

[2022-08-03 14:04] KevinVdV opened #8440 "Curation tasks don't provide any output on the task they performed"
**Describe the bug**
When you run a curation task the output log will only contain output like:

The rest of the output ends up in the log files.

**To Reproduce**
Steps to reproduce the behavior:
1. Go the admin curation workflow
2. Start any curation task were you expect some output (checklinks for example)
3. Wait for it to finish & view the output
4. It will only contain lines similar to the o

[2022-08-03 14:25] KevinVdV commented on #8440
The fix itself should be fairly simple, in theory it just boils down to changing the log.info on the following places:
* https://github.com/DSpace/DSpace/blob/main/dspace-api/src/main/java/org/dspace/curate/Curator.java#L549
* https://github.com/DSpace/DSpace/blob/main/dspace-api/src/main/java/org/dspace/curate/Curator.java#L565

We should also log the system.out calls in the output, just search f

[2022-08-03 14:35] tdonohue commented on #8440
@KevinVdV : This looks to be a duplicate of https://github.com/DSpace/dspace-angular/issues/1322...and the 4Science team is already working on fixing this in 7.4.

Closing this ticket as a duplicate of https://github.com/DSpace/dspace-angular/issues/1322. I'll copy your notes over to the existing ticket for the 4Science team to see.

[2022-08-03 14:35] #8440 closed

[2022-08-03 14:57] mwoodiupui opened #8441 "Upgrade Checkstyle and review the rule set?"
Checkstyle is at v10.3.2 at time of writing.  DSpace still uses v8.30.  Perhaps it is time to upgrade?

The configuration DTD has changed, so some configuration repairs will be needed.  We may wish to review the rule set while doing so.  There are rules which are disabled due to the volume of style violations in older code, but the problem may be less now, or perhaps it is time to bite the bullet

[2022-08-04 10:53] jonas-atmire opened #8442 "Entities can't be upgraded/migrated in bulk"
**Is your feature request related to a problem? Please describe.**
The DSpace 7 codebase has quite a lot of assumptions about entities if they are used.
Because of that, there are a few problems that can arise:
* When migrating from an older repository, there is no existing entity information.
* When a user creates a new collection, and neglects to create a template item to keep the relevant entit

[2022-08-04 13:42] tdonohue commented on #8442
@jonas-atmire : Thanks for creating this ticket.  I've flagged this as needing more discussion, as I think the migrating regular items into entities (e.g. when upgrading from DSpace 6 and wanting to enable entities) is potentially more complex than it may seem.  The simple scenario is, as you laid out, the Items can be processed and assigned a particular entity type.

However, there are more compl

[2022-08-04 21:07] mwoodiupui opened #8443 "Output of submission-form migration tool is broken"
**Describe the bug**

- The resulting `item-submission.xml.migrated` refers to the old class  `org.dspace.submit.step.SelectCollectionStep` instead of its new name:  `org.dspace.app.rest.submit.step.CollectionStep`.
- You will still have a step definition for `CompleteStep`, which no longer exists.
- You will still have a step definition for `SampleStep`, which no longer exists.

**To Reproduce**

[2022-08-05 00:20] misilot opened #8444 "Maven Warnings related to slf4j-reload4j.version in DSpace 6.4"
**Describe the bug**
When running maven throwing reload-log4j warnings

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. run`mvn clean` or `mvn package`

**Expected behavior**
Now warnings when running `mvn clean` or `mvn package`

**Related work**

[2022-08-05 10:12] MW3000 opened #8445 "Defining a <submission-step> as mandatory does interfere with the <scope> tag or the <scope> tag does not work at all"
**Describe the bug**
According to the [manual](https://wiki.lyrasis.org/display/DSDOC7x/Submission+User+Interface#SubmissionUserInterface-Structureofthe%3Cstep-definition%3Etag) a submission step can be mandatory or not and can be displayed only in specific scopes (submission, workflow, both).

If you set `mandatory` to `true`, the step will be visible during submission, even if you set `scope` to

[2022-08-05 11:10] MW3000 commented on #8445
I edited the above description but it still does not fit the problem. The <scope> tag does not work as described in the manual. But the definition of mandatory or not is probably unrelated. I close this for the moment. It is probably a duplicate of: https://github.com/DSpace/DSpace/issues/7957

[2022-08-05 11:10] #8445 closed

[2022-08-05 11:15] MW3000 commented on #7957
I can confirm the same problem. For us it is crucial to be able to limit some steps to scope _workflow_. Is it possible to consider this bug as high priority for 7.4?

[2022-08-05 13:16] #8393 closed

[2022-08-05 13:39] SrinivasRao17 commented on #3011
I have query which is similar to above.
My query is when i search for any particular metric it will display all metric related to the matching names.
For example if i search for "Test $" behalf of showing test $ on first it will display all the matching names to "Test" then somewhere it will be display "Test $" for that i need to search page by page.

Can you please help/guide me how can we get ac

[2022-08-05 13:45] SrinivasRao17 commented on #3011
If you see in the attached test file.
i have entered "Collection Test 07" but i got multiple results. Can we get exact result for searched metrics.

![image](https://user-images.githubusercontent.com/101823122/183089899-7dfe810d-6116-450a-8ca0-828633ebcdb8.png)

[2022-08-05 14:46] tdonohue commented on #3011
@SrinivasRao17 : The best place to ask support questions is using one of our Support options listed at https://wiki.lyrasis.org/display/DSPACE/Support

A quick answer to your question though is to use quotes for more exact matching:
* Searching `Collection Test 07` will find any items which include any of those words (but the ones that include all three words will appear closest to the top)
* Sear

[2022-08-05 15:23] tdonohue commented on #7957
@MW3000 : It's already on our board for 7.4.  I'll bump up the priority to `high` though as it sounds like this is impacting more users than I originally thought.  At this point in time though, it's still waiting for a volunteer to help tackle, so I cannot guarantee what release it'll be in (but a high priority label will raise its visibility)

[2022-08-08 12:59] amgciadev opened #8449 "NPE in classes extending from AbstractCondition when calling itemService"
I am developing some custom item-filters (via item-filters.xml) and have noticed that that itemService is not being injected correctly in AbstractCondition class (package org.dspace.content.logic.condition) as it always return null

[2022-08-08 13:20] mwoodiupui commented on #8449
Is this addressed by #8421?

[2022-08-08 13:22] tdonohue commented on #8449
@amgciadev : I think @mwoodiupui is correct that this has already been fixed by #8421 ... that fix came in after 7.3 however, so it's only available on the `main` branch until 7.4 is released.

[2022-08-08 13:23] amgciadev commented on #8449
Apologies both for not having spotted the 7.4 fix - it does fix it indeed! thank you

[2022-08-08 13:31] tdonohue commented on #8449
Closing as this seems to be fixed by #8421

[2022-08-08 13:31] #8449 closed

[2022-08-08 17:30] pilasou opened #8450 "In DSpace 7.3, request copy acceptance email has NULL value as subject"
**Describe the bug**
In DSpace 7.3 when someone accept a copy request made on an embargo item, the email sent to the requester has NULL as subject.

We have the Helpdesk copy request feature configured (requests are not sent to the submitter).

**To Reproduce**
Steps to reproduce the behavior:
1. Ask for a copy of an embargo item
2. Follow the link provided in the request email and log in
3. Clic

[2022-08-08 17:46] tdonohue commented on #8450
I was able to verify this on my local copy.  It's likely a small bug, but something we should definitely fix.  Pulling this over into the 7.4 board and flagging as `help wanted`. Hopefully we can find someone able to work on this for 7.4

[2022-08-08 18:14] pilasou opened #8451 "In DSpace 7.3, when refusing a copy request, no email is sent to the requester."
**Describe the bug**
In DSpace 7.3, if a copy request is denied, the requester does not receive any email.

**To Reproduce**
Steps to reproduce the behavior:
1. As anonymous user, open an embargoed item
2. Clic on an embargo file
3. Fill the online form
4. Send the request
5. In the request email sent, clic on the answer link
6. Login
7. Clic on the Deny request button
8. Send the answer.

No emai

[2022-08-08 20:51] #8416 closed

[2022-08-09 18:17] #8434 closed

[2022-08-09 18:53] #8403 closed

[2022-08-10 09:38] philipprumpf opened #8453 "LaTeX diacritics not handled in BibTeX import"
**Describe the bug**
When a BibTeX import uses LaTeX string diacritics ({\"a} for ä etc.), those are imported verbatim rather than being converted to UTF-8.

We've seen this problem on DSpace CRIS, but can reproduce it in 1215992c86.

**To Reproduce**
Steps to reproduce the behavior:
1. create a community and collection in the default DSpace installation
2. go to My DSpace
3. drag BibTeX file with

[2022-08-10 12:52] philipprumpf opened #8455 "BibTeX import: handle document type (`@book`, `@article` etc.)"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I try to import a BibTeX file and have to specify the document type manually.

**Describe the solution you'd like**
Document type is selected automatically based on BibTeX input. We haven't been able to figure out how to do this with the existing code.

**Describe alternatives or workarounds you've consid

[2022-08-11 11:57] mtrojan-ub opened #8457 "Items added via API are added twice"
**Describe the bug**
When using the DSpace 6 REST API to create an item, the item will be created correctly and information about the new item will be returned, but in addition a second item with the same metadata (but a different id/handle) will be created as well:

![grafik](https://user-images.githubusercontent.com/26873381/184126756-38d40188-5fa5-4854-80b8-acf58b32363e.png)

Here's the example

[2022-08-16 09:08] abollini opened #8462 "Store license information at individual bitstream level"
Many repositories stores multiple files inside a single record (item) with slightly different license conditions.
This could be the case of an item where the pre-preprint / author manuscript is stored aside the published version or a dataset or a slidedesk is stored aside the article.
These extra materials often have diverse licenses than the "main resource". The option to use separate items for s

[2022-08-16 10:44] arvoConsultores opened #8463 "Compiling Mirage2 with mirage2_dev generate a bad theme"
**Describe the bug**
Dspace version: 6.4
The Mirage2 theme cannot reach some javascripts. All of them are defined at scripts.xml with the starting src: "node_modules"
    <script src="node_modules/jquery/dist/jquery.min.js">&#160;</script>
    <script src="node_modules/jquery-ui-dist/jquery-ui.min.js">&#160;</script>
    <script src="node_modules/handlebars/dist/handlebars.js">&#160;</script>

[2022-08-17 15:02] #8386 closed

[2022-08-18 13:46] abollini opened #8466 "The bitstream's sequenceID cannot be guarantee to be unique within an Item"
**Describe the bug**
The sequence ID in the bitstream class has the following javadoc

[code]

unfortunately, it is very hard to guarantee this uniqueness when concurrent item update occurs.
As we have switched to a full REST API with DSpace 7 the risk of concurrent modification is much higher than in the past.
It is indeed possible to easily hit the bug just via the standard UI (see the to Reprod

[2022-08-18 13:46] abollini opened #8467 "AIP exports could produce invalid mets.xml file"
**Describe the bug**
The AbstractMETSDisseminator uses the bitstream's sequenceID as fileID in the METS.
Due to the fact that the sequenceID (see linked issue) could be potentially duplicated in an item these could lead to an invalid mets

**To Reproduce**
Steps to reproduce the behavior:
1. force two bitstreams in the same item to have the same sequence ID
2. run the export aip script with the va

[2022-08-18 15:59] #6661 closed

[2022-08-22 15:17] minurmin commented on #8143
@Braxvang , @kshepherd : Just to let you know, I had the very same issue when trying out the new DSpace 6.4 release (=solr and rdf-related old log4j jars appear to build). We have also a customized DSpace instance but local customizations should not be related to these components.
I added a PR #8648 that adds exclusions that should prevent the issue. Please check it out.

[2022-08-23 09:24] jonas-atmire commented on #8248
@hardyoyo
Prior to going into a check for what might be going on here or creating an estimate, we wanted to check out the issue, but we are note able to reproduce this locally (Using a DSpace 7.2 version)

Could you point out what version you were using to get to this error, and if there are other steps that we might be missing?
We'd want to be able to make sure we can 'break' this with 100% certa

[2022-08-23 09:41] philipprumpf opened #8469 "Multiple entries imported from a single file / persistent workspace lists"
This is mostly a description of a feature we've implemented at @uniba-ub and would like, as far as possible, to merge.

**Is your feature request related to a problem? Please describe.**
Importing several items from a single BibTeX or RIS file is something that's important to our users.

**Describe the solution you'd like**
Ideally, uploading a BibTeX or RIS file with multiple entries would result

[2022-08-23 14:52] tdonohue commented on #8469
@philipprumpf : It sounds like you are already aware of it, but just wanted to point out that we do already have basic support for creating multiple items from a single BibTeX.  Here's an integration test which proves that s a single BibTeX file with 3 entries will create 3 items: https://github.com/DSpace/DSpace/blob/main/dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkspaceItemRestRep

[2022-08-23 15:42] tdonohue commented on #8094
If this issue is still occurring, I'd recommend following the Troubleshoot an error guide to try and debug what may be occurring: https://wiki.lyrasis.org/display/DSPACE/Troubleshoot+an+error#Troubleshootanerror-DSpace7.x(orabove)

We are not experiencing this sort of issue on our demo site (demo7.dspace.org) and haven't heard reports of this sort of regular instability in DSpace 7.3.  So, I suspe

[2022-08-23 15:42] #8094 closed

[2022-08-23 16:11] tdonohue commented on #8466
If I recall correctly, part of the original purpose of the "sequence ID" was to provide a unique URL for each bitstream (especially if two bitstreams in an Item had the same file name).

So, in DSpace 6.x, you'd see bitstream URLs that look like this:
* In XMLUI: `https://demo.dspace.org/xmlui/bitstream/handle/10673/7/test_word.doc?sequence=1`   (In this situation the `sequence` is used to ensure

[2022-08-23 16:17] tdonohue commented on #8294
I agree we probably should clean this up at some point.  At a minimum, we could link to our Wiki from GitHub, but I do agree it might be more appropriate to move the docs into GitHub entirely (that way they are closer to the code).

I'll claim this ticket, but I feel it's `low priority` right now.  Will try and get to it when I can find time.

[2022-08-23 16:35] tdonohue commented on #8426
Pulling this over to the 7.4 board, but I'm flagging as `medium priority` for now until we have more feedback.  I do agree though that is is something we should add to 7.x, but I'm worried this is more complex and don't wish to detract from higher priority bugs at this time.

[2022-08-23 16:43] tdonohue commented on #8427
@alawvt : I'm a little confused by the description of this ticket.

Are you really just wanting browse results (e.g. Browse by Title, Browse by Author, etc) to be exportable to CSV?  Is that the main feature request here?  If so, that may not even require browse results to be searches...it just requires the ability to export browse results to CSV.

If that's not the core request, then I think I'd

[2022-08-23 17:26] tdonohue commented on #8428
While this feature *looks like* it's still supported in `discovery.xml` (and in the Java code), I cannot seem to get it to work to change the UI search display for specific Communities/Collections.  So, I'm recategorizing this as a "bug" and moving it over to 7.4.

[2022-08-23 17:39] tdonohue commented on #8429
@alawvt : I've realized this is already configurable per filter in `discovery.xml`.  All filters currently default to "5", but you can change this easily.

Here's an example for the "Author" filter/facet:
* It's defined as `searchFilterAuthor` here: https://github.com/DSpace/DSpace/blob/main/dspace/config/spring/api/discovery.xml#L2229-L2243
* In that configuration, you can change the default numb

[2022-08-23 18:41] alawvt commented on #8431
Thanks, @tdonohue. Are you linking to https://wiki.lyrasis.org/display/DSDOC7x/Search+-+Advanced?

[2022-08-23 18:46] alawvt commented on #8429
@tdonohue, thank you very much for the good news that this is configurable the same way that it is in DSpace 6.

[2022-08-23 18:58] alawvt commented on #8427
@tdonohue, thank you for considering this issue. Yes, the ability to export browse results is the main request here.

[2022-08-23 19:10] tdonohue commented on #8436
I'm able to reproduce this locally.  That said, I'm not sure that the `WARN` messages are the underlying cause here.  I can get ORCID Authority to almost "work" from the Submission UI.  For instance, I can search & select an author via autocomplete like this
![search-orcid-authority](https://user-images.githubusercontent.com/483997/186243471-9145ec7a-0ab0-44bb-aa64-574aa3839489.png)

However, when

[2022-08-23 20:02] tdonohue commented on #8451
@mwoodiupui : Thoughts on this, since you helped implement this in 7.x (and continue to enhance it)?  It sounds like a possible bug...though I see from the code that it's very purposefully only sending a response when "accept" is selected: https://github.com/DSpace/DSpace/blob/main/dspace-api/src/main/java/org/dspace/app/requestitem/RequestItemEmailNotifier.java#L137

[2022-08-23 21:14] tdonohue commented on #8427
@alawvt : Thanks! Ok, I'm going to update the description/title slightly then, as I *think* it might be possible to export browse results to CSV _without_ requiring us to migrate all browse results into "search results" (which I worry might be more complex).  In any case, I'll move this over to 7.4 & see if I can find a volunteer.

[2022-08-23 22:04] tdonohue commented on #8457
@mtrojan-ub : I cannot reproduce this on https://demo.dspace.org/rest/

Here's what I tried doing:
1. Login using the `/login` endpoint, e.g. `curl --data "email=dspacedemo%2Badmin@gmail.com&password=[REMOVED]" https://demo.dspace.org/rest/login`
2. Using the returned JSESSIONID, verified that login was successful: `curl -v --cookie "JSESSIONID=[REMOVED]" https://demo.dspace.org/rest/status`
3. Cr

[2022-08-24 02:23] anabe1 opened #8470 "Browsing by Subject"
**Describe the bug**
For "Browse by Subject", except the first page, most subject item (with small count value) shows "No items to show." when browsing.

**To Reproduce**
Steps to reproduce the behavior:
1. Click All of DSpace > By Subject
2. Click page 2
3. Click any subject (with small count value) on page 2
4. Search result shows "No items to show"

**Expected behavior**
Subject items should di

[2022-08-24 13:25] mtrojan-ub commented on #8457
Thanks for testing!

It looks like this was a PHP sided problem. Our implementation was based on stream_context_create and file_get_context. Our wrapper function was called only once, but for some reason the underlying PHP functions called the API multiple times. We switched to a cURL-based implementation (curl_init() and so on), and now the problem doesn't seem to occur anymore so i'm going to cl

[2022-08-24 16:04] #8453 closed

[2022-08-24 16:23] tdonohue commented on #8470
@anabe1 : Thanks for reporting this.

It appears (to me) that the actual bug here is that your page doesn't reset to "page=1" when clicking on a Subject to browse by.  This makes it appear that the browse is not working.... however, if you look closely at both your URLs above, you'll see you are on `page=2` (the second page), which has no results when there is only a small list of results.

In any

[2022-08-24 16:30] #8455 closed

[2022-08-24 17:15] #8437 closed

[2022-08-25 06:48] anabe1 commented on #8470
Thanks very much for the checking and fix. I

Btw, for "Browsing by Issue Date",  the filter in the demo site, seems behave differently from the older
version, the "starts with" is more likely behaves as "equals to" now.

Understanding that the year pull-down list will become super long if listing out all years,
that's why the design is interval by 5 or 10 years for older records (and this interva

[2022-08-25 06:48] #8470 closed

[2022-08-25 09:44] benbosman commented on #8466
We did discuss this in the past, and the decision was made to keep the sequence IDs because:
* We want to offer link persistency
* Some features (e.g. the AIP export) still depend on the sequence IDs

Dropping the sequence IDs for the existing bitstreams sounds like a big step back for link persistency
What would be much better is:
* Adjusting the features which depend on the sequence IDs to ensur

[2022-08-25 13:56] tdonohue commented on #8466
@benbosman is correct that we are still using the Sequence ID for link persistency of Bitstreams (to redirect old style 6.x links to new style 7.x URLs, as noted in my last comment).  In order to redirect those old links, the UI is calling `/api/core/bitstreams/search/byItemHandle?handle=[prefix]/[suffix]&sequence=[sequenceId]&filename=[filename]`.  This REST endpoint looks up the bitstream via a

[2022-08-25 16:45] tdonohue commented on #8470
NOTE: fixed by https://github.com/DSpace/dspace-angular/pull/1777 (which was just merged)

[2022-08-25 19:48] tdonohue commented on #8467
Per today's discussion in DevMtg, we decided this is a high priority bug & to move to the 7.4 board (waiting on a volunteer).
* We'd recommend removing sequence ID from AIP exports/creation (so that new AIPs will no longer have a sequence ID)
* However, for AIP import (restore) we will need to continue to support sequence ID because previously exported AIPs may have a sequence ID... so if they are

[2022-08-25 19:49] tdonohue commented on #8466
Per today's discussion, the team agreed with @benbosman 's suggestion & analysis.
* We'll update the code to no longer create new sequence IDs, but old ones will be kept.  Where possible we'll remove sequence ID from the Java API (as a param & add warnings about using it)
* We'll analyze other features which use sequence ID & replace them.  Per prior analysis by @abollini , we believe most usages

[2022-08-26 16:18] abollini opened #8472 "Inconsistent OAI results when the from parameters is used and cache enabled"
**Describe the bug**
On the OAI-PMH interface the ListRecords verb shows an inconsistent behavior when the `oai.cache.enable` option is set to true (default). More specifically we noted that requiring records from a date that was already requested before lead to a cached list of results missing of the new records (i.e. we where able to get more results with from=2022-08-25 than from=2022-08-01).
C

[2022-08-26 18:57] tdonohue commented on #8462
This seems like a good suggestion, and it'd be fairly straightforward to add CC Licenses (as metadata) to Bitstreams.  However, it'd obviously require UI and REST API enhancements.  Currently this seems like lower priority though so I'm moving this to our Tier 4 board. We could change the priority later as we get more feedback.

[2022-08-26 20:04] tdonohue commented on #8472
This definitely sounds like a bug, though it sounds like we need to do more analysis around the exact cause (e.g. why is the cache not correctly invalidating itself in this scenario & how easy is it to fix).  I'll pull this over to our board, but I'm flagging this as medium priority for now as it sounds like it can be worked around by disabling caching (or clearing it more frequently).

[2022-08-27 22:01] #6030 closed

[2022-08-31 21:37] #8380 closed

[2022-08-31 22:00] tdonohue opened #8474 "Restricted Items/objects appear in Statistics with no name"
**Describe the bug**
On usage statistics pages, if an Item is access restricted, then it will be listed without a name.  If you login via an account with access to that restricted item, then you will thereafter see the name of that Item.

For example, this screenshot shows the "Total Visits" page where the second Item in the list is access restricted.  That Item is shown as having had 4 views, but

[2022-09-01 17:18] ybnd opened #8475 "Shibboleth sessions are restored on next login after logging out"
**Describe the bug**
Impossible to log in via username/password after logging out of a Shibboleth session

* The `_shibsession_*` cookie remains even after logging in
* Upon the next password login this cookie is used instead of the username/password, causing the previous Shibboleth user to get logged in again instead of the new password user.

**To Reproduce**
Steps to reproduce the behavior:

1.

[2022-09-07 17:06] #8467 closed

[2022-09-08 11:01] hutattedonmyarm opened #8478 "Statistics don't load after sharding"
**Describe the bug**
DSpace 7.3

After setting `usage-statistics.shardedByYear = true` the statistics don't load anymore.

I've tracked it down to a NullPointerException in `SolrLoggerServiceImpl.initSolrYearCores`. `statisticsCoreBase` is never initialized, but accessed there.

**To Reproduce**
Steps to reproduce the behavior:
1. Set `usage-statistics.shardedByYear = true` in the configuration
2.

[2022-09-08 13:12] MarieVerdonck opened #8479 "Regular search can contain private & withdrawn items"
**Describe the bug**
Regular search contains withdrawn and private items (if logged in as admin), these should probably only appear in the admin search. This is I think blocked for regular users with because of the lack of `read:g{AnonGroup}` solr field in the docs for private/withdrawn items. Since if fix/migrate from https://github.com/DSpace/DSpace/pull/8438 is not applied, then withdrawn items

[2022-09-08 13:50] tdonohue commented on #8478
@hutattedonmyarm : Could you check your backend logs and share what error appears there?  A "status 500" from the REST API means there is a backend error in your logs. It's possible that'd give clues as to whether this is a bug, or if there's some sort of configuration issue getting in your way.  For more on troubleshooting errors of this sort, please see https://wiki.lyrasis.org/display/DSPACE/Tr

[2022-09-09 06:17] hutattedonmyarm commented on #8478
As mentioned, it's a `NullPointerException` when accessing `statisticsCoreBase` in `initSolrYearCores. Here's the stacktrace:

[code]

[2022-09-13 14:27] philipprumpf commented on #8469
There's an initial patch series at https://github.com/DSpace/DSpace/compare/main...philipprumpf:DSpace:issue-8469?expand=1 that may illustrate what we're trying to do (it's probably not a good idea to attempt to run it yet). In short, we add an `ExternalDataProvider` which isn't actually external but allows access to "tagged" `WorkspaceItem`s, which are then imported again, without the tag (https:

[2022-09-13 14:37] nibou230 commented on #8451
Hi @tdonohue, as you pointed out, the "reject" response email can't be sent with the current code. We already fixed the problem on our side a couple days ago. I will create a PR in the next few minutes.

[2022-09-14 16:12] corrad82-4s opened #8487 "Openaire requests soon (OCT 2022) to be limited to not authenticated user"
**Describe the bug**
Starting from October 2022, Openaire APIs will limit the usage rate to 60 requests per hour to not registered clients as stated [here](https://graph.openaire.eu/develop/authentication.html)

This could possibly impact Live Import. This service uses `org.dspace.external.OpenAIRERestConnector` which already does support usage of client and client secret, configurable in .cfg.

T

[2022-09-15 20:13] uofmsean commented on #8436
I experienced the "No bean named 'AuthoritySource' available" issue while testing ORCID Authority Control (as part of our upgrade from DSpace 6.3 to DSpace 7.3), and it was this issue itself that led me to check the config/spring/api/orcid-authority-services.xml file. The exceptions occurred during the first "dspace index-discovery -b". I had to uncomment the code [here](https://github.com/DSpace/

[2022-09-15 20:58] uofmsean commented on #8436
I also should add that, after reviewing the DSpace 7.3 code, it appears that the ORCID API connection parameters are now required even for simple author lookup with ORCID Authority enabled. At a minimum, for the ORCID Public API, I set:
orcid.domain-url = https://orcid.org
orcid.api-url = https://pub.orcid.org/v3.0
orcid.application-client-id = MYID
orcid.application-client-secret = MYSECRET
Where

[2022-09-16 07:10] Ma-Tador commented on #8436
@uofmsean thank you for the input. I had the same problem, so I guess that the new code requires always to register to the ORCID and get an API id and token.
I think these changes should be also in the documentation.
However, also what @tdonohue  experienced is correct. It seems to let querry the ORCID, but won't save it (the dc.author is left empty). Also in Solr-Authority, the author's name is e

[2022-09-16 16:47] uofmsean commented on #8436
When I check the database metadatavalue table (authority and text_value columns), I can see that different variations of author entry/search are successfully saved, but have encountered a different exception with new ORCID authority records. (I'm wondering if this should be split off as a new issue.)

Test cases (DSpace 7.3) - Note that these were only "saves" to the workspace and not a completed

[2022-09-20 19:08] mwoodiupui opened #8489 "`dspace registry-loader` is very poorly documented"
**Describe the bug**
There is almost no mention of the registry loader.  Its input formats are undocumented and its behavior unclear.

**Expected behavior**
The uses, operation and input formats of the loader should be thoroughly documented.

Also there should be some discussion of the registry administrative UI.  Currently this is a blank page.

[2022-09-22 13:48] #8254 closed

[2022-09-22 15:14] uofmsean opened #8490 "Solr query exception on workspace submission save due to ORCID "will be generated::orcid::..." authority key syntax"
**Describe the bug**
DSpace 7.3:
When adding a new ORCID authority author (dc.contributor.author) to a submission workspace item, a temporary authority key is created with the syntax "will be generated::orcid::ID" (where ID is the ORCID ID). If you select Save, or Save for later, a Solr authority query is performed with this temporary key and results in a server-side Solr org.apache.solr.search.Sy

[2022-09-23 15:27] #8355 closed

[2022-09-26 11:05] erpnedir commented on #3353
person.contributor.other is in the same situation. It exists in virtual-metadata.xml [https://github.com/DSpace/DSpace/blob/e9e6fbd216e0bce36b6e5408036f2fdc669bd6d5/dspace/config/spring/api/virtual-metadata.xml#L120](url) but does not exists in Person schema.
I confirmed that this metadata field is added to demo7.dspace.org. But the originial schema at https://schema.org/Person does not have this

[2022-09-26 14:46] mwoodiupui opened #8491 "When looking up the Site, just create one if none exists"
**Describe the bug**
I had an instance in a weird state recently, which had no Site in the database.  This currently causes an NPE because the code understandably does not expect to get a null back from the DAO for this object which should always exist.

**To Reproduce**
Unknown.

**Expected behavior**
The DAO should simply create the Site and return it if it is asked for one and there is none.

[2022-09-27 07:21] Raf-atmire commented on #8491
I had the same behaviour a few days ago. I didn't write down exactly how I got to that state, so I'll do my best to remember the steps.
I was setting up a new DSpace 7 instance with a clean database, after doing a maven build, I performed an ant fresh_install, followed by the regular regular build process after doing another maven build. This was on a database WITHOUT the pgcrypto extension instal

[2022-09-27 18:08] #8255 closed

[2022-09-28 15:00] #8363 closed

[2022-09-28 15:43] #8479 closed

[2022-09-29 03:57] mspalti opened #8493 "Missing a canvas dimension test for images that are not processed by ImageIO"
**Describe the bug**
This issue is about adding a new test for the IIIF canvas dimensions CLI task.

When images cannot be processed by ImageIO (as is the case with .jp2) a call should be made to the IIIF image server.  Now that we have a mock for `IIIFApiQueryService` it should be possible to add a test for .jp2 images in `CanvasDimensionsIT`.

This test will also require adding JPEG2000 to the d

[2022-09-29 14:07] mohammadsalem opened #8494 "Deleting bitstreams via the 6.x REST API leaves empty bundles"
Deleting the last bitstreams in a bundle via the REST API on DSpace 6.4 (including on demo.dspace.org) from either the `DELETE /items/{item id}/bitstreams/{bitstream id}` or `DELETE /bitstreams/{bitstream id}` endpoints leaves the bundle itself and the link between the bundle and the item, which results an empty bundle in the item bitstreams. This is mostly harmless but causes XMLUI to show a brok

[2022-09-29 14:18] olyerickson opened #8495 "Publication sort order (asc or desc) not controllable via URL parameterization"
**Describe the bug**
Publication sort order (ascending or descending) is not controllable via URL parameterization

**To Reproduce**
Steps to reproduce the behavior:
1. List by issue date: https://dspace.rpi.edu/handle/20.500.13015/4123/browse?type=dateissued
2. Change the order (e.g. from ascending to descending)
3. Look at the URL; it changes, but doesn't parameterize the sort order

**Expected

[2022-09-29 14:47] #8413 closed

[2022-09-30 09:53] MW3000 opened #8499 "Restrictions set in authentication-password.domain.valid are ignored"
**Describe the bug**
In DSpace 7.4-Snapshot I use authentication by password, set `authentication-password.domain.valid = myuniversity.org` and expect that only users with email addresses from this domain can register an account. This was the behaviour in DSpace 6 and is described in the manual (https://wiki.lyrasis.org/display/DSDOC7x/Authentication+Plugins#AuthenticationPlugins-AuthenticationbyP

[2022-09-30 14:43] #7674 closed

[2022-09-30 15:28] ybnd opened #8501 "Adding MDFs to the end of the registry (behind `workflow.score` alphabetically) crashes ITs"
**Describe the bug**
In a previous PR I'd refactored `MetadatafieldRestRepositoryIT` to be independent of the actual fields in the metadata registry (before, it dependent on the vanilla configuration & alphabiteical order, which caused issues for repositories that added or modified any MDFs)

Today I noticed an oversight: the last MDF was still fixed at `workspace.score`.
This failed in a reposito

[2022-09-30 19:07] #2850 closed

[2022-09-30 19:07] #2843 closed

[2022-09-30 19:07] #7980 closed

[2022-09-30 19:53] MW3000 commented on #8499
If someone has the same problem - until it is fixed on the backend it is an easy workaround to change the validator pattern on the frontend form. Just set the pattern in `src/app/register-email-form/register-email-form.component.ts` to:

`Validators.pattern('^[a-z0-9._%+-]+@myuniversity.org$')`

[2022-09-30 21:10] tdonohue commented on #8121
@abollini : This appears to have been fixed in 7.4 (at least I'm no longer able to reproduce it with the given example).  Perhaps it was fixed by #8446?

[2022-10-03 19:15] abollini commented on #8121
yes, it is

[2022-10-03 19:15] #8121 closed

[2022-10-03 19:31] hardyoyo opened #8506 "improve shell scripts for DSpace"
**Is your feature request related to a problem? Please describe.**
There are a number of Bash scripts in DSpace, they can be improved (see below)

**Describe the solution you'd like**

- we should consider using Bash instead of Bourne shell, so we can utilize the "unofficial strict mode" of Bash
- we should use the [unofficial Bash strict mode](http://redsymbol.net/articles/unofficial-bash-strict-

[2022-10-03 19:39] mwoodiupui commented on #8506
*Are* these Bash scripts, or Bourne shell scripts?  We may want to avoid Bash-isms, tempting though they may be.

[2022-10-03 19:52] hardyoyo commented on #8506
ah, good point... I suppose "strict mode" would require using Bash... error messages with stack traces might be worth it

[2022-10-03 21:06] mwoodiupui opened #8507 "bin/start-handle-script sometimes fails with class-not-found"
**Describe the bug**
On some instances, `bin/start-handle-server` fails, reporting:
Error: Could not find or load main class org.dspace.app.launcher.ScriptLauncher
Caused by: java.lang.ClassNotFoundException: org.dspace.app.launcher.ScriptLauncher

On other instances it works.

**To Reproduce**
Behavior is not consistent across instances, but when you have it, running the script will report a Clas

[2022-10-04 03:16] alanorth commented on #8463
Interesting. I've never used the `mirage2_dev` profile before. I will need to check the dev tasks in `dspace-xmlui-mirage2/src/main/webapp/Gruntfile.js` to see what's going on.

[2022-10-04 13:58] tdonohue commented on #7595
Closing, as this appears to be a duplicate of #8363, which was fixed by #8356

[2022-10-04 13:58] #7595 closed

[2022-10-04 14:52] #8256 closed

[2022-10-04 19:48] #8362 closed

[2022-10-05 15:20] tdonohue commented on #2845
Closing, fixed by #1827 in 7.4

[2022-10-05 18:19] santilococo opened #8510 "No items returned"
**Describe the bug**
After an installation of DSpace on a production server, I am unable to get anything from the rest of the API. It's weird because the items exist but they just won't show up. For example, knowing the id of a community I can retrieve it manually: https://ri.itba.edu.ar/communities/f6dd0126-9451-4c8a-a3a5-eccd34eee2c5 or an item: https://ri.itba.edu.ar/items/4429d349-00a3-4953-9f

[2022-10-05 18:39] tdonohue commented on #8510
Closing, as this sounds like a local configuration issue.  Please use one of our dedicated support channels if you have questions about a possible misconfiguration: https://wiki.lyrasis.org/display/DSPACE/Support

In terms of what you can do, please see our Troubleshooting guide for help on locating errors that may be occuring in the UI or backend: https://wiki.lyrasis.org/display/DSPACE/Troublesh

[2022-10-05 18:39] #8510 closed

[2022-10-05 19:04] santilococo commented on #8510
Sorry Tim, I didn't know that.

You helped me a lot, anyway! Thank you very much. Rebuilding the index solved the problem.

[2022-10-05 20:04] tdonohue commented on #8507
closing, fixed by #8508

[2022-10-05 20:04] #8507 closed

[2022-10-06 10:07] vins01-4science opened #8511 "Index and enhance bitstream bundle details"
**Description of the feature**
It could be useful to enhance metadatas from bundle bitstreams to the item itself for search / indexing purpose.
As an example, could be useful to filter items that contains bitstreams with target `dc.type`, or more over with a target `mime-type` file, or also search for them using a correctly built index.

**Describe the solution you'd like**
This enhancing should i

[2022-10-06 10:09] vins01-4science commented on #8511
We @4Science can contribute to this feature request.

[2022-10-06 19:31] tdonohue opened #8512 ""All of DSpace" browse menu has odd behavior for Community/Collection Admins"
**Describe the bug**
Initially reported via mailing list: https://groups.google.com/g/dspace-community/c/X3bpHumqsdI/m/rT26okUkCAAJ

When you login as a Community/Collection Admin and select one of the "All of DSpace" browse options, you only see partial results.  This is reproducible on the demo site (https://demo7.dspace.org)

**To Reproduce**
Steps to reproduce the behavior:
1. First, while _un

[2022-10-07 21:39] tdonohue commented on #8307
This needs to be retested with 7.4, as it's possible this behavior has been fixed by #1805.

[2022-10-07 21:46] tdonohue commented on #8248
@hardyoyo : Are you still able to reproduce this?  See comment above from Aug ⬆️   It sounds like this may not be reproducible, or needs more information on how to reproduce the problem.

[2022-10-08 00:36] hardyoyo commented on #8248
At the moment, my guess is this was detected during our DSpace 7.1 upgrade. I will look in our records.

[2022-10-10 22:05] kshepherd opened #8513 "Submission fields configured for type-bind appear for *all* types if they are input-type=name, repeatable=false"
**Describe the bug**
If a field in `submission-forms.xml` is configured to be of input-type "name" and repeatable "false" and has a type-bind value configured, the UI does not properly hide / disable the form control or row when the bound type is not selected.
A name field which *is* repeatable behaves as expected with type-bind, and so does a non-name field which is not repeatable.

The backend m

[2022-10-10 22:36] kshepherd commented on #8513
Closing this and replacing with a dspace-angular issue as that is where the bug is: https://github.com/DSpace/dspace-angular/issues/1892

[2022-10-10 22:36] #8513 closed

[2022-10-11 08:44] mwoodiupui commented on #7936
On Wed, May 04, 2022 at 05:17:17PM -0700, Tom Misilo wrote:

Again, I would say just let Solr manage its storage.  Situations in
which you can do significantly better than that by manual intervention
should be very rare, and I don't think DSpace is likely to evolve one.

About the only case where I would consider a manual "optimize" is a
core that will never receive new records.  Even then it may

[2022-10-11 15:10] alanorth opened #8514 "ImageMagick PDF thumbnails are blurry"
**Describe the bug**
A side effect of many image resizing processes is that the resulting image is less sharp than the original. This is visible in PDF thumbnails generated by ImageMagick. DSpace has been able to use ImageMagick since 5.x, so this currently affects DSpace 5.x, 6.x, and 7.x.

**To Reproduce**
Steps to reproduce the behavior:
1. Have an item with a PDF bitstream in the `ORIGINAL` bu

[2022-10-12 14:03] samuelcambien commented on #8491
I stumbled upon the same issue today.
The problem seems to be that the various implementations of the org.flywaydb.core.api.callback.Callback interface are no longer called for some reason:

- PostgreSQLCryptoChecker: should ensure that the pgcrypto extension is installed
- EntityTypeServiceInitializer: should initialize the entity types
- GroupServiceInitializer: should create the anonymous and a

[2022-10-12 16:11] mspalti commented on #8307
@tdonohue , this issue still exists in 7.4.

[2022-10-13 11:56] MarieVerdonck opened #8516 "Facets search endpoint doesn't give results with queries containing capital letters"
**Describe the bug**
The facets endpoint, `/server/api/discover/facets/{facetName}` search doesn't take into account capital letters.

**To Reproduce**
Example capital letters:

- [author?prefix=a](https://api7.dspace.org/server/#/server/api/discover/facets/author?prefix=a) => results, all starting with A or a
- [author?prefix=A](https://api7.dspace.org/server/#/server/api/discover/facets/author?p

[2022-10-13 11:57] MarieVerdonck commented on #8516
Addressing this issue would take **2 hours** to address and test.

[2022-10-13 13:13] mwoodiupui opened #8517 "Database schema does not defend against `metadatavalue.place IS NULL`"
**Describe the bug**
A site has [reported](https://groups.google.com/d/msgid/dspace-tech/PH0PR22MB3274B157FC72618D141BF391ED229%40PH0PR22MB3274.namprd22.prod.outlook.com) a problem against `dspace index-discovery` which suggests that a metadatavalue has a null `place` attribute.  This caused Hibernate to fail to load the tuple.

The `place` attribute has no `NOT NULL` constraint.  Having one would

[2022-10-13 13:57] tdonohue commented on #8516
Same as the other ticket, I'll pull this over to the 7.5 board, add the estimate & assign back to you for your team to work on.  Thanks @MarieVerdonck !

[2022-10-13 15:55] pilasou opened #8518 "Add access status to item metadata"
**Current situation**

When configured, access statuses are only available in search results and are not stored in item metadata. This prevents access status from being displayed in the item records page and being exposed through OAI PMH formats.

**Objectives**

Add item access status to the item metadata in an automatic way. This will allow to easily display it in different context:

- Record pa

[2022-10-13 16:35] tdonohue commented on #8518
@pilasou : I'm very worried about the suggestion to store item statuses in Metadata fields.  That seems like it could be complex as it'd require dynamically updating metadata field values whenever an embargo date ends or similar. Ensuring the metadata field is "synchronized" with the item status seems like it may not be easy.

Instead, I wonder if there's a way to simply display the Item status on

[2022-10-13 17:21] pilasou commented on #8518
@tdonohue : I agree that it does not offer a realtime synchronization. However, the idea is to offer the ability to create a process that can be scheduled regularly or trigger manually as admin either on a specific document or a entire collection. What we also found interesting is that when using DSPace 7 OpenAIRE submission forms, the dc.rights element is used to record COAR access status, and th

[2022-10-13 17:30] lep-flp opened #8519 "Tomcat returns HTTP STATUS 404 on DSpace 7.3 and 7.4"
**Describe the bug**
Tried running DSpace 7.3 and 7.4 on Jammy Jellyfish. However, tomcat9 returns HTTP STATUS 404 upon accessing localhost:8080/server. I did the same thing with DSpace 7.2.1, but tomcat was able to access the backend REST API.

openJDK - 17.0.4
Maven - 3.8.6
Ant - 1.10.12
solr -8.11.2
db - post 13
solr - 8.11.2
tomcat - 9
OS - Jammy Jellyfish

**To Reproduce**
Steps to reproduce

[2022-10-13 17:32] tdonohue commented on #8518
@pilasou : I feel the lack of real-time synchronization would make the usability poor in the UI itself...the status on the Item page would not be possible to trust, as it may not be accurate at any given time.  The status page may claim the item is "open access" when it's not. It may claim it's "embargoed" when it's not, etc.  That's not a behavior that users will be OK with.

If the goal is to si

[2022-10-13 17:39] tdonohue commented on #8519
@lep-flp : A 404 error from Tomcat means that Tomcat didn't start up properly. You'd have to review your Tomcat & DSpace logs to see if an error was thrown that blocked the ability of DSpace to startup.  See our Troubleshooting guide for how to find that error & report it: https://wiki.lyrasis.org/display/DSPACE/Troubleshoot+an+error#Troubleshootanerror-DSpace7.x(orabove)

I can verify that both D

[2022-10-13 17:39] #8519 closed

[2022-10-14 01:42] unibravo opened #8520 "Bug report assetstore.cfg and bitstore.xml"
**Describe the bug**
**OS:**
Ubuntu 20.04
OpenJDK version 11.0.16
**Default Upgrading Steps for 7.3 to 7.4**

Failure during kernel init: Invalid bean definition with name 'org.dspace.storage.bitstore.BitstreamStorageService' defined in file [/dspace/config/spring/api/bitstore.xml]: Could not resolve placeholder 'assetstore.index.primary' in value "${assetstore.index.primary}"; nested exception is

[2022-10-14 08:43] christian-scheible opened #8521 "Running Curation Tasks queued from the Admin UI on CLI does not work"
**Describe the bug**
We are currently working with DSpace 7.3 and I started setting up our cron jobs. The documentation about cron jobs:
[Scheduled Tasks via Cron](https://wiki.lyrasis.org/display/DSDOC7x/Scheduled+Tasks+via+Cron)  has this line: `0 4 * * * $DSPACE/bin/dspace curate -e valid-eperson@example.com -q admin_ui` which is not working as expected due to problems with the Spring Context.

[2022-10-14 14:02] tdonohue commented on #8520
@unibravo : It sounds like you are missing the setting `assetstore.index.primary`?  It should be defined in this new configuration (added in 7.4): https://github.com/DSpace/DSpace/blob/main/dspace/config/modules/assetstore.cfg#L19

[2022-10-15 11:32] santilococo opened #8525 "Export metadata fails"
**Describe the bug**
I am unable to export metadata in the DSpace 7.3 process page. It throws this exception:

[code]

**To Reproduce**
1. Go to processes.
2. Run the `metadata-export` process.

**Expected behavior**
Create CSV with the metadata.

[2022-10-15 11:36] santilococo commented on #8525
But from the CLI it works perfectly:

[code]

Giving this output:

[code]

[2022-10-15 19:25] lep-flp commented on #8519
Ok. I have finally fixed it. The issue on my end was my solr cores were not being read by solr and so, tomcat cannot deploy /server properly.

[2022-10-16 20:19] pnbecker opened #8526 "After harvest failure, harvested collection is reported as not being setup for harvesting"
**Describe the bug**
When a collection is setup for OAI-Harvesting and a harvesting fails, the status is set to `HarvestedCollection.STATUS_UKNOWN_ERROR`. The failure might be that a metadata schema did not exists or sometimes even some strange OAI error that is not recognized as such. If you fix the underlying error and start the harvester again, the collection is been reported as "collection is

[2022-10-16 23:01] mpasternak opened #8527 "``filter-media`` says it generated thumbnails, but the files are nowhere to be found"
**Describe the bug**

Calling ``dspace filter-media -f`` does not create JPG files, even if logs say the same.

**To Reproduce**
1) Upgraded a really old DSpace installation (3.x)
2) logs of ``filter-media`` looks below,
3) I can find TXT files, but JPG files are **nowhere** to be found. I can see them being created in /tmp/ but they don't go anywhere into asset store!
4) I run this whole thing as

[2022-10-16 23:09] mpasternak commented on #8527
The same installation with ImageMagick filters disabled, starting from the top:

[code]

There is no ``7539.pdf.jpg`` in dspace/assetstore . What am I doing wrong?

[2022-10-16 23:13] mpasternak commented on #8527
TXT files also are not created; if I remove TXT files that exist, they are not created too.

[code]

But when I look into asset store:
[code]

[2022-10-16 23:15] mpasternak commented on #8527
Force-rebuilding outputs text, writes that it created JPEG files, but the TXT file is nowhere to be found. Same as thumbnails.

[code]

[2022-10-16 23:18] mpasternak commented on #8527
This looks similar to https://groups.google.com/g/dspace-tech/c/58TKz5g5JIw but I had no memory errors and I have 200 GB of free space...

[2022-10-16 23:23] mpasternak commented on #8527
``dspace.log`` content while regenerating that last operation:

[code]

[2022-10-17 08:44] christian-scheible opened #8528 "Refreshing spider files fails with null pointer exception"
**Describe the bug**
 Running the cron job /dspace/bin/dspace stats-util -u fails with a null pointer exception because the Project of the Get request is null.
 Adding a Project before the Get gets excecuted fixes that.

[This](https://github.com/DSpace/DSpace/blob/main/dspace-api/src/main/java/org/dspace/statistics/util/StatisticsClient.java#L138) is the Get request.

Changing it to this:

[code]

[2022-10-17 12:27] mwoodiupui commented on #8527
On Sun, Oct 16, 2022 at 04:02:11PM -0700, Michał Pasternak wrote:

How did you determine that the file is not created?  Files in the
assetstore(s) have random names *in the filesystem* which bear no
relation to their original names (which are only recorded as bitstream
metadata).

To find the derived image files of an Item, you need to find the
Bitstreams in the Item's THUMBNAIL Bundle.  The deriv

[2022-10-17 14:09] tdonohue commented on #8525
@santilococo : I tried this on our demo7.dspace.org site and it's working perfectly from the Admin UI.  I'm not able to reproduce this issue.  That said, the Demo site is running DSpace 7.4, so it's possible this was fixed somehow in 7.4.

Closing this ticket as not reproducible, but we can always reopen later if you find a way to reproduce this in 7.4.

[2022-10-17 14:09] #8525 closed

[2022-10-17 14:16] tdonohue commented on #8526
@pnbecker : My best guess (and it's only a guess) is this behavior might be to avoid triggering harvests that fail over and over again (i.e. where the cause might be that the harvesting source is down/broken, or perhaps the harvesting config needs corrections).

That said, I agree with you that turning off harvesting after _one failure_ seems incorrect.

Overall, I'm OK with your suggestion of jus

[2022-10-17 14:21] corrad82-4s opened #8530 "ePerson deletion going out of memory when there is an high number of constraints"
**Describe the bug**
We have observed this in a DSpace instance having an ePerson listed as submitter of about 30k items. Frontend UI went in timeout and then an error message has been returned
![image](https://user-images.githubusercontent.com/70699836/196198714-224153e8-0346-4b39-a3a1-6a3aa2347258.png)

On backend, deletion process continued but went out of memory.

**To Reproduce**
Steps to rep

[2022-10-17 14:24] tdonohue commented on #8527
@mpasternak : What version of DSpace is this that you are testing on? This is important information for anyone trying to help you out...we'd need the exact version of DSpace you are using.

Keep in mind, like @mwoodiupui notes... you'll only be able to find the created files from the UI (or through some smart DB queries).  Check the "THUMBNAIL" bundle in the Item for thumbnails, and the TEXT bundl

[2022-10-17 14:26] tdonohue commented on #8528
@christian-scheible : Could you create us a small PR with this fix?  This seems like something I can try to review quickly just to get it patched in the codebase.

[2022-10-17 15:04] tdonohue commented on #8475
@ybnd : I think another way to approach this would be to address #7799

I see we actually have an old PR to address this from @paulo-graca : #2758  But it looks to have been abandoned.  Maybe it's time to look at whether Single Logout for Shibboleth makes sense?

[2022-10-17 15:24] tdonohue commented on #8491
While I'm not against this idea, the Site is supposed to be auto-created by the `SiteServiceInitializer`: https://github.com/DSpace/DSpace/blob/main/dspace-api/src/main/java/org/dspace/storage/rdbms/SiteServiceInitializer.java

So, the larger question is why is this initializer (and perhaps other Flyway Callbacks?) not triggering properly for some people.

[2022-10-17 15:33] tdonohue commented on #8511
@vins01-4science : While I'm not against this feature, this doesn't sound high priority to me at this time, as the use cases are unclear.  I definitely agree it'd be "nice" to search bundle details...but I've not seen any users asking for this, and it's therefore low priority.

If your team wants to work on this, you are welcome to contribute it back. But, I think it'd have to come back as a donat

[2022-10-17 19:49] mpasternak commented on #8527
Thank you very much! I did not know this. I will analyze it further. Thanks!

[2022-10-17 19:55] mpasternak commented on #8527
7.3

I have upgraded very old DSpace installation, probably 3.x

Thank you. The UI displays absolutely nothing. I will analyze the bundles and see, where's the problem.

I did -f already, this does not change anything, I still cannot see thumbnails on the angular UI.

Maybe that's a frontend problem?

Here's the site without thumbnail:
https://dspace2022.wsb-nlu.edu.pl/items/5fe276bd-8430-47b0-b21

[2022-10-17 20:23] tdonohue commented on #8527
@mpasternak : Take a look at our Troubleshooting guide for DSpace 7.  I'm betting there's either an error in the UI layer (visible in your browser's DevTools) or maybe on the backend (usually in logs) that will help you debug the issue.  Either way the troubleshooting guide will walk you through looking for errors: https://wiki.lyrasis.org/display/DSPACE/Troubleshoot+an+error#Troubleshootanerror-D

[2022-10-18 09:54] Atmire-Kristof opened #8533 "CreateMissingIdentifiersIT affects other tests"
**Describe the bug**
`CreateMissingIdentifiersIT`'s test case manually installs a bean for testing purposes which carries over to other tests and potentially influences those. For example, `WorkflowCurationIT`'s test fails if it runs after `CreateMissingIdentifiersIT` due to this manually installed bean (makes curation tasks fail on purpose).

**To Reproduce**
Run `CreateMissingIdentifiersIT` befo

[2022-10-18 10:46] christian-scheible commented on #8528
Hi @tdonohue I made a pull request for this issue.

[2022-10-18 12:45] mwoodiupui commented on #8526
I do not see why we should stop harvesting after a single failure.  Repeating a failed harvest until it succeeds does not seem like an undue burden on either system.  To count failures seems like needless complexity.  I agree that DSpace should treat the harvest status as information only, and not disable the harvest after a failure.

We should make certain that an administrator is informed of eve

[2022-10-18 14:46] tdonohue commented on #8528
Thanks @christian-scheible !  I've pulled your PR over to our 7.5 board, so I'll find some reviewers and see if we can get this added to 7.5.

[2022-10-18 14:46] tdonohue commented on #8530
Sounds good @corrad82-4s .  Assigning to your for your team to work on.  Definitely report back on what you find, and provide us an estimate when you are ready.

[2022-10-19 10:59] alanorth commented on #8514
I'm going to look at this closer to see if I can qualify the scope a bit better. A few references:

- [ImageMagick resize unsharp](https://legacy.imagemagick.org/Usage/resize/#resize_unsharp)
- [ImageMagick resampling recommendations](https://legacy.imagemagick.org/Usage/filter/nicolas) (we are downsampling when we create thumbnails)

[2022-10-19 14:48] abollini opened #8536 "Import a SAF from URL"
In version 5-6 there was also an option to import a remote SAF, this is convenient when you are going to restore from a remote storage or deal with large file.
This seems to be overlooked in the tier3

![Screenshot from 2022-10-19 16-42-25](https://user-images.githubusercontent.com/1537527/196724064-ae24a539-4a92-4db3-a70b-befaf22e62bc.png)

4Science can work on that, estimation is 6hrs

[2022-10-19 15:59] peter975 commented on #3373
This is still happening in DSpace 7.4

[2022-10-19 16:07] abollini commented on #8150
We have reviewed that internally and it looks like a too large refactoring work to be addressed over a single release. We are not comfortable in taking this for 7.5
Keep in mind that **all** the search related endpoints should be re-engineered and this would heavily impact the angular UI (search, mydspace, administrative search, all the community/collection lookup,...)

[2022-10-19 17:19] tdonohue commented on #3373
@parphis or @peter975 : Could one of you port the existing PR #3374 to our `main` branch code? If so, I can try to find reviewers to see if we can get this fixed in 7.5.

[2022-10-19 21:02] tdonohue commented on #8150
@abollini : That sounds reasonable. As there seems to be no reason to flag this as `high priority`, I'm going to move it off the 7.5 board and we'll look at addressing this when it becomes a priority.

[2022-10-19 21:09] tdonohue commented on #8536
Thanks @abollini .  I'll add this to you and add the estimate

[2022-10-20 10:06] abollini commented on #8436
@tdonohue  we can work on that for 7.5, it should stay within 1 day of work (8 hours)

[2022-10-20 10:10] abollini commented on #8472
we (4Science) are interested in working on that. An estimation is currently not available, it would be probably in the range of 3-10 days we can provide a more accurate estimation after 1-2 days of active work on that

[2022-10-20 10:13] abollini commented on #8443
we (4Science) can have a look to that, it should be a small fix (2-4 hours)

[2022-10-20 10:41] abollini commented on #8428
It is not trivial. The current REST contract says
https://github.com/DSpace/RestContract/blob/main/search-endpoint.md#search-endpoint

but this is currently not respected by the REST side that gives precedence to the configuration name, see
https://github.com/DSpace/DSpace/blob/63b1ff825b3f2afc3c706d7101b213bbf06bfec3/dspace-api/src/main/java/org/dspace/discovery/configuration/DiscoveryConfigurati

[2022-10-20 10:43] abollini commented on #8428
Please keep in mind that this task is only about the Search constrained to a community/collection. In previous DSpace version there were specific widget in the community/collection home page that are NOT yet implemented in DSpace 7 such as the faceting and the search inside this com/coll. For these aspects we should separate tickets would be appropriate

[2022-10-20 10:46] abollini commented on #8425
@tdonohue please assign to us, this is a quick win.
We would like to get this opportunity to also add a manual refresh button as it is often the case that you need to refresh the page waiting for the process to complete

[2022-10-20 11:02] #8418 closed

[2022-10-20 11:11] abollini commented on #8384
we (at 4Science) are interested in working on that. To add the tab and the feature reusing what already exists for communities and collections 4 hours will be enough

[2022-10-20 11:19] abollini commented on #7966
we (at 4Science) can work on that. We have found some bugs in the upload step when multiple configurations are defined that were fixed in DSpace-CRIS. To backport these fixes 4 hours should be sufficient

[2022-10-20 11:23] abollini commented on #7965
Collection change in workflow is not trivial. The collection could have different workflow definition associated or also if the same workflow definition is used it is possible that the flow will change due to custom workflow steps.
A first "workaround" would be to disable the feature in workflow and allow to change the collection only during the submission (workspace phase)

[2022-10-20 12:25] abollini commented on #2878
We (at 4Science) can work on that.
It is not a trivial task as in DSpace 7 some extra security around the workspaceitem have been implemented to make sure that only the submitter is able to access and manipulate the item overriding the default ACL based security.

The plan is to index in the workspaceitem solr document which groups have received a supervisor order. In this way we can build a dedic

[2022-10-20 12:39] abollini commented on #2871
we want to note that the subscription functionality have been extended and implemented in DSpace-CRIS 7.
If what we have done in DSpace-CRIS is of interest of the DSpace community and can be accepted as is eventually disabling part of the feature that cannot be immediately ported we are available to make a more accurate estimation for the porting work.
We can anticipate that it should took not les

[2022-10-20 12:52] abollini commented on #2876
we need to note that since our first offer to port this feature from DSpace-CRIS to DSpace, the feature in DSpace-CRIS has evolved significantly. Now-day, the feature is connected with other advanced DSpace-CRIS capabilities especially in terms of managing granular and contextual security over the item. To port such features a large agreement about these aspects would be required and it is unlikel

[2022-10-20 16:19] parphis commented on #3373
@tdonohue I am happy to do it. I will open a PR for it.

[2022-10-20 16:49] tdonohue commented on #8436
Thanks @abollini , assigning to you for your team to work on for 7.5

[2022-10-20 19:17] tdonohue commented on #2878
Thanks @abollini . That all sounds reasonable.  I'd recommend keeping this as simple as reasonably possible, so I don't think any custom policies should be supported, as those don't seem to be available in 6.x.

In case it's helpful, I've copied the 6.x docs on this feature into the description of this ticket (see above).

In any case, I'll assign to your team for 7.5 and add the estimate.

[2022-10-20 19:28] tdonohue commented on #2871
@abollini : The proposed new feature enhancements seem reasonable to me, provided that they don't make this PR overly complex to review/test.

If they make this code contribution overly complex, then I'd recommend seeing if there are places where the ported code can be easily simplified initially (e.g. maybe there's initially only the "content" subscription type, and we can add in statistics later

[2022-10-20 20:06] tdonohue commented on #2868
Per today's meeting, assigning to @abollini / 4Science, as they volunteered.  Pulling this onto the 7.5 board

[2022-10-20 21:08] tdonohue commented on #7966
Thanks @abollini , sounds good.  Assigning you for your team to work on for 7.5

[2022-10-20 21:08] tdonohue commented on #8443
Thanks @abollini .  Assigning you for your team to work on

[2022-10-20 21:11] tdonohue commented on #8384
Thanks @abollini .  That sounds good & I'll assign you for your team to work on.

[2022-10-20 21:13] tdonohue commented on #8425
@abollini : Sounds good & I agree that a manual refresh button would be nice on this page.  Assigning to you for your team.

[2022-10-20 21:36] tdonohue commented on #8428
@abollini : Your estimate sounds reasonable for making this work on the `/search` page/features.  I agree that changes to the community/collection homepages should be treated as a separate ticket & should not be included in this ticket.

Assigning to you for your team to work on for 7.5

[2022-10-21 07:52] jonas-atmire opened #8538 "Test configuration can have too much impact on unrelated tests"
**Describe the bug**
This is basically an extension/write-out of the fix that was done in [this commit](https://github.com/DSpace/DSpace/commit/3e05832a38b21b595e1d6ccdc62b37f6aa480839)

A whole set of tests have impact on each other when config is changed.
If a certain test requires configuration to be altered (For example, a new spring config is added or an 'older' one is removed), this could ha

[2022-10-21 12:53] mwoodiupui commented on #2852
I'd like to observe that "statistics" is a very broad concept, with many different sources and many different consumers.  In particular, if you look at the suggested replacements above, one (Usage Statistics) is a time series and used to analyze events occurring over time which are recorded solely for statistical use, while the other (QC Reports) is a snapshot of objects currently held for other r

[2022-10-21 13:49] tdonohue commented on #8538
@jonas-atmire : Thanks, and I do agree that there's more that can be done to make our ITs more "standalone".   I'll pull this over to the 7.5 board in case anyone wants to start work on this.

That said, I do want to make sure that this is either estimated or better scoped though before it can be "paid work". The scope of this ticket is still quite vague, it simply describes a common problem and o

[2022-10-21 13:58] tdonohue commented on #3077
At this time, this feature is waiting on a volunteer to investigate & start to implement.  If a volunteer can be found, then this would move forward immediately.  But, otherwise it will need to wait until either a volunteer is located or its priority changes.

The core dev team is concentrating first on completing the "Tier list" of missing 7.x features (with a concentration on features that exist

[2022-10-21 14:23] tdonohue commented on #2852
@mwoodiupui : You are quite correct, but I'd also want to warn us about expanding the scope of this specific ticket.

The goal of my [prior message](https://github.com/DSpace/DSpace/issues/2852#issuecomment-1286064086) was to simply note that the *3* statistical concepts in 6.x _might be_ re-envisioned as *2* concepts in 7.x.  That simplification would require first analyzing whether to use cases

[2022-10-21 15:33] tdonohue commented on #2842
@abollini : Another older ticket previously assigned to your team.  Should this and https://github.com/DSpace/dspace-angular/issues/774 stay assigned to your team for 7.5?  If not, I'll unassign them.

[2022-10-21 21:24] tdonohue opened #8539 "TEST NEW ISSUE (Disregard)"
Issue to test that our triage process still works after migrating to our Backlog Board to the new [GitHub Projects](https://docs.github.com/en/issues/planning-and-tracking-with-projects/learning-about-projects/about-projects)

[2022-10-21 21:38] tdonohue opened #8540 "TEST TICKET (DISREGARD)"
Issue to test that our triage process still works after migrating to our Backlog Board to the new [GitHub Projects](https://docs.github.com/en/issues/planning-and-tracking-with-projects/learning-about-projects/about-projects)

[2022-10-24 18:45] nwoodward commented on #8450
I did a little testing, and it appears the subject is getting set correctly at first. But then it gets reset to null in the send() method of Email where I think there's a logical error on line https://github.com/DSpace/DSpace/blob/main/dspace-api/src/main/java/org/dspace/core/Email.java#L358. It seems like the null check was intended for `headerValue` instead of `subject`. And since the `headerVal

[2022-10-24 18:56] tdonohue commented on #8450
@nwoodward : If you are able to create a PR for us, I'll get it assigned to some testers who can help verify this fixes the issue.  (It's difficult to tell at a glance, but if does appear like the null check is likely incorrect.)

[2022-10-25 06:36] anabe1 opened #8542 "Browse by Title cannot filter by multiple words"
When types more than 1 words in the "Browse By title" filter in the collection, no results return.

For example,
[https://demo7.dspace.org/browse/title?scope=b613c730-d5e2-4d14-aba5-18b0f9730759&bbm.page=1&startsWith=Documento%20do%20LabTecGC](url)

![Step1](https://user-images.githubusercontent.com/50432834/197699161-e3dc8c0a-a5fe-40c5-8d59-84c80837a4bc.png)
![Step2](https://user-images.githubuse

[2022-10-25 11:28] unibravo opened #8543 "CC License dropdown shows duplicate values (CC0 twice)"
**Describe the bug**
A clear and concise description of what the bug is.  Include the version(s) of DSpace where you've seen this problem. Link to examples if they are public.

**To Reproduce**
Steps to reproduce the behavior:
1. CC Lisence Activate
2. Add Item
3. Select CC Lisence

There are 3 types showing but 2 same (CCO):

- CCO
- Creative Commons
- CCO

**Expected behavior**

- Public Domain

[2022-10-25 11:36] jonas-atmire commented on #8538
@tdonohue
Thanks for the notes, I agree that this issue is indeed still a bit vague and needs to be more scoped out so it doesn't become a tangle of random changes and 'possible' issues.

I'll be expanding it with more and more examples as we come across them or if we find out issues that could have impact on other tests.
That way we can make a distinction in:
* Configuration that could have impac

[2022-10-25 12:20] toniprieto commented on #8543
It is related with #7744

I think the problem comes from the CC API. Although the query for the list of available licenses returns the CC0 i Public Domain licenses separately. See:

http://api.creativecommons.org/rest/1.5/

If you retrieve the details of the public domain license it returns the same result as CC0:

http://api.creativecommons.org/rest/1.5/license/publicdomain
http://api.creativecom

[2022-10-25 13:29] lap82 commented on #2793
We (at 4Science) are interested in working on that.

[2022-10-26 08:40] parphis commented on #3373
@tdonohue I have checked the backend code regarding this issue. I found the followings:

 1. There is an if statement within the fn `move` https://github.com/DSpace/DSpace/blob/5c697c813bb62db13200f303291a4c92c00a441b/dspace-api/src/main/java/org/dspace/content/ItemServiceImpl.java#L988
We decide here whether to call the `adjustBundleBitstreamPolicies` and `adjustItemPolicies` functions later in o

[2022-10-27 10:59] alanorth opened #8549 "ImageMagick produces a strange two-page thumbnail layout for certain PDFs"
ImageMagick uses the PDF `MediaBox` by default when rasterizing PDFs. In certain PDFs this can lead to an unexpected layout in the resulting thumbnail, for example (open the following image in a new tab to see the blank white page):

<p align="center">
  <img width="400" src="https://user-images.githubusercontent.com/191754/198264352-29be6a14-5387-4fb7-b94b-1355af98d3db.jpg">
</p>

This happens be

[2022-10-27 13:25] unibravo commented on #8543
dspace.cfg

# A list of license classes that should be excluded from selection process
# class names - comma-separated list -  must exactly match what service returns.
# At time of implementation, these are:
# publicdomain - "Public Domain"
# standard - "Creative Commons"
# recombo - "Sampling"
# zero - "CC0"
# mark - "Public Domain Mark"
cc.license.classfilter = publicdomain, standard, recombo, z

[2022-10-27 16:40] tdonohue commented on #2870
See [comment on frontend ticket](https://github.com/DSpace/dspace-angular/issues/815#issuecomment-1293769514).  Per discussion in today's meeting this has been reassigned to Atmire (@artlowel ).  The estimate here is zeroed out because it's included in the estimate for [#815](https://github.com/DSpace/dspace-angular/issues/815)

@artlowel : Please feel free though to verify estimate is correct and

[2022-10-28 07:10] abollini opened #8554 "OpenSearch Feed are invalid"
**Describe the bug**
The feeds produced by the opensearch controller are formally invalid (but they work in common readers) due to mis-encoding of the query parameter in the "response header section of the feed".

**To Reproduce**
Steps to reproduce the behavior:
1. try to validate the opensearch url with the w3c feed validator, both for the atom than the rss format
2. [W3C validator atom](https:/

[2022-10-28 19:39] #8451 closed

[2022-10-28 19:50] #8501 closed

[2022-10-28 19:52] #8528 closed

[2022-10-30 18:10] MarisArins opened #8555 "Shibboleth "Lazy session = false" does not redirect to login URL"
This documentation describes lazy/active Shibboleth session usage:
https://wiki.lyrasis.org/display/DSDOC7x/Authentication+Plugins#AuthenticationPlugins-ShibbolethAuthentication

In particular "In other words, when using Active Sessions, Shibboleth will require everyone to first authenticate before they can access any part of your repository".

When using Shibboleth auth I configure "authenticatio

[2022-10-31 10:13] OyvindLGjesdal opened #8557 "DSpace (5/6?) handle server doesn't start after JDK 8 update"
**Describe the bug**
After updating to
[code]
or
[code]

The handle-server script no longer starts, probably due to [JDK-8287132 - Retire Runtime.runFinalizersOnExit so that it always throws UOE](https://bugs.openjdk.org/browse/JDK-8287132)

**To Reproduce**
Steps to reproduce the behavior:
1. Update the system packaged JDK 8 (Coretto and RHEL-packaged openjdk confirmed)
2. Try to start handle-ser

[2022-10-31 10:32] christian-scheible opened #8558 "Solr date item.lastmodified of OAI-Index is wrong if local timezone has an offset to UTC"
**Describe the bug**
When an item get's indexed in the OAI-Solr-Index the timezone information get's lost. This leads to a wrong date in the OAI index.
The reason is, that the databases timestamp with timezone gets transformed to a [java.sql.Timestamp](https://github.com/DSpace/DSpace/blob/main/dspace-api/src/main/java/org/dspace/content/Item.java#L74). That is when the timezone information get's

[2022-10-31 14:09] #8533 closed

[2022-10-31 14:21] tdonohue commented on #7654
Closing, this was fixed in 7.4 by #8357

[2022-10-31 14:21] #7654 closed

[2022-10-31 14:37] tdonohue commented on #8557
This seems like the same issue we saw with JDK11 + DSpace 5/6. See #7892.   It's frustrating that JDK8 seems to have broken their own backwards compatibility.

The fix for that in DSpace 7 was to upgrade to using Handle Server v9 via #2828 and #2907.   It might be possible to backport these PRs to DSpace 5 & 6 (I haven't had a chance to look into it yet).  If anyone has time to try this backport,

[2022-10-31 15:05] tdonohue commented on #8558
@christian-scheible : While I haven't tested it yet, a slightly better fix might be to use `java.time.Instant` when [getting the current date/time on this line](https://github.com/DSpace/DSpace/blob/main/dspace-oai/src/main/java/org/dspace/xoai/app/XOAI.java#L386)

It might be possible to just change that line to something like:
[code]

I'm not sure if that'll fix the problem or not, so definitely

[2022-10-31 17:46] #8516 closed

[2022-10-31 19:31] #8298 closed

[2022-10-31 20:16] #8450 closed

[2022-11-01 14:54] tdonohue commented on #8555
Thanks @MarisArins for reporting this.  My best guess here is that we don't yet have support for "Active Sessions" (where the entire site should not be possible to access until you login via Shibboleth, as [described in the docs](https://wiki.lyrasis.org/display/DSDOC7x/Authentication+Plugins#AuthenticationPlugins-ShibbolethAuthentication)).

I'll pull this over to our board and see if I can find

[2022-11-01 16:20] #8514 closed

[2022-11-01 18:32] mwoodiupui opened #8561 "Enable `dspace import` to read SAF batches written with `dspace export -x`"
**Is your feature request related to a problem? Please describe.**
`dspace export -x` creates SAF batches without the bitstreams, which is useful for setting up a demo with full production metadata. However, such batches cannot be imported using `dspace import` because it lacks a corresponding option to ignore bitstreams.  (If you try, it crashes on file-not-found.)

**Describe the solution you'd

[2022-11-02 08:25] ichbineinusername commented on #8558
@tdonohue. Thanks for your suggestion, but unfortunately this won't help in this case because `now` is not the date that gets returned. It's the date from [item.getLastModified()](https://github.com/DSpace/DSpace/blob/main/dspace-oai/src/main/java/org/dspace/xoai/app/XOAI.java#L384).

[2022-11-02 08:26] christian-scheible commented on #8558
@tdonohue. Thanks for your suggestion, but unfortunately this won't help in this case because `now` is not the date that gets returned. It's the date from [item.getLastModified()](https://github.com/DSpace/DSpace/blob/main/dspace-oai/src/main/java/org/dspace/xoai/app/XOAI.java#L384).

[2022-11-02 12:02] OyvindLGjesdal commented on #8557
@tdonohue I could try getting it to work for clarin-dspace and then add a similar PR for the dspace 5 and 6 branches but I'm unsure how to test if it works.

I have managed to build with the [PR for clarin-dspace](https://github.com/ubbdst/clarin-dspace/commit/dd37d977e4ee259fc571f662b83ef79f3b52df39) which looks similar to your PRs above, and to test it out I tried to use the dspace bin for confi

[2022-11-02 15:39] tdonohue commented on #8557
@OyvindLGjesdal :  Thanks for your feedback.  After digging around a bit, I realized that there was some earlier work also needed to support migrating to Handle Server v9 in #2394 ... and those changes involved minor updates to the `make-handle-config` script.  Maybe that's the missing piece here?  I'd recommend trying to make those updates to `make-handle-config` and trying again...hopefully it'l

[2022-11-02 17:48] vins01-4science opened #8563 "Common Extendend Regex format for submission-forms"
As of now it will be impossible to define a common regex tag value that has flags usable for both `REST` and `angular` projects.
Moreover, using regex with the form `/{regex}/` will be invalid for `REST`.
It will be nice to use a common format / parser to analyze, parse and correctly create the `regex`.
Because we are currently showing the mismatched pattern inside the wrongly filled field in the

[2022-11-02 17:49] vins01-4science commented on #8563
@tdonohue: We @4science can work on this issue.

[2022-11-02 19:48] tdonohue commented on #8563
@vins01-4science : I'm not sure I understand this issue ticket.  There is no `input-forms.xml` anymore in DSpace 7... it was replaced with `submission-forms.xml`.  So, I'm assuming you are talking about the RegEx format accepted by the `<regex>` tag in `submission-forms.xml`?

Could you better describe examples of how the current `<regex>` tag's behavior is limiting & how you propose changing it?

[2022-11-03 08:41] vins01-4science commented on #8563
Yes, my mistake. I meant that `<regex>` tag inside `submission-forms.xml` file.

Sure, if you want to use a flag inside the regex itself you should choose a format for that declaration.
As of now, because the same field (`regex`) is shared between `Java` and `JS/TS` languages you can't use a common flag format to make it work for both.
As an example, if you choose the _Java inline flag format_ you

[2022-11-03 14:08] tdonohue commented on #8563
@vins01-4science :  Thanks for the clearer explanation. I didn't realize that the regex syntax used by Java was invalid on the Angular side...so, this ticket makes much more sense to me now as it's about ensuring we are using a **common RegEx format that works for both Java/backend and Angular/frontend.**

I'll pull this over to the 7.5 board & flag as high priority, as I agree this is an issue we

[2022-11-03 14:57] johannastaudinger opened #8564 "DataCite import service"
**Is your feature request related to a problem? Please describe.**
We cannot import metadata for DOI registered with DataCite.

**Describe the solution you'd like**
Initially we would like to import metadata from DataCite in the same way as from Crossref.

In a further commit we want to enable parallel data queries for multiple sources like DataCite and Crossref.

**Describe alternatives or workar

[2022-11-04 15:33] nwoodward commented on #8554
I'm not sure how to fix this given that the response is created by the ROME syndication feeds dependency, which doesn't URL encode the searchTerms in the header and doesn't make that configurable. But I don't think the default query ('*') is even required here, because it returns the same results as not including a query term at all in the URL.

[2022-11-04 16:49] corrad82-4s opened #8567 "Toggle to mark bitstream as primary does not work"
**Describe the bug**
The toggle present in Administrative panel to edit bitstream metadata, used to define if a bitstream is the primary is not working as expected. In case it is switched on, no information is sent to backend to define it as primary.
![image](https://user-images.githubusercontent.com/70699836/200026931-0977f2d7-5e0d-4a84-9415-38b1a0bc3582.png)

**To Reproduce**
Steps to reproduce

[2022-11-04 18:03] tdonohue commented on #8567
@corrad82-4s : This is a duplicate as this bug already has tickets created at https://github.com/DSpace/dspace-angular/issues/1578 and https://github.com/DSpace/DSpace/issues/3349.  Both those tickets are already on the 7.5 board and flagged as `high priority`.

If your team is interested in working on these for 7.5, I can assign them both to you & add your estimate.  Currently they are unclaimed.

[2022-11-07 10:38] sipelepis opened #8569 "statistics is still public"
**Describe the bug**
According to the documentation, setting the property called google-analytics.authorization.admin.usage to _true_ will hide the statistics for unauthorized users. However, statistics is still visible in the home page and returns the total views for each item even though each item is inaccessible by anonymous group.

backend: DSpace 7.4
frontend:  DSpace 7.4

**To Reproduce**
St

[2022-11-07 10:43] sipelepis commented on #8569
Bit of context to what we did:

We've populated our website with communities, collections, and items which are previously publicly accessible. Then after populating, my team decided to set the statistics section to only be visible by authorized users such as Administrator group by setting the google-analytics.authorization.admin.usage to true and setting the authorizations for communities,collecti

[2022-11-07 15:32] tdonohue commented on #8569
@sipelepis : The statistics visible in DSpace are not driven by Google Analytics, so the `google-analytics.cfg` settings do not impact the Statistics you see in DSpace...they only impact statistics *visible in Google Analytics*... and they aren't yet supported in DSpace 7, see this note: https://github.com/DSpace/DSpace/blob/main/dspace/config/modules/google-analytics.cfg#L8

The Statistics visibl

[2022-11-07 15:32] #8569 closed

[2022-11-07 15:35] OyvindLGjesdal commented on #8557
I can now build the handle-server for the clarin-dspace fork, unfortunately several other depencies had to be bumped.

https://github.com/ufal/clarin-dspace/pull/1021/files

Some notable things:
*  The jetty dependency failed when using the old gson (and excluding it from jetty)
[code]
* xmlui build fails when pulling in dspace-api dependency when jetty dependency is present. ( we don't build all

[2022-11-07 20:45] nwoodward commented on #8181
I looked at this a bit, and @mwoodiupui is correct that the instanceDir can be obtained from the JSON status response.

But there's another issue with the data directory used for the temporary core. I'm still researching how that could be handled in a Solr instance that's on a different server than DSpace.
https://github.com/DSpace/DSpace/blob/ccd47b0ddd2df3cf7560678e29d5311e7e866ea2/dspace-api/sr

[2022-11-08 14:01] abollini opened #8570 "Integrity check & checksum report are broken (since v6)"
**Describe the bug**
The `checker` script records all the check as success also when there are mismatch.
Moreover, the `checker-emailer` will never sent a report about identified issues.

**To Reproduce**
Steps to reproduce the behavior:
1. Manually remove some files from the assetstore and/or replace them with other content
2. run the `dspace checker` script and check the content of the checksum_

[2022-11-08 15:06] abollini commented on #8570
yes, this is fixed by #8500 so you can assign to us. For version 7, it will be a volunteer contribution from 4Science

[2022-11-08 15:42] nwoodward commented on #7822
This issue has caused us problems in DSpace 6 if we don't notice that the dbfile is still commented out in usage-statistics.cfg and then we hear months later from repository manages asking why they don't have any views stats.

[2022-11-08 16:54] tdonohue commented on #8557
@OyvindLGjesdal : Thanks for the updates.  It sounds, to me, like this upgrade to Handle Server v9.x may not be fully possible for the DSpace 6.x codebase then?  Obviously, we cannot do this upgrade if it breaks the entire XMLUI (as that would impact roughly 50% of all 6.x sites, since it's about a 50%/50% split between JSPUI and XMLUI).

[2022-11-08 18:00] OyvindLGjesdal commented on #8557
I was a bit unclear above I see.

xmlui builds and works(?) if I exclude some artifacts from the dspace-api dependency from `dspace-xmlui/pom.xml`

[code]

I saw that `dspace-api`  is a dependency for other modules that we don't use, so other artifacts could also have issues with the updated dependencies (and need exclusions?)

I'll try to get a PR for the dspace 6 branch

[2022-11-08 18:30] tdonohue commented on #8557
@OyvindLGjesdal : Ok, thanks for clarifying.  Yes, please do create a PR against the `dspace-6_x` branch... that way we should be able to find others to help test this work & verify whether it's a full fix, or if there's additional code changes we necessary. I appreciate all the work you've done so far. I think it'll be easiest for myself & others to help you out if you can create a PR. Thanks!

[2022-11-08 20:38] tdonohue commented on #2852
The priority of this feature was discussed in [today's DCAT meeting](https://wiki.lyrasis.org/display/cmtygp/DCAT+Meeting+November+2022).  General consensus was that this log-based statistics feature **should not be added into 7.x**.  Instead, DCAT members agreed that any of its prior use cases should be instead implemented as part of [Solr Usage Statistics](https://wiki.lyrasis.org/display/DSDOC7

[2022-11-08 20:44] tdonohue opened #8572 "Community / Collection statistics should include aggregate statistics for their Items"
**Is your feature request related to a problem? Please describe.**
This was brought up in a DCAT discussion today, and was supported by several DCAT members.

Currently, in DSpace 7, the (Solr) Statistics pages for Communities and Collections just displays statistics for *views* of the Community/Collection homepage.  While this is useful, DCAT members agreed it'd be useful to also show aggregated

[2022-11-08 20:49] tdonohue opened #8573 "Provide a way to export Solr Statistics to CSV for analysis via external tools"
**Is your feature request related to a problem? Please describe.**
This was brought up in a DCAT discussion today, and was supported by several DCAT members.

DCAT members noted they have users who'd like to be able to export usage statistics to Excel/CSV for easier manipulation in reports and/or analysis from external tools.  Presumably, this would include also exporting subsets of data (e.g. exp

[2022-11-08 21:15] mwoodiupui commented on #8572
I've never poked around in the built-in statistics, but I'd guess that 7 months is to cover the difference between "6 calendar months" and "6 months ending now".

Not disagreeing with the meat of this issue, but I would say that, if one is more than casually interested in statistical analysis of DSpace usage, one should export the cases into R or SAS or SPSS or Stata or any of a dozen others, and

[2022-11-08 21:18] mwoodiupui commented on #8572
I've never poked around in the built-in statistics, but I'd guess that 7 months is to cover the difference between "6 calendar months" and "6 months ending now".

Not disagreeing with the meat of this issue, but I would say that, if one is more than casually interested in statistical analysis of DSpace usage, one should export the cases into R or SAS or SPSS or Stata or any of a dozen others, and

[2022-11-08 21:31] mwoodiupui commented on #8573
Exporting cases in a form that can be ingested by Real Statistical Tools:  couldn't agree more.

While we are looking at this, I would like to see some discussion of why we use Solr to store cases.

[2022-11-08 22:18] tdonohue commented on #8572
@mwoodiupui : Agreed overall... one of the points made in the DCAT meeting though was that external tools often don't "understand" DSpace's Community <-> Collection <-> Item <-> Bitstream structure.  So, showing statistics based on this structure is something that can be done relatively easily _with DSpace_, but may not be as easy in external analysis tools (unless you can feed those tools somehow

[2022-11-09 01:12] eulereadgbe commented on #8572
It would also be nice if there is an option to select the date start and date end for each aggregated statistic. Our use case requires us to report the number of downloads, and access each year or for a specific time frame.

[2022-11-09 07:48] MW3000 opened #8576 "Search endpoint has incorrect "self link""
**Describe the bug**
When using the UI, there appears a ensureSelfLink warning in the browser console when searching. Open your browser's console for warning messages and issue a search request: You will find this warning in your console:

I experience this with our own installation of DSpace and it can be observed on https://demo7.dspace.org

There has been a similar issue a while ago opened and

[2022-11-09 07:53] MW3000 opened #8577 "There appears a ensureSelfLink warning in the browser console for item pages"
**Describe the bug**
There appears a ensureSelfLink warning in the browser console for item pages. For example go to
https://demo7.dspace.org/entities/journalvolume/d2a50f09-e051-41f6-bb63-538121d3e065:

I experience this with our own installation of DSpace and it can be observed on https://demo7.dspace.org/

[2022-11-09 11:03] OyvindLGjesdal commented on #8557
Our fork where I managed to start the handle-server, is a Dspace 5 fork.

DSpace 6 github actions is stopped by the enforcer plugin, while I don't think DSpace 5 uses it?

[2022-11-09 15:27] tdonohue commented on #8577
Similar issue to #8576... both of these tickets might be fixed at the same time.

[2022-11-11 16:51] tdonohue commented on #2793
@benbosman or @lieven-atmire :  Trying to clarify who is working on this issue between Atmire & 4Science. As you can see above, the 4Science team would like to work on fixing this issue in 7.5.  However, it looks like @benbosman previously volunteered for #3272 which seems directly related to this ticket.   Could one of you verify whether Atmire is working on this or not?

[2022-11-12 11:29] ebalnaves commented on #8557
I have tested a working alternative by rebuilding handle-6.2.jar with a minor change to ./net/handle/server/Main.java to comment out the now discontinued class at line 124
//System.runFinalizersOnExit(true);

Rebuild the handle jar and replace.  Handle server starts successfully and tested with a handle lookup.

Could provide alternative for some to get a server live.

Happy to share the build to

[2022-11-14 14:40] hutattedonmyarm opened #8584 "Adding a publication/person relationship during submission, causes the relationship to be displayed twice"
**Describe the bug**
DSpace Version: DSpace 7.4

This looks to be an edge case, with a specific submission configuration situation (detailed below).
When adding a new author via lookup, *all* authors (including the newly added one) show up duplicated. They are stored (correctly) only once. Reloading the submission page fixes the display, until a new author is added via lookup.

**To Reproduce**
St

[2022-11-14 15:55] tdonohue commented on #8557
@ebalnaves : If you could either share the updated `handle-6.2.jar` or link us directly to the Handle server code you downloaded & changed, that'd be appreciated.  I agree that this might provide an alternative, perhaps easier, solution to those who are impacted.

[2022-11-14 17:43] Pranavv361 commented on #8397
Hi Tim and  corrad82-4s, me and my team are trying to automate cover page for University of Oklahoma Libraries and Open Initiatives for Scholarly Communication, Is it possible to customize(for ex: adding University logo) the available citation cover page - https://wiki.lyrasis.org/display/DSDOC7x/PDF+Citation+Cover+Page.
We currently use Dspace v6 and are planning to migrate from v6 to v7 in summe

[2022-11-14 20:54] ebalnaves commented on #8557
I have shared the test source at https://release.prosentient.com.au/handle62/handle6.2patched.tar.gz

The base is hdl 6.2.05 code from handle.net

Note that this does not contain the cnriutil references.

I compiled lib/cnriutil.jar derived from the classes in the dspace version of handle-6.2.jar

To achieve a distribution I modified the build.xml to remove references to the admintools.  I'm guess

[2022-11-14 21:09] ebalnaves commented on #8557
The compiled handle.jar file is available at https://release.prosentient.com.au/handle62/handle.jar.gz
It can be used to replace the handle-6.2.jar reference in the dspace 6.4 build or copied directly to the target directly to the target directories - particularly of course lib

./lib/handle-6.2.jar
./webapps/jspui/WEB-INF/lib/handle-6.2.jar
./webapps/xmlui/WEB-INF/lib/handle-6.2.jar
./webapps/swo

[2022-11-15 15:47] tantz001 opened #8585 "Add submitter information to provenance metadata"
Items that are submitted to collections that allow immediate archiving are missing "Submitted by" text from provenance metadata.  This is closely related to https://github.com/DSpace/DSpace/issues/7667

**Describe the solution you'd like**
Similar to items that go through a workflow, there should be provenance metadata that contains this text along with the -person who submitted the item.

**Descr

[2022-11-16 00:41] yingjin opened #8586 "Video/Audio file Captioning support"
**Is your feature request related to a problem? Please describe.**
In our customized DSpace 6, we used JWplayer streaming the video/audio and provided WEB VTT or SRT captioning support. We are planning move to DSPace 7 and we would like continue support captioning for our media files.

**Describe the solution you'd like**
Add captioning support in current DSpace 7 media viewer. The idea is to add

[2022-11-16 13:50] MarieVerdonck opened #8587 "Type-bind submission config removes metadata field values present in submission"
**Describe the bug**
There is a bug in type-bind submission code that when there are multiple input fields in config for the same metadata field, but with different type-bind. That when a type is selected, that is not present in the first of such configured fields, that the value submitted into that metadata field is removed again.

**To Reproduce**
Steps to reproduce the behavior:

- two `dc.titl

[2022-11-16 13:53] MarieVerdonck commented on #8587
Estimate of 8 hours to address, test and write IT for.

[2022-11-17 08:24] OyvindLGjesdal commented on #8557
I don't know much about different java distros but https://www.azul.com/downloads/?package=jdk looks like it has LTS for Java 1.7? Could be listed as a maintained alternative?

[2022-11-17 19:47] tdonohue commented on #8587
Thanks @MarieVerdonck !  Definitely a bug we should fix immediately. I'll assign back to you for you/your team to work on, and pull it over to the 7.5 board

[2022-11-18 15:33] tdonohue commented on #8557
@OyvindLGjesdal :  Yes, using Azul Zulu's version of JDK 1.7 would be a valid alternative here (as they are a trusted JDK distributor, see https://stackoverflow.com/questions/61335109/what-is-the-difference-between-azul-openjdk-zulu-openjdk-and-openjdk).  However, I *believe* Azul's free version of JDK 1.7 ended support in July 2022, according to https://www.azul.com/products/azul-support-roadmap/

[2022-11-18 17:23] MW3000 opened #8588 "Turning on textextractor.use-temp-file breaks three tests"
**Describe the bug**
Setting `textextractor.use-temp-file = true` in `dspace.cfg` breaks these three tests:

- org.dspace.app.mediafilter.TikaTextExtractionFilterTest
   - testGetDestinationStreamWithODP
   - testGetDestinationStreamWithODT
   - testGetDestinationStreamWithODS

I attach the test results:
[testGetDestinationStreamWithODP.txt](https://github.com/DSpace/DSpace/files/10043468/testGetD

[2022-11-22 06:34] DSquareTechnologies commented on #8426
@tdonohue Here is the filters addition scope document. Kindly help with the validation.

**Filters on the Home page**
•	Filters appearance on the home page illustrated
![image001](https://user-images.githubusercontent.com/6321834/203241053-2c28c438-b628-486f-ac3d-1831fd994ff6.png)

•	Filter’s behavior will be the same as it is on the advanced search page at present.
•	Upon selecting a value from a

[2022-11-22 06:51] DSquareTechnologies commented on #8431
@tdonohue  Kindly help with scope validation for the ticket:

- Advanced filters appear below the global search field on the advanced search page.

<img width="1957" alt="001" src="https://user-images.githubusercontent.com/6321834/203243595-509b049c-67a7-4ad4-9818-44caad9428f6.png">

-  User clicks the “Show Advanced filters” to access the functionality and advanced filters appear as demonstrated

[2022-11-22 13:53] MarieVerdonck commented on #8587
Apologies, after further investigation discovered there already was a fix created for this issue: https://github.com/DSpace/DSpace/pull/8296
Issue was discovered in 7.2 and retested in main, but apparently something went wrong with the testing communication there, can now no longer be reproduced.

[2022-11-22 13:53] #8587 closed

[2022-11-22 16:39] lehmbein opened #8590 "Create configuration option to make the language tag mandatory"
**Is your feature request related to a problem? Please describe.**
In the submission-form.xml it is possible to mark metadata fields, such as titles, with the language element/tag.
This makes it clear which language the title has. Currently it is not possible to declare language as mandatory input if the actual field (e.g. `dc.title`) has been filled in.
That means submitter and curator can forget

[2022-11-23 12:57] Ma-Tador opened #8592 "Import item via SAF with handle provided in collections file produces error"
**Describe the bug**
When I import via SAF with the handle provided in the collections file, I get the error: "Invalid UUID string: Skipping".
When I use the same handle, but provide it in the CLI via -c option, the import works.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a SAF item to import, and provide a collections file where a valid DSpace collection handle is specified.
2.

[2022-11-25 11:00] OyvindLGjesdal commented on #8557
Thanks for the info @tdonohue, I didn't see the roadmap/dating on the table on the landing page of azul.

[2022-11-28 15:06] tdonohue commented on #8592
@Ma-Tador : What version of DSpace is this related to?

[2022-11-28 15:37] tdonohue commented on #8557
For any following this ticket, @OyvindLGjesdal has done some good work in trying to get Handle Server v9.3 running with DSpace 6 in #8574.   More eyes on that PR are welcome though, as it's unclear whether the fix results in side effects at this time.

In the meantime, the best solutions remain either downgrading JDK 8, or using the modified version of [Handle Server JAR listed above](https://gith

[2022-11-28 18:44] tdonohue commented on #8426
@DSquareTechnologies : I feel the layout of these pages **needs work**, as I find it to be extremely confusing & I feel it hurts the usability of these pages. For instance, the "Filters" displayed on each page no longer filter the content you are seeing on the page... instead they redirect you to the search page.  That means these are no longer filters...they are links to searches.

* On the Homep

[2022-11-28 18:58] tdonohue commented on #8431
@DSquareTechnologies : To be honest, one might argue that this ticket could be resolved with an "inline help menu" which simply describes the syntax options listed at https://wiki.lyrasis.org/display/DSDOC7x/Search+-+Advanced

That seems to be the approach that Google takes these days (there's no direct link anywhere to an Advanced Search, instead you are always sent to [docs on "Refine web search

[2022-11-30 07:43] alanorth commented on #8253
Same issue I described in https://github.com/DSpace/DSpace/issues/7989, which affects DSpace 7.5-SNAPSHOT as far as I know.

---

For a non-DSpace solution, I've purged duplicate metadata from my repository using some [elaborate SQL](https://chartio.com/learn/databases/how-to-find-duplicate-values-in-a-sql-table/) and shell shenanigans.

First, export a list of all metadata that is duplicated:

[c

[2022-11-30 10:17] vimalibre commented on #8519
I got the same error.
Please share me what you have done to solve the problem?

[2022-11-30 17:41] tdonohue commented on #8408
@arvoConsultores : Just seeing your above comment.  I think it makes sense for each of these Community/Collection search boxes to have the same behavior.  So, yes, it might make sense to ensure they all are alphabetically ordered.

That also might imply that the underlying query itself might need to be updated to return results ordered by title (as if you update the underlying query, it should cha