[2021-09-28 17:12] #7935 closed

[2021-09-28 18:37] #3291 closed

[2021-09-30 13:44] atmickle opened #7969 "Bibtex import does not parse multiple authors into different fields"
**Description**
In the DSpace 7 demo area I wanted to import a Bibtex file from the MyDSpace area. However, the authors were not parsed separately, but as one big block.

**Reproduce**
Steps to reproduce the behavior:
1. Get  a bibtex file with multiple authors
2. Go to MyDSpace
3. Select the bibtex file to import
4. Check the author field on the new item submission

**Expected behavior**
Multiple

[2021-09-30 15:11] #3193 closed

[2021-09-30 17:37] AndrewZachWood opened #7970 "Bad request when attempting to add 'Start Date' to Bitstream policies"
When attempting to set the start date of a bitstream policy, from the Admin edit context, I get a Bad Request error in my console which is reflected in my DSpace logs and the start date is not saved for the respective policy.
Video of me recreating the issue:
https://www.awesomescreenshot.com/video/5447262?key=f4124c5dc883c3203e5c961707ce3517

Error from my DSpace log:
[code]

[2021-09-30 18:11] AndrewZWood commented on #7970
Maybe I'm not seeing the forest through the trees. But what is the purpose of this method?
https://github.com/DSpace/DSpace/blob/main/dspace-server-webapp/src/main/java/org/[…]ository/patch/operation/resourcePolicy/ResourcePolicyUtils.java

As in, why is that check required when doing the PATCH operation to update a ResourcePolicy?

When comment out this line:
https://github.com/DSpace/DSpace/blob

[2021-09-30 18:38] tdonohue commented on #7970
@AndrewZWood : A quick answer to your question is because of the definition of how `PATCH` works (based on the JSON Patch specification).  Based on those specs, a `replace` **requires that a value already exist to replace**.  If no value already exists, you are supposed to send an `add` request.  See our REST Contract at https://github.com/DSpace/RestContract/blob/main/patch.md

Your video link do

[2021-09-30 18:40] AndrewZWood commented on #7970
@tdonohue Sorry about the link. Updated now so it should work. But yes, I am hitting the bug from the UI. I'll poke around the UI code 👍 .

[2021-09-30 18:52] tdonohue commented on #7969
@abollini : Not sure if this is of interest to the 4Science team, but wanted to call it out as I know your team helped create this DSpace 7 code.  It looks (to me) like we only have tests / test data showing a single author works, e.g. https://github.com/DSpace/DSpace/blob/main/dspace-server-webapp/src/test/resources/org/dspace/app/rest/bibtex-test-3-entries.bib

I'll pull this into the 7.2 board

[2021-09-30 19:01] abollini opened #7971 "Performance issues in the new DSpace 7 REST API"
**Describe the bug**
The community-list page has a performance issue caused by the long response time for the request
https://api7.dspace.org/server/api/core/communities/search/top?page=0&size=20&sort=dc.title,ASC&embed.size=subcommunities=1&embed=subcommunities&embed.size=collections=1&embed=collections

running the same database and solr locally on my laptop in debug mode but without any breakpo

[2021-09-30 19:57] mwoodiupui opened #7972 "Translation from Exception to HTTP status loses too much information"
**Describe the bug**
It is difficult to report to the client what actually happened to a request, because a number of Exception types are folded into very generic types by `dspace-server-webapp:org.dspace.app.rest.repository.DSpaceRestRepository`.  For example, on a PUT, both SQLException and AuthorizeException are turned into RuntimeException.  These `org.dspace.app.rest.exception.DSpaceApiExcept

[2021-10-01 15:58] AndrewZWood commented on #7970
@tdonohue Update:
It seems that: https://git.atmire.com/clients/iastate-7-angular/-/blob/main/src/app/core/data/default-change-analyzer.service.ts#L25-27

Is returning the incorrect operator for the request E.G:
Given old Resource Policy:
https://imgur.com/JYQE0Su

And our updated resource policy:
https://imgur.com/VToXv5J

Our comparator returns:
https://imgur.com/8CYNGrY

Which is incorrect .

[2021-10-01 17:25] cwilper commented on #7970
I have been following along with Andrew over here, and on further consideration, I think the problem is actually on the server side in this case, because a JSON object member with a value of `null` is not the same as one without the member. ( `{ } != { foo: null }` )

In general, if the REST API expresses the value of a field as `null` (and not just missing), [as it does in the case of resource po

[2021-10-01 19:51] mwoodiupui commented on #2868
Isn't this addressed by #3157?

[2021-10-01 21:28] tdonohue commented on #2868
@mwoodiupui : Yes, I think you are correct, that the main Curation Task support has already been added, and that support is part of the **Workflow** not the actual submission process.  I think this ticket can be closed.  We can always reopen later, if we find later issues or gaps

[2021-10-01 21:32] tdonohue commented on #7970
@cwilper : That does sound more like a REST API bug.  The REST API likely shouldn't return a `null` values in that case.

If either of you find the exact bug, I'd welcome a PR.  In the meantime, I'll move this over to our currently active board, but it'll likely have to wait for a volunteer to find time.

[2021-10-04 12:54] LucaGiamminonni opened #7974 "Provide a script to delete old processes"
It would be useful to have a script that deletes from the database all COMPLETED processes older than a given input.
It should also be possible to force the cancellation of processes in FAILED and RUNNING status. The deletion could be configurable by looking for processes older than x days.
We are interested in this functionality and could implement it ourselves.

[2021-10-04 14:07] abollini opened #7975 "Impossible to delete workflow groups migrated from a previous DSpace version using the old legacy workflow"
**Describe the bug**
If you migrate a dspace version that has some legacy workflows active (step1, step2, step3) the migrated collection roles cannot be deleted. It raises a database constraints violation due to the still existing columns workflow_step_1, workflow_step_2, workflow_step_3 in the collection table

**To Reproduce**
Steps to reproduce the behavior:
1. Take a dump of a dspace installat

[2021-10-05 10:11] f-rapp opened #7977 "DSpace 7: After changing file accessibility options in access-conditions.xml, "grant access from" and "grant access until" fields are displayed incorrectly"
**DSpace 7: File accessibility dropdown entries during submission and corresponding "grant access from" and "grant access until" fields do not make sense**
While the offered accessibility options (open access, lease, embargo, administrator) and corresponding "grant access from" and "grant access until" fields make sense when using the default setting in access-conditions.xml, they change when only

[2021-10-06 08:15] KevinVdV opened #7978 "Profile page doesn't show "special groups" in the "Authorization groups you belong to" section"
**Describe the bug**
When you configure users to have a special group this special group doesn't show up in your profile page.

**To Reproduce**
Steps to reproduce the behavior:
* On a server where shibboleth is enabled add the following to your configuration:
    - authentication-shibboleth.default-roles=DSpace
    - authentication-shibboleth.role.DSpace=Test group
* Make sure to create the "Test

[2021-10-06 11:49] mwoodiupui commented on #7978
May I suggest that Special Groups be listed separately and clearly marked as something different.  One does not configure *users* to be in a Special Group; these memberships are properties of the *session*, granted by the particular authentication method used for the session.  There is quite a bit of confusion about the nature of Special Group membership, and we would do well to carefully distingu

[2021-10-06 12:13] KevinVdV commented on #7978
@mwoodiupui Just to clarify the use case I had with one of my clients, I configured some shibboleth roles & wanted to test that when logging in the user is indeed assigned to these groups. I then noticed that the profile page didn't display the group. Leading me on a wild goose chase until I ended up realizing that the groups just weren't displayed there.

Not saying they need to be displayed unde

[2021-10-06 13:34] tdonohue commented on #7978
Moved this into 7.2 with `medium priority` for now. At the very least we likely should display special groups in a different section on that page.  This may require changes to both the backend and frontend.  Also flagged as `help wanted` to note that this could be done earlier by a volunteer.

[2021-10-06 20:00] #2883 closed

[2021-10-06 20:07] tdonohue opened #7980 "SAF (Simple Archive Format) scripts/tools are missing Integration Tests"
**Describe the bug**
While other import mechanisms (e.g. AIP, CSV) have Integration Tests to prove their behavior, these tests were never created for the Simple Archive Format (used for the basic "./dspace import" and "./dspace export" scripts).  These tools were some of the earliest created, well before we started building ITs.

**Expected behavior**
ITs should exist which can import, export and/

[2021-10-06 20:11] tdonohue opened #7981 "SAF (Simple Archive Format) exporter does not create 'relationships' file"
**Describe the bug**
In #3322 the new `relationships` file was added to the SAF (Simple Archive Format) package structure to allow for the creation of new relationships between Entities.  This same file should also be written on **export** of Entities, to better support "round-tripping" of SAF packages.

Ideally, this round-tripping might also be tested via ITs, see also #7980

**Related work**
*

[2021-10-07 07:10] tysonlt opened #7982 "IllegalArgumentException when sorting metadata in DSpaceObjectServiceImpl"
**Describe the bug**
When adding metadata with relationships, the sort method in DSpaceObjectServiceImpl.java:623 is occasionally throwing an IllegalArgumentException:

`java.lang.IllegalArgumentException: Comparison method violates its general contract!
        at java.base/java.util.TimSort.mergeLo(TimSort.java:781)
        at java.base/java.util.TimSort.mergeAt(TimSort.java:518)
        at java

[2021-10-07 07:26] tysonlt commented on #7982
It seems to be fixed by adding -Djava.util.Arrays.useLegacyMergeSort=true to JAVA_OPTS

[2021-10-07 13:29] corrad82-4s opened #7984 "RelationshipType embedding from relationships"
**Describe the bug**
This issue regards "to reproduce" steps  2 and 3 of #7960  (embedding in relationships resource response)

While working at above issue, we found out that the embedding of relationshipType in relationships resource would require more work than expected and a Rest contract review.
This because current Relationship rest response reports link to relationshipType resource itself i

[2021-10-08 15:05] mwoodiupui opened #7986 "Use a connection pool for communication with Solr"
**Is your feature request related to a problem? Please describe.**
When we are busy, I have noticed a great many connections between DSpace and Solr, the vast majority of which are in CLOSE_WAIT or some other connection-teardown state.  Making and breaking connections has a CPU cost, and large numbers of concurrent connections have a memory cost.

**Describe the solution you'd like**
We could use

[2021-10-08 19:32] #7975 closed

[2021-10-10 09:08] alanorth opened #7988 "DSpace 6.3/7.0 metadata-export includes items more than once"
**Describe the bug**
The `metadata-export` feature includes duplicate items, once for every collection they are mapped to. This bug seems to have been exposed after the fix for empty subcommunities causing NullPointerExceptions (DS-4211, #2396). It occurs in DSpace 6.3 and DSpace 7.0.

**To Reproduce**
Export a community and extract only the `id` column using `csvcut` to check the total number of

[2021-10-11 19:43] MarisArins opened #7991 "Creative common licence step not loading"
When enabling <step id="cclicense"/> in item-submission.xml configuration, CC licence segment does not appear on submission form.

If a DEBUG level I can see that CC Licence step got prepared :
`[DEBUG] 2021-10-11 19:08:42.833 [https-openssl-apr-8443-exec-3] SubmissionConfigReader - Submission process config has 2 steps listed.
[DEBUG] 2021-10-11 19:08:42.833 [https-openssl-apr-8443-exec-3] Submis

[2021-10-12 07:55] YanaDePauw opened #7992 "Scripts and processes bug"
The REST code for the scripts and processes does not take into account the "hasArg" value of the configured script options.
Instead, the REST API only exposes the option type. I believe angular will then use this option type to force an argument or not depending on the type.
When the type is a String, which is the default type, an argument will be forced.

As a consequence, when no argument needs

[2021-10-15 08:55] ybnd opened #7997 "Metadata value place is not updated when migrating from DSpace 5.10"
#### Describe the bug

After migrating a database from DSpace 5.10 to 6.x or 7.x, the `metadatavalue.place` of existing MDVs still starts from 1 instead of 0.

This can cause unexpected behaviour e.g. when editing metadata in the frontend:

* Editing the MDV `N` edits MDV `N+1` instead and "fixes" some MDV's `place` as they get overwritten
* Editing the _last_ MDV fails ~ `422: Unprocessable or in

[2021-10-15 19:47] tdonohue commented on #7971
Reopening, this was accidentally closed via #7996, but that PR only solved problems specific to the the `communities/search/top` endpoint.

[2021-10-20 08:54] LucaGiamminonni opened #8004 "The discover factes endpoint returns 500 if an invalid query is provided"
**Describe the bug**
The server/api/discover/facets endpoint cause an internal server error if the provided query is not a valid solr query.

**To Reproduce**
Steps to reproduce the behavior:
1. Call the endpoint server/api/discover/facets/* with an invalid query (as https://api7.dspace.org/server/api/discover/facets/author?page=0&size=5&sort=score,DESC&page=0&size=10&query=test%3A)

**Expected be

[2021-10-21 10:26] marianovelasco opened #8008 "Installing DSpace 7.0 with Oracle (and possible fixes)"
We have experienced problems installing DSpace 7.0 with Oracle 18 (both on Linux). Even though the developing team has made an effort to mantain Oracle as an alternate way to backend DSpace, the installation process seems to not work as is and some fixes are needed to get it done.

The steps below are meant to explain how to get a fresh install of DSpace with Oracle (no previous data).  We have ap

[2021-10-28 01:05] mspalti opened #8016 "destroy() method in PackagerIT preventing *Builders cleanup"
**Describe the bug**
The `destroy()` method in `PackagerIT` is used to remove a temp file and is overriding the parent method in _AbstractIntegrationTestWithDatabase._ As a result, *Builder objects are not cleaned up and this can affect other ITs. In my environment, this consistently causes `DiscoveryIT` to fail. Renaming the method  method in PackagerIT fixes the problem.

**To Reproduce**
It mig

[2021-10-28 20:31] mspalti opened #8017 "Import bitstreams with iiif metadata using SAF"
SAF import currently supports importing bitstream metadata. We need the ability to import bitstreams with the following additional metadata fields:

- iiif.label
- iiif.image.width
- iiif.image.height
- iiif.toc

Pull request: #8015

[2021-10-29 09:16] bram-atmire opened #8018 "Rely on https handle.net urls instead of http ones"
**Describe the bug**

In all DSpace versions, we use and advertise http handle.net links. However, handle.net fully supports https urls and may even implement future auto-redirects from http to https.

HTTPS link usage is already a ranking signal for many years.
https://developers.google.com/search/blog/2014/08/https-as-ranking-signal

**To Reproduce**
Steps to reproduce the behavior:
1. Visit any

[2021-11-01 14:39] HunterBlacker opened #8019 "DSpace 7.1 Zip Missing \dspace directory"
After downloading the .zip file with DSpace 7.1, I found that it is missing the entire \dspace directory. I was able to extract from the tar.gz file instead

[2021-11-01 15:42] tdonohue commented on #8019
@HunterBlacker : I'm not able to reproduce this.  The Zip File available for download at https://github.com/DSpace/DSpace/releases/tag/dspace-7.1 seems to have all the necessary contents.  Maybe it was a temporary download error?

[2021-11-01 16:08] HunterBlacker commented on #8019
Hi, @tdonohue . Thank-you for checking. I've tried downloading it twice. While it appears to finish downloading, I do receive an error in Windows Explorer that "Windows cannot open the folder". I am able to open it in 7-Zip though which is where I see all of the other files. It appears to be an incomplete download issue on our side with the .zip, but the .tar.gz file is complete and I'm able to us

[2021-11-01 16:08] #8019 closed

[2021-11-02 10:36] paulo-graca opened #8020 "Entity relationship ERROR: duplicate key value violates unique constraint Key (left_id, type_id, right_id)"
**Describe the bug**
At the Front-end, when trying to edit relationships I noticed an Internal Server Error (500 code) with
`POST https://MYSERVER/server/api/core/relationships?relationshipType=1`
With payload:
[code]
My dspace log had:
[code]

**To Reproduce**
(Please check the steps I did for https://github.com/DSpace/dspace-angular/issues/1387)
. At the lookup form, please wait for the relation

[2021-11-02 18:37] mspalti opened #8021 "Set default IIIF canvas dimensions dynamically"
**Is your feature request related to a problem? Please describe.**
IIIF viewers (e.g. Mirador) use canvas dimensions for layout.  From the Presentation API 2.1.1 docs:

Our current implementation relies on item or bitstream level metadata to define canvas dimensions. When this metadata is not provided, default values are used instead. These are derived either from a global setting in `iiif.cfg` or

[2021-11-02 21:36] tdonohue commented on #7982
It sounds like this is a bug and the Comparator isn't valid based on the description at https://docs.oracle.com/javase/7/docs/api/java/util/Comparator.html#compare(T,%20T)  Flagging this as high priority to fix, as otherwise this could result in odd behavior.

[2021-11-02 21:38] tdonohue commented on #7984
Thanks @corrad82-4s .  Apologies for the late response, but this all seems reasonable to me.  Will add your estimate. Let me know if you'd like to claim this to fix it.

[2021-11-02 21:54] tdonohue commented on #7986
Pulling this onto the 7.2 board since you already started work on this. Thanks @mwoodiupui !

[2021-11-03 07:45] bram-atmire commented on #8018
As a consequence of this dialog, handle.net updated their own documentation page to https urls where they previously only mentioned http at https://www.handle.net/hnr_documentation.html

[2021-11-03 14:56] tdonohue commented on #7997
@ybnd : Could you create a PR with the changes you've suggested.  They sound "reasonable", but we need to also be sure they don't impact upgrades from 6.x -> 7.x, or other upgrade scenarios.  I'd also like to better understand why this _only impacts_ upgrades from 5.x -> 7.x....and that might be easier to test out once a PR is created.

[2021-11-03 15:07] tdonohue commented on #8004
Moving this over with the related ticket to 7.2 board.

[2021-11-03 15:19] tdonohue commented on #8018
I believe this is a one-line fix (see reference to line in `HandleServerImpl` above).  Though we also may want to remove the http version of the configuration `handle.canonical.prefix = http://hdl.handle.net/` from `local.cfg.EXAMPLE` and `dspace.cfg`.

PRs welcome, but I'll pull it over onto the 7.2 board to look for a volunteer.

[2021-11-03 16:11] tdonohue commented on #8020
@paulo-graca : My suspicion is this error is caused by the invalid/unexpected configuration in your other ticket (see https://github.com/DSpace/dspace-angular/issues/1387#issuecomment-959576720).

I'm not able to reproduce this error with the default Entities configuration of DSpace 7.1 when editing relationships. Unless I'm misunderstanding how to reproduce this....I just tried going to http://lo

[2021-11-03 16:16] tdonohue commented on #7991
@MarisArins : I'm able to reproduce this as well.  I cannot get the CC License step to load.  Moving this to our 7.2 board & flagging as high priority.

[2021-11-04 07:46] pongtawat opened #8023 "DSpace 7.0: Bitstream download filename lose non-latin characters"
**Describe the bug**
When download a bitstream having filename with character other than latin, those characters will be missing in file save dialog. For example, file named "ภาษาไทย File.pdf", will be saved as " File.pdf"

This happen only on 7.0, 6.x and earlier handle this properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Running DSpace 7.0 on Tomcat 9.0
2. Upload a file to and it

[2021-11-04 10:46] mtrojan-ub opened #8024 "7.0 REST endpoint /api/submission/workspaceitems"
**Describe the bug**
Whenever trying to use this endpoint (within https://api7.dspace.org/server), i just get a HTTP error code 400 (Bad Request) without receiving any specific error information (neither as HTTP header nor inside the response body).

It's hard to figure out which parameters to use, because the documentation seems to be inconsistent with the REST API tutorial. For example, when pas

[2021-11-04 15:08] tdonohue commented on #8024
@mtrojan-ub : By default the REST API never returns the full exception text (as that can be a security issue).  But, the exception should be logged (in dspace.log).  You can also enable debug mode in the REST API, which tells it to return the full exception in the response. See https://wiki.lyrasis.org/display/DSPACE/Troubleshoot+an+error#Troubleshootanerror-DebugmodefortheRESTAPI(optional)

Unfor

[2021-11-04 15:54] pongtawat commented on #8023
I did some more searching and found this RFC https://datatracker.ietf.org/doc/html/rfc6266#section-4.3. My understanding is that the "filename" parameter only support ISO-8859-1 character set, and "filename*" allows other encoding like UTF-8. So, we should be adding a "filename*" parameter with RFC5987 encoding of file name.

We will try to fix this and submit a PR.

[2021-11-04 21:50] tdonohue commented on #8016
@mspalti : I was able to reproduce this using your instructions in the description. It seems it only occurs if `PackagerIT` happens to run before `DiscoveryIT`.... and on some systems it seems that ordering rarely occurs (like in our CI environment).

Nonetheless, I've found a fix in #8026 .  Could you give it a try to ensure it fixes it for you as well?

[2021-11-05 08:52] mtrojan-ub commented on #8024
@tdonohue: Thanks for the hints! We are still about to install our own DSpace 7 test server. As soon as we got it, we will enable the settings and provide additional information.

Another important aspect is that i am trying to use the API from a self-written PHP client. So it might as well be some incorrect Content-Encoding sent by the client or anything similar to that.

[2021-11-05 12:41] LucaGiamminonni opened #8027 "Replace the cleanup done by the builders after the test runs with the direct wipe on the db"
The strategy that uses builders to delete all entities inserted in the database during the tests, in my opinion, presents multiple problems:
- cleaning of entities created in another way other than using builders must be done manually and often, when not done, affects subsequent tests and understanding what the problem is is not always easy.
- an error during the delete of an entity (for example f

[2021-11-05 14:05] tdonohue commented on #8027
@LucaGiamminonni : While I'm not against a change in approach, I think we'd need to do more testing of such a strategy...as wiping a database & Solr is also a time consuming action, and doing so after every test method may not be speedy either.

In any case, it's worth more thinking about. For now though, I feel this is a lower priority refactor as the current approach is "good enough" provided th

[2021-11-05 17:44] #8016 closed

[2021-11-08 11:35] LucaGiamminonni commented on #8027
Hi @tdonohue, with the builders multiple deletions are performed row by row to delete all the data entered in the database during the tests. If there are x records in a table after a test I believe that a single truncate on it is more efficient than x deletions. Moreover, direct operations on the database are certainly more efficient than operations made through hibernate. Regarding solr the cores

[2021-11-08 15:21] tdonohue commented on #8027
Hi @LucaGiamminonni : I understand the logic here, but direct database modifications which bypass Hibernate can be dangerous & can cause issues/odd behaviors in Hibernate & therefore the DSpace API.  That's why I feel your idea would need further investigation & proof that it's faster & just as stable (especially with regards to Hibernate).  My worry is it may not be as simple as it first may seem

[2021-11-08 15:57] LucaGiamminonni commented on #8027
Hi @tdonohue, yes maybe there could be problems with hibernate (for example with the second level cache) and surely this strategy should be deepened. I also initially thought of a full database drop & rebuild but probably the performance would degrade (we can also deepen this strategy and verify it).
Surely it will be also necessary to identify which data must be inserted again before each test (s

[2021-11-09 16:05] pongtawat opened #8029 "DSpace 7: Cannot delete multiple bitstreams at the same time"
**Describe the bug**
In item edit page, only one bitstream can be deleted at a time. If we delete multiple bitstreams at once, only the first on get properly deleted, the rest got marked as deleted in bitstream table but still show up in item page.

**To Reproduce**
Steps to reproduce the behavior: (tested on DSpace 7.1 on demo7 site)
1. Add a few bitstreams to an item
2. Go to item edit page -> B

[2021-11-10 10:00] abollini commented on #2836
@tdonohue we are interested in this task

[2021-11-10 11:00] abollini commented on #7959
This requires changes on both the REST and Angular side.
On the REST side we need (8 hours)
- to implement a authorization feature to inform angular if password change is allowed or not
- protect the patch eperson to prevent update of the password if the password authentication is not supported
On the Angular side the profile page should use the new authorization feature to include or not the secu

[2021-11-10 11:10] abollini commented on #7977
@tdonohue estimation 4 hours. Please assign to us

[2021-11-10 17:42] tdonohue commented on #7977
Assigned to @abollini for work in 7.2.  Please also review https://github.com/DSpace/dspace-angular/issues/1359, as it is possible that these two issues are directly related & might be fixed together.

[2021-11-10 17:44] tdonohue commented on #7959
Thanks @abollini !  Will assign this back to both you and @atarix83, since it requires both frontend & backend changes.  As it's a relatively small ticket, I'll combine both into this ticket and add a 10 hour estimate.

[2021-11-10 17:48] tdonohue commented on #2836
Thanks @abollini , assigning to you . As the initial estimate is over a year old, let me know if any changes are necessary as you review this work.

[2021-11-10 17:54] tdonohue commented on #3129
@benbosman : Per today's meeting, assigning to you/your team to work on for 7.2 & adding your 24 hour estimate.

[2021-11-11 22:16] #7988 closed

[2021-11-11 22:18] tdonohue commented on #7988
Fixed in both main (7.2) and 6.x (6.4)

[2021-11-18 14:27] MW3000 opened #8033 "Curation task results are not included in the output file or standard out."
**Describe the bug**
When running a curation task via the DSpace 7.0 CLI, the output generated by the task process is only written to the dspace.log but not written to the output file or standard out.

**To Reproduce**
Easiest example is to run the NoOpCurationTask on both DSpace 6 and DSpace 7:

[code]

**Expected behavior**
This command should write the Curation Task result string "No operation

[2021-11-19 08:19] benbosman commented on #7959
@tdonohue This ticket was agreed to be assigned to Atmire yesterday
We would also want to adjust the solution so it better matches the DSpace 6 behavior and the expected behavior for people who have password login and shibboleth enabled.
Rather than simply preventing this when only shibboleth authentication is enabled, we'd want to also prevent this when shibboleth and password authentication are

[2021-11-19 17:54] tdonohue commented on #7959
@benbosman : I'd appreciate more information here on your estimate for this part...

So we'll be storing in your authentication credential which authentication method you've used, and only allow edit password if the user did log in via password. I'm updating the estimate based on that solution as well

I do agree this sounds like a worthwhile update. My assumption is the easiest route here might b

[2021-11-21 16:21] abollini commented on #2840
@tdonohue this task was about the integration of sherpa rome in the submission to support the upload of suitable open access version of the fulltext according to the publishing agreement.
In the previous version, at least for JSPUI not sure for XMLUI the RoMEO information was show in a side column in the upload step. I suggest to implement it as a separate panel in the new DSpace 7 submission.
To

[2021-11-22 21:00] tdonohue commented on #2840
Thanks @abollini for helping clarify this ticket & adding an updated estimation. I've updated this ticket and the Angular ticket https://github.com/DSpace/dspace-angular/issues/769#issuecomment-974848427 with your new estimates.

[2021-11-23 12:01] benbosman commented on #7959
The solution here would indeed be to store it as part of the JWT auth token, and not the database or a new endpoint.
But that **can** have an impact on a rather large amount of code, to ensure the JWT auth token will know the current authentication method, and it can be retrieved (and there are sufficient tests to ensure this keeps working).

It can be less than the 24 hours, but I preferred a mor

[2021-11-23 14:57] tdonohue commented on #7959
@benbosman : Thanks for the explanation. Please obviously try to get this under 24hrs if possible.  My hope is this won't be as difficult as it may seem, as storing in the JWT (even with new tests) shouldn't be as complex as storing it in database or elsewhere.  The JWT based code already has a large number of tests, so it should help ensure this new change doesn't effect other code.

[2021-11-23 15:31] mgrothe-gu opened #8039 ""UUID string too large" error after rebuilding of the index"
**Describe the bug**
I did a full reindex with "./bin/dspace index-discovery -b". The command showed no errors. Afterwards solr functionality is not working on the site anymore and the log shows the the following error message:

org.dspace.discovery.SearchServiceException: UUID string too large

**To Reproduce**
I'm not sure how to reproduce the error. I have rebuilt the index successfully before.

[2021-11-24 21:36] davidenegretti-4science commented on #7977
Solved together with:
- #1337
- #1359
- #1399
- #1415
- DSpace/Dspace#7977

[2021-11-25 14:09] PabloDeAlbu opened #8041 "Error validating authority required input in submission"
It is not possible to deposit a submission form with authority-controlled entries.

Once the fields are completed and the form is saved, this notification appears and despite having completed the fields, the item cannot be deposited.

![Captura de pantalla de 2021-11-25 10-54-05](https://user-images.githubusercontent.com/11927172/143455023-7b12daf6-567f-45ca-be7c-098b36258ffd.png)

![Captura de pa

[2021-11-25 16:19] KevinVdV opened #8042 "If a workflow user rejects an item that they submitted, the item becomes uneditable"
**Describe the bug**

If a certain users (who is also a reviewer) submits an item and they then reject their own item in the workflow, the item cannot be edited any longer in the workspace.

This is because all WRITE rights have been removed from that item.

**To Reproduce**
Steps to reproduce the behavior:
1. Create (a non admin) user whom is both submitter in a certain collection and a reviewer

[2021-11-26 07:22] f-rapp opened #8043 "DSpace 7: When creating a new item via drag&drop or browse the collections load unsuccessfully"
**Describe the bug**
When I created an item via drag&drop or browse, the collection selection window did not load successfully.

**To Reproduce**
1. Drag&drop a file or browse
![grafik](https://user-images.githubusercontent.com/67266996/143541933-2f55f086-7a18-4ef6-a43e-1a833bb60ebc.png)

2. Check the collection selection window. It keeps loading.
![grafik](https://user-images.githubusercontent.co

[2021-11-29 10:53] pongtawat commented on #3281
I encounter the same problem. "authentication-password.domain.valid" doesn't work at all in DSpace 7 (tested with 7.0, but I think it's the same for 7.1). You can set it to "@example.com" but you can still register with "someone@gmail.com".

From a simple grep, it seems the registration process of DSpace 7 does not call the method "canSelfRegister" at all.

As for the behavior of canSelfRegister,

[2021-11-29 16:21] tdonohue commented on #8042
Thanks @KevinVdV for creating a ticket...pulling this over onto the 7.2 board & flagging as `high priority` as this sounds like something we'd want to figure out quickly.  Let me know if your team is interested, and if so, I'll assign to you to estimate & work on.

[2021-11-29 16:27] tdonohue commented on #8041
@PabloDeAlbu : Is this bug fixed by your separate PR #8034?  It looks, to me, like you've fixed this exact line of code in your #8034.   If your PR is the fix for this bug, then I can link them up (or you can do so by simply editing your PRs description and  adding `Fixes #8041` somewhere in the description)

If this is a separate bug from #8034, then it'd be good to describe this bug in more deta

[2021-11-29 16:44] PabloDeAlbu commented on #8041
@tdonohue PR #8034 fix this bug. I' ve already changed the PR description.

[2021-11-29 20:49] tdonohue commented on #8043
I can reproduce this on our demo site at https://demo7.dspace.org/ from the MyDSpace page.

In my Chrome DevTools Console, I see the following JS error when this occurs...
[code]

So, this appears to be a User Interface error.  I'll move this over to the `dspace-angular` project and flag this as `high priority` for 7.2

[2021-11-30 10:29] abollini commented on #3359
We have reviewed which connectors are currently available in DSpace-CRIS but not in DSpace, below the list

- ADSImportMetadataSourceServiceImpl
- ArXivImportMetadataSourceServiceImpl
- CiniiImportMetadataSourceServiceImpl
- CrossRefImportMetadataSourceServiceImpl
- EpoImportMetadataSourceServiceImpl
- PubmedEuropeMetadataSourceServiceImpl
- PubmedImportMetadataSourceServiceImpl
- ScieloImportMeta

[2021-11-30 22:28] tdonohue commented on #7453
Closing, as this was fixed by #7945

[2021-11-30 22:28] #7453 closed

[2021-12-01 16:32] alawvt commented on #7899
@alanorth , thank you for diagnosing and reporting this issue, which we are also experiencing. Would this be hard to fix?

[2021-12-01 18:36] alanorth commented on #7899
@alawvt you're welcome! I had forgotten about this issue (and I'm impressed at my analysis LOL). If someone could point me to the code where this happens I would take a look at it...

[2021-12-01 21:35] mspalti opened #8048 "Manifest root range needs viewing hint to render properly in Mirador"
**Describe the bug**
This bug was originally described in https://github.com/DSpace/dspace-angular/issues/1395 because it causes a display issue in the Mirador viewer.  However, the update is required on the REST side since it's caused by an omission in the IIIF manifest.  I am recreating the issue here.

Currently, the table of contents view does not include the "top" viewing hint. From the docs:

[2021-12-02 21:03] #8041 closed

[2021-12-03 20:26] tdonohue commented on #8024
Closing for now, as I suspect this is a configuration issue (or invalid command sent to REST API).  But, if it's discovered that there's a bug, we can always reopen as needed.

[2021-12-03 20:26] #8024 closed

[2021-12-03 20:31] tdonohue commented on #8039
@mgrothe-gu : We'd need more information here on how to reproduce this issue.  What version of DSpace is this? Have you been able to reproduce this again?  I've not yet encountered this error, so we'd need to better understand how to reproduce it before we can look into a fix.  It's also possible this was a Solr configuration issue or somehow bad/corrupt data, in which case there may not be a way

[2021-12-03 20:33] tdonohue commented on #8033
I believe this is essentially a duplicate of https://github.com/DSpace/dspace-angular/issues/1322.  In v7, the same code drives the logging in both the outputfile & the CLI.  So, I'm pretty sure that when https://github.com/DSpace/dspace-angular/issues/1322 is fixed, this issue would also be fixed.

[2021-12-05 08:28] mgrothe-gu commented on #8039
I'm on DSpace 7.1. I have not been able to reproduce the error. I tried replacing the solr cores with the default empty ones, but that didn't help. Since it's only a test system yet, I have now resorted to drop the database and do a database migrate.

[2021-12-06 05:19] pongtawat opened #8053 "Sample log deletion policy in log4j2.xml doesn't work"
**Describe the bug**
log4j2.xml contains a commented sample deletion policy. However, uncomment it doesn't result in old log deletion and also make the file invalid.

**To Reproduce**
Steps to reproduce the behavior:
1. Uncomment line 35 to 40 (<Delete>) in log4j2.xml (https://github.com/DSpace/DSpace/blob/main/dspace/config/log4j2.xml#L35)
2. Restart tomcat

**Expected behavior**
Old, rotated dsp

[2021-12-06 15:54] tdonohue commented on #8039
In that case, I'm going to close this issue as it's unreproducible.  However, if we ever find a way to reproduce it, we can reopen this in the future.

[2021-12-06 15:54] #8039 closed

[2021-12-06 22:00] hzafar opened #8055 "DSpace 6: Item move operation can accidentally delete items"
**Describe the bug**
When an item is moved from one collection to another, the back end does not validate the collections that the item is being moved from and to. Normally, this is not an issue because the admin UI will filter the appropriate collections for the user to choose from. However, there is an easily reproducible scenario where this results in the accidental deletion of the item and all

[2021-12-07 08:02] ahmed264 opened #8056 "error when installing Dspace Backend"
error when installing Dspace Backend
Dear Dpsace Users and Developer
plz I need help to solve this problem
attached is show it
Dec 07 07:45:43 Dspace7 tomcat9[33889]:     at org.hibernate.cfg.Configuration.buildSessionFactory(Configuration.java:708)
Dec 07 07:45:43 Dspace7 tomcat9[33889]:     at org.hibernate.cfg.Configuration.buildSessionFactory(Configuration.java:724)
Dec 07 07:45:43 Dspace7 tom

[2021-12-07 09:24] benbosman commented on #7959
@paulo-graca when they log in via their password, it's still possible
But as you requested in the implementation review, it can be made configurable to also support this for Shib if there's budget left

[2021-12-07 15:11] tdonohue commented on #8056
Not enough information is given about your DSpace setup or environment, or the error messages encountered.  Closing this ticket as it's more than likely a configuration issue.

@ahmed264 : Please see our Troubleshooting guide for DSpace 7, for hints on finding the entire error message in your logs.  The error you copied above is only a partial error message, and doesn't include the entire error st

[2021-12-07 15:11] #8056 closed

[2021-12-09 14:42] artlowel opened #8062 "Make filter-media available from the REST APi"
**Is your feature request related to a problem? Please describe.**
Filter-media can currently only be triggered from the CLI. It would be good to convert it to a Scripts & Process script, so it can be triggered by admins from the UI as well

This can be done in an estimated **6** hours

[2021-12-09 15:43] marsaoua opened #8063 "Workflow groups are not deleted during the deletion of the associated collection"
**Describe the bug**
If you remove a collection that has workflows groups (step1, step2, step3) the collection is deleted but the associated workflows groups still exist.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a collection with at least 1 workflow group
2. Remove the collection
3. You will see in the DB or UI (managing groups) that the workflow group has not been removed

**E

[2021-12-09 16:17] tdonohue commented on #8062
@artlowel : This makes sense to me to add, and the intention is definitely to move as many CLI scripts to REST API / Scripts & Processes as we can.  Is this something you are suggesting be completed for 7.2, or should we move to 7.3?

[2021-12-09 18:14] #7982 closed

[2021-12-09 21:04] #7997 closed

[2021-12-10 14:05] santit96 opened #8066 "findSubmitAuthorized endpoint for collections doesn't find collections that starts with query"
In DSpace 7.1, if a query param is sent to findSubmitAuthorized endpoint it only returns collections that have a word in their title that match exactly wirh the query string.
The problem is in [this line](https://github.com/DSpace/DSpace/blob/396525a5f3014225e1f11fa0a7abf5419ac091ff/dspace-api/src/main/java/org/dspace/content/CollectionServiceImpl.java#L1013) in the retrieveCollectionsWithSubmit o

[2021-12-10 17:49] artlowel commented on #8062
We could still fit it in for 7.2 if needed

[2021-12-10 20:21] tdonohue commented on #8062
@artlowel : I'll assign to you then and move to the 7.2 board. Thanks!

[2021-12-15 16:08] adrianpisabarrogarcia opened #8072 "Log4j for Dspace v. 6.x and 5.x"
**Describe the bug**
Due to the security problem of Log4j I have Dspace versions 5 and 6.
There is a library of Log4j with the version 1.2, there is any problem with these version, I have to upgrade the Log4j library to the 2.16 one? or make something? What we hace to do?
Thank you.

[2021-12-15 17:09] tdonohue commented on #8072
(This same question & answer was also posted to our Slack #general channel...so, I've copied it here.)

At this time, DSpace 6.x and 5.x cannot be easily upgraded to log4j v2.

Unfortunately, upgrading from log4j v1 to v2 is not a simple task, as log4j v2 is not backwards compatible.  We were able to upgrade DSpace 7.x to log4j v2, but as a sense of scale, it took over 1,000 lines of code changes

[2021-12-15 17:09] #8072 closed

[2021-12-15 17:18] WolfgangT71 opened #8073 "assetstore folder missing"
With the normal install the assetstore folder is missing, and no upload works.

[2021-12-15 17:57] tdonohue commented on #8073
@WolfgangT71 : Not enough information is provided in this ticket for us to reproduce the problem.  We'd minimally need the version of DSpace along with how you installed it to better understand the issue.

Since we've not heard of this issue yet, I'd immediately suspect it may be an environment or configuration issue.  It's possible the "ant fresh_install" command you must run on your backend was

[2021-12-15 18:18] WolfgangT71 commented on #8073
Installed version 7.1 exactly after the instructions on a debian 11 system.
The folder was not in [dspace] after
`ant fresh_install`, I had to manually create it.

[2021-12-15 18:20] WolfgangT71 commented on #8073
To my knowledge it did not throw an error, and I did not forget to call, actually I even called it twize, as I made some changes on the backend.

[2021-12-15 18:21] WolfgangT71 commented on #8073
Only found out with assetstore, after I tried to upload an item. So the install was two das ago.

[2021-12-15 18:23] #8018 closed

[2021-12-16 15:15] KevinVdV opened #8078 "S3 connection leak"
**Describe the bug**

DSpace can use S3 as a backend to store & retrieve files, but there is a leak somewhere in the BitstreamResource that doesn't always close connections.
Every download opens up a connection to S3 & these aren't closed so after a certain amount of downloads the download AND upload just quit working because the S3 connections are up.

**To Reproduce**
Steps to reproduce the beha

[2021-12-16 15:33] KevinVdV commented on #8078
We had the specific issue with loading of thumbnails. As these are sometimes cached by spring.

The problem is that on the [following line](https://github.com/DSpace/DSpace/blob/main/dspace-server-webapp/src/main/java/org/dspace/app/rest/BitstreamRestController.java#L158) we are creating a spring resource with an inputstream. We noticed that SOMETIMES (not always) that inputstream isn't closed.

A

[2021-12-16 18:25] WolfgangT71 opened #8079 "Permanent URI not correct"
**Describe the bug**
I checked it is not existent inside the demo7.dspace.org demo.
So perhaps it is only a misconfiguration from me, but please help.

By the server/oai the links have 8080 in it, also then it does not work, not sure where this is set wrong.

Perhaps an apache or Tomcat setting which went wrong. I'm using Letsencrypt en rewrite everything to SSL.

By dspace angular, when checking

[2021-12-16 20:22] tdonohue commented on #8079
@WolfgangT71 : This sounds like a misconfiguration of your DSpace.  The URLs you reference all have a single slash "/" after `https:` (i.e `https:/` instead of `https://`)...which implies one of your configurations in `local.cfg` on the backend may be missing that same slash.

So, rather than `https:/my.dspace.domain/handle/123456789/5` the URL should be `https://my.dspace.domain/handle/123456789/

[2021-12-16 20:22] #8079 closed

[2021-12-17 16:14] #8066 closed

[2021-12-20 11:30] agp8x opened #8081 "_links.self.href is without TLS, while other urls detect TLS correctly"
**Describe the bug**
I run a docker setup with dspace/dspace:dspace-7_x (dspace/dspace@sha256:9da23d5a3ef2e2ae49a6800a3f25faf36e248e6be41a01aa8046f3b2b9fbd7a8). It is behind a TLS-terminating reverse proxy (traefik), so I use `https://dspace.me/server/api/`, which reaches the dspace container via plain text HTTP.
All links to `_links.self.href` use http, which is a) bad because clear text, b) bad

[2021-12-20 13:32] WolfgangT71 opened #8083 "dspace create-administrator loop after yes"
After upgrading some problems with not being able to upload items reappeared, so I decided to make a complete new installation, including droping the dspace database.
Than I made a complete new installation.
However when I started `dspace create-administrator` It never finishes it, after the y for yes, he is in an endless loop.

Therefore I cannot Login.
Is there a postgres direct command to creat

[2021-12-20 15:21] tdonohue commented on #8083
@WolfgangT71 : Could you check for errors thrown in your `dspace.log`?  I suspect that an error is being thrown, as I'm not able to reproduce this locally.  Closing, as I think this is likely a configuration or setup error (check your logs).

If you need more help, then please contact us via one of the recommended Support routes: https://wiki.lyrasis.org/display/DSPACE/Support

[2021-12-20 15:21] #8083 closed

[2021-12-20 17:18] #3337 closed

[2021-12-20 21:28] hardyoyo commented on #8078
Hi, @KevinVdV today I was sorting out some errors with our pilot instance of dspace, and noticed that when the S3 assetstore was configured to be used, Tomcat would not longer boot up. In a fit of googling the error message, I found some posts that seemed to indicate that a newer version of the aws-java-sdk-s3 library might help things out. I bumped the version number from 1.10.50 to the current 1

[2021-12-20 21:55] hardyoyo opened #8085 "bitstreams endpoint URL documented by the HAL browser results in a whitelabel error"
**Describe the bug**
The Bitstreams endpoint [1] documented by the HAL browser [2] produces a whitelabel error.

1. https://api7.dspace.org/server/api/core/bitstreams
2. https://api7.dspace.org/server/#/server/api

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the API7 demo server [1]
2. Observe the list of endpoints in the response body
3. attempt to visit the bitstreams endpoint [2]

[2021-12-20 22:04] hardyoyo commented on #8085
according to this https://github.com/DSpace/RestContract/blob/main/bitstreams.md the bitstream endpoint is "unsupported"

I suppose this issue should actually be to remove the unsupported endpoint?

[2021-12-20 22:22] tdonohue commented on #8085
@hardyoyo : Answered via Slack.  This endpoint works, but it only supports accessing a *single Bistream at a time*.  So, for example, you MUST access `/bitstreams/[uuid]`, as documented here: https://github.com/DSpace/RestContract/blob/main/bitstreams.md#single-bitstream

The root endpoint `/bitstreams` is the REST way of saying "Give me every single Bitstream in the system".  We chose not to supp

[2021-12-20 22:22] #8085 closed

[2021-12-20 23:23] hardyoyo opened #8086 "Amazon S3 library is too old, please update"
**Describe the bug**
The dependency we use to support an Amazon S3-based assetstore, aws-java-sdk-s3 (1.10.50) is too old, and throws an error (java.lang.IllegalStateException: Socket not created by this factory) if you configure an S3 assetstore. The latest version of the dependency (1.12.129) does not throw this error. The error is mentioned here: https://github.com/aws/aws-sdk-java/issues/1032

[2021-12-21 10:17] WolfgangT71 commented on #8083
Behind this was a general system problem. I think th emost problems did arise, with postgresql V13.5 and node.js vs. 14 which both are above current approved version. Changed now to debian 11,and there everything needed, so that it works correct is in the standard repositories. And so it was very easy to install, without any problems. Up and running now.

[2021-12-21 15:50] pnbecker commented on #2873
We got a contract to develop this. Of course, we will create a pull-request once we're done with it.

[2021-12-21 16:31] hardyoyo commented on #8086
Well... it looks like this commit: https://github.com/DSpace/DSpace/commit/7fca8582604f6ea73d72eb22f1b0f1198b583e15 fixed the issue on master. I should learn to check the master branch before I log issues. :-\ This can be closed, unless we want to bump to the absolute latest of the library?

[2021-12-21 16:40] tdonohue commented on #8086
Closing, fixed by #8040   If you want to create another small PR for latest version, I'm OK with it. But, I don't see a reason to keep this ticket open waiting for another small version bump if the main bug is fixed.

[2021-12-21 16:40] #8086 closed

[2021-12-21 16:44] hardyoyo commented on #8086
I'll test the version of the dependency that's in master, if it works fine, I'll leave it set to that version.

[2021-12-21 20:33] #7977 closed

[2021-12-21 21:32] hardyoyo opened #8087 "Port OpenID Connect plugin from DSpace-CRIS 7 to DSpace"
**Is your feature request related to a problem? Please describe.**
Integrating other systems with DSpace is a challenge that is made easier by having a shared user database. [Open ID Connect](https://openid.net/connect/) provides such infrastructure. [Keycloak](https://www.keycloak.org/) is an opensource way of providing such a service, and [AWS Cognito](https://aws.amazon.com/cognito/) is a hoste

[2021-12-29 17:17] MarisArins opened #8094 "General stability issue"
Hi, please no stones throwing for lack of proof or good details on this one.

What happens :
Sometimes navigation or and activity can cause the app to hang.
How it looks :
you click to navigate to different page, or want to perform a search or submit new item and the "process" remains eternally on "busy indicator"
What is known about conditions:
Nothing, probably that is the most describing sympto

[2021-12-29 17:23] MarisArins commented on #8094
sorry, this must be under dspace-angular project...

[2021-12-30 11:26] MarisArins commented on #8094
In recent testing I have seen the UI "hanging" on demo site twice in following situation (by far not every time I do this it happens):
I create a new collection and after it is added I click on breadcrumb navigation to go to parent community, in result UI hangs. That has happened 2x in last day.

[2022-01-02 17:46] MarisArins opened #8095 "Author lookup breaks upon filtering/selecting authors"
I have setup author relationship lookup on my local instance (currently not presented on demo site).
Once I filter records
![AuthorsLookup1](https://user-images.githubusercontent.com/2697696/147884238-46720441-443d-44d5-93ec-35b2a02810bf.PNG)
and perform selection of multiple authors
![AuthorsLookup2](https://user-images.githubusercontent.com/2697696/147884252-e055405b-a6b9-41fc-ae7b-d2875a4519cd.

[2022-01-04 16:08] #7959 closed

[2022-01-04 22:25] #8042 closed

[2022-01-05 18:03] mwoodiupui opened #8099 "Converge all use of EHcache to v3"
**Describe the bug**
As I write this, DSpace v7 depends on both EHcache v2 (for Hibernate and general caching) and v3 (in the dspace-server-webapp).  We should converge on a single version.

While we are working on caching, we should also consider moving all of our own code to use the Jcache/JSR107 API, which EHcache supports, rather than the proprietary EHcache API, and to configure Hibernate to

[2022-01-05 18:04] mwoodiupui commented on #8099
@tdonohue pointed this out and provided some research.  Thanks!

[2022-01-05 18:27] tdonohue commented on #8099
@mwoodiupui  volunteered via Slack (thanks!)  Also scheduled for 7.3 (as it's too late for 7.2 at this point).

[2022-01-05 20:05] #7927 closed

[2022-01-06 20:16] #8053 closed

[2022-01-07 10:30] 49913352 commented on #8087
Guys

[2022-01-10 05:01] tlloydthwaites opened #8105 "Search returns incorrect totalElements if size > totalElements"
**Describe the bug**
When calling /api/discover/search/objects, if supplying a page value greater than the total results, then totalElements is always 100.

**To Reproduce**
Steps to reproduce the behavior:
1. Call https://divinity.intersearch.com.au/divinityserver/api/discover/search/objects?dsoType=item&f.dateIssued=2015,equals&size=257
2. totalElements will be correct(257): `"page": {

[2022-01-11 11:11] jvribell opened #8106 "findAll collections fails in oracle"
the end point "server/api/core/collections" throw an error when the user is an administrator.

`org.hibernate.engine.jdbc.spi.SqlExceptionHelper @ ORA-00932: inconsistent datatypes: expected - got CLOB`

The error occurs in the findAll procedure in CollectionDAOImpl and occurs because Oracle does not support ORDER BY with CLOB columns.

In non-admin users SOLR performs the search and works correct

[2022-01-11 16:52] #7958 closed

[2022-01-11 16:54] tdonohue commented on #8008
Closing, as I believe these have been fixed in #8028 (which was just merged).  If any fixes are still necessary, please open up a new ticket or PR to help us resolve them.

[2022-01-11 16:54] #8008 closed

[2022-01-11 21:11] #7328 closed

[2022-01-11 22:16] #7986 closed

[2022-01-13 15:00] mwoodiupui opened #8112 "dspace-oai can't inject dependencies from dspace-api"
Attempts to @Autowired or @Inject dependencies to dspace-oai from dspace-api fail at runtime.  This seems to be because org.dspace.app.xoai.XOAI builds its ApplicationContext solely from its own configuration classes and ignores the XML configuration.

We should be combining the configurations, as shown in https://docs.spring.io/spring-javaconfig/docs/1.0.0.M4/reference/html/ch06.html

**To Reprod

[2022-01-13 15:46] #8048 closed

[2022-01-13 16:04] tdonohue commented on #8112
Agreed, this would be very beneficial and avoid mistakes like in #8110 (this isn't the only time we forget dspace-oai doesn't support DI properly, but it's the latest time).

Since you've claimed this ticket @mwoodiupui , I'll pull this onto the 7.3 board in the hopes we can get this fixed by that release (if not though, no worries)

[2022-01-14 12:14] KevinVdV commented on #8078
Created a PR to potentially fix this: https://github.com/DSpace/DSpace/pull/8113

[2022-01-14 15:30] BrandonKowalski opened #8114 "HAL Browser Static Assets / API 404 on Fresh Install"
**Describe the bug**
I installed the DSpace 7 Backend per the instructions given here:
https://wiki.lyrasis.org/display/DSDOC7x/Installing+DSpace#InstallingDSpace-BackendInstallation

I went to test this install prior to moving on to the frontend UI following step 15 from above.

While accessing the dspace.server.url, 'The HAL Browser' loads without static assets and API calls fail.

**To Reproduc

[2022-01-14 15:34] tdonohue commented on #8114
@BrandonKowalski : Please check that the dependencies you've installed (especially Java, Maven & Tomcat) are supported versions: https://wiki.lyrasis.org/display/DSDOC7x/Installing+DSpace#InstallingDSpace-BackendRequirements  My immediate suspicion is you may be running a newer, untested version of either Java (we only support JDK11) or Tomcat (we only support Tomcat 9) which is causing issues.

[2022-01-14 15:49] mwoodiupui commented on #8078
Might this be related to #7779?

[2022-01-14 15:56] BrandonKowalski commented on #8114
You are wonderful. I had the correct version of Java and Maven but didn't pay attention to Tomcat. It was on version 10.

Thank you for your help and time!

[2022-01-14 15:56] #8114 closed

[2022-01-14 15:58] mwoodiupui opened #8115 "S3 Bitstream implementation doesn't allow for alternate or self-hosted S3 services"
**Is your feature request related to a problem? Please describe.**
There are a number of products and services which provide storage service compatible with S3, but DSpace doesn't allow for their use.

**Describe the solution you'd like**
We should be able to specify the S3 endpoint to be used.

**Additional context**
DSpace is directly contstructing an `AmazonS3Client`.  This is deprecated in fav

[2022-01-17 07:53] KevinVdV commented on #8078
@mwoodiupui Yes you are correct, this is the same issue.

[2022-01-19 13:02] KevinVdV opened #8119 "Workspace/Workflow only discovery configuration isn't working"
**Describe the bug**
If you create facet configuration in the "workspaceConfiguration" / "workflowConfiguration" discovery configurations alone that are specific for the MyDSpace page but aren't in the "default", the facets won't show any values for these specific facets.

**To Reproduce**
Steps to reproduce the behavior:
1. Alter the "workspaceConfiguration" or the "workflowConfiguration" to incl

[2022-01-19 18:41] ghost opened #8120 "Implement Linked Data Notification (LDN) Specification for COAR Notify"
Please refer to the Development Implementation proposal here https://wiki.lyrasis.org/display/DSPACE/Implementation+of+the+COAR+Notify+protocol+in+DSpace+8 for updated information about the implementation of COAR Notify in DSpace 8

Original descriptionfrom @wwelling is keep below as it is still useful and accurate to understand one of the scenarios that will be addressed by the COAR Notify implem

[2022-01-19 19:10] #8062 closed

[2022-01-20 12:09] abollini opened #8121 "TotalDownload returns the file name as id instead than label"
**Describe the bug**
If you look to the total download report of an item you will note that all the data points have a null label. The file name is used as id, this lead angular to produce a table with no label over the rows (each file will be a different row)

**To Reproduce**
Steps to reproduce the behavior:
1. find an item with some file
2. visit the statistics page of this item and look to the

[2022-01-20 12:51] KevinVdV commented on #8119
Potential fix: https://github.com/DSpace/DSpace/pull/8122

[2022-01-20 13:06] KevinVdV opened #8123 "Mails not being sent when using office365 smtp mail server"
**Describe the bug**
When using "smtp.office365.com" as a mail server at random times an email won't be sent, it will lead to exceptions like this:

`
javax.mail.AuthenticationFailedException: 421 4.7.66 TLS 1.0 and 1.1 are not supported. Please upgrade/update your client to support TLS 1.2. Visit https://aka.ms/smtp_auth_tls. [SY6PR01CA0029.ausprd01.prod.outlook.com]
`

**To Reproduce**
Steps to

[2022-01-20 13:12] mwoodiupui commented on #8123
https://stackoverflow.com/q/47166425/2916377 may be relevant.

[2022-01-20 13:16] KevinVdV commented on #8123
Potential fix: https://github.com/DSpace/DSpace/pull/8124

[2022-01-20 15:36] benbosman opened #8125 "Items being imported are considered stale objects in discovery"
**Describe the bug**
During an import, items added to discovery can be deleted again before the import script completed

**To Reproduce**
Steps to reproduce the behavior:
* Start a large import (using scripts and processes or a command line script)
* Wait for it to have processed the DB changes, and starts the consumers (discovery indexing)
* Don't wait so long that the script completed (and the D

[2022-01-20 16:33] alejandratenorio opened #8126 "Community/Collection admin cannot edit "Default read access""
A community or collection admin cannot edit "Default read access" group or add people. When a community/collection administrator tries to do so, he/she is redirected to an "Insufficient Privileges" page.

**To Reproduce**
1. Create a community and a Collection inside this.
2. In this community, enable the 'Administrators' role and add a user. Also restrict the "Default read access".
3. Log in with

[2022-01-20 16:44] #8123 closed

[2022-01-20 22:16] #8119 closed

[2022-01-21 10:49] astrowq opened #8128 "arXiv harvest via OAI-PMH throws NPE"
**Describe the bug**

Hi Dspace community, I opened a pull request (#8022) last November to address an error when harvesting arxiv papers. But no response nor feedback about it yet. Only today did I realise that I should open an issue ticket first, after reading the contribution guide. I am new to dspace, sorry about this.

The bug I am reporting has been described thoroughly in the pull request.

[2022-01-21 14:31] mwoodiupui opened #8129 "Prefix Solr core names to facilitate multiple DSpace instances on a single Solr instance"
When running multiple DSpace instances, it is often convenient to gather all of their Solr cores under a single Solr instance.  This requires distinct names for Solr cores across DSpace instances.  The core names are configured in various places scattered through DSpace's configuration files, making management of the core names more error-prone.

To reduce the chance of error, and keep things neat

[2022-01-21 17:24] mwoodiupui commented on #8129
@abollini has noted that DSpace-CRIS has a similar feature, using the property name `solr.multicorePrefix`.  We could use that name in DSpace as well, to avoid confusion.

[2022-01-21 20:12] tdonohue commented on #8055
@hzafar : Apologies for the delay in responding to this ticket, but I'm not able to reproduce this on our DSpace 7 demo site (or locally) at demo7.dspace.org. I had assumed that this was occurring in DSpace 7, but maybe you are reporting this for an older version of DSpace?

I attempted to reproduce this via the three steps you provided. However, during step 2, refreshing the page doesn't prompt m

[2022-01-21 20:19] tdonohue commented on #8081
@agp8x : Apologies for the delayed response, but this sounds like you are hitting this Proxy-specific issue: https://wiki.lyrasis.org/display/DSDOC7x/Installing+DSpace#InstallingDSpace-MyRESTAPIisrunningunderHTTPS,butsomeofits%22link%22URLsareswitchingtoHTTP?

 If that doesn't solve your problems, you also may wish to investigate whether changing Spring Boot's default "forward-headers-strategy" fo

[2022-01-21 20:19] #8081 closed

[2022-01-21 20:20] tdonohue commented on #8020
Closing as unreproducible. I think this is caused by https://github.com/DSpace/dspace-angular/issues/1387  However, if we find a way to reproduce, we can always reopen later.

[2022-01-21 20:20] #8020 closed

[2022-01-21 20:20] hzafar commented on #8055
Oh, my apologies for not specifying -- this was happening in our DSpace 6 instance.

[2022-01-21 20:32] tdonohue commented on #8029
I'm able to reproduce this on 7.1.1, although I *do not* see the exception.  Instead, I see this:
* I started with an Item with 4 bitstreams
* I selected 3 of those bitstreams for deletion, and clicked save.
* In my browser's dev tools, I see 3 `DELETE` calls are sent to the backend, and they all return 204.  So, they claim all 3 deletions succeeded.
* However, in the UI, only the first bitstream

[2022-01-21 20:33] tdonohue commented on #8033
Closing, this appears to be a duplicate as described above.

[2022-01-21 20:33] #8033 closed

[2022-01-21 20:45] tdonohue commented on #8073
Unfortunately, I'm not able to reproduce this.  It appears that the Assetstore folder is now created automatically by our code in `DSBitstoreService` (which is called by `BitstreamStorageServiceImpl`) based on the value of "assetstore.dir" in configuration.

Because of that, this would mean that the user running Tomcat would need permissions to *create* the `assetstore.dir` on the filesystem.  If

[2022-01-21 20:45] #8073 closed

[2022-01-21 22:58] tdonohue commented on #8055
@hzafar : Since this is v6, is this XMLUI or JSPUI?  We'd need the full details in this ticket for us to be able to replicate it.

As noted though, this seems to be fixed in v7.

[2022-01-22 23:07] firoball opened #8131 "Exception is thrown when including " in search string"
**Describe the bug**
DSpace 7.1.1
When searching for any string containing a `"`, the backend throws an exception.

**To Reproduce**
Steps to reproduce the behavior:
Include `"` in any search string when using search function in Frontend

**Expected behavior**
Search of any string should not ever throw an exception

**Related work**
From dspace.log:
`2022-01-22 23:58:40,152 INFO  d48f6652-ed56-4e7

[2022-01-24 14:36] tdonohue commented on #8131
Closing, as this appears to already be fixed on `main` (pre-7.2) and our demo site at demo7.dspace.org. I just verified and searches with quotes work on our demo site.  I'm not sure exactly which recent commit fixed this, but it may have been the changes related to #1365

[2022-01-24 14:36] #8131 closed

[2022-01-24 15:08] hzafar commented on #8055
Hi, it's JSPUI that we're using. Also, the fact that this is not occurring in v7 is great news as we're planning to upgrade this year. :)

I'd be happy to volunteer a PR myself if it's not urgently needed, as I probably won't have the time this week...

[2022-01-24 15:18] tdonohue commented on #8055
@hzafar : A PR would be welcome, as most of our developers are currently working on 7.x, which means there's less activity on 6.x at this time.  So, you'd likely get to a PR before anyone else would.

[2022-01-24 20:15] #8128 closed

[2022-01-25 17:18] marsaoua opened #8133 "Workflow reviewer cannot upload files to the workflowitems"
**Describe the bug**
While reviewing a workflowitem a reviewer cannot upload a file to the workflowitem. The upload fails. After investigation, it seems, that the UI is sending the wrong request. It sends  `/server/api/submission/workspaceitems/<id>` instead of `/server/api/submission/workflowitems/<id>` hence we are dealing with workflowitems.

**To Reproduce**
Steps to reproduce the behavior (DS

[2022-01-25 20:27] tdonohue commented on #8133
I am able to replicate this on `main` as well. One example way to replicate (using the demo users) is as follows:
1. Login as `dspacedemo+submit@gmail.com` and submit a new Item to the "1-step Workflow collection". Then Logout
2. Now, login as "dspacedemo+admin@gmail.com", go to "MyDSpace -> Workflow tasks" and Claim that newly submitted item to review. Click "Edit" on that item
3. Finally, drag &

[2022-01-26 14:58] bbranan opened #8134 "RequestItemHelpdeskStrategy missing autowire attribute"
**Describe the bug**
A clear and concise description of what the bug is.  Include the version(s) of DSpace where you've seen this problem. Link to examples if they are public.

In DSpace v7.x, the RequestItemMetadataStrategy Spring bean found in https://github.com/DSpace/DSpace/blob/main/dspace/config/spring/api/requestitem.xml had the `autowire-candidate='true'` attribute added (which works fine)

[2022-01-26 18:01] #8004 closed

[2022-01-26 18:05] tdonohue commented on #8121
This appears like it may be the same issue as https://github.com/DSpace/dspace-angular/issues/1369

[2022-01-27 08:42] abollini commented on #8133
the issue is on the angular side, the upload component is using the workspaceitem endpoint also when it is used in the workflow

[2022-01-27 16:21] iv-enovation opened #8138 "in DSpace/dspace-api/src/main/java/org/dspace/content/dao/impl/ItemDAOImpl.java in findByLastModifiedSince item should be Item"
**Describe the bug**
in DSpace/dspace-api/src/main/java/org/dspace/content/dao/impl/ItemDAOImpl.java in findByLastModifiedSince() in the query "item" should be "Item"
"SELECT i FROM item i WHERE last_modified > :last_modified" <- current
"SELECT i FROM Item i WHERE last_modified > :last_modified" <- correct

**To Reproduce**
Steps to reproduce the behavior:
1. use findByLastModifiedSince() in code

[2022-01-27 16:23] tdonohue commented on #8138
@iv-enovation : Could you send us a PR with this fix?  We're just about to cut a new release (next week likely), but if we can get this quickly created in a PR, we might be able to quickly review & merge.

[2022-01-27 19:49] firoball commented on #8131
Not sure if relevant, might be same issue and might also be fixed then:

[code]

Seems like also `-` can trigger a series of exceptions.

[2022-01-27 19:53] firoball commented on #8094
Have you checked the dspace.log of backend?
Usually when "hanging UI" with loading dots happens to me, I find that a related exception was thrown. This causes whichever action was triggered through frontend to not finish, leaving the frontend in "hanging" state.

[2022-01-27 20:15] firoball opened #8139 "Virus Scan Curation task fails on document upload."
**Describe the bug**
This is a takeover from discussion in Google group: https://groups.google.com/g/dspace-tech/c/Z10Z4IIfqho/m/8-RZXk1yAgAJ

Enabling clamAV virus scan in curate.cfg (as per guide in Wiki) causes document upload to fail as soon as a review group is configured for the selected collection.
According to the analysis in the linked discussion the virus scan tries to access a bitstream

[2022-01-27 20:43] tdonohue commented on #8131
@firoball : We improved the exception handling of searches recently in https://github.com/DSpace/dspace-angular/pull/1419 and https://github.com/DSpace/DSpace/pull/8044  so that search errors are less likely to occur, and when they do occur the resulting response is much more useful.

You can try it yourself on our demo site at https://demo7.dspace.org, which is always running the latest code.

[2022-01-27 21:05] firoball commented on #8131
Thanks a lot for pointing out these issues. I'll check whether I can merge these safely into our setup.

[2022-01-27 21:12] #2836 closed

[2022-01-27 22:35] tdonohue opened #8140 "Create ITs for file download process & Refactor Citation Page code for better performance"
**Describe the bug**
This issue is a follow-up to the work done in #8113, which was a quick fix for an issue where InputStreams were not always being closed during file downloads (see #8078).

Simply put, the current Citation Page code is problematically written, as it sometimes can regenerate the Citation Page several times in one call.  This was discovered as part of the review of #8113  However

[2022-01-27 22:37] #8078 closed

[2022-01-27 22:39] tdonohue commented on #7779
This appears to be a duplicate of #8078 (which was just closed/fixed).  So, I believe this issue is now resolved on `main` (as of 7.2)

[2022-01-27 22:39] #7779 closed

[2022-01-28 00:13] firoball commented on #8139
It turns out my description is not fully accurate. For some reason I need to restart Tomcat after changing curate.cfg, auto reload won't work in this case.
I missed that and therefore my previous description is a bit off. The real culprit is - and now it also makes some sense - workflow-curation.xml and not curate.cfg.

Adding in the contents of this file, resulting in the above issue:

[code]

[2022-01-28 16:06] #8133 closed

[2022-01-28 18:59] #8134 closed

[2022-01-28 20:18] #8017 closed

[2022-01-28 20:20] #8138 closed

[2022-01-29 03:16] kshepherd opened #8143 "Refactor DSpace 6.x to use reload4j, slf4j-reload4j (log4j12 replacements with active security maintenance)"
@misilot reported a new drop-in replacement for log4j 1.2.*, created by the original author of log4j 1.x, which is actively maintained for security and critical fixes.

I have a branch successfully building and running. Would love some help with testing! PR at  #8144

I'm adding this as a public security / feature issue as this is not an active vulnerability, just some proactive maintenance relate

[2022-01-31 08:21] iv-enovation commented on #8138
Hi Tim sorry was AFK whole weekend. See you fixed it already

On Thu, 27 Jan 2022 at 16:23, Tim Donohue ***@***.***> wrote:

--
This message is for the named person’s use only. If you received this
message in error, please immediately delete it and all copies and notify
the sender. You must not, directly or indirectly, use, disclose,
distribute, print, or copy any part of this message if you are n

[2022-01-31 14:50] #8087 closed

[2022-01-31 17:13] #2839 closed

[2022-02-01 15:58] #8021 closed

[2022-02-02 14:11] tdonohue commented on #2871
Discussion in dspace-community notes that email subscriptions that already exist will still work (as the backend code still exists).  It's only the REST endpoint to manage them that is missing. https://groups.google.com/g/dspace-community/c/uPQg9Ex_Zi4/m/LSHj-E8kAQAJ

[2022-02-02 14:38] abollini commented on #2873
This is already supported in DSpace-CRIS so you should take a look to backport the feature.
It was introduced in the first 7 version so it is a bit hard now to find all the reference but I'm able to track down the feature to this commit on the REST side https://github.com/4Science/DSpace/commit/874ec129d2ac5f59fec8f309b02343cb90c31137

[2022-02-03 16:24] mwoodiupui opened #8148 "DSpaceApiExceptionControllerAdvice logs nothing of interest"
**Describe the bug**
Method `sendErrorResponse` is also responsible for logging the exception, but except in a few specific cases it logs only the HTTP response code, without mentioning the actual exception or location.

In the few specific cases we get a stack trace.  As stated in comments, we probably don't want that level of detail for most exceptions, but I think that we *do* want to know what

[2022-02-03 16:32] tdonohue commented on #8148
@mwoodiupui : IIRC, this is by design.  4xx errors don't log exceptions, but 5xx errors *do* log exceptions.  See discussion in this ticket from last year: https://github.com/DSpace/DSpace/issues/3139#issuecomment-770963612

We could change this approach or make it configurable if we are noticing that some 4xx error should generate logs.  I think we just wanted to avoid some spammer filling up log

[2022-02-03 16:36] mwoodiupui commented on #8148
I ran into a specific case today.  A user reported incorrect behavior, but the log gives no help in tracking down the problem.  I've written a patch which just adds the exception's own message and location to the single line log entry.  I agree that we don't want a stack trace for every 404.

[2022-02-03 16:40] tdonohue commented on #8148
@mwoodiupui : Aha, at a glance your PR looks exactly like what I suggested... don't log a full stacktrace, just log the exception that occurred.  That seems reasonable...pulling this ticket & that PR over to the 7.3 board

[2022-02-04 10:21] LucaGiamminonni opened #8150 "The search object endpoint always embed facets"
**Describe the bug**
The search objects endpoint (/api/discover/search/objects) always embed facets even if not explicitly requested. This could lead to additional calculations that the caller may not need.

**To Reproduce**
Steps to reproduce the behavior:
1. Call the endpoint https://api7.dspace.org/server/api/discover/search/objects
2. In the _embedded attribute you can see searchResult and fac

[2022-02-04 14:33] LucaGiamminonni commented on #8148
Hi @tdonohue @mwoodiupui , what about to introduce a configuration property to specify for which http statuses we want to log the entire exception stack? I agree that in the case of 404 the exception stack shouldn't be shown, but maybe in cases where we get an unexplained 404 maybe it could be useful. We could add a property that lists all the statuses for which the exceptions should be logged wit

[2022-02-04 15:24] tdonohue commented on #8150
Thanks @LucaGiamminonni .  This does seem like something worth fixing...though we also should obviously investigate whether changing this behavior will require updates to the UI as well (in case there are UI calls that are not requesting facets which need them).  In any case, moving this over to the 7.3 board so that it can be worked on.  If your team is interested, let me know.

[2022-02-04 16:03] LucaGiamminonni commented on #8150
Hi @tdonohue, yes I agree that we should also check if some sections of the UI use embedded facets. Our team would be interested in investigating this behavior and fixing it.

[2022-02-04 16:27] tdonohue commented on #8150
Sounds good. Assigning to you @LucaGiamminonni ... feel free to delegate to other team members as needed.

[2022-02-04 16:31] tdonohue commented on #8148
@LucaGiamminonni : I think that idea is a good one, if it's not too complex to implement.  If it's too complex to implement in a highly configurable manner, it might also be good enough to simply provide a "debug" configuration which logs more exceptions than the default.

In any case, @mwoodiupui has already created an early PR at #8149 which may help us better analyze our options.

[2022-02-06 16:09] firoball commented on #3324
This appears to be a rather old issue, but I have came across a similar error after trying to put both Frontend and Backend into Production mode with Apache2 SSL and proxy settings.

I did the same steps as mentioned the installation guide, with the exception that I needed to add a "secret" for the AJP connection on port 8009 in order to work.

I initially also tried basic auth as the initial post

[2022-02-07 21:13] mwoodiupui commented on #8148
There is already a set LOG_AS_ERROR containing the single status 422.  This could be filled from configuration instead of a static assignment.  Members of LOG_AS_ERROR get a stack trace.  All 500-class statuses are already treated this way.

[2022-02-07 22:21] pnbecker opened #8152 "RDFConsumer creates unnecessary second Context"
**Describe the bug**
If you activate the RDFConsumer in DSpace 6 and finish a submission, you run into an Internal Server Error. The log shows:

[code]

The RDFConsumer creates a new Context in `READ_ONLY` mode and aborts that context later. Unfortunately another running context seem to be aborted as well. The easy fix here is to change RDFConsumer, to store the previous `Context.Mode`, set it to

[2022-02-08 09:06] jvribell commented on #8106
I've written a temporary fix to continue testing. Do you think it is an acceptable solution? Do I make a pull request?
[code]

[2022-02-08 15:47] #8152 closed

[2022-02-08 17:49] tdonohue commented on #8106
@jvribell : We discourage adding a ton of "if this database, do this" throughout the codebase, as it's a pain to maintain and manage.  Instead, we do our best to rely on Hibernate to translate database syntax for different databases.

That said, based on simple searches, I'm not finding a way to do this in Hibernate HQL syntax.  So, it might be OK here if you moved this logic to it's own utility m

[2022-02-08 18:17] toniprieto opened #8155 "Changing the name of a group should not recalculate group2groupcache table"
**Describe the bug**
The Group class has a boolean property `groupsChanged` that is used to know if others groups have been added or removed from this group. This property is used during the update of a group to know if the group2groupcache table should be recalculated.

See:
https://github.com/DSpace/DSpace/blob/b0a704b96256a36ba66d12aa0a4d24cfadf433d0/dspace-api/src/main/java/org/dspace/eperson/

[2022-02-08 19:01] tdonohue opened #8157 "Migrate Advanced ORCID Integration from DSpace-CRIS into DSpace core"
DSpace core only has very limited ORCID integrations at this time.  Specifically, DSpace can only pull in metadata via ORCID.

DSpace-CRIS (built/maintained by 4Science) has advanced ORCID-related features/functionalities which are not yet available in DSpace core.  These include:
1. ORCID Authentication in DSpace
2. Ability to link an EPerson (user account) with their Person Entity (user profile)

[2022-02-09 09:24] jvribell opened #8158 "submit article fails in oracle"
when I try to submit an article, I've got an error

[code]
debugging the sql generated by hibernate we notice that there are too many columns in the SELECT clause
[code]
As a temporary fix, I've deleted the groupby criteria in the findArchivedByCollectionExcludingOwning function. Since the distinct criteria (in list function) ensure item' uniqueness, is the groupby clause necessary?

[code]

[2022-02-10 15:15] abollini commented on #2881
As we were involved in the first implementation of the protocol in DSpace-CRIS 5 we would like to get this task assigned to us

[2022-02-10 15:16] abollini commented on #2840
@tdonohue we are interested on that, I guess that the "needs discussion" label was left accidentally

[2022-02-10 16:20] tdonohue commented on #2834
Based on the latest analysis, we feel this ticket will require a massive amount of discussion and development effort to implement, and it also may require first fixing (or at least partially resolving) #2953, which itself is a very large refactor.

The best guess as of today, is this ticket is likely at least **2 months** worth of development effort (for 1FTE).  However, it would also require more

[2022-02-10 16:56] tdonohue commented on #2881
@abollini : I'll assign this to you for 7.3 then.  You may want to analyze first whether the estimates here are still accurate (as they are almost 2 years old), or whether they need updating.

[2022-02-10 20:55] tdonohue commented on #2849
@abollini : I've reviewed your analysis above & I agree with it.  I feel this feature basically already exists & I only feel a very minor User Interface change is necessary. See my comment in the UI ticket: https://github.com/DSpace/dspace-angular/issues/782#issuecomment-1035496384

Therefore, I'd propose that no backend changes are necessary in 7.3 (unless you feel there's any minor cleanup neede

[2022-02-10 21:30] mspalti opened #8161 "Special groups not working with Shibboleth authentication"
**Describe the bug**
Cannot access content that is restricted to a special group. When using Shibboleth authentication special groups are created at login but are not used for subsequent requests.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure Shibboleth and Shibboleth roles for special groups
2. Restrict Item read access to a special group
3. Log in and attempt to view the conten

[2022-02-11 15:21] LucaGiamminonni commented on #2877
Hi @tdonohue @heathergreerklein, for this issue we propose to use the spring boot actuator endpoints. You can find more information here: https://docs.spring.io/spring-boot/docs/current/reference/html/actuator.html
By default, the exposed endpoints would be /actuator/info, where it is possible to add general information about the application (name, version, etc.) and /actuator/health, where the ap

[2022-02-11 15:49] tdonohue commented on #8027
@LucaGiamminonni : I'm ok with keeping this issue open for future discussions.  I've added your PR to the review list, as it does sound like a minor change that can add a good performance improvement.

[2022-02-11 16:59] tdonohue commented on #2877
@LucaGiamminonni : I do like the idea of using existing Spring Boot Actuator endpoints & configuring/customizing them (or adding new ones where needed) for a control panel. I like that we can use something that's built into Spring already, rather than designing our own separate REST API endpoints for this interaction.

That said, we'd obviously need to make sure though that there's no issues with

[2022-02-11 17:28] LucaGiamminonni commented on #2877
Hi @tdonohue, the actuators by default have /actuator as base path, so in our case can be used by contacting /server/actuator. I don't think this can be a problem for angular. In any case it would also be possible to configure the base path adding api as prefix (so it could be /api/actuator). But I think that if there are no problems on the angular side it is better to divide the actuators from th

[2022-02-14 09:42] KevinVdV opened #8164 "Null metadata values can be added from the submission"
**Describe the bug**

You can add "Null" metadata to an item by creating a patch with the value set to "Null". We were able to reproduce it from the UI as well, but this is very difficult & we haven't found a clear path to reproduction.

**To Reproduce**
Create a patch to add a metadata to a workspace item with the following content:

[code]

The returning result will have a "Null" value in the dc

[2022-02-14 09:44] KevinVdV commented on #8164
Possible fix: https://github.com/DSpace/DSpace/pull/8165

[2022-02-14 15:50] MW3000 opened #8167 "XSD specifies `id` attribute `optional`, but UI does not work without `id` attributes"
**Describe the bug**
In DSpace 7.2 the `controlledvocabulary.xsd` specifies the `id` attribute for each `node` as optional:
`<xs:attribute name="id" type="xs:ID" use="optional"/>`.
Yet, if you provide a controlled vocabulary without `id`s, the hierarchical tree view in the Angular UI does not work correctly (only shows one element repeatedly, does not show any hierarchy)

**To Reproduce**
Steps to

[2022-02-14 16:42] tdonohue commented on #8167
@MW3000 : I suspect the best solution here would be to just require the `id` attribute.  It looks like all existing, out-of-the-box controlled vocabularies already have `id` attributes anyways, and we require it just above for "isRelatedTo": https://github.com/DSpace/DSpace/blob/main/dspace/config/controlled-vocabularies/controlledvocabulary.xsd#L40

So, it seems like we should just fixe this line

[2022-02-14 17:00] abollini opened #8169 "vscan (Virus Scan) curation doesn't work in the submission process"
**Describe the bug**
Trying to configure the vscan curation to be executed as part of a workflow leads to an error without additional information in the log file

**To Reproduce**
Steps to reproduce the behavior:
1. configure the vscan curation task as by the documentation https://wiki.lyrasis.org/display/DSDOC7x/Curation+System#CurationSystem-Inworkflow
2. submit an item with or without files

**

[2022-02-14 17:16] abollini commented on #8169
@tdonohue we are interested in looking to that. We have already spent several hours funding many issue/aspects that should be fixed so we want to know if this is something that look nice to get fixed in 7.3 or if we should instead put it on hold.

After the initial investigation we found the following issues:
- the documentation / example configuration is buggy, step1 doesn't longer exist but also

[2022-02-14 18:36] tdonohue commented on #8169
This appears to be the same issue as #8139 .. and it does look like @mwoodiupui helped analyze that slightly in this dspace-tech thread: https://groups.google.com/g/dspace-tech/c/Z10Z4IIfqho/m/8-RZXk1yAgAJ   I know @mwoodiupui also did enable curation tasks to run in Configurable Workflow in #3157... I see we had also used that PR to close #2868.

Those are all the related tickets that I've found

[2022-02-14 18:47] #8155 closed

[2022-02-14 22:30] #8161 closed

[2022-02-15 11:13] abollini commented on #8169
thanks @tdonohue to link these issues together and point out to the dspacetech thread.
Yes, #8139 is definitively one of the issues that we have identified and we were able to "solve" in line with the @mwoodiupui suggestion setting the context that trigger that workflow action to the curator but unfortunately, there are much more that need to be fixed and clarified to make the feature really usabl

[2022-02-15 15:46] tdonohue commented on #8055
Closing, fixed by #8171 (in 6.x) and #8163 (in 7.x)

[2022-02-15 15:46] #8055 closed

[2022-02-15 17:27] tdonohue commented on #3017
Assigning to myself, and moving this to 7.3, as I'm looking into this.  It's required in order to upgrade Spring Boot / Spring.

[2022-02-16 15:17] tdonohue opened #8173 "Backend (Hal Browser) doesn't work properly in Tomcat 10"
**Describe the bug**
Originally reported in #8114

When Tomcat 10 is installed, the HAL Browser refuses to load its static resources/styles.  This means the DSpace 7.x backend currently only works on Tomcat 9.

_NOTE: It's unclear at this time if the bug is specific to the HAL Browser.  If so, it might be that solving #3017 will also fix this issue._

**To Reproduce**
Steps to reproduce the behavi

[2022-02-17 03:42] kshepherd commented on #2873
I've opened PRs for DSpace and dspace-angular. There are some tests to write / fix before it is fully ready but they are functional and can be practically tested as of now.

[2022-02-17 20:47] #8164 closed

[2022-02-17 21:01] tdonohue opened #8177 "On MyDSpace, selecting a "Status" filter results in a (harmless) backend error in dspace.log"
**Describe the bug**
When selecting a "Status" filter from the MyDSpace page, a backend error is triggered.  This error is seemingly harmless but appears in the `dspace.log` files:
[code]

This error appears to be caused by the `solr.authority.server` being commented out by default in `dspace.cfg`.

In DSpace 7, this "Status" filter uses the `namedresourcetype` facet, which is configured with `fac

[2022-02-18 10:23] KevinVdV opened #8179 "Cannot set end date on a resource policy"
**Describe the bug**
You currently cannot set an end date on a resource policy.

**To Reproduce**
Steps to reproduce the behavior:
Fire of the following patch on a resource policy
[code]

You will get a "bad request"

**Expected behavior**
The end date should be set.

**Related work**
Currently cannot be tested because of: https://github.com/DSpace/dspace-angular/issues/1532

[2022-02-18 15:43] tdonohue opened #8181 ""./dspace solr-reindex-statistics" doesn't work in DSpace 7."
**Describe the bug**
Reported on behalf of this thread: https://groups.google.com/g/dspace-community/c/xguccnJkrJM/m/UxcRrjcKBwAJ

The `./dspace solr-reindex-statistics` script is broken in DSpace 7 because it attempts to access the Solr data in the old DSpace 6.x directory structure (instead of using SOLR_DATA_HOME or similar).

When running it in DSpace 7, you will receive an error similar to th

[2022-02-22 10:57] ybnd opened #8183 "Submissions can be completed without granting the license"
**Describe the bug**
Submissions can be completed without granting the license, this has become apparent after the "Always enable Deposit button" PR in the frontend.

I'm listing this as a backend bug because
* The backend just deposits submissions with `/sections/license/granted=false` without complaining, so it seems that this is a REST issue. It shouldn't be the frontend's responsibility to enf

[2022-02-22 15:31] mgrothe-gu opened #8185 "Configuration options for community and collection admin's authorizations to edit item metadata"
**Is your feature request related to a problem? Please describe.**
Most actions performed by community and collection admins can be restricted with configuration options (core.authorization.<action>). However there is no option yet to restrict the permission to edit metadata of archived items.

In our institution we want archived items to be permanent. With no configuration option to restrict the

[2022-02-22 15:52] tdonohue commented on #8183
Thanks @ybnd : Agreed this needs resolution. Pulling this onto the 7.3 board and flagging as "high priority"

[2022-02-22 17:01] alawvt opened #8186 "Metadata Import (bulkedit) fails to detect blank line and line break changes"
In DSpace 6.3 XMLUI

If I use "Metadata Import," i.e. https://vtechworks.lib.vt.edu/admin/metadataimport, to upload a .CSV of metadata changes and those changes are only the addition or removal of blank lines or line breaks, DSpace does not detect those changes, reporting, "no changes were detected."

However if there is any change in the text along with those blank line and line break changes, th

[2022-02-23 05:08] MarijkaA opened #8187 "Unable to upload bitstream to a new BUNDLE for archived items"
**Describe the bug**
It is not possible to upload a bitstream to a new BUNDLE e.g. a BUNDLE which does not already exist for an item via Edit Items.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as Administrator
2. Use “Edit - Item” search to access an archived item which has a LICENSE bundle only (you will be uploading a bitstream to the ORIGINAL bundle)
3. Access “Bitstreams” Tab

[2022-02-23 18:25] RafaelMansilha commented on #7755
Was this solved on DSpace 7.x?

[2022-02-23 19:33] tdonohue opened #8188 "DSpace SWORDv2 module will be incompatible with `dspace-api` when we upgrade to Solr Client v8.10.0 or above."
**Describe the bug**
Encountered while I was investigating upgrading to latest Solr Client (version 8.11.1) in our Parent POM.

The `dspace-swordv2` module and the latest version of Solr Client have conflicting dependencies which look to be impossible to work around.

* `dspace-swordv2` depends on the (unmaintained) SWORDapp JavaServer2.0 library at https://github.com/swordapp/JavaServer2.0
    *

[2022-02-23 20:27] tdonohue commented on #7755
@RafaelMansilha : I believe this issue only impacts DSpace 6.x, as the code referenced no longer exists in DSpace 7.x (namely the JSPUI no longer exists).

[2022-02-24 15:03] WolfgangT71 opened #8189 "dspace create-administrator loop after yes"
After there was a database issue, every access to the database did throw an error. (Was ill, and the old admin found a mistake that all files bigger than 1MB could not get uploaded, i think might have been a tomcat issue. He started to delete wrong unused files. Then the dspace installation was suddenly not working and giving all the time an error.) Not sure if there an autoupgrade of postgres hap

[2022-02-24 16:30] tdonohue commented on #7937
Thanks @benbosman : As we discussed in today's meeting (see notes at https://wiki.lyrasis.org/display/DSPACE/2022-02-24+DSpace+7+Working+Group+Meeting#id-20220224DSpace7WorkingGroupMeeting-Notes), there was approval for the design, and the estimate sounds good.  So, development can start!

If anyone has additional minor feedback to share, they can add comments to the Google Doc, or to this ticket.

[2022-02-24 17:58] tdonohue commented on #2877
As discussed in today's meeting, the team likes the idea to use Spring Boot Actuators to fit the needs of the Control Panel.  Specifically the "info" and "health" actuators look to match up well with the old "Configuration" and "Java Information" tabs.
We also decided:
1. We'd like a very basic "Control Panel" Angular UI to simply display the "info" and "health" actuator responses in a nice manner

[2022-02-24 18:37] tdonohue commented on #8189
@WolfgangT71 : Please check you `dspace.log` and the PostgreSQL log file for any errors that occur when you attempt to login.  Additionally, you should check if errors were reported in the `dspace.log` when you ran `./dspace database migrate`.

It sounds likely that some part of the `dspace database migrate` **failed** and reported something in the logs.  That failure could then result in `create-

[2022-02-24 18:42] #8129 closed

[2022-02-24 19:27] jeffmorin opened #8190 "Full support for Java 17"
The DSpace codebase was made “build-compatible” with Java 17 in release 7.2, that is, it can now be built using a JDK 17. However, it must still be built towards Java 11, which is reflected by the `java.version` property and the maven-compiler-plugin `release` argument.

The project should be fully Java 17 compliant, which would result in being able to build it towards Java 17, which is the latest

[2022-02-24 20:00] tdonohue commented on #8190
@jeffmorin : If you have dependency updates and code refactors that align the DSpace codebase more with JDK 17, I think we'd welcome those.  However, at this time, I think we need to retain JDK 11 compatibility -- simply because JDK 17 is so new, and we'd need to gather broader feedback before considering a major switch from JDK 11 to JDK 17.

That all said, we'd welcome PR(s) which provide code c

[2022-02-25 07:16] WolfgangT71 commented on #8189
postgres.log
`2022-02-25 06:35:51.125 UTC [13404] LOG:  starting PostgreSQL 13.5 (Debian 13.5-0+deb11u1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 10.2.1-6) 10.2.1 20210110, 64-bit
2022-02-25 06:35:51.126 UTC [13404] LOG:  listening on IPv4 address "127.0.0.1", port 5432
2022-02-25 06:35:51.127 UTC [13404] LOG:  listening on Unix socket "/var/run/postgresql/.s.PGSQL.5432"
2022-02-25 06:35:51

[2022-02-25 07:26] WolfgangT71 commented on #8189
The dspace.log as zip.
[dspace.zip](https://github.com/DSpace/DSpace/files/8139289/dspace.zip)

Tried everything again, including a mvn package and a fresh_install. Cleaned all log files before I started again. Still the same result.

[2022-02-25 08:50] WolfgangT71 commented on #8189
Just to make sure did not change to backend 7.2 will try this on monday.

[2022-02-25 20:54] tdonohue commented on #8189
@WolfgangT71 : Your dspace.log shows a lot of ERROR lines that say DSpace cannot connect to your Solr instance. For example:
[code]

DSpace requires Solr to be functional, otherwise you may see very odd behavior.

[2022-02-27 17:29] WolfgangT71 commented on #8189
ok, solr went down, when reinstalling the configsets, needed some permission corrections. But that was not the problem. could try to give ownership to tomcat instead of solr. But solr is now reachable from the web. Problem with create-administrator persists. Will update to 7.2. And drop database again. Will report back later.

[2022-02-27 21:15] WolfgangT71 commented on #8189
7.2 also not working, is it working already with Postgres 13.5?

[2022-02-27 22:10] WolfgangT71 commented on #8189
What are tested postgres versions, for the main branch of 7.2?

[2022-02-27 23:29] WolfgangT71 commented on #8189
So tried now to install postgres 12.10 and still not working.
Solr is up and running.

This came by fresh_install
`test_database:
     [java] 2022-02-27 23:28:12,419 WARN  org.dspace.servicemanager.DSpaceServiceManager @ Unable to locate bean by name or id=database. Will try to look up bean by type next.
     [java] org.springframework.beans.factory.NoSuchBeanDefinitionException: No bean named 'da

[2022-02-27 23:38] WolfgangT71 commented on #8189
postgresql.log
`2022-02-27 23:18:22.807 UTC [52306] LOG:  starting PostgreSQL 12.10 (Debian 12.10-1.pgdg110+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 10.2.1-6) 10.2.1 20210110, 64-bit
2022-02-27 23:18:22.807 UTC [52306] LOG:  listening on IPv4 address "127.0.0.1", port 5432
2022-02-27 23:18:22.809 UTC [52306] LOG:  listening on Unix socket "/var/run/postgresql/.s.PGSQL.5432"
2022-02-27 23

[2022-02-27 23:50] WolfgangT71 commented on #8189
dspace.log

[dspace.zip](https://github.com/DSpace/DSpace/files/8149639/dspace.zip)

[2022-02-28 06:17] WolfgangT71 commented on #8189
I can reach it from outside. But not from localhost.

[2022-02-28 06:43] WolfgangT71 commented on #8189
http://dspace.umiz.at:8983/solr/#/search/core-overview

Can reach it like this, but only as my ip Addresses are given free to reach it.

[2022-02-28 07:56] WolfgangT71 commented on #8189
If I start
`http://localhost:8983/solr/search/select)
`

I get when saved:
`{
  "responseHeader":{
    "status":0,
    "QTime":3,
    "params":{}},
  "response":{"numFound":0,"start":0,"numFoundExact":true,"docs":[]
  }}
`

[2022-02-28 09:03] WolfgangT71 commented on #8189
Newest log file, no solr errors in it.

[dspace.zip](https://github.com/DSpace/DSpace/files/8151901/dspace.zip)

[2022-02-28 09:03] WolfgangT71 commented on #8189
But still not working

[2022-02-28 11:23] WolfgangT71 commented on #8189
Just to check, I tried installing postgresql 14 with contrib, than the solr errors are reappearing again.
But also had the errors with postgresql 13.
Problem might be that in my system only 13 and 14 have contrib, v 12 does not have a matching contrib to install.

[2022-02-28 13:23] mwoodiupui opened #8192 "DSpace startup clutters the log with Velocity deprecation warnings"
**Describe the bug**
At startup, DSpace logs:

2022-02-28 08:38:10,477 WARN  unknown unknown org.apache.velocity.deprecation @ configuration key 'string.resource.loader.class' has been deprecated in favor of 'resource.loader.string.class'
2022-02-28 08:38:10,477 WARN  unknown unknown org.apache.velocity.deprecation @ configuration key 'string.resource.loader.description' has been deprecated in fav

[2022-02-28 13:26] mwoodiupui commented on #8189
I currently do all of my DSpace development and testing with PostgreSQL v13.5.

The WARNing "Unable to locate bean by name or id=database. Will try to look up bean by type next." is expected in this context.

The connection test appears to succeed, and seems to be giving reasonable values for the connection parameters.

The WARNing "Request interceptor (org.dspace.services.events.SystemEventServic

[2022-02-28 15:44] tdonohue commented on #8189
@WolfgangT71 : Like @mwoodiupui noted, I don't see any obvious issues based on the logs you've provided.  What you want to be looking for are any log lines that are of an `ERROR` or `FATAL` status...**especially when you attempt to run the command that isn't working for you**.  Make sure to check ALL the relevant logs (DSpace, Tomcat, Postgres, Solr, etc)...as it's possible the issue could be logg

[2022-02-28 15:44] #8189 closed

[2022-03-01 11:19] LucaGiamminonni commented on #8183
Hi @ybnd @tdonohue , we would be interested in solving the problem. We estimate 4/6 hours to find the cause, fix it and test it.

[2022-03-02 21:56] #8179 closed

[2022-03-03 13:12] benheartland commented on #6583
A while back, I made an analysis of the code going back to DSpace 1.0 in https://groups.google.com/g/dspace-tech/c/k7qCSJVhRrU/m/oHHbxTg7BgAJ

In short:
- `dc.date.accessioned` has _always_ been stamped at the moment the item first enters the live archive. I would propose that this behaviour is _not_ changed, since that would cause the field to have different meanings for items deposited before an

[2022-03-07 21:21] tdonohue commented on #8188
Based on discussion in the DevMtg on March 3, 2022, those present felt that our only real option here is to find a way to help update (or fork) the https://github.com/swordapp/JavaServer2.0 project.  There are known third-party integrations which currently depend on SWORDv2 (the codebases to which we do not control, e.g. Symplectic Elements)... if we were to abandon SWORDv2, those integrations wou

[2022-03-08 14:01] fribeiro-fccn opened #8196 "Curation tasks don't show any output/feedback in the interface"
**Describe the bug**
Every curation task in backoffice don't gice any output to the user. Only states that the curation has started and has ended!

**To Reproduce**

1. Enter the backofiice and execute any of the curation tasks (NOP, metadata, links, doi)
2. Enter an handle
3. Execute the curation task
4. The output is blank.

See the example above:
![image](https://user-images.githubusercontent.c

[2022-03-08 14:28] tdonohue commented on #8196
Closing, as this is a duplicate of https://github.com/DSpace/dspace-angular/issues/1322

[2022-03-08 14:28] #8196 closed

[2022-03-08 15:59] LucaGiamminonni opened #8197 "Group2GroupCache recalculation is very slow with many groups"
The recalculation is of the Group2GroupCache done in the GroupServiceImpl.rethinkGroupCache method is very slow if there are many groups in the database (about twenty seconds with 2 thousand groups) and this slows down all the operations of update on a group when a member group has been added or removed. The situation becomes even less efficient if a process inserts or updates many groups, because

[2022-03-08 18:40] mwoodiupui commented on #8197
I have sometimes wondered why that cache even exists.  If performance is good without it, and recalculation is slow, then I agree that we are better off without it.

Perhaps the search can be done in a single nested query or a stored procedure.  The more that can be done in the DBMS, the better.

[2022-03-09 12:13] mgrothe-gu opened #8199 "Unable to accept 'Request a copy'-request, because user doesn't have READ access on his own restricted bitstreams"
**Describe the bug**
If the original (non-admin) submitter of an item tries to accept a "Request a copy"-request, he receives a server error because he doesn't have READ access on the restricted bitstreams of his own submitted item. The bitstreams are restricted to "administrator". The log file shows:

org.dspace.app.requestitem.RequestItemEmailNotifier @ user@example.com::error_mailing_requestIte

[2022-03-09 14:10] WolfgangT71 opened #8200 "Problem connecting backend with frontend, and login only shows import/export"
**Describe the bug**
The connection front end back end seams not to work 100%
Snapshot 7.3 SCM: e24431413cc7d71381895e20227ab135b806ef6a git downloaded on the 7th march 12:40 MEZ
java: 11.0.14+9
ant: 1.10.9
maven:  3.6.3-5
postgresql: 13.5
Debian 11

Steps to reproduce the behavior:
Relevant settings in apache:

000-default.conf
[code]
000-default-le-ssl.conf
[code]

Relevant Settings in tomcat9
s

[2022-03-09 14:12] WolfgangT71 commented on #8200
The checking if frontend is trusted should happen with two different ui settings one for external (for checking) and one for internal for where it provides the service, which can be different if set up on one server (proxy)

[2022-03-09 14:37] WolfgangT71 commented on #8200
yarn test:rest showed no problems
all the time I start it with yarn run serve:ssr only when everything works I will start it as service.

[2022-03-09 15:05] tdonohue commented on #8200
Closing, as this sounds like a local configuration issue and not a bug.  Please only report bugs as issue tickets. If you need help/support in configuration, use on of our support options listed at https://wiki.lyrasis.org/display/DSPACE/Support

In this scenario, you would need to follow our Troubleshooting guide to find the *exact error message that DSpace is throwing*: https://wiki.lyrasis.org/

[2022-03-09 15:08] BrandonKowalski opened #8201 "Deprecated DS 6 REST API interferes with DS 7 'special groups' on login"
**Describe the bug**
I am using DSpace 7.2 with the DS 6 REST API installed.

When the REST API is installed, backend does not find special groups from Shibboleth login.

I've done a few hours of troubleshooting and have identified the issue.

When the deprecated API is installed, the login flow uses the following class [EPersonRestAuthenticationProvider.java](https://github.com/DSpace/DSpace/blob

[2022-03-09 15:27] tdonohue commented on #8201
@BrandonKowalski : Could you verify how you are authenticating through Shibboleth?  Are you trying to login to the *old* "dspace-rest" API via Shibboleth?  Or are you attempting to just login to the Angular UI via Shibboleth and finding that having the "dspace-rest" webapp installed somehow blocks/affects that login?

Are you perhaps using the Shibboleth login for the old "dspace-rest" API documen

[2022-03-09 16:21] BrandonKowalski commented on #8201
@tdonohue I am signing in with the Angular UI using the 'Login with Shibboleth' button that appears when Shibboleth is configured.

I went to recreate this again and now am unable to reproduce what I've reported. Now logging in via the UI results in using [EPersonRestAuthenticationProvider.java](https://github.com/DSpace/DSpace/blob/main/dspace-server-webapp/src/main/java/org/dspace/app/rest/secur

[2022-03-09 16:21] #8201 closed

[2022-03-10 12:47] MarieVerdonck opened #8203 "Items browse not filtered, jump to functionality causes issues"
**Describe the bug**
The items browse, eg [/browse/title?startsWith=T](https://demo7.dspace.org/browse/title?startsWith=T), does not filter the results with the "startsWith" but rather jumps to the page where items starting with this query are.

This is however in opposition, and causing the same issues, that lead to the changes done here: https://github.com/DSpace/DSpace/pull/1730

The plain-text

[2022-03-10 12:51] MarieVerdonck commented on #8203
This will take an estimated **8 hours** to fix and adjust/add IT.

[2022-03-10 16:10] #8148 closed

[2022-03-10 16:35] tdonohue commented on #8203
@MarieVerdonck : We discussed this in this week's meeting, and all agreed this seems good to fix.  @artlowel said I should assign this back to you, so I did.

One note though, there was some feedback that with this "filter" approach, the alphabetic letters at the top of the browse may not provide great usability (as clicking on some letters can result in no entries being returned... and the "0-9"

[2022-03-10 17:49] WolfgangT71 opened #8204 "yarn test:rest shows an error"
**Describe the bug**

yarn test:rest response
yarn run v1.22.17
$ ts-node --project ./tsconfig.ts-node.json scripts/test-rest.ts
Building production app config
Overriding app config with /opt/dspace-angular/config/config.prod.yml
...Testing connection to REST API at https://dspace.umiz.at/server/api...

RESPONSE: 200

Checking JSON returned for validity...
	"dspaceVersion" = DSpace 7.3-SNAPSHOT
	"

[2022-03-10 19:36] ammanabrolua commented on #8181
Can we add a separate way to add the SOLR path in local.cfg file? Like -> `solr.path='/opt/bin/solr'`. This will be quick solution but will have to be documented as you mentioned.

[2022-03-10 20:09] tdonohue commented on #8181
@ammanabrolua : Yes, I think that'd be a perfectly reasonable solution to make the directory configurable in your `local.cfg`.  If you are interested in making this happen, I'd welcome it.  Just submit a Pull Request & link it back to this ticket, at which point I'll help find reviewers and hopefully we can get this into 7.3.  Thanks!

[2022-03-10 20:22] tdonohue commented on #8204
@WolfgangT71 : Again, when asking a question for support, you should be using our Tech Support list (https://groups.google.com/g/dspace-tech/).  I think this is a minor configuration issue again...

My suspicion is that it's simply that, in your backend's `local.cfg`, you don't need to specify port 443 when you are running HTTPS, as that's the default HTTPS port.  So, in your `local.cfg`, just set

[2022-03-10 22:02] tdonohue commented on #2868
Reopening, as it sounds like this was only solved for the **workflow process** in #3157.

It was not fixed in the Submission, see related tickets #8139 and #8169 (which are the same issue reported twice)

This was also initially ranked as ["Tier 4: Medium-Low priority"](https://wiki.lyrasis.org/display/DSPACE/DSpace+Release+7.0+Status#DSpaceRelease7.0Status-Tier4:Medium-LowPriority), so adding it

[2022-03-10 22:04] tdonohue commented on #8169
As this issue is directly related to #2868 being incomplete, I'm moving this over onto the Tier 4 board alongside that ticket.   Per discussion above, it seems that ticket was improperly closed.

[2022-03-10 22:05] tdonohue commented on #8139
This ticket and #8169 are the same issue.  I'm closing this ticket in favor of #8169, simply because that ticket has slightly more activity/planning.

[2022-03-10 22:05] #8139 closed

[2022-03-11 02:54] TanyaHolm opened #8205 "Google Scholar Meta Tag citation_pdf_url contains link to embargoed files"
In DSpace7, we have Google Scholar meta tags configured.
The meta tag _citation_pdf_url_ contains links to embargoed files - presumably because embargoed files are contained in the Original Bundle. I believe Google will not like being taken to a log-in page.

Expected behavior
It should be possible to exclude embargoed files from being included in the meta tag _citation_pdf_url_.

[2022-03-11 12:38] mwoodiupui commented on #8204
If the test is not allowing for explicit specification of default ports, then the comparison is incorrect.

[2022-03-11 15:05] tdonohue commented on #8205
Thanks @TanyaHolm for reporting this... I'm pulling this over onto our 7.3 project board to see if I can find a volunteer.  I agree, it's likely not proper behavior for embargoed content.  The `citation_pdf_url` likely should only link to a public bitstream.

[2022-03-11 15:14] tdonohue commented on #8203
@MarieVerdonck : Also wanted to make sure you are aware of separate work going on in the "Browse by" pages, see https://github.com/DSpace/dspace-angular/pull/1552

I just want to make sure you are aware of this, so that, if needed, you can build any Angular UI updates off that existing PR.  If you have any interest in help reviewing/testing that PR (to help get it merged quickly), let me know as w

[2022-03-11 15:24] tdonohue commented on #8024
@mtrojan-ub : That error seems to be saying you tried to submit content using an account that does not have submit access on _any collections_ in the system.  Here's the line of code throwing the error: https://github.com/DSpace/DSpace/blob/main/dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/WorkspaceItemRestRepository.java#L249

You need to make sure the user account has "ADD"

[2022-03-11 16:26] atarix83 opened #8206 "Special groups are not dispayed in the profile page"
**Is your feature request related to a problem? Please describe.**
Special groups which the current user belong to are not showed in the list present in the profile page

**Describe the solution you'd like**
The profile page should also display the list of group which the current user belong to.

This could be done by adding a new `specialGroups` link to the response from [api/authn/status endpoin

[2022-03-11 16:27] atarix83 commented on #8206
@tdonohue

The estimation for the solution described in the issue is about 16hours for REST and Angular implemenation

[2022-03-11 16:56] tdonohue commented on #8206
@atarix83 : I agree this would be very useful. I didn't realize that Special Groups were not already displayed.

I'll move this over to the 7.3 board & assign to you. If your team can fit this into 7.3, I think it'd be useful to fix soon.

[2022-03-11 17:06] tdonohue commented on #8188
I've talked with the Symplectic Elements team about their Repository Tools 2 (RT2) integration with DSpace.  They noted that RT2 does currently use SWORDv2, but they consider it a "workaround" as it had features that were unavailable in the old DSpace 6 REST API.  Their team has an upcoming project (likely by/during summer) to update the Repository Tools to work with DSpace 7.  They've already bee

[2022-03-14 11:23] WolfgangT71 commented on #8204
Thanks that was it. At least now all the tests from yarn test:rest pass. Still not be able to login  completely, only get two items, and running points isntead of news page.

[2022-03-14 16:18] tdonohue commented on #8188
Talked with [PKP](https://pkp.sfu.ca/) / [OJS](https://pkp.sfu.ca/ojs/) as well. Notes passed along from their team...
* Their current OJS integration uses SWORDv2; it takes the form of a plugin for OJS (https://github.com/pkp/sword) that relies on the SWORD project's PHP client implementation (https://github.com/swordapp/swordappv2-php-library). This supports the main use case that drives OJS/DSp

[2022-03-14 18:23] #8204 closed

[2022-03-14 20:31] tdonohue commented on #3017
In the DevMtg on March 10, 2022, we decided to remain on the HAL Browser for now.  While the HAL Explorer shows some _promise_ & we like certain aspects (e.g. it uses Angular and Bootstrap, just like our UI), it also seems to be less widely adopted and is missing some key features: CSRF support & login/logout support.  For the time being, we'll remain on the HAL Browser until either we are forced

[2022-03-14 23:12] kshepherd commented on #7909
I've fixed this locally in some places by making multi-value separator configurable and defaulting to a pipe `|`, I just haven't gotten around to a PR yet so I will try to open one soon. It affects all Solr import and export tehcnically, it's just only typically noticed for authority index export since that's where names containing commas are likely to appear

[2022-03-14 23:21] kshepherd commented on #2990
@tdonohue I see what you're saying, perhaps I just misunderstood the usage. So the idea is that I can call authorityValueService.getAuthorityValueType("person") and it will return a PersonAuthorityValue?

For some reason I thought a field name would be passed to the method, not the type name. Perhaps it's just the 'metadataString' parameter name that confused me.

[2022-03-15 00:13] kshepherd opened #8209 "AuthorityConsumer never processes itemsToUpdateAuthority? Or needs documentation?"
In `AuthorityConsumer` there are two lists of items that are processed for reindexing, but one of the lists is either redundant, or just broken, or both? From what I can see, there is even item event detail containing 'ARCHIVED', unless this is populated by some method I don't know about, outside of configuration or code?

The following check determines whether to add the item to the list:

[code]

[2022-03-15 07:29] tlloydthwaites commented on #8020
I am also getting this error periodically. I can't see a pattern, and I am not sure how to reproduce without sending a database dump.

[2022-03-15 10:09] mtrojan-ub commented on #8024
This turned out to be a HTTP header problem. We thought that after logging in, sending the Cookie again would be enough, but instead we had to send the Authorization header within each request. Maybe that's why the permissions and collections could not be checked properly. Also, our server admin fixed a problem within the apache configuration to get rid of another internal server error.

Thanks a

[2022-03-15 10:10] ulb-sa-schmilj opened #8211 "GoogleBitstreamComparator - Comparison method violates its general contract"
**Describe the bug**
GoogleBitstreamComparator - Comparison method violates its general contract

**To Reproduce**
Steps to reproduce the behavior:
1. Submit a new item. With many/more than 10 files/bitstreams with the same file extension and the same size.
2. The following Exception is thrown:
`java.lang.IllegalArgumentException: Comparison method violates its general contract!
        at java.ut

[2022-03-15 12:46] arvoConsultores commented on #7882
When the 100-200 bitstreams per item limt is reached, the building of some screens gets slow. In XMLUI the METS/DRI  representation is slow or directly break the UI when loadin several thousands lines of XML....
Not a solution but a workaround, for a specific project,  we modified the item´s page  to do not display the files when accesing a huge number of bitstreams (30000-50000 files).   Instead,

[2022-03-15 13:13] tdonohue commented on #2990
@kshepherd : Yes, based on my reading of the code, it really looks like that `String metadataString` param should be renamed to be `String type`.  In the Impl code, it's very obviously not looking up anything by a metadata string...instead, it is expecting you to call `authorityValueService.getAuthorityValueType("person")` to retrieve `PersonAuthorityValue`.

As previously mentioned though, the Au

[2022-03-15 13:20] tdonohue commented on #8209
@kshepherd : Yes, they look redundant to me too... this seems similar to #2990 in that it's in the Authority code, which is very poorly commented overall.

Based on a glance at the code though, you look correct.
1. There's two `Set<UUID>` initialized here, with seemingly different purposes: https://github.com/DSpace/DSpace/blob/main/dspace-api/src/main/java/org/dspace/authority/indexer/AuthorityCo

[2022-03-15 14:46] tdonohue commented on #8024
@mtrojan-ub : Glad you figured it out!

Just for the record & in case anyone else stumbles on this same thing... this is **expected behavior**.  The `Authorization` HTTP Header MUST be included in every request after login in order for each request to be authenticated.  See REST Contract docs at https://github.com/DSpace/RestContract/blob/main/authentication.md#username-password-based-authenticati

[2022-03-15 16:08] tdonohue commented on #8211
Thanks @ulb-sa-schmilj !  This was a small fix, so I went ahead and created a tiny PR https://github.com/DSpace/DSpace/pull/8212   If you have a chance to review or try it out, please feel free to add a comment on what you find.

[2022-03-15 19:40] mwoodiupui opened #8213 "Hibernate warns of "legacy cache name"s"
**Describe the bug**
It seems that Hibernate has changed the names of two caches that it looks for by default.  Warnings are logged, suggesting that we rename our caches.  We should keep up with these changes.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a DSpace webapp.
2. Look in log/dspace.log for HHH90001007 warnings.

**Expected behavior**
No HHH90001007 warnings.

[2022-03-16 09:42] mgrothe-gu commented on #8199
See https://github.com/DSpace/DSpace/issues/8182#issuecomment-1068921953 for a fix/workaround.

[2022-03-16 18:52] tdonohue opened #8214 "Oracle support deprecated in 7.3. Will be removed in 7.6 release"
## Deprecation of Oracle Support

Per a unanimous vote in today's DSpace Steering Meeting, DSpace will **deprecate support for Oracle Databases in the upcoming 7.3 release.**

**All Oracle-specific classes/code will be removed one year after the 7.3 release**.  Assuming that we remain on the three-releases per year schedule for 2022-2023, this likely means complete removal of Oracle support in ver

[2022-03-16 21:06] #8099 closed

[2022-03-21 02:32] tlloydthwaites commented on #8020
Update: it occurs consistently for me when I add two relationships to the same entity, eg. isAuthorOfPublication and isEditorOfPublication to the same person. (Granted this is unusual, we are working with legacy data imported from eprints) but that seems to reliably trigger it for us.

[2022-03-21 13:11] mwoodiupui opened #8218 "Migrate from System Rules to System Stubs"
**Describe the bug**
[System Rules](https://github.com/stefanbirkner/system-rules) (used in testing command-line code) has not seen any updates in some time.  It doesn't support Java 17 or JUnit 5.  [System Stubs](https://github.com/webcompere/system-stubs) is a fork that supports both (and also supports JUnit 4 with an alternate plugin).  There is also a redesigned [System Lambda](https://github.

[2022-03-21 13:31] mwoodiupui opened #8219 "Consider upgrading to JUnit 5"
**Describe the bug**
JUnit 5 makes use of some handy Java 8+ features and adds some new capabilities.  JUnit 4 may not get as much attention (or any!) from developers of other testing tools.  We should consider whether it is worthwhile to upgrade.

There is a compatibility module supporting JUnit 4 tests, so we don't have to convert everything at once.

[2022-03-23 21:30] tdonohue commented on #8188
**Good news finally!**

After more digging, I've found a _workaround_ for this issue in the DSpace 7.x codebase, by _completely removing_ the Axiom dependency from our `dspace-api` module, see #8222 .

When Axiom is removed as a direct dependency of `dspace-api`, the incompatibility between Solr 8.11.1 and the `swordapp/JavaServer2.0` library no longer occurs.  This seems to be because these two d

[2022-03-24 10:40] Atmire-github opened #8223 "New URLs for DSpace interfaces (sword and OAI) causing issues to external tools/harvesters"
**Describe the bug**
The pre-DSpace 7 swordv2 and OAI URLs were
- [repository url]/swordv2
- [repository url]/oai

The DSpace 7 swordv2 and OAI URLs are
- [repository url]/server/swordv2
- [repository url]/server/oai

For every upgrade projects from a pre-DSpace 7 version to DSpace 7, this URL change will break the connection between external tools / harvesters using these sword and/or OAI urls an

[2022-03-24 14:04] tdonohue commented on #8223
This is a side-effect of splitting the UI from the backend in DSpace 7.  All backend interfaces are now subpaths of `dspace.server.url`, while the UI is obviously at `dspace.ui.url`.  So, the description above isn't accurate for all installations, as there's no guarantee that `dspace.server.url` and `dspace.ui.url` share the same hostname, etc.

Additionally, based on your setup of DSpace 7, the b

[2022-03-24 14:24] #7813 closed

[2022-03-24 21:56] #8213 closed

[2022-03-25 19:21] #8023 closed

[2022-03-25 19:55] #8192 closed

[2022-03-29 06:56] davidatmire commented on #2840
Just a note that different institutions are showing interest for this feature, especially when they are upgrading from pre-DSpace 7 versions which already had the integration before (both in JSPUI and XMLUI)

[2022-03-29 13:50] tdonohue commented on #2840
@davidatmire : This ticket is on our 7.3 board already & assigned to @abollini 's team. It will very likely be completed for the 7.3 release.

[2022-03-30 08:39] abollini commented on #3359
@tdonohue we were almost ready to open the PR for this issue but we have decided to rebase it on top of your PR https://github.com/DSpace/DSpace/pull/8222 as most of the connector were based on AXIOM.
I can anticipated a little extra effort on this task about 12-16 hour

[2022-03-30 16:05] tdonohue commented on #3359
@abollini : That makes sense. I'll add it to the existing estimate.  PR #8222 has now been merged, so it should be easier to rebase against latest `main`.

[2022-03-31 11:43] paulo-graca commented on #8157
I would like to point a reference for an ORCID synchronization library:
https://github.com/fccn/PTCRISync/wiki

![image](https://user-images.githubusercontent.com/877488/161047125-a6331d4e-c7e2-457d-b969-b5407c530900.png)

The promotional video:
https://vimeo.com/251179542

and an implementation demo:
https://vimeo.com/251312395

[2022-03-31 13:13] KevinVdV opened #8228 "DOI scripts have issues handling large amounts of items"
The DOI scripts from DSpace 6 onwarths try to process all DOI's in a certain state in one go. This can lead to issues if you are doing large imports & want to bulk send DOI's to Datacite.

The biggest issue is with the actual registration, what the code does then:
* Loops over all DOI's that are ready to be registered
* Sends the data to Datacite
* Adds the DOI that it retrieved from Datacite to t

[2022-03-31 13:57] mwoodiupui commented on #8228
There is a third way, but it may take more work.  We should have one Session running a single read-only, forward-only query to produce the stream of DOIs to register, and a second Session to update and commit for each DOI.  Then we shouldn't need to do any manual batching or manual decaching; Hibernate should handle these as it knows best.  The unit of atomicity here is a single DOI -- we don't ne

[2022-03-31 14:59] #8177 closed

[2022-03-31 15:08] tdonohue commented on #8228
Definitely sounds like a bug here & I like the suggestions. I do agree that @mwoodiupui 's approach should be looked at...it's the "ideal" behavior here, but not sure if other performance issues will arise.  If so, a fallback to one of the approaches mentioned by @KevinVdV seems reasonable.

As DOIs are not used by most sites at this time, I'm placing this in "Tier 3: Medium Priority" for now. Tha

[2022-03-31 15:21] tdonohue commented on #8219
Agreed that we should move to JUnit 5.  I don't feel this is super high priority at the moment, so I'll pull this into Tier 2 board. But, if anyone is interested in starting this migration sooner, I'd support it.  Or, if we find a reason why we should migrate sooner rather than later we could re-prioritize.

Here's more on the JUnit 4 -> 5 Migration process: https://junit.org/junit5/docs/current/u

[2022-03-31 15:22] tdonohue commented on #8218
This is definitely something we'll want to do at some point, but it's low priority for now.  Moving to Tier 5 board

[2022-03-31 15:28] tdonohue commented on #8197
I agree with the idea to *remove* this cache and see if our performance is good enough without it.  I think this Group2GroupCache was built at a time when there were definite performance issues.... but, we should reanalyze now whether performance is better in our current environment *without* this Group2GroupCache.  At the very least, it should give us more information on whether a custom caching

[2022-03-31 15:32] tdonohue commented on #8187
Agreed, this is a (known) bug... this ticket duplicates https://github.com/DSpace/dspace-angular/issues/1380 (which is already on the 7.3 board but is awaiting a volunteer).  Closing this ticket as a duplicate. See that other ticket instead.

[2022-03-31 15:32] #8187 closed

[2022-03-31 15:35] tdonohue commented on #8185
This seems like a reasonable request, but would need a volunteer at this time.  Flagging as such.

[2022-04-04 14:34] tdonohue opened #8233 "ConverterService and DSpaceConverter classes have a circular dependency"
**Describe the bug**
Discovered in #8215.  In that PR, we had to add `@Lazy` annotations to work around an existing circular dependency issue in the REST API codebase.

1. On `initialize()`, the `ConverterService` loads every `DSpaceConverter` into a map here: https://github.com/DSpace/DSpace/blob/main/dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/ConverterService.java#L400-L402

[2022-04-04 19:33] mwoodiupui opened #8234 "Export metadata from search results in various bibliographic formats"
**Describe the solution you'd like**
An option, on search result pages, to export the metadata of the discovered Items in various bibliographic formats e.g. BibTeX.

**Describe alternatives or workarounds you've considered**
One could export metadata as CSV and then transform them to the required format.  This would require additional tools.

[2022-04-04 19:34] mwoodiupui commented on #8234
I have an implementation for v5.6, which I will port to v7.

[2022-04-05 18:56] sheilarabun commented on #8157
Since DSpace CRIS is a certified ORCID service provider (https://info.orcid.org/certified-service-providers/orcid-certified-service-providers-list/) are there plans to do the same for DSpace once the ORCID functionality is added? That would be awesome!

[2022-04-06 10:19] LucaGiamminonni opened #8239 "The replace of the end date of a resource policy fails if the start date is null"
Patching a resource policy to replace the end date fails if the start date is not set.
To verify this incorrect behavior you can:

- log in as administrator
- go to the page of an item and open the edit/authorizations section
- try to modify a resource policy replacing (not just adding) an end date when the start date is not present
- the system reports that the operation was successful but an err

[2022-04-06 17:15] #8203 closed

[2022-04-07 13:51] benbosman commented on #8205
This will take an estimated 4 hours, atmire would like to claim it
You can assign @MarieVerdonck

[2022-04-07 19:36] g011um commented on #7991
Sorry I have nothing to contribute other than a "me too".  We're in the process of moving from 6.x to 7.x and are seeing this same "`An error occurred during the unmarshal of the data for the section cclicense`" error with a fresh install of 7.2.1 after enabling the `cclicense` step.

[2022-04-08 19:14] sheilarabun commented on #8157
@abollini (Hi Andrea!) One other question/suggestion for consideration in additional to my question about certified service provider status above:

Regarding user experience: with the current DSpace CRIS functionality that is expected to be added to DSpace, researchers have to 'manually' push works from DSpace to ORCID per work. It would be great just to ask the researcher up front for permission,

[2022-04-08 21:05] tdonohue commented on #8157
Hi @sheilarabun : Currently, the plan is to migrate the Advanced ORCID features from DSpace-CRIS to DSpace as-is.  That's the work that we've been working to fund so far.  Any additional enhancements/changes would need to be planned out & funded appropriately as well -- so, while requests are welcome, this particular ticket is just about migrating the existing features from DSpace-CRIS to DSpace.

[2022-04-09 14:26] ljq23 opened #8242 "Why can't I get 'net.handle:handle:jar:9.3.0'"
[ERROR] Failed to execute goal on project dspace-api: Could not resolve dependencies for project org.dspace:dspace-api:jar:7.2.1: Failure to find net.handle:handle:jar:9.3.0 in https://maven.aliyun.com/repository/public was cached in the local repository, resolution will not be reattempted until the update interval of aliyun has elapsed or updates are forced -> [Help 1]

And I cannot find it's web

[2022-04-09 14:29] ljq23 commented on #8242
https://handle.net/maven/net/handle/handle/9.3.0/

[2022-04-09 14:29] #8242 closed

[2022-04-11 15:35] abollini commented on #2850
@tdonohue we are interested in that. We can work on it after / in parallel with the other higher priority tickets already claimed

[2022-04-12 15:23] Devamparikh commented on #8219
Hey there, I have read some issues and discussions, you guys are planning to migrate Junit4 to Junit5, Can outsiders work on this issue? I want to help in migrating Junit4 to Junit5. Can I get some good first issues to work on? Thanks :)

[2022-04-12 15:28] corrad82-4s opened #8243 "IIIF manifest and canvas cache eviction is asynchronous and could led to unexpected responses"
**Describe the bug**
While testing parallel builds on same machine (Bitbucket instance) we experienced systematic failures of following tests:
- IIIFControllerIT.findOneWithCacheEvictionAfterBitstreamUpdate
- IIIFControllerIT.findOneWithCacheEvictionAfterItemUpdate

We suppose this can be done to an asynchronous cache eviction and invalitation.

**To Reproduce**
Steps to reproduce the behavior:
1.

[2022-04-12 15:39] pnbecker opened #8244 "Decide whether to port or deprecate per item visual indicators in search and browse (item-marking)"
In DSpace 6 JSPUI there was a feature that allowed add visual indicators to search and browse. This was usefule for example to mark Open Access resources in search results and browsing. In the documentation of DSpace 6 information about that feature can be found: https://wiki.lyrasis.org/display/DSDOC6x/Configuration+Reference#ConfigurationReference-JSPUI:Peritemvisualindicatorsforbrowseandsearchr

[2022-04-12 16:10] tdonohue commented on #8219
@Devamparikh : Anyone is welcome to contribute code/features back to DSpace.  So, if this is of interest to you, we'd welcome it.  You'd want to work with the latest code on our `main` branch & submit a Pull Request once you have something working (at that point we'd review it & provide feedback). If you run into issues or have questions, you could ask them via comments in GitHub or use our Slack:

[2022-04-12 19:46] nibou230 commented on #8244
Hi @pnbecker, as discussed in the other threads, I think it is a good idea and this could be eventually be ported to DSpace 7 by making the type badge and the future access status badge (previously named markers) a bit more generic, so everyone could show the information they want more easily in those badges. The code for markers is a good base to start with on the server side, but I think the que

[2022-04-13 03:55] Devamparikh commented on #8219
@tdonohue I don't mind if this ticket is larger, I will work on this. Can you guide me along the process? What should be my first step for this? thank you :)

[2022-04-13 13:35] MarieVerdonck commented on #8205
REST side this check is already done for the "citation_pdf_url" google meta tag

`google.citation_pdf_url` corresponds to the ` $simple-pdf` config (see crosswalk [here](https://github.com/DSpace/DSpace/blob/dspace-7.0/dspace/config/crosswalks/google-metadata.properties#L47))
=> File links are added to the Google accessible metadata in `org.dspace.app.util.GoogleMetadata` [here](https://github.com

[2022-04-13 16:18] #7992 closed

[2022-04-13 21:31] mhvezina opened #8246 "submission-forms-migrate script keeps obsolete(?) "complete step""
I used the command-line migration script "submission-forms-migrate" to migrate my old configurations (version 5.9 XMLUI) into new ones (DSpace 7.2).

It worked well however, the obsolete (as I understand it) "complete step" (see https://github.com/DSpace/DSpace/commit/e3aeb3d35ba7ee6847c803456e63c132117be274#diff-cbecd668e9534b5ef05a6d8838b62d5f2c3f2ea46fdb1e2f980a2cffeee51d4dL130) was transfered

[2022-04-14 18:34] tdonohue commented on #8219
@Devamparikh : I don't have a step-by-step guide for updating from JUnit 4 to JUnit 5 (as I've never done it before).  But, I do know there are resources out there if you google such an upgrade, e.g. https://www.baeldung.com/junit-5-migration and https://blog.jetbrains.com/idea/2020/08/migrating-from-junit-4-to-junit-5/

That's probably the best place to start.  Upgrading to JUnit 5 may require fi

[2022-04-15 23:12] hardyoyo opened #8248 "bitstore-migrate does not honor the -d (delete) flag"
**Describe the bug**
the `bitstore-migrate` DSpace command does not appear to honor the `-d` flag, which, according to the script help output, does this:

[code]

Instead, files remain in the old assetstore folder, where they must be manually deleted.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a dspace instance with a default assetstore folder
2. Deposit some items
3. Configur

[2022-04-16 16:49] MrLibya opened #8249 "The object: org.dspace.content.site cannot be indexed"
**Describe the bug**
When i create new community it doesn’t appear anywhere, even when try to create sub-community its not there
so i checked dspace log and i got :

**To Reproduce**
Steps to reproduce the behavior:
1. Login
2. Create community3.
3- try to open list community page nothing will be there
4- try to create sub-community you can't find the main community u created early

**Expected beh

[2022-04-17 01:50] MrLibya commented on #8249
Fixed, the issue was tomcat didn't read the new java opts args because I was running tomcat form the services, so I run the tomcat from
[code]

and it start with new args and all working fine

[2022-04-17 01:50] #8249 closed

[2022-04-17 14:27] ljq23 opened #8250 "cannot get url ‘/server/api/core/sites’"
it's code is  500  when I test url ‘/server/api/core/sites’. And I connot find '/core/sites' in my local project (tag:7.2.1)
it's error log.

`2022-04-17 22:25:04,227 INFO  unknown 62b1b304-4c8e-437a-b88c-f7ef2c962909 org.dspace.app.rest.utils.DSpaceAPIRequestLoggingFilter @ Before request [GET /server/api/core/sites] originated from http://localhost:8080/server/
2022-04-17 22:25:04,516 ERROR unkn

[2022-04-18 13:49] santit96 opened #8251 "Collections returned by collection searcher (autocomplete) do not correctly match with the search text"
When selecting a collection for a submission item, sometimes if the name of the collection searched is partially written, the collection is not returned as a result. It seems as if the "starts with" filter is not working properly.
This was already reported in #8066 and partially solved in PR [8067](https://github.com/DSpace/DSpace/pull/8067), but the problem is still there when the collection name

[2022-04-18 14:14] tdonohue commented on #8250
@ljq23 : This error is saying that the Site object was never initialized in your DSpace database.  Either you forgot to initialize the database by running `./dspace database migrate`, or that initial migration failed in some way (check the backend logs, or check that all migrations succeeded by running `./dspace database info`.

If all migrations are already successful (or ran "out of order") then

[2022-04-18 14:14] #8250 closed

[2022-04-18 14:15] ljq23 commented on #8250
已收到您的邮件。

[2022-04-19 17:55] tdonohue commented on #8205
@MarieVerdonck : I think it'd be good to submit your Test in https://github.com/atmire/DSpace/commit/2408aa9fc4fb3d61fdc1a24d9b53b8ce106f68a7 as a separate backend PR, as that ensures the code/logic doesn't change in the future

If you can find time to do so, please assign it to me and I'll get it quickly merged (as I've already reviewed the code of that test, and it looks good to me).  Thanks!

[2022-04-19 18:06] #7748 closed

[2022-04-19 21:38] alawvt opened #8253 "Metadata Import (bulkedit) fails to detect removal of duplicate values for a field"
**Describe the bug**

In DSpace 6.3 XMLUI

If I use "Metadata Import," i.e. https://vtechworks.lib.vt.edu/admin/metadataimport, to upload a .CSV of metadata changes and those changes are only the removal of duplicate values for a field, for example, dc.subject, DSpace does not detect those changes, reporting, "no changes were detected."

Ex. if dc.subject="apple||apple||banana||banana||cherry||che

[2022-04-19 22:12] #8205 closed

[2022-04-20 13:52] corrad82-4s opened #8254 "Make password minimum requirements stronger"
**Is your feature request related to a problem? Please describe.**
Not a blocking problem, but a possible security improvement. It would be useful establish minimum password requirements when a user is setting or updating his / her DSpace7 password.

**Describe the solution you'd like**
It could be useful having a password validation mechanism, allowing to set only password following a minimum set

[2022-04-20 14:01] corrad82-4s opened #8255 "Ask current password to user when he / she sets a new password"
**Is your feature request related to a problem? Please describe.**
When a logged in user changes his / her password from profile section, he / she does not have to insert the current one.

**Describe the solution you'd like**
User changing his / her password should be asked for current one. If not inserted, or if the inserted one is wrong, password change operation should not be allowed. Could it

[2022-04-20 14:05] #8239 closed

[2022-04-20 14:16] corrad82-4s opened #8256 "New users might be registered in a massive way by a robot"
**Is your feature request related to a problem? Please describe.**
This might be a problem. When an user starts his / her registration process, he / she just have to insert the email address with which registration should be made in this page https://demo7.dspace.org/register .
A robot navigating automatically the site, might perform registration in a massive way. This might lead to a DoS and to s

[2022-04-21 13:47] amgciadev commented on #8256
Hi, just to mention that this is also an issue for any of the other forms such as feedback, or request a copy. Agustina

[2022-04-21 16:28] tdonohue commented on #8256
@corrad82-4s : I'm open to ideas here, though it seems like it may be too late for 7.3 at this point (unless your team sees a quick fix approach).

I should point out that any such attack would need to use the UI/frontend.  The Backend already has CORs checks to ensure that it only "trusts" specific origins.  By default the Backend will only trust the Frontend, which means such a DoS/spam attack c

[2022-04-27 08:39] #8183 closed

[2022-04-27 20:57] tdonohue commented on #8150
@abollini : Thanks for the explanation. I'll move this to the 7.4 board, and hopefully we can then find time to discuss this more thoroughly after 7.3

[2022-04-29 08:21] ybnd opened #8272 "Workflow role Groups can be deleted while claimed tasks exist for the associated step"
**Describe the bug**
We throw an error when trying to delete a workflow role's Group if it has pooled tasks.
However, when the same group only has claimed tasks it *can* be deleted.

This can result in a problem: if the user that claimed one of these tasks returns it to the pool while no Group exists for the step's role, it will become decoupled from the workflow.

**To Reproduce**
Steps to reprod

[2022-04-29 09:52] pnbecker commented on #2873
PR is here: https://github.com/DSpace/DSpace/pull/8175

[2022-04-29 15:03] tdonohue commented on #8272
Thanks @ybnd .  Pulling this over into the 7.3 board in case someone has a chance to quickly fix it (If you are interested & have time let me know)

[2022-04-29 16:39] #7991 closed

[2022-04-29 17:38] abollini opened #8274 "Authorization Status has a wrong link for the eperson association endpoint"
**Describe the bug**
The `authn/status` endpoint offers the wrong link to retrieve the eventually associated eperson.
When the user is loggedin the link point directly to the eperson URI instead to be `authn/status/eperson` moreover, the `authn/status/eperson` that is returned when no eperson is logged in return a 404 instead than a 204 No Content as by our convention

**To Reproduce**
Steps to re

[2022-05-03 14:46] Micheleboychuk opened #8277 "Allow to do group/eperson patching of a resourcepolicy"
**Describe the problem**
Considering that group/eperson resourcepolicy attributes are associative,
we can't do the normal patching as has been done for other resourcepolicy attributes.
**Solution**
To modify an eperson or the group it would be necessary to implement the POST of the uri-list to the /eperson or /group association link.
If a resourcepolicy is linked to an eperson it should be possibl

[2022-05-03 14:54] tdonohue commented on #8243
Closing, fixed by #8245

[2022-05-03 14:54] #8243 closed

[2022-05-03 14:55] tdonohue commented on #8140
Closing, fixed by #8194

[2022-05-03 14:55] #8140 closed

[2022-05-03 15:22] mwoodiupui opened #8278 "An email template was not converted to Velocity"
**Describe the bug**
`config/emails/request_item.to_admin` still uses the old `java.text.MessageFormat` placeholders, not the Velocity placeholders that are now required.  This probably leads to un-usable emails.

Also, this template and `request_item.author` could use a comment block to explain the purpose of the template and its parameters.

**To Reproduce**
Steps to reproduce the behavior:
1. D

[2022-05-03 16:01] tdonohue commented on #8278
@mwoodiupui : Moving this over to the 7.3 for tracking purposes. Since this is a small bug, if you have time to fix it for 7.3 we can try and get it in that release.

[2022-05-03 16:35] tdonohue commented on #8277
This seems to relate to #7812 as well.  I'll move all these over into the 7.4 board as it seems too late for 7.3 for these new features.

[2022-05-04 11:44] abollini commented on #7812
@tdonohue a PR is coming, we spent 6 hours on that

[2022-05-04 11:45] abollini commented on #8277
@tdonohue this should took 10-12 hours and we have already started to look to this in parallel with the other task

[2022-05-04 16:06] mwoodiupui commented on #8278
Further investigation shows that `request_item.to_admin` was introduced in #2229 but was not referenced in any code.  It is not referenced now.  This file should be deleted.  We still need to document `request_item.author`.

[2022-05-04 16:59] abollini opened #8282 "Custom resource policies are duplicated if multiple upload configuration share the same access conditions"
**Describe the bug**
If you configure multiple upload step to use different metadata and/or access conditions when the user select an access condition that is shared among multiple configuration the corresponding resource policies is applied n times (1 for each configuration).
Due to the same bug it is possible to set an access condition in the submission also if not allowed by the specific submis

[2022-05-04 17:00] abollini commented on #8282
It should take 12 hours to fix it and provide ITs

[2022-05-04 17:10] mwoodiupui commented on #8278
The 'suggest' template is also unused.  It is part of the "Item Request" feature of JSPUI, which is not scheduled to be re-implemented.  Removing it.  See commit 95f1175321996699219d44a7302b9666bc4214e4 and surroundings for the origin of this template.

[2022-05-05 00:16] misilot commented on #7671
So is the recommendation in 6.x to not run `./bin/dspace stats-util -o`?

[2022-05-05 00:17] misilot commented on #7936
I followed from #7671, is the recommendation for 6.x to not run `./bin/dspace oai -o` as well?

[2022-05-05 12:20] mwoodiupui commented on #7671
On Wed, May 04, 2022 at 05:16:23PM -0700, Tom Misilo wrote:

That would be my recommendation.  It is more likely to cause trouble
than to help.  "Optimizing" a Solr core may have been a good idea long
years ago, but these days Solr does a good job of merging small
segments in the background, and "optimization" can, I'm told, create
segments that are too large to ever merge again even if it would b

[2022-05-06 16:21] #8278 closed

[2022-05-06 16:45] tdonohue commented on #7611
Closing, first fixed in 6.4 via https://github.com/DSpace/DSpace/pull/2543.
Also fixed in 7.3 via https://github.com/DSpace/DSpace/pull/8284

[2022-05-06 16:45] #7611 closed

[2022-05-08 18:49] MarisArins commented on #8094
Thanks for hint @firoball, UI just hang for me again, I looked at backend logs following your advice, but I did not found any error messages there.

On UI in the console I had this error log, not sure if it is a cause or result, most probably result:

core.js:6210 ERROR Error: Uncaught (in promise): EmptyError: no elements in sequence
    at resolvePromise (zone-evergreen.js:798:1)
    at resolveP

[2022-05-09 11:51] ybnd opened #8289 "Ensure `ItemDAO` `findAll` and `countItems` return the same counts"
**Is your feature request related to a problem? Please describe.**

Currently, the results for [`ItemDAO.findAll`](https://github.com/DSpace/DSpace/blob/8f515c7b1f4ce142641df499e8f814ccbf74db66/dspace-api/src/main/java/org/dspace/content/dao/impl/ItemDAOImpl.java#L74-L74) and [`ItemDAO.countItems`](https://github.com/DSpace/DSpace/blob/8f515c7b1f4ce142641df499e8f814ccbf74db66/dspace-api/src/main/j

[2022-05-09 15:03] tdonohue commented on #8289
Seems reasonable, but since there's no immediate bugs I'm moving this to the 7.4 board & flagging as needing an estimate.

[2022-05-09 15:08] tdonohue commented on #8282
@abollini : I'm not against implementing this fix, but I'm worried about available reviewers to get this done in time for 7.3.  I'll assign this to you, but understand I cannot guarantee it would be reviewed in time for 7.3

[2022-05-09 15:10] tdonohue commented on #8274
This does sound like a bug, but I'm worried about the Angular impact. Therefore, moving this to the 7.4 board so we can work on it for 7.4

[2022-05-09 15:37] tdonohue commented on #8246
@mhvezina : Thanks for the bug ticket. This does seem like a minor bug in the migration script.

[2022-05-09 16:42] tdonohue commented on #8126
This is not reproducible in DSpace 7.x (at least not in the lastest code). Maybe this was in an older version of DSpace?

[2022-05-09 16:47] tdonohue commented on #8105
@tlloydthwaites : I realize this ticket is a bit old, but wanted to note that I'm not able to reproduce this in the latest code, or on our demo site REST API at https://api7.dspace.org/

So, I think this bug has been resolved somewhere in the last few months.  Closing as fixed, but let us know if you find a way to reproduce this on our demo site.

[2022-05-09 16:47] #8105 closed

[2022-05-09 17:01] pilasou opened #8290 "Configuring Request a copy on a per collection basis"
In DSpace, requesting copy can only be set for the entire repository (https://wiki.lyrasis.org/display/DSDOC7x/Request+a+Copy).

The objective is to allow to configure the request copy feature for the entire repository (current DSpace behavior) or on a per collection basis using configuration parameters.

This possibility would allow a more flexible way to manage access to document under embargo.

[2022-05-09 19:12] mwoodiupui commented on #8290
Rather than creating another potentially long list of properties in the configuration, what do you think of controlling this with metadata on the collection?  Then it can be managed through the GUI by the collection's administrators.

We did something similar when we found a requirement to enable DOI generation on some collections but not others, and I think that it has worked well.

[2022-05-10 04:39] tlloydthwaites commented on #8105
Thanks @tdonohue, I had trouble reproducing on demo as well, so it must be something at our end!

[2022-05-10 09:22] ammanabrolua opened #8291 "Turn on discovery in DSpace 7.2"
I want to turn on discovery in DSpace 7.2. I need the faceted sidebar search to be available in all pages. How can I achieve this? Please help.

[2022-05-10 13:44] pilasou commented on #8290
Hi ! @mwoodiupui We did not think about it, however I am not sure 100% how to proceed. Can you explain me more how you you have done for DOI in order to mint them in specific collections? Is it something you have contributed to DSpace?

[2022-05-10 14:56] tdonohue commented on #8291
@ammanabrolua : Discovery is "on" by default.  In DSpace 7.x, at this time faceted sidebars are only available on the search pages.  There are no options to make the faceted sidebar available elsewhere at this time.

That said, if you or anyone else wants to enhance the UI to provide facets on other pages, we'd welcome contributions.  See our code contribution guidelines for details: https://wiki.

[2022-05-10 14:56] #8291 closed

[2022-05-10 15:05] #2873 closed

[2022-05-11 09:50] davide-negretti opened #8293 "Disable password reset for external users"
**Describe the bug**

As described in #7959, users using external authentication providers were able to change the password of the associated ePerson and as a result they were able to login directly using the ePerson's username and password instead of the external provider.

This bug has been fixed, however it is still possible to change the password by using the “forgot password” feature.

**To R

[2022-05-11 13:45] ybnd commented on #8272
@abollini https://github.com/DSpace/DSpace/pull/8286#discussion_r870282067

I looked into it briefly and it's doable but I think we'd want some new DAO method(s) to ensure we can keep the "does this role have claimed tasks" check performant.

Tasks that have already been claimed can still be performed, but unclaiming does break things ↑

Handling the actual "unclaiming failure" is probably more se

[2022-05-11 17:44] mwoodiupui commented on #8290
@pilasou There is a work-in-progress PR at #1882.  We have a third-party add-on to DSpace which made it difficult to modify the GUI, so in the end I wrote a separate small GUI for this feature.  I have not found time to integrate the back-end code with the normal DSpace GUI.  But you can see how we approached the problem, if that is helpful.

[2022-05-13 19:25] #2864 closed

[2022-05-14 13:43] abollini opened #8294 "Our contributions guideline are unknown to github"
Our guidelines available here
https://wiki.lyrasis.org/display/DSPACE/Code+Contribution+Guidelines

are unknown to github that expect to have them as a CONTRIBUTING file in the repository (or in the .github folder).
https://docs.github.com/en/communities/setting-up-your-project-for-healthy-contributions/setting-guidelines-for-repository-contributors

Should we create a such file? should we link fr

[2022-05-16 18:40] nibou230 commented on #8290
Hi @mwoodiupui,

I understand your point of view and in general how to implement the solution with some kind of an additional metadata that would represent if the request item feature should be enabled or not for specific items.

![image](https://user-images.githubusercontent.com/31410053/168659834-1a38e47d-9c7d-4ffa-b85a-41fb67c9767f.png)

However, it can also be done in the configuration by addi

[2022-05-19 19:05] pilasou commented on #8290
@tdonohue @mwoodiupui Hi, personaly, we tend to prefer to move forward on the configuration path rather than the metadata one. Unless you really favor the other way around (metadata over config), we would be ready to proceed and began development next week. Can we begin working on configuration? Or would you really recommend adding a new metadata? Thanks! à bientôt.

[2022-05-19 19:26] tdonohue commented on #8290
@pilasou : I have to admit, I'm extremely busy with 7.3, so I don't have much time for advice on this issue right now. But, I will point out that one *key advantage* to storing this in metadata is that it could then be made *editable* from the Admin UI (on the Edit Collection page).

This is why we've started down the path of using the internal `dspace` metadata schema for configurations...as that

[2022-05-19 19:58] #3359 closed

[2022-05-19 20:24] #8206 closed

[2022-05-20 06:38] francescopioscognamiglio commented on #7980
hi @tdonohue, we are working on that together with https://github.com/DSpace/DSpace/issues/2850

[2022-05-20 07:52] jonas-atmire opened #8298 "OAI harvesting does not set keep the 'last harvested' date upon successful processing"
**Describe the bug**
During the processing of the OAI harvesting, the 'last_harvested' date of the owning collection is checked.
If that db cell is empty, NO 'from' parameter is used when retrieving the OAI records, so it retrieves all information, and creates/updates accordingly.
When the processing ends, the status of the harvesting collection is updated to reflect that it was successful, but th

[2022-05-20 12:07] pilasou commented on #8290
@tdonohue

[2022-05-20 14:18] tdonohue opened #8299 "Restricting system-managed Metadata Fields from adding/editing (e.g. on the Edit Item page)"
**Is your feature request related to a problem? Please describe.**
Encountered with system managed metadata in several recent PRs, including #8265 (`relation.*.latestForDiscovery`), https://github.com/DSpace/dspace-angular/issues/1654 (`dspace.entity.type`) and #8232 (`dspace.object.owner`)

**Describe the solution you'd like**

We need a way to discourage or restrict users from editing system-man

[2022-05-20 17:29] mwoodiupui commented on #8299
The criterion for "this operation is an internal use" seems to be whether DSpace decides if a value is acceptable.  That is:  a general metadata editor allows the user to enter anything, so that's not internal, while an editor for a DSpaceObject will "know" what rules it must enforce (provide a list of acceptable values for this object, constrain value transitions A -> B, etc.).

This suggests tha

[2022-05-20 19:04] tdonohue commented on #8299
@mwoodiupui : To clarify, I do feel some metadata schema / fields need to be **entirely locked down** (from any manual adds/edits).  Those that need to be completely locked down may need to have centralized code to enforce that.

Some examples of fields which might need to be "locked down":
* It should NOT be possible to manually add or change `dspace.entity.type` of an archived Item. This field i

[2022-05-21 11:52] samj55 commented on #8161
I think this bug still exist. Please double check.

DSpace version installed:  DSpace 7.3-SNAPSHOT

To repreduce:

1. Create a new Community. Edit Authorizations and restrict read access to Shibboleth Special Group
2. Create a new collection. Edit Assign Roles and restrict BITSTREAM_DEFAULT_READ and DEFAULT_READ and finally add Shibboleth Special Group as a subgroup to both groups you just created

[2022-05-21 12:16] samj55 opened #8301 "Special groups not working with Shibboleth authentication and IP Authentication"
**Describe the bug**
This bug #8161 and #8160 still exist. Please double check.

DSpace version installed: DSpace 7.3-SNAPSHOT

**To Reproduce**
Steps to reproduce the behavior:

1. Create a new Community. Edit Authorizations and restrict read access to Shibboleth Special Group
2. Create a new collection. Edit Assign Roles and restrict BITSTREAM_DEFAULT_READ and DEFAULT_READ and finally add Shibbo

[2022-05-23 12:36] mwoodiupui commented on #8299
Throwing out another idea:  maybe we should have the concept of a "monitor" class that can be declared on a metadatafield, so that specific code can refuse a metadata modification or take additional action.  But some monitors will need to know whether this is an internal or a user-initiated action.

This would make our metadata namespaces more like actual schemas, in that we can also enforce accep

[2022-05-23 12:42] mwoodiupui commented on #8299
So we need:
- a metadataschema property "don't permit editing";
- a metadatafield property "write once" (actually, it means that the field can be edited on raw objects but not on installed objects);
- maybe others, pending discussion.

[2022-05-23 12:51] BrunoRoemers opened #8302 "When a bitstream is removed from one bundle and added to another, the bitstream should NOT be marked as deleted"
**Describe the bug**
1. bitstream is created and added to a bundle
2. bitstream is removed from that bundle (the only one) => bitstream is marked as deleted (see database)
3. bitstream is added to another bundle (e.g. via `PUT /api/core/bitstreams/{id}/bundle`)
4. bitstream is still marked as deleted (see database), even though it has been attached to another bundle

**Expected behavior**
Since th

[2022-05-24 15:13] pilasou opened #8304 "Unable to answer a request a copy using "helpdesk" strategy in DSpace 7.2"
**Describe the bug**
When request a copy is enabled with helpdesk settings, if we try to either approve or reject a request for a copy by anonymous user, an error 500 occurs (see log file for details: - [dspace.log](https://github.com/DSpace/DSpace/files/8763897/dspace.log)).

Our resquest a copy are configurations are as follow:
request.item.type = all
mail.helpdesk = (valid email of our Helpdesk

[2022-05-24 17:18] tdonohue commented on #8301
@samj55 : Just to verify, the issue is only with the *Bitstream*, correct?  It sounds like when you access restrict the Item (using `DEFAULT_READ`) that access restriction works (and that bug was fixed in #8161). But, you noted that when using `DEFAULT_BITSTREAM_READ` to apply Bitstream-level permissions, then you discover the bug.

If that's correct that this issue is only with the Bitstream then

[2022-05-24 22:20] #8277 closed

[2022-05-24 22:53] samj55 commented on #8301
Yes it's correct Tim. Only the bitstream is affected by this problem. Adding the anonymous group as a subgroup solves the viewing issue for the Shibboleth and IP users but any anonymous user with the bitstream direct link can view that bitstream.

Example of the link:
https://xxx.example.org/bitstreams/2cdab9f8-b74e-48c3-b434-4bbc40277b9f/download

[2022-05-24 23:34] samj55 opened #8307 "Shibboleth users can't see restricted communities & collections without reloading the page."
**Describe the bug**
Shibboleth users after successfully logged in need to reload the landing page to see the restricted communities and collections.

**To Reproduce**
Steps to reproduce the behavior:
1. Restrict the anonymous access to any community you choose and give any Shibboleth Special group you pick a read access to it.
2. Login with a Shibboleth user belongs to the special group given acc

[2022-05-25 12:45] samj55 commented on #8301
I confirm it fixed #8309

[2022-05-25 14:18] amgciadev commented on #8304
Hi, we have also been testing this and can confirm that we experience the same behaviour. We have also tried to approve the request logged in as a user that has the right permissions on the item and we still experience the error: Unable to perform PUT request as the current user does not have sufficient rights

This confirms that this is a separate issue to #8199

[2022-05-25 14:32] peter975 opened #8311 "Users have to log in to DSpace 7.2 to approve or deny request a copy requests."
**Describe the bug**
When a user follows a link to approve ('Send copy') or deny ('Don't send copy') a request a copy, they need to login to DSpace.

This unexpected behavior occurs both when request links are sent directly to the user AND when the Help Desk workflow is enabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Help Desk strategy: https://wiki.lyrasis.org/display/DSDOC7

[2022-05-25 18:57] jelenpivo opened #8312 "Couldn't auth in UI with LDAP if password authentication disabled"
**Describe the bug**
Dspace 7.2.1, UI dspace 7.2.  No login form if enabled only LDAPAuthentication. LDAP Authentication works fine in HAL Browser. If enabled LDAP Auth and Password Auth login form  appears in UI and LDAP Auth work's.

![2022-05-25 211916](https://user-images.githubusercontent.com/3246359/170342490-91cc1eb5-7ca1-4ada-ac8a-b066cc7945a9.png)
![2022-05-25 213749](https://user-images.

[2022-05-25 19:32] #7812 closed

[2022-05-26 16:43] #2849 closed

[2022-05-26 17:08] mwoodiupui commented on #8304
The problem seems to be that the `mail.helpdesk` doesn't name the logged-in user.  I'm not sure how this ever worked in the general case.  I can well imagine having a generic helpdesk mailing list that doesn't name any specific user.  I see two solutions.

One is to invent a `Group`, put all of the authorized helpdesk `EPerson`s in it, and configure the helpdesk strategy to know which group it is.

[2022-05-26 17:16] mwoodiupui commented on #8304
Having looked at #8311, I see that the helpdesk strategy was *intended* to rely on security-through-obscurity, which suggests the second of my proposed fixes (or something like it).

[2022-05-26 17:38] amgciadev commented on #8304
Hi Mark,

That is exactly how we were using it in version 5.x: with the Helpdesk strategy enabled, we specified a generic support email address (group inbox) and then anybody with access to the request approval link could approve it without having to log in. This is the only scenario that works for us because all our submitters do submit through an external system, which uses an internal administr

[2022-05-26 18:42] tdonohue commented on #8311
Closing this ticket in favor of #8304, as it appears to be the same issue as described in #8304 (and that other ticket has more discussion already).

[2022-05-26 18:42] #8311 closed

[2022-05-26 18:46] tdonohue commented on #8304
After discussion with @mwoodiupui , I've updated the description a bit to make it clear that this bug is specific to the Help Desk Strategy.  Not sure if we'll have time to fix this bug in 7.3, but it's flagged as high priority for 7.4.  I'll also add a note to the documentation about this bug here: https://wiki.lyrasis.org/display/DSDOC7x/Request+a+Copy#RequestaCopy-(Optional)RequestingacopywithH

[2022-05-27 09:29] ammanabrolua opened #8317 "Getting NoSuchMethodError when running any ./dspace/bin script in DSpace 7.2.1"
Getting the following error:
`
Exception in thread \"main\" java.lang.NoSuchMethodError: 'org.springframework.core.metrics.ApplicationStartup org.springframework.beans.factory.config.ConfigurableListableBeanFactory.getApplicationStartup()'\n\tat org.springframework.context.support.PostProcessorRegistrationDelegate.invokeBeanFactoryPostProcessors(PostProcessorRegistrationDelegate.java:112)\n\tat or

[2022-05-27 16:16] tdonohue commented on #8317
@ammanabrolua : That sounds like an installation issue -- as it appears to be saying that Spring (which is a key library used/installed by DSpace) is not installed.  Please reinstall or update your DSpace backend by running Maven again:
[code]

It's also possible that, if you upgraded from an earlier release (e.g. DSpace 6 or below) that some part of the upgrade failed. Please check your `dspace.l

[2022-05-27 16:16] #8317 closed

[2022-05-27 18:35] mwoodiupui opened #8320 "Address many long-standing LGTM complaints"
**Describe the bug**
LGTM calls out many things that it sees as problems, which we have never addressed.

**To Reproduce**
Submit a pull request, and watch LGTM report more than 150 issues that have nothing to do with your changes.

**Expected behavior**
LGTM should have little or (preferably) nothing to point out.

[2022-05-27 18:55] tdonohue commented on #8320
Thanks for starting this @mwoodiupui !  I'm definitely supportive of getting things cleaned up more.  Pulling this over onto the 7.4 board, so that we can try to fit this into that next release.

[2022-05-30 14:57] abollini commented on #2842
Do we need to implement a "SAF" option under the Export menu or a button on the community home page to use as shortcut? or both? if we need to add a button shortcut in the collection home should we have one (standard mode?) or two as in the previous versions to distinguish between the migrate and the standard mode?

[2022-05-30 18:26] nibou230 commented on #8290
Hi guys @tdonohue @mwoodiupui,

We took the decision to go with an additional parameter in the configuration instead of using a metadata to store the restrictions.

The development is mostly done and I'm about to create a new pull request for this issue.

For our needs, which mostly involve restricting the copy request for a whole collection, it's simple, flexible enough and do not add a metadata

[2022-05-31 10:17] BrunoRoemers commented on #8299
Would it make sense to weave a plugin/hook "framework" through the metadata methods of DSpaceObjectService (and other services that override those methods)?

We'd have access to:
- the method => are we adding, removing, editing.. a metadata value?
- the context
  - the user that requested the change => permissions => allow some users to CRUD a value, but deny others
- the DSO => e.g. allow editing

[2022-05-31 16:42] tdonohue commented on #8029
@BrunoRoemers : This ticket was moved to 7.4, but I can assign it to you for the release, if you wish to continue work on it.  I honestly haven't had a chance to dig deeply on your ideas, but they do sound like reasonable approaches to investigate.

I think we'd need to balance the need for multi-deletions (which likely are not frequent themselves) with ensuring good performance (I like the idea o

[2022-06-01 13:11] corrad82-4s opened #8327 "Pubmed query not working"
**Describe the bug**
When a new submission is started from a query against Pubmed external system, the query does not return any result.

**To Reproduce**
Steps to reproduce the behavior:
1. login to dspace7 and go to MyDSpace
2. start a new Publication submission from external source
3. enter a query string and select “Pubmed” as external source

Call to backend performing Pubmed query will fail

[2022-06-01 14:47] tdonohue commented on #8327
@corrad82-4s : Can this be fixed immediately?  It seems like we should minimally fix the Pubmed query in 7.3...even if it means delaying the larger refactoring.

In any case, I'll assign this back to you and move to the 7.3 board.  My preference would be to find a "quick fix" for 7.3, even if that means that the larger refactor needs to wait for 7.4.  Either way, I'd gladly help review this once i

[2022-06-02 09:59] kshepherd opened #8328 "Collection "workflowGroups" link is broken if Advanced Workflow workflows are defined"
**Describe the bug**
If an advanced workflow (eg not the **defaultWorkflow** with the list of standard steps) is mapped to a collection in `workflow.xml`, the workflowGroups iterable that is expected to populate the collection `_links` is broken and causes the "Assign Roles" page to break.
There are probably other bugs associated with this,

This can produce either a "is not Iterable" error in ang

[2022-06-02 13:53] tdonohue commented on #8328
@kshepherd : I think this is because we haven't yet implemented #2841 or https://github.com/DSpace/dspace-angular/issues/770

So, I think we might be able to close this ticket as the issue is that this feature hasn't been implemented yet in 7.x.  It's in our ["Tier 3" list of tasks](https://wiki.lyrasis.org/display/DSPACE/DSpace+Release+7.0+Status#DSpaceRelease7.0Status-Tier3:MediumPriority) thoug

[2022-06-02 19:36] leonardoguerrero opened #8329 "XMLUI : Reset button on advanced filters doesn't work"
**Describe the bug**
DSpace version: 6.x
Theme: Mirage2
When advanced filters are set and user wants to restore filters form, reset button doesn't execute an action.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /discover.
2. Set an advance filter like title (at least one filter).
3. Click on "Apply" button.
4. After results has been shown, click "Reset" button. You will notice that

[2022-06-02 19:51] leonardoguerrero commented on #8329
It is possible also affects DSpace 5.x. I've tried on 5.10 and has same issue.

[2022-06-02 22:07] kshepherd commented on #8328
Thanks yes I'll close this issue. It's not clear how much is working/broken but I'll have a closer look at those tickets later, closing this now.

[2022-06-02 22:08] #8328 closed

[2022-06-03 20:56] #3059 closed

[2022-06-06 18:03] alanorth commented on #8329
Just confirmed this issue on our DSpace 6.3 instance as well as demo.dspace.org.

[2022-06-07 13:11] Micheleboychuk commented on #8327
Hi @tdonohue, I did an initial analysis of the problem and found that the problem lies in the pabmed bees, so it is due to an external problem. Let me explain in more detail, for the same request we make to pubmed, pubmed once answers with 200 another time it might answer with 500, to simulate this just do refreshe (F5) following the behaviour described by @corrad82-4s.

A possible solution: when

[2022-06-07 13:55] mwoodiupui commented on #8223
If the UI is proxied through Apache HTTPD, NGINX etc. then there is another approach:  let the proxy pick these off and route them as required.

Here's an off-the-wall suggestion to support the UI's mediation:  the backend could treat these services as "well-known URIs" ([RFC 8615](https://tools.ietf.org/html/rfc8615)).  Then in the short term the UI can just ask the backend for the proper transla

[2022-06-07 14:11] tdonohue commented on #8327
@Micheleboychuk : I'm ok with a simple retry on the backend if you feel that'd solve the issue here.  I agree it should be a finite number of times...I'm OK with it being configurable, but that's not required in my opinion.   Overall, I'd just like to find a very quick solution as otherwise we'll need to leave this bug in the 7.3 release.

[2022-06-07 17:59] tdonohue commented on #8327
@Micheleboychuk : A quick update... I just realized that Sherpa has a similar retry option, so you might be able to build something similar for PubMed.  See https://github.com/DSpace/DSpace/blob/main/dspace/config/spring/api/external-services.xml#L28-L32

[2022-06-07 20:59] #8301 closed

[2022-06-07 21:58] #7984 closed

[2022-06-07 22:43] abollini opened #8333 "Some HAL links show a double encoding"
**Describe the bug**
Due to the current implementation of the `org.dspace.app.rest.link.HalLinkFactory.buildLink(String, T)` some HAL link can present double encoding issue. This is actually the case for the discover endpoint when the query contains characters that must be url encoded such as :
This was noted working on https://github.com/DSpace/DSpace/pull/8238/commits/11767f5d3744224621edcc22001

[2022-06-08 14:10] #2877 closed

[2022-06-08 14:17] #2840 closed

[2022-06-08 14:46] tdonohue commented on #8333
NOTE: as discussed in review of #8238... if the fix to this ticket _requires_ the introduction of templated links, then we would need to also provide an update to the UI code so that it can handle templated links.  Currently several areas of the UI will break (especially all search/browse) when templated links are encountered.  See this comment for examples: https://github.com/DSpace/DSpace/pull/8

[2022-06-09 09:37] saschaszott opened #8338 "200+ compiler warnings when building dspace-api with JDK 11"
**Describe the bug**
Compiling 1213 source files to /app/dspace-api/target/classes results in more than 200 compiler warnings.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. clone Git repo
2. checkout main branch
3. run `mvn package`

**Expected behavior**
No compiler warnings should occur.

[2022-06-09 20:31] #8282 closed

[2022-06-10 07:35] minurmin opened #8342 "Allow setting bundle when creating a bitstream in item with REST (DSpace 6.x)"
**Is your feature request related to a problem? Please describe.**

Currently, adding bitstream to item with REST API sets it to ORIGINAL bundle. However, in customized installations different bundles may be used with different access settings or shown in different way.

**Describe the solution you'd like**

Proposed solution for DSpace 6: extend the endpoint

`POST /items/{item id}/bitstreams (Ad

[2022-06-10 16:53] mwoodiupui commented on #8181
Notice that the suggested approach works *only* if Solr and DSpace are on the same host.  The general solution would be to ask Solr for the core's instance directory, e.g. "GET http://solr-host.example.com:8983/api/cores" and pick status.[corename].instancedir out of the returned JSON document.

[2022-06-11 13:22] erastus909 opened #8345 "Wiki site server redistricting access to the docs"
![image](https://user-images.githubusercontent.com/35610114/173189781-38e2aed1-3d71-4266-958a-17fa2ef277b0.png)

[2022-06-11 21:27] minurmin commented on #6651
Considering that invalid UUID can be intepreted as client error, I propose (#8346) that 400 Bad Request* return status should be used instead of 404 (with current DSpace 6.x codebase missing items are already handled correctly, provided that the client provides syntactically valid UUID).

* https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/400

[2022-06-13 03:11] pollob666 commented on #8345
The wiki is not accessible at all currently.
![Screenshot_২০২২০৬১৩_০৯১০১১](https://user-images.githubusercontent.com/3469402/173272759-c8154603-ee96-4901-bd70-85fe7493f9b7.png)

[2022-06-13 10:36] milanmajchrak opened #8347 "Harvesting into collection doesn't work (Xalan missing)"
**Describe the bug**
DSpace Docker container version: dspace-7_x

The command `/dspace/bin/dspace harvest` doesn't work in the Docker.
It throws exception:
Exception in thread "main" java.lang.NoClassDefFoundError: org/apache/xpath/XPathAPI
        at ORG.oclc.oai.harvester2.verb.HarvesterVerb.getSingleString(HarvesterVerb.java:295)
        at ORG.oclc.oai.harvester2.verb.HarvesterVerb.getSingleSt

[2022-06-13 10:54] ammanabrolua commented on #6661
Hi @tdonohue , may I work on this one?

[2022-06-13 12:04] alanorth opened #8348 "Use fully qualified image name for containers on Docker Hub"
**Describe the bug**
Docker is not the only container runtime and docker.io is not the only container registry. We should use fully qualified image names for containers hosted on Docker Hub so we are not ambiguous when running on other container runtimes.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to pull a container without a fully qualified name while using Podman.
2. Get an error

[2022-06-13 15:32] tdonohue commented on #8345
Closing, the Wiki was unavailable for emergency maintenance.  It's back up again.  See announcements on mailing lists: https://groups.google.com/g/dspace-community/c/BbMDHOHx6NM

[2022-06-13 15:32] #8345 closed

[2022-06-13 16:55] tdonohue commented on #8347
I've verified this bug exists on `main`.  It appears the `ORG.oclc.oai.harvester2.*` classes used by DSpace in this area **do depend heavily on Xalan** which was removed in #8258 .

I'll create a PR to add Xalan back in until we can fix this dependency in the OCLC OAI Harvester codebase.

[2022-06-14 07:34] benbosman opened #8352 "Create a new Version of Entities - Performance"
**Describe the bug**
During the implementation of https://github.com/DSpace/DSpace/issues/7937, we noticed that the performance in https://github.com/DSpace/DSpace/pull/8265 can be slow when using many using many relationships

From a performance analysis, we noticed:
* Roughly 2/3 of the time is spent during the calculation of the places of the relationships
* Roughly 1/3 of the time is spent for

[2022-06-14 16:30] corrad82-4s commented on #8254
A possible solution could be as follows:

REST
A new services which validates whether or not a proposed password matches a minimum security level, defined in configuration (dspace.cfg) with a regular expression. If regular expression is missing (blank), security check must not be performed.

This service will be used during password first set, and further modifications, by calling it from methods

[2022-06-14 20:43] #3040 closed

[2022-06-15 12:54] srsahu75 commented on #8290
Hi,
I included **request.item.restricted = collection uuid** in the **dspace.cfg** and restarted tomcat. But still the request copy page is coming for a bitsream added to the system earlier. Kindly let me know, any other things to be done.

[2022-06-15 12:58] srsahu75 commented on #8290
Hi,
I included request.item.restricted = collection uuid in the dspace.cfg and restarted tomcat. But still the request copy page is coming for a bitsream added to the system earlier. Kindly let me know, any other things to be done.

[2022-06-15 13:25] nibou230 commented on #8290
Hi @srsahu75,

I just tested the functionnality in my local environment and it's working as expected for me, the login page is shown instead of the copy request form.

Next is my ajusted `local.cfg` file that is matching every collections we want to restrict. Just make sure the line in the configuration file is not ending with `, \` if there's no UUID below.

![image](https://user-images.githubuse

[2022-06-16 06:29] srsahu75 commented on #8290
Hi @nibou230,
I tried with bitstream UUID but still, the request copy page is coming in place of the login page. I am using DSpace 6.3
My collection has a first-level restriction on IP mapped to an intranet group. So no items are visible outside. Then the bitstream restriction for intranet users also. The bitstreams are only accessible to Administrator accounts. I want to use **request.item.restri

[2022-06-16 12:06] pilasou commented on #8290
Hi @srsahu75, thanks, this developpement is specific to DSpace 7. It is not supposed to work with former versions of DSpace.

[2022-06-16 13:07] mwoodiupui commented on #8214
We should provide some guidance on *how* to migrate one's DSpace instances from Oracle DB to PostgreSQL.  Offhand I don't know whether Packager export/import will get everything *in the database*.  One alternative I recall is [Ora2Pg](https://ora2pg.darold.net/index.html) but I've never yet used it.  Anyway we need to do some planning and testing.

[2022-06-16 13:35] tdonohue commented on #8214
@mwoodiupui : If it's of interest to you to look into this, I'd welcome anyone documenting their experiences to share with others. Unfortunately though, because the number of Oracle users is so very low (at least based on responses to surveys), providing a migration guide from Oracle to PostgreSQL is not very high priority.  I'm not aware of anyone who has done this migration & it's not funded wor

[2022-06-16 14:04] daponticelli opened #8353 "Wrong XSL transforms changes search forms under certain conditions"
**Describe the bug**
In DSpace 6.3, when you search by country/region and refine your search twice, the search redirects you to start over a search by date instead of refining it. This bug does not happens in 5.5

**To Reproduce**
Steps to reproduce the behavior:
1.- At DSpace's Home, select "Browse by country / region"
2.- Click on any of the letters at the top to fine-tune the search
3.- Type a

[2022-06-16 18:32] #3129 closed

[2022-06-16 18:37] tdonohue opened #8355 "Enable all MetadataExportSearchIT tests (which were disabled in 7.3)"
**Describe the bug**
Follow-up work to #8037.

In #8037, we found that the integration tests added in [`MetadataExportSearchIT`](https://github.com/DSpace/DSpace/blob/main/dspace-api/src/test/java/org/dspace/app/bulkedit/MetadataExportSearchIT.java) reliably _succeeded_ when run locally, but always _failed_ when run in our GitHub CI environment.

We were unable to find a way to solve the consisten

[2022-06-16 18:42] #8347 closed

[2022-06-16 20:37] #8302 closed

[2022-06-16 20:40] #8125 closed

[2022-06-17 09:48] #7937 closed

[2022-06-20 03:16] tlloydthwaites opened #8358 "More detail for REST exceptions"
We have written our own front-end for submitting items to DSpace (using VueJS). This works well except when there are exceptions, in which case we only get an HTTP code or a generic message such as "Request is invalid or incorrect". This makes it difficult for us to debug the error. We have our server hosted externally so we do not have easy access to the logs - and the logs don't show us the caus

[2022-06-20 04:02] tlloydthwaites commented on #8358
As an example, I've added the following to DSpaceApiExceptionControllerAdvice::sendErrorResponse():

[code]

This gives me a very useful error message:
[code]

[2022-06-20 04:51] tlloydthwaites commented on #8358
Or even better - send a header to indicate you would like cause messages. That way no changes would be required to config.

[2022-06-20 06:26] toniprieto commented on #8353
@daponticelli I think it could be this issue:  https://github.com/DSpace/DSpace/issues/7292

This has already been solved in 6.x branch by:
https://github.com/DSpace/DSpace/pull/2113

[2022-06-20 09:37] BrunoRoemers opened #8360 "Use `@autowire` in favor of `new` operator"
**Describe the bug**
It's important to respect inversion of control to keep DSpace maintainable and extendable.
The `new` operator should be avoided at all costs and instead Spring should be used to create instances of classes (whether it be singleton or prototype beans or by using a factory).

Since class [DiscoverFacetValueConverter](https://github.com/DSpace/DSpace/blob/main/dspace-server-webap

[2022-06-20 10:40] vins01-4science opened #8362 "Add compatibility for DSpace 7 with the Remote Handle Resolver"
**Description**
For previous DSpace versions a handle plugin was developed to allow institutions running multiple dspace instance to setup a single central handle server able to manage all their prefix. The handle plugin project is here https://github.com/DSpace/Remote-Handle-Resolver

There are two main service to resolve an Handle Indetifier:
- `${dspace.url}/xmlui/handleresolver/resolve/${handl

[2022-06-20 10:52] vins01-4science opened #8363 "AmazonS3 IAM Role and bucket path"
**Is your feature request related to a problem? Please describe.**
1. To save assets on AmazonS3 buckets we need credentials, and are stored clearly in properties.
2. Is impossibile to decide a path for these assets on AmazonS3.

**Describe the solution you'd like**
1. Use an IAM role for authentication
2. Introduce a bucketPath for this purpose, that indicates a storage path.

**Relative work**
h

[2022-06-20 15:33] daponticelli commented on #8353
Hi @toniprieto, you are right.  Thanks for pointing that out.  That PR solves the problem.

[2022-06-20 18:28] corrad82-4s commented on #8255
As possible solution, we think following steps could be done.

Step 1 - user can change password only if current authentication method is "password" and if he / she is not impersonating other user.  To reach this goal a further check on already existing CanChangePassword feature could be done.

Step 2 - AuthenticationMethod interface exposes a new method accepting context and a "challenge" and ret

[2022-06-21 12:19] BrunoRoemers opened #8365 "OpenUrlServiceImplTest makes http requests"
**Describe the bug**
[OpenUrlService makes GET requests](https://github.com/DSpace/DSpace/blob/main/dspace-api/src/main/java/org/dspace/statistics/export/service/OpenUrlServiceImpl.java#L74) to arbitrary urls.

For the tests that use Spring autowiring (dspace-server-webapp), mocks are present ([here](https://github.com/DSpace/DSpace/blob/main/dspace-api/src/test/java/org/dspace/statistics/export/s

[2022-06-21 15:03] mwoodiupui commented on #8360
Injection also improves testability, since a unit test can easily inject a test double as needed.

[2022-06-21 18:41] tdonohue commented on #8358
As noted in your PR, this behavior is purposeful.  DSpace is avoiding "information exposure" by not including the exact messages in the stacktrace in our REST API responses.  See this comment on your PR: https://github.com/DSpace/DSpace/pull/8359#issuecomment-1162174580

[2022-06-22 08:01] ammanabrolua commented on #6661
Hi @tdonohue . I have modified the create-admin script as follows:

[code]

Please let me know if I am on track and any changes needed for this.

[2022-06-22 09:10] ammanabrolua commented on #6772
I found this: [https://stackoverflow.com/questions/6947827/maven-build-number-plugin-how-to-save-the-build-number-in-a-file](https://stackoverflow.com/questions/6947827/maven-build-number-plugin-how-to-save-the-build-number-in-a-file).

Please let me know how to proceed with this?

[2022-06-22 19:53] tdonohue opened #8369 "Revisit indexing strategy during bulk (and individual) object creation"
In 7.3, we added a `database_status:predb` flag to Solr to fix issues related to newly (bulk) imported items being accidently considered stale. See #8267

As mentioned in the discussion on that PR, this seems to be a side effect of how objects are indexed in DSpace.  Rather than waiting until the object is saved to the database, objects can appear in Solr *prior to being saved to the database*.

T

[2022-06-22 20:28] tdonohue commented on #8157
Closing as this was implemented in a series of PRs all included in 7.3.

ORCID PRs include:
* #8232 (with corresponding frontend PR https://github.com/DSpace/dspace-angular/pull/1617)
* #8263 (with corresponding frontend PR https://github.com/DSpace/dspace-angular/pull/1618)
* #8266 (with corresponding frontend PR https://github.com/DSpace/dspace-angular/pull/1626)
* #8268 (no frontend PR required

[2022-06-22 20:28] #8157 closed

[2022-06-23 06:48] ammanabrolua commented on #7946
Hi @tdonohue . I noticed one thing. In the org.dspace.content.dao.impl.MetadataFieldDAOImpl in line number - 48

`                    "AND qualifier = :qualifier");
`
this must be `ms.qualifier` or `mf.qualifier` ? Correct me if I am wrong.

[2022-06-23 10:35] atarix83 opened #8371 "Access condition saved with an invalid date return 500 error"
**Describe the bug**
During submission when trying to add an access condition where is present a startDate/endDate with a date bigger than the limit set, if any, the patch operation return a 500 error. Following the related patch operation

[code]

**Expected behavior**
The rest server should manage proper the case when the date provided is invalid and return a 422

**Related work**
https://github

[2022-06-23 13:57] tdonohue commented on #7946
Closing as this appears to have been fixed by #7993

[2022-06-23 13:57] #7946 closed

[2022-06-24 10:17] saschaszott opened #8375 "Analyse log messages about missing TLDs (JSPUI leftovers?)"
**Describe the bug**

Several log messages about missing TLDs are generated when running DSpace 7.3 (pre-release) backend:

[code]

This could be an indicator that some JSP leftovers are still present in the DS7 backend code base. Further analysis is required.

**To Reproduce**

Steps to reproduce the behavior:
1. Build DS 7.3 backend
2. Start Tomcat
3. Check DS application log file (or stdout)

*

[2022-06-24 13:25] ballarinie opened #8376 "OAI Import errors when indexing without -c option"
**Description**
When trying to launch the oai import script, in DSpace 7.2/7.3, i.e.
`./dspace oai import`
without specifying the 'Clear index' option, it might fail due to unhandled exceptions in org.dspace.xoai.app.XOAI.getItemsWithPossibleChangesBefore method (which is not called if the -c option is specified):
1. Two potential NPEs in line 226:
 `if (item.getLastModified().before(last))`
This

[2022-06-24 20:53] khizerhay opened #8377 "installation of dspace-cris"

[2022-06-24 20:55] khizerhay commented on #8377
their is no installation video on dspace-cris . make a video on installation of dspace-cris

[2022-06-27 19:49] tdonohue commented on #8375
I might be mistaken, but I think this message comes from Tomcat & there's nothing DSpace can do to affect it: https://stackoverflow.com/questions/40204124/how-to-fix-jars-that-were-scanned-but-no-tlds-were-found-in-them-in-tomcat-9

Basically, Tomcat always scans JARs for TLDs, but if you don't want that behavior in Tomcat 9 (or later) you can configure
[code]

I guess we could consider documentin

[2022-06-27 22:18] tdonohue commented on #8377
Closing, DSpace-CRIS is managed by 4Science, and it not officially part of core DSpace.  Please see https://wiki.lyrasis.org/display/DSPACECRIS for more info, including install instructions.

[2022-06-27 22:18] #8377 closed

[2022-06-27 22:27] tdonohue commented on #8338
Flagging as "help wanted".  These warnings can be safely ignored, and do not all come from the compiler.  Most of them are deprecation warnings (just reminding us that certain code is deprecated).  At the end are warnings generated by https://errorprone.info , which is a code analysis tool that helps us find areas of code to cleanup.

While I agree overall that it'd be nice to have fewer warnings,

[2022-06-27 23:26] B1aZer opened #8379 "test"
**Describe the bug**
A clear and concise description of what the bug is.  Include the version(s) of DSpace where you've seen this problem. Link to examples if they are public.

**To Reproduce**
Steps to reproduce the behavior:
1. Do this
2. Then this...

**Expected behavior**
A clear and concise description of what you expected to happen.

**Related work**
Link to any related tickets or PRs here.

[2022-06-27 23:26] #8379 closed

[2022-06-28 08:56] davidatmire opened #8380 "Bitstream name missing on /statistics page"
**Describe the bug**
If you open the statistics report of an item with a bitstream that has download events (https://demo7.dspace.org/statistics/items/b7003f66-80e9-4c98-99a2-3695e8150b80), the bitstream name(s) is/are not displayed.
![Screenshot 2022-06-28 at 10 47 02](https://user-images.githubusercontent.com/41991272/176136653-f6687d17-1747-4044-9bc8-2bf10fcc96b2.png)

This is probably caused b

[2022-06-28 12:56] mwoodiupui commented on #8375
On Mon, Jun 27, 2022 at 12:49:51PM -0700, Tim Donohue wrote:

It's annoying, but it's only a little clutter in the logs and a small
delay in startup.

The referenced SO article links to the Tomcat documentation for the
JAR scanner.  If you only want to disable scanning for a specific
webapp. rather than globally, which is probably wise, there's a way to
do it in an individual <Context>.

I grubbed

[2022-06-28 19:57] tdonohue commented on #8126
Closing, I checked this again in 7.3 and it's not reproducible there either.  So, I'm assuming this was fixed somewhere along the way.

[2022-06-28 19:57] #8126 closed

[2022-06-29 10:26] amgciadev opened #8384 "DSpace 7 Edit Item doesn't support Curation Tasks (like DSpace 6)"
**Is your feature request related to a problem? Please describe.**
DSpace 7 documentation states in https://wiki.lyrasis.org/display/DSDOC7x/Curation+System#CurationSystem-IntheadminUI that

as one was able to do in DSpace 5/6.
That option does not seem to be available anymore in the Edit item/collection/community pages anymore in DSpace 7. At present you only seem able to run curation tasks from

[2022-06-29 16:06] tdonohue commented on #8384
Thanks @amgciadev for reporting this.  It appears this was overlooked, so I'm flagging this as a "bug" (as we should have done this when implementing curation tasks) and moving to the 7.4 board (in the hopes we can get this done in that release).

[2022-06-29 19:06] #2942 closed

[2022-06-29 19:18] tdonohue commented on #7978
Duplicated by #8206 , which was fixed in 7.3 by #8276 and DSpace/dspace-angular#1634.  So, this is fixed already.

[2022-06-29 19:18] #7978 closed

[2022-06-29 19:30] tdonohue commented on #8244
NOTE: This was partially implemented in https://github.com/DSpace/dspace-angular/issues/1566 (included in 7.3).  However, that implementation could be improved in the future to be more configurable (as discussed above)

[2022-06-30 09:15] KevinVdV opened #8385 "Open search doesn't properly parse the sort option"
**Describe the bug**
When you use the open search with a sort option on dc.date.issued it doesn't sort (even when this field is configured as a search field in the discovery)

**To Reproduce**
The following links don't sort:
* https://api7.dspace.org/server/opensearch/search?format=atom&query=*&sort=dc.date.issued&sort_direction=DESC
* https://api7.dspace.org/server/opensearch/search?format=atom&q

[2022-06-30 11:14] davide-negretti opened #8386 "Optional element in submission forms"
In `submission-forms.xml` there is an optional element `<dc-qualifier>`. According to its DTD this element is mandatory, and it should be marked as optional.

It is sufficient to replace this line in `submission-forms.dtd`
[code]
with:
[code]

The question mark sets the element as optional.

[2022-06-30 13:52] tdonohue commented on #8386
@davide-negretti : If you want to submit a PR for this, I think it makes sense to just quickly fix this.  Qualifiers should obviously be optional.

[2022-06-30 14:33] pnbecker opened #8387 "The comment in dspace.cfg and local.EXMAPLE.cfg about dspace.ui.url is misunderstanding"
**Describe the bug**
[dspace.cfg](https://github.com/DSpace/DSpace/blob/3660ec2cfaf0b15463dc30c259f50ebd9c78dcad/dspace/config/dspace.cfg#L28-L31) and [local.cfg.EXAMPLE](https://github.com/DSpace/DSpace/blob/3660ec2cfaf0b15463dc30c259f50ebd9c78dcad/dspace/config/local.cfg.EXAMPLE#L41-L44) states that `dspace.ui.url` is "URL of DSpace frontend (Angular UI). Include port number etc." It actually is

[2022-06-30 18:28] davide-negretti commented on #8386
@tdonohue I submitted the PR

https://github.com/DSpace/DSpace/pull/8388

[2022-06-30 19:00] pilasou opened #8389 "In DSpace 7, when authentication is limited to LDAP, the user/password field are not displayed."
**Describe the bug**
When LDAP is set up as the only authentication method (plugin.sequence.org.dspace.authenticate.AuthenticationMethod = org.dspace.authenticate.LDAPAuthentication), the user is not able to enter a user name or password. The fields are not displayed as illustrated below.

![no-login-field](https://user-images.githubusercontent.com/19291880/176755747-80a16852-0676-4c31-9724-cda5c6

[2022-07-01 11:56] MarieVerdonck opened #8390 "No sort in `AbstractHibernateDAO#findByX` causing it to return a random subset in table (non-deterministic order)"
**Describe the bug**
There is no sort set in the method `AbstractHibernateDAO#findByX` [here](https://github.com/DSpace/DSpace/blob/main/dspace-api/src/main/java/org/dspace/core/AbstractHibernateDAO.java#L451-L462). Since this method retrieves the offset of a database table with a given max results limit and offset: if it doesn't have a set sort, then the order of the rows in table are not guarant

[2022-07-01 15:27] tdonohue commented on #8389
Duplicate of #8312 .  Closing as a duplicate.

[2022-07-01 15:27] #8389 closed

[2022-07-01 19:04] #8387 closed

[2022-07-06 14:16] benbosman opened #8393 "proxies.trusted.ipranges not reliable for ranges"
**Describe the bug**
proxies.trusted.ipranges uses the `IPTable` class.
This class doesn't support ranges with a broader net mask than /24 (last section differs)
It also defines a start and end, but the end is never used to determine the range

**Expected behavior**
IP ranges are correctly supported, and can be broad (instead of silently ignoring such config)

[2022-07-06 14:17] benbosman commented on #8393
We can work on this if ok by @tdonohue . I think this class needs a refactor and some good tests

[2022-07-08 08:55] eulereadgbe opened #8396 "ORCID lookup does not perform a search automatically in Mirage2"
**Describe the bug**
When enabling ORCID integration, the lookup button in Mirage2 does not automatically perform a search query. This is not happening in Mirage 1 theme. Comparing the two themes, Mirage2 is not working because the query parameters in the GET method is blank, You would need to manually type and/or delete the text in the search field to trigger the search.

**To Reproduce**
Steps t